{% extends 'web/base.html.twig' %}

{% block main %}

    <main role="main">
        <header class="container">
            <div class="row doble__header">
                <div class="col-md-7 doble__header__content doble__header__content--error404">
                    <div class="page__title">{{ 'global.messages.error_404'|trans }}</div>
                    <div class="page__title">{{ 'global.messages.error_404_title'|trans }}</div>
                    <p>{{ 'global.messages.error_404_content'|trans }}</p>
                    <a href="{{ path('home') }}" class="btn btn__viewmore">{{ 'global.messages.error_404_button'|trans }}</a>
                </div>
                <div class="col-md-5 doble__header__foto">
                    <div class="doble__header__wrapper">
                        <figure style="background-image: url('{{ asset('/web/assets/img/cabecera_1920x1080_03_baja.jpg')| imagine_filter('doble_header') }}')"></figure>
                    </div>
                </div>
            </div>
        </header>
    </main>

{% endblock %}
