{% extends 'web/base.html.twig' %}

{% block main %}

    <main role="main">
        <article class="container">
            <header class="row page__header page__header--opacity" style="background-image: url('{{ asset('web/assets/img/drew-beamer-5DD7-L4A4Uw-unsplash.jpg') }}')">
                <div class="col">
                    <div class="info__block">
                        <h1 class="page__title">
                            404
                        </h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="{{ path('home') }}">{{ 'global.home'|trans }}</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    XXX
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </header>
        </article>
    </main>

    {% set publishable = navigation_service.getPublishable() %}
    {% if publishable %}
        <div class="section__title section__title--recomended">
            </br>
            <h2>  {{ error.msg.fail_route    }}</h2>
            </br>
            <ol class="breadcrumb">
            {% for language in languages %}
                {% for region in regions %}

                    {% set href = navigation_service.getAlternativePath(language, region) %}
                    {% if href %}
                        <li class="breadcrumb-item">
                        <a href="{{ href }}" />{{language}} / {{region}}</a><br/>
                        </li>
                    {% endif %}

                {% endfor %}
            {% endfor %}
            </ol>
    </div>
    {% endif %}
    {% include 'web/shared/call-to-action.html.twig' %}

{% endblock %}
