{% extends 'cms/base.html.twig' %}
{% trans_default_domain "admin" %}

{% block title %}{{ 'sections.article.edit.title'|trans }}{% endblock %}

{% block body %}
<div class="m-grid__item m-grid__item--fluid m-wrapper">

    <!-- BEGIN: Subheader -->
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h3 class="m-subheader__title m-subheader__title--separator">
                    <i class="m-menu__link-icon flaticon-users"></i>
                    {{ 'sections.article.index.title'|trans }}
                </h3>
                <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                    <li class="m-nav__item">
                        <a href="{{ path('articles_index') }}" class="btn btn-label-warning btn-bold btn-sm btn-icon-h">
                            <i class="flaticon-reply"></i> {{ 'global.actions.backToList'|trans }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- END: Subheader -->

    <div class="m-content">
        <div class="row">
            <div class="col-md-12">
                <div class="m-portlet">

                    {{ form_start(form, {'attr':{'class':'m-form'}}) }}

                        <div class="m-portlet__head">
                            <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                    <h3 class="m-portlet__head-text">
                                        {{ 'sections.article.edit.title'|trans }}
                                    </h3>
                                </div>
                            </div>
                            <div class="m-portlet__head-tools">
                                <ul class="m-portlet__nav">
                                    <li class="m-portlet__nav-item">
                                        <button class="btn btn-primary btn-right">{{ 'global.actions.update'|trans }}</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="m-portlet__body">
                            {{ include('cms/article/_form.html.twig') }}
                        </div>
                        <div class="m-portlet__foot m-portlet__foot--fit m--align-right">
                            <div class="m-form__actions">
                                <button class="btn btn-primary btn-right">{{ 'global.actions.update'|trans }}</button>
                            </div>
                        </div>

                    {{ form_end(form, {'render_rest': false}) }}

                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}

