{% extends 'web/base.html.twig' %}

{% block main %}

    <main role="main" class="lawyer__details">
        <article>

            <!-- trys -->
            <!-- <header class="container-fluid">
                <div class="row">
                    <div class="col-7" style="background-color: violet; padding: 0 0; text-align: right">
                        fluid col-7
                        <div class="container">
                            <div class="row">
                                <div class="col-8 offset-4" style="background-color: yellow;">fixed inside col-8 offset-4</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-5" style="background-color: dodgerblue">
                        fluid col-5
                    </div>
                </div>
                <div class="row">
                    <div class="col-12" style="background-color: white">
                        <div class="container">
                            <div class="row">
                                <div class="col-7" style="background-color: cyan; text-align: right">fixed col-7</div>
                                <div class="col-5" style="background-color: lightblue">fixed col-5</div>
                            </div>
                        </div>
                    </div>
                </div>
            </header> -->

            <header class="container-fluid">
                <div class="row lawyer__details__header">
                    <div class="col-md-7 lawyer__details__content">
                        <a href="#" class="back__button">volver</a>
                        <h1 class="lawyer__details__name">
                            {{ lawyer.name }} {{ lawyer.surname }}
                        </h1>
                        <h2 class="lawyer__details__position">
                            {{ ('sections.lawyers.lawyerCategoryTypes.' ~ lawyer.lawyerType) | trans }}
                        </h2>
                        <ul class="lawyer__details__scope related__services">
                            {% for activity in lawyer.secondaryActivities %}
                            <li class="related__services__item">
                                <a href="{{ relative_path('/es/activity/consumptionRetail/')}}{{ (activity.translate(app.request.getLocale()).slug ? activity.translate(app.request.getLocale()).slug : '' ) }}" class="related__services__link">
                                    {{ activity.translate(app.request.getLocale()).title}}
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                        <div class="lawyer__details__contact">
                            <div data-address>
                                CUATRECASAS {{ lawyer.office.city }}
                            </div>
                            <div data-telephone>
                                {{ lawyer.phone }}
                            </div>
                            <div data-email>
                                <a href="mailto:{{ lawyer.email }}">
                                    {{ lawyer.email }}
                                </a>
                            </div>
                        </div>
                        <div class="lawyer__details__more">
                            <div data-langs>
                                Español | Inglés
                            </div>
                            <div data-vcard>
                                <a href="#">vcard</a>
                            </div>
                            <div data-cv>
                                <a href="#">CV Completo</a>
                            </div>
                        </div>
                        <ul class="action__links">
                            <li><a href="#"><i class="material-icons">share</i></a></li>
                            <li><a href="#"><i class="material-icons">print</i></a></li>
                            <li><a href="#"><i class="material-icons">bookmark_border</i></a></li>
                        </ul>
                    </div>
                    <div class="col-md-5">
                        <figure class="lawyer__details__media" style="background-image: url('{{ asset('web/assets/img/foto-lawyer-3.jpg') }}');">

                            <!-- server -->
                            <!-- <img src="{{ asset('/resources/' ~ (lawyer.photo ? lawyer.photo.fileName : 'test.jpg' ))  | imagine_filter('square1')  }}" alt="{{ lawyer.name }} {{ lawyer.surname }}" class="lawyer__details__media__photo"> -->

                            <!-- <img src="{{ relative_path('/resources/')}}{{ (lawyer.photo ? lawyer.photo.fileName : '' ) }}" alt="{{ lawyer.name }} {{ lawyer.surname }}" class="lawyer__details__media__photo"> -->

                            <!-- local -->
                            <!-- <img src="{{ asset('web/assets/img/luis-villasmil-WW1PtrGseBc-unsplash.jpg') }}" class="lawyer__details__media__photo"> -->
                            <img src="{{ asset('web/assets/img/foto-lawyer-3.jpg') }}" class="lawyer__details__media__photo">

                        </figure>
                    </div>
                </div>
            </header>

            <div class="container">



            <section class="row page__block--full">
                <div class="col">
                    <div class="page__block__content--full">
                        {{ lawyer.translate(app.request.getLocale()).description|raw  }}
                    </div>
                </div>
            </section>

            <section class="row page__block--aside">
                <div class="col">
                    <div class="page__block__content">
                        {{ lawyer.translate(app.request.getLocale()).curriculum|raw  }}
                    </div>
                    <div class="page__block__aside">
                        <div class="page__aside">
                            <h3 class="page__aside__title">Especialidades</h3>
                            <ul class="page__aside__list--specialties">

                                {% for activity in lawyer.activities %}
                                <li>
                                    <a href="{{ relative_path('/es/activity/consumptionRetail/')}}{{ (activity.translate(app.request.getLocale()).slug ? activity.translate(app.request.getLocale()).slug : '' ) }}">
                                        {{ activity.translate(app.request.getLocale()).title}}
                                    </a>
                                </li>
                                {% endfor %}

                                {# <li><a href="#">Fiscalidad corporativa</a></li>
                                <li><a href="#">Private client &amp; wealth management</a></li>
                                <li><a href="#">Fiscalidad contenciosa</a></li> #}
                            </ul>
                        </div>
                        <div class="page__aside">
                            <h3 class="page__aside__title">Formación</h3>
                            <ul class="page__aside__list--career">
                                <li>
                                    <div>Licenciado en Derecho</div>
                                    <div>Universidad Palmas de Gran Canaria, 1996</div>
                                </li>
                                {# <li>
                                    <div>Master en Derecho Comunitario</div>
                                    <div>Especialización en derecho de empresa Université Libre de Bruxelles, 1996/97</div>
                                </li> #}
                                <li>
                                    {{ lawyer.translate(app.request.getLocale()).training|raw  }}
                                </li>
                            </ul>
                            <h3 class="page__aside__title">Menciones</h3>
                            <ul class="page__aside__list--career">
                                <li>
                                    <div>Abogado recomendado</div>
                                    <div>Chambers Global, Chambers Europe y Best Lawyers para la práctica de Tax</div>
                                </li>
                                {# <li>
                                    <div>Antitrust Law. Lawyer of the Year</div>
                                    <div>Best Lawyers en 2012</div>
                                </li> #}
                                <li>
                                    {{ lawyer.translate(app.request.getLocale()).mentions|raw  }}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>

            <section class="row page__block">
                <div class="col">
                    <div class="page__block__title">
                        <h3 class="subsection__title">Casos</h3>
                    </div>
                    <div class="page__block__content">
                        <ul class="page__block__content__details">
                            <li>
                                <div>20 de febrero de 2020</div>
                                <a href="#">Women in business. El futuro de la mujer en la empresa. Perspectivas para la mujer emprendedora y para el acceso a puestos de liderazgo.</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
            {% if lawyer.article %}
            {% if lawyer.article|length > 1 %}
                <section class="row page__block">
                    <div class="col">
                        <div class="page__block__title">
                            <h3 class="subsection__title">Publicaciones</h3>
                        </div>
                        <div class="page__block__content">
                            <ul class="page__block__content__details">
                            {% for article in lawyer.article %}
                            {% set PublicationDate = article.getPublicationDate() |format_datetime('full', 'none', locale='es')|split(',') %}
                                {% if (article.translate(app.request.getLocale()).title) %}
                                    <li>
                                        <div>{{ PublicationDate[1] }}</div>
                                        <a href="#"> {{ article.translate(app.request.getLocale()).title}}.</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                </section>
            {% endif %}
            {% endif %}
             {% if lawyer.speaker %}
          
            <section class="row page__block">
                <div class="col">
                    <div class="page__block__title">
                        <h3 class="subsection__title">Eventos</h3>
                    </div>
                    <div class="page__block__content">
                        <ul class="page__block__content__details">
                            {% for event in lawyer.speaker.events %}
                            {% set StartDate = event.getStartDate() |format_datetime('full', 'none', locale='es')|split(',') %}
                                {% if (event.translate(app.request.getLocale()).title) %}
                                    <li>
                                        <div>{{ StartDate[1] }}</div>
                                        <a href="#"> {{ event.translate(app.request.getLocale()).title}}.</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </section>

            {% endif %} 

            </div>

        </article>
    </main>

    {% include 'web/shared/call-to-action.html.twig' %}

{% endblock %}
