{% extends 'web/base.html.twig' %}

{% block main %}

    <main role="main" class="lawyer__page">
        <article>

            <header class="container">
                <div class="row lawyer__page__header">
                    <div class="col-md-7 lawyer__page__content">
                        <a href="{{ path('lawyers_index') }}" class="back__button">{{ 'global.goBack'|trans }}</a>
                        <h1 class="lawyer__page__name">
                            {{ lawyer.fullName }}
                        </h1>
                        <h2 class="lawyer__page__position">
                            {{ ('sections.lawyers.lawyerCategoryTypes.' ~ lawyer.lawyerType) | trans }}
                        </h2>
                        <ul class="lawyer__page__scope related__services">
                            {% for activity in lawyer.activities %}
                            <li class="related__services__item">
                                <a href="{{ navigation_service.getPathByPublishable(activity)}}" class="related__services__link">
                                    {{ activity.translate(app.request.getLocale()).title}}
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                        <div class="lawyer__page__contact">
                            <div data-address>
                                {{ 'sections.lawyers.office'|trans }} {{ lawyer.office ? lawyer.office.city : '' }}
                            </div>
                            <div data-telephone>
                                {{ lawyer.phone }}
                            </div>
                            <div data-email>
                                <a href="mailto:{{ lawyer.email }}">
                                    {{ lawyer.email }}
                                </a>
                            </div>
                        </div>
                        <div class="lawyer__page__more">
                        {% if lawyer.knownLanguages|length > 0 %}
                            <div data-langs>
                            {% for language in lawyer.knownLanguages %}
                                <span>{{ ('global.languages.'~language)|trans }}</span>
                            {% endfor %}
                            </div>
                        {% endif %}
                            <div data-vcard>
                                <a href="#">{{ 'sections.lawyers.vcard'|trans }}</a>
                            </div>
                            <div data-cv>
                                <a href="#">{{ 'sections.lawyers.full_cv'|trans }}</a>
                            </div>
                        </div>
                        <ul class="action__links">
                            <li><a href="#"><i class="material-icons">share</i></a></li>
                            <li><a href="#"><i class="material-icons">print</i></a></li>
                            <li><a href="#"><i class="material-icons">bookmark_border</i></a></li>
                        </ul>
                    </div>
                    <div class="col-md-5">
                        <div class="lawyer__page__media">
                            <figure style="background-image: url('{{ asset('web/assets/img/foto-lawyer-3.jpg') }}');">
                            <!-- <figure class="lawyer__page__media"> -->

                                <!-- server -->
                                <!-- <img src="{{ asset('/resources/' ~ (lawyer.photo ? lawyer.photo.fileName : 'test.jpg' ))  | imagine_filter('square1')  }}" alt="{{ lawyer.name }} {{ lawyer.surname }}" class="lawyer__page__media__photo"> -->

                                <!-- <img src="{{ relative_path('/resources/')}}{{ (lawyer.photo ? lawyer.photo.fileName : '' ) }}" alt="{{ lawyer.name }} {{ lawyer.surname }}" class="lawyer__page__media__photo"> -->

                                <!-- local -->
                                <!-- <img src="{{ asset('web/assets/img/luis-villasmil-WW1PtrGseBc-unsplash.jpg') }}" class="lawyer__page__media__photo"> -->
                                <img src="{{ asset('web/assets/img/foto-lawyer-3.jpg') }}">

                            </figure>
                        </div>
                    </div>
                </div>
            </header>

            <div class="container">

                <section class="row page__block--full">
                    <div class="col">
                        <div class="page__block__content--full">
                            {{ lawyer.translate(app.request.getLocale()).description|raw  }}
                        </div>
                    </div>
                </section>

                <section class="row page__block--aside">
                    <div class="col">
                        <div class="page__block__content">
                            {{ lawyer.translate(app.request.getLocale()).curriculum|raw  }}
                        </div>

                        <div class="page__block__aside">
                            {% if lawyer.secondaryActivities|length > 0 %}
                                <div class="page__aside">
                                    <h3 class="page__aside__title">{{ 'sections.lawyers.specialties'|trans }}</h3>
                                    <ul class="page__aside__list--specialties">

                                    {% for activity in lawyer.secondaryActivities %}
                                        <li>
                                            <a href="{{ navigation_service.getPathByPublishable(activity)}}">
                                                {{ activity.translate(app.request.getLocale()).title}}
                                            </a>
                                        </li>
                                    {% endfor %}

                                    </ul>
                                </div>
                            {% endif %}
                        <div class="page__aside">
                            <h3 class="page__aside__title">{{ 'sections.lawyers.training'|trans }}</h3>
                            <ul class="page__aside__list--career">
                                {# <li>
                                    <div>Licenciado en Derecho</div>
                                    <div>Universidad Palmas de Gran Canaria, 1996</div>
                                </li> #}
                                {# <li>
                                    <div>Master en Derecho Comunitario</div>
                                    <div>Especialización en derecho de empresa Université Libre de Bruxelles, 1996/97</div>
                                </li> #}
                                <li>
                                    {{ lawyer.translate(app.request.getLocale()).training|raw  }}
                                </li>
                            </ul>
                            <h3 class="page__aside__title">{{ 'sections.lawyers.mentions'|trans }}</h3>
                            <ul class="page__aside__list--career">
                                {# <li>
                                    <div>Abogado recomendado</div>
                                    <div>Chambers Global, Chambers Europe y Best Lawyers para la práctica de Tax</div>
                                </li> #}
                                {# <li>
                                    <div>Antitrust Law. Lawyer of the Year</div>
                                    <div>Best Lawyers en 2012</div>
                                </li> #}
                                <li>
                                    {{ lawyer.translate(app.request.getLocale()).mentions|raw  }}
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>

                <section class="row page__block">
                    <div class="col">
                        <div class="page__block__title">
                            <h3 class="subsection__title">{{ 'sections.lawyers.cases'|trans }}</h3>
                        </div>
                        <div class="page__block__content">
                            <ul class="page__block__content__details">
                                <li>
                                    <div>20 de febrero de 2020</div>
                                    <a href="#">Women in business. El futuro de la mujer en la empresa. Perspectivas para la mujer emprendedora y para el acceso a puestos de liderazgo.</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>

                {% if lawyer.person %}

                    {% if lawyer.person.publications|length > 1 %}
                        <section class="row page__block">
                            <div class="col">
                                <div class="page__block__title">
                                    <h3 class="subsection__title">{{ 'sections.lawyers.publications'|trans }}</h3>
                                </div>
                                <div class="page__block__content">
                                    <ul class="page__block__content__details">
                                    {% for publication in lawyer.person.publications %}
                                        {% set PublicationDate = publication.getPublicationDate() |format_datetime('full', 'none', locale= app.request.getLocale() )|split(',') %}
                                        <li>
                                            <div>{{ PublicationDate[1] }}</div>
                                            <a href="#"> {{ publication.translate(app.request.getLocale()).title}}.</a>
                                        </li>
                                    {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </section>
                    {% endif %}

                    {% if lawyer.person.events|length > 1 %}
                        <section class="row page__block">
                            <div class="col">
                                <div class="page__block__title">
                                    <h3 class="subsection__title">{{ 'sections.lawyers.events'|trans }}</h3>
                                </div>
                                <div class="page__block__content">
                                    <ul class="page__block__content__details">
                                        {% for event in lawyer.person.events %}
                                        {% set StartDate = event.getStartDate() |format_datetime('full', 'none', locale= app.request.getLocale() )|split(',') %}
                                            {% if (event.translate(app.request.getLocale()).title) %}
                                                <li>
                                                    <div>{{ StartDate[1] }}</div>
                                                    <a href="#"> {{ event.translate(app.request.getLocale()).title}}.</a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </section>
                    {% endif %}

                {% endif %}

            </div>

        </article>
    </main>

    {% include 'web/shared/call-to-action.html.twig' %}

{% endblock %}
