{% extends 'web/baseFinal.html.twig' %}
{% block main %}

    <main role="main" class="lawyer">
        <article class="container-fluid">
            <header class="row lawyer__header">
                <div class="col-md-7">
                    <h1 class="lawyer__name">
                        {{ lawyer.name }} {{ lawyer.surname }}
                        {# Juan García Hernández #}
                    </h1>
                    <h2 class="lawyer__position">
                        {{ ('sections.lawyers.lawyerCategoryTypes.' ~ lawyer.lawyerType) | trans }}
                        {# Consejera Cuatrecasas #}
                    </h2>
                    <ul class="lawyer__scope related__services">
                        {% for activity in lawyer.activities %}
                        <li class="related__services__item">
                            <a href="#" class="related__services__link">
                                {{ activity.translate(app.request.getLocale()).title}}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                    <div class="lawyer__contact">
                        <div data-address>
                            CUATRECASAS BARCELONA
                        </div>
                        <div data-telephone>
                            {{ lawyer.phone }}
                        </div>
                        <div data-email>
                            <a href="mailto:juan.garcia.hernandez@cuatrecasas.com">
                                {{ lawyer.email }}
                            </a>
                        </div>
                    </div>
                    <div class="lawyer__details">
                        <div data-langs>
                            Español | Inglés
                        </div>
                        <div data-vcard>
                            <a href="#">vcard</a>
                        </div>
                    </div>
                    <ul class="action__links">
                        <li><a href="#"><i class="material-icons">share</i></a></li>
                        <li><a href="#"><i class="material-icons">print</i></a></li>
                        <li><a href="#"><i class="material-icons">picture_as_pdf</i></a></li>
                        <li><a href="#"><i class="material-icons">bookmark_border</i></a></li>
                    </ul>
                </div>
                <div class="col-md-5">
                    <figure class="lawyer__media">
                        <img class="lawyer__media__photo" src="{{ asset('web/assets/img/luis-villasmil-WW1PtrGseBc-unsplash.jpg') }}" alt="{{ lawyer.name }} {{ lawyer.surname }}">
                        {# <img class="lawyer__media__photo" src="{{ asset('/resources/' ~ (lawyer.photo ? lawyer.photo.fileName : 'test.jpg' ))  | imagine_filter('square1')  }}" alt="{{ lawyer.name }} {{ lawyer.surname }}"> #}
                    </figure>
                </div>
            </header>
            <section class="row page__section--full lawyer__resume">
                <div class="col">
                    {# <p>Lorem ipsum dolor sit amet, <a href="#">consectetur adipiscing elit</a>, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco <a href="#">laboris nisi ut aliquip</a> ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim.</p> #}
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia.</p>
                    <blockquote class="inline__quote">
                        <div class="inline__quote__text">La formación es diaria y constante, desde el inicio del proceso hasta su conclusión.</div>
                    </blockquote>
                    {{ lawyer.translate(app.request.getLocale()).description|raw  }}
                </div>
            </section>
            <section class="row page__block">
                <div class="col">
                    <div class="page__block__title">
                        <h3 class="subsection__title">Experiencia relevante</h3>
                    </div>
                    <div class="page__block__content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Fermentum posuere urna nec tincidunt. Facilisis gravida neque convallis a cras.</p>
                        <p>Libero id faucibus nisl tincidunt eget nullam non nisi. Euismod nisi porta lorem mollis aliquam ut. Vehicula ipsum a arcu cursus vitae congue mauris rhoncus aenean. Scelerisque in dictum non consectetur a erat nam at lectus.</p>
                        <p>Metus dictum at tempor commodo ullamcorper. Libero id faucibus nisl tincidunt eget nullam non nisi. Euismod nisi porta lorem mollis aliquam ut.</p>
                    </div>
                </div>
            </section>
            <section class="row page__block page__block--full">
                <div class="col">
                    <div class="page__block__title">
                        <h3 class="subsection__title">Menciones</h3>
                    </div>
                    <div class="page__block__content">
                        <ul class="mentions">
                            <li class="mentions__quote">Abogado recomendado por diferentes anuarios jurídicos como Chambers Global, Chambers Europe y Best Lawyers para la práctica de Tax.</li>
                            <li class="mentions__quote">Recomendado por diferentes anuarios jurídicos como Chambers Global, Chambers Europe y Best Lawyers para las prácticas de Tax y Family Business.</li>
                            <li class="mentions__quote">Ha sido destacado por Best Lawyers como Labor and Employement Law Lawyer of the Year 2020.</li>
                        </ul>
                        {# {{ lawyer.translate(app.request.getLocale()).mentions|raw  }} #}
                    </div>
                </div>
            </section>
            <section class="row page__block">
                <div class="col">
                    <div class="page__block__title">
                        <h3 class="subsection__title">Formación</h3>
                    </div>
                    <div class="page__block__content">
                        <ul class="training__list">
                            <li>
                                <span data-degree>Licenciado en Derecho</span>
                                <span data-university>Universidad Oberta de Catalunya, 2004</span>
                            </li>
                            <li>
                                <span data-degree>LLM in Taxation</span>
                                <span data-university>London School of Economics, 2011</span>
                            </li>
                            <li>
                                <span data-degree>Licenciado en Derecho</span>
                                <span data-university>Universidad Oberta de Catalunya, 2004</span>
                            </li>
                            <li>
                                <span data-degree>LLM in Taxation</span>
                                <span data-university>London School of Economics, 2011</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
        </article>
    </main>

    {% include 'web/shared/publications.html.twig' %}
    {% include 'web/shared/events.html.twig' %}
    {% include 'web/shared/call-to-action.html.twig' %}

{% endblock %}
