{% extends 'web/base.html.twig' %}

{% block main %}

    <main role="main" class="lawyer__page">
        <article  itemscope itemtype="https://schema.org/Person">

            <header class="container">
                <div class="row lawyer__page__header">
                    <div class="col-md-7 lawyer__page__content">
                        <button type="button" class="back__button" id="goBack">{{ 'global.goBack'|trans }}</button>
                        <h1 class="lawyer__page__name" itemprop="name" >
                            {{ lawyer.fullName }}
                        </h1>
                        <h2 class="lawyer__page__position" itemprop="jobTitle">
                            {{ ('sections.lawyers.lawyerCategoryTypes.' ~ lawyer.lawyerType) | trans }}
                        </h2>
                        <ul class="lawyer__page__scope related__services">
                            {% for activity in lawyer.activities %}
                            <li class="related__services__item">
                                <a href="{{ navigation_service.getPathByPublishable(activity)}}" class="related__services__link">
                                    {{ activity.translate(app.request.getLocale()).title}}
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                        <div class="lawyer__page__contact">
                            <div data-address itemprop="address" >
                                <a href="{{ lawyer.office ? path('offices_detail',{ 'slug': lawyer.office.slug }) : '' }}" class="related__services__link">
                                    {{ 'sections.lawyers.office'|trans }}
                                    {{ lawyer.office ? lawyer.office.translate(app.request.getLocale()).city : '' }}
                                </a>
                            </div>
                            <div data-telephone  itemprop="telephone" >
                                {{ lawyer.phone }}
                            </div>
                            <div data-email>
                                <a href="mailto:{{ lawyer.email }}" itemprop="email">
                                    {{ lawyer.email }}
                                </a>
                            </div>
                        </div>
                        <div class="lawyer__page__more">
                        {% if lawyer.knownLanguages|length > 0 %}
                            <div data-langs>
                            {% for language in lawyer.knownLanguages %}
                                <span>{{ ('global.languages.'~language)|trans }}</span>
                            {% endfor %}
                            </div>
                        {% endif %}
                            <div data-vcard>
                                <a href="{{ path('lawyers_vcard_download', { 'id':lawyer.id } )}}">{{ 'sections.lawyers.vcard'|trans }}</a>
                            </div>
                        </div>
                        {% include 'web/base/social-share.html.twig' %}
                    </div>
                    <div class="col-md-5">
                        <div class="lawyer__page__foto">
                            <button type="button" class="back__button" id="goBack">{{ 'global.goBack'|trans }}</button>
                            {% include 'web/base/social-share.html.twig' %}
                            {% if lawyer.photo %}
                                <div class="lawyer__page__foto--img"  itemprop="image" style="background-image: url('{{ asset('/resources/' ~ lawyer.photo.fileName)| imagine_filter('lawyers_header') }}');"></div>
                            {% endif %}

                            {# <div class="lawyer__page__foto--img" style="background-image: url('{{ asset('/web/assets/img/FLUF.jpg')| imagine_filter('lawyers_header') }}');"></div> #}
                        </div>
                    </div>
                </div>
            </header>

            <div class="container">

                <section class="row page__block--full">
                    <div class="col">
                        <div class="page__block__content--full">
                            {{ lawyer.translate(app.request.getLocale()).description|raw }}
                        </div>
                    </div>
                </section>

                <section class="row page__block--aside">
                    <div class="page__block__content">
                        <div class="read__more">
                            {{ lawyer.translate(app.request.getLocale()).curriculum|raw }}
                        </div>
                    </div>
                    <div class="page__block__aside">
                        {% if lawyer.secondaryActivities|length > 0 %}
                            <div class="page__aside">
                                <h3 class="page__aside__title page__aside__title--specialties">{{ 'sections.lawyers.specialties'|trans }}</h3>
                                <ul class="page__aside__list--specialties">
                                {% for activity in lawyer.secondaryActivities %}
                                    <li>
                                        <a href="{{ navigation_service.getPathByPublishable(activity)}}">
                                            {{ activity.translate(app.request.getLocale()).title}}
                                        </a>
                                    </li>
                                {% endfor %}
                                </ul>
                            </div>
                        {% endif %}

                        {% if (lawyer.trainings|length > 0) or (lawyer.mentions|length > 0) %}
                            <div class="page__aside">
                                {% if lawyer.trainings|length > 0 %}
                                    <h3 class="page__aside__title">{{ 'sections.lawyers.training'|trans }}</h3>
                                    <ul class="page__aside__list--career">
                                        {% for training in lawyer.trainings %}
                                            <li>
                                                {{ training.translate(app.request.getLocale()).description | raw}}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                                {% if lawyer.mentions|length > 0 %}
                                    <h3 class="page__aside__title">{{ 'sections.lawyers.mentions'|trans }}</h3>
                                    <div class="page__aside__list--mentions">
                                        {% for mention in lawyer.mentions %}
                                            {{ mention.translate(app.request.getLocale()).description | raw}}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>
                </section>

                {% if contextualBlocks.cases|length > 0 %}
                    <section class="row page__block">
                        <div class="col">
                            <div class="page__block__title">
                                <h3 class="subsection__title">{{ 'sections.lawyers.cases'|trans }}</h3>
                            </div>
                            <div class="page__block__content page__block__content--list">
                                <ul class="page__block__content__details show__more">
                                    {% for case in contextualBlocks.cases %}
                                        <li>
                                            {% for activities in case.getActivities() | slice(0,1) %}
                                                <div>{{ activities.translate(app.request.getLocale()).title }}</div>
                                            {% endfor %}
                                            <a href="{{ path('case_studies_detail', {slug: case.translate(app.request.getLocale()).slug}) }}">{{ case.translate(app.request.getLocale()).title }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </section>
                {% endif %}

                {% if lawyer.person %}

                    {% if lawyer.person.publications|length > 0 %}
                        <section class="row page__block">
                            <div class="col">
                                <div class="page__block__title">
                                    <h3 class="subsection__title">{{ 'sections.lawyers.publications'|trans }}</h3>
                                </div>
                                <div class="page__block__content page__block__content--list">
                                    <ul class="page__block__content__details show__more">
                                    {% for publication in lawyer.person.publications %}
                                        {% set PublicationDate = publication.getPublicationDate() |format_datetime('full', 'none', locale= app.request.getLocale() )|split(',') %}
                                        <li>
                                            <div>{{ PublicationDate[1] }}</div>
                                            <a href="{{ path('publications_detail', {slug: publication.translate(app.request.getLocale()).slug}) }}">{{ publication.translate(app.request.getLocale()).title}}</a>
                                        </li>
                                    {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </section>
                    {% endif %}

                    {% if lawyer.person.events|length > 0 %}
                        <section class="row page__block">
                            <div class="col">
                                <div class="page__block__title">
                                    <h3 class="subsection__title">{{ 'sections.lawyers.events'|trans }}</h3>
                                </div>
                                <div class="page__block__content page__block__content--list">
                                    <ul class="page__block__content__details show__more">
                                        {% for event in lawyer.person.events %}
                                        {% set StartDate = event.getStartDate() |format_datetime('full', 'none', locale= app.request.getLocale() )|split(',') %}
                                            {% if (event.translate(app.request.getLocale()).title) %}
                                                <li>
                                                    <div>{{ StartDate[1] }}</div>
                                                    <a href="{{ path('events_detail', {slug: event.translate(app.request.getLocale()).slug}) }}">{{ event.translate(app.request.getLocale()).title}}</a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </section>
                    {% endif %}

                {% endif %}

            </div>

        </article>
    </main>

    {% include 'web/shared/cta-footer.html.twig' %}

{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{{ asset('web/vendor/readmore.min.js') }}"></script>
<script>
    $(function () {
        $('.read__more').readmore({
            moreLink: '<button type="button" class="doble__arrow__accordion show__more">{{ 'global.messages.show_more'|trans }}</button>',
            lessLink: '<button type="button" class="doble__arrow__accordion show__less">{{ 'global.messages.show_less'|trans }}</button>',
            embedCSS: true,
            collapsedHeight: 400,
            blockProcessed: function(element, collapsable) {
                if(! collapsable) {
                    element.addClass('mask-off');
                }
            },
            beforeToggle: function(trigger, element, expanded) {
                if(expanded) {
                    element.removeClass('mask-off');
                }
                if(! expanded) {
                    element.addClass('mask-off');
                }
            },
            afterToggle: function(trigger, element, expanded) {
                if(! expanded) {
                    if (window.matchMedia('(max-width: 1199px)').matches) {
                        $('html, body').animate({scrollTop: element.offset().top - 20}, {duration: 'slow'});
                    } else {
                        $('html, body').animate({scrollTop: element.offset().top - 120}, {duration: 'slow'});
                    }
                }
            }
        });

        $('.show__more').each(function() {
            if ($(this).children('li').length > 4) {
                $(this).children('li:lt(3)').show();
                $(this).children('li:gt(2)').hide();
                $(this).append('<button type="button" class="doble__arrow__accordion show__more">{{ 'global.messages.show_more'|trans }}</button>');
            }
        });
        $('.show__more').on("click", '.show__more', function() {
            $(this).parent('.show__more').children('li').slideDown();
            $(this).removeClass('show__more').addClass('show__less').text('{{ 'global.messages.show_less'|trans }}');
            $('.show__more .doble__arrow__accordion').blur();
        });
        $('.show__more').on("click", '.show__less', function() {
            if (window.matchMedia('(max-width: 1199px)').matches) {
                $('html, body').animate({scrollTop: $(this).parent().offset().top - 50}, {duration: 'fast'});
            } else {
                $('html, body').animate({scrollTop: $(this).parent().offset().top - 120}, {duration: 'fast'});
            }
            $(this).parent('.show__more').children('li:gt(2)').slideUp();
            $(this).removeClass('show__less').addClass('show__more').text('{{ 'global.messages.show_more'|trans }}');
            $('.show__more .doble__arrow__accordion').blur();
        });
    });
</script>
{% endblock %}
