{% extends 'web/baseFinal.html.twig' %}
{% block main %}

    <main role="main" class="search">

        <article class="container-fluid">

            <header class="row page__header" style="background-image: url('{{ asset('web/assets/img/martin-adams-Y8MQEl3N3Xs-unsplash.jpg') }}')">
                <div class="col">
                    <div class="info__block">
                        <h1 class="page__title">
                            Abogados
                        </h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="#">Inicio</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="#">Abogados</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    Búsqueda Abogados
                                </li>
                            </ol>
                        </nav>
                    </div>
                    <ul class="action__links">
                        <li><a href="#"><i class="material-icons">share</i></a></li>
                        <li><a href="#"><i class="material-icons">print</i></a></li>
                        <li><a href="#"><i class="material-icons">bookmark_border</i></a></li>
                    </ul>
                </div>
            </header>

            <section class="row page__section search_box">
                <div class="col search_box__wrapper">
                    <div class="search_box__name search_box__name--full">
                        <form action="{{ relative_path('/es/lawyer/filter')}}" method="get">
                            <input type="text" class="form-control" placeholder="Buscar abogado" name="search">
                            <div class="input-group">
                                <button class="search_box__button" type="submit">
                                    <i class="icon ion-ios-search-strong"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </section>

            <section class="row search_filters search_filters--selects">
                <div class="col">
                    <div class="search_selects">

                        <select id="area" class="custom__select">
                            <option value="hide">Por área de práctica</option>
                            <option value="">Competencia y Derecho de la UE</option>
                            <option value="">Corporate Governance y Compliance</option>
                            <option value="">Derecho contable</option>
                            <option value="">Derecho Laboral</option>
                            <option value="">Financiero</option>
                            <option value="">Fiscal</option>
                            <option value="">Fiscalidad Contenciosa</option>
                            <option value="">Fiscalidad Financiera</option>
                            <option value="">Fusiones y Adquisiciones</option>
                            <option value="">Litigación</option>
                            <option value="">Mediación</option>
                            <option value="">Mercado de valores</option>
                        </select>
                        <select id="desk" class="custom__select">
                            <option value="hide">Por sector o desk</option>
                            <option value="">Alimentación</option>
                            <option value="">Arte</option>
                            <option value="">Brexit</option>
                            <option value="">Canadian Desk</option>
                            <option value="">Ciberseguridad</option>
                            <option value="">Consumo y Retail</option>
                            <option value="">Deporte</option>
                            <option value="">Empresa Familiar</option>
                            <option value="">Energía y Recursos Naturales</option>
                            <option value="">Farmacia y Sanitario</option>
                        </select>
                        <select id="office" class="custom__select">
                            <option value="hide">Por oficina</option>
                            <option value="">Barcelona</option>
                            <option value="">Madrid</option>
                            <option value="">Lisboa</option>
                            <option value="">Beijing</option>
                            <option value="">Bogotá</option>
                            <option value="">Brussels</option>
                            <option value="">Casablanca</option>
                            <option value="">Lima</option>
                            <option value="">London</option>
                            <option value="">Luanda</option>
                            <option value="">Maputo</option>
                            <option value="">Mexico City</option>
                            <option value="">New York</option>
                            <option value="">Sao Paulo</option>
                            <option value="">Shanghai</option>
                        </select>

                        <!-- v2 -->
                        <!-- <select id="selectbox1" class="custom__select">
                            <option value="hide">Por área de práctica</option>
                            <option value="">Competencia y Derecho de la UE</option>
                            <option value="">Corporate Governance y Compliance</option>
                            <option value="">Derecho contable</option>
                            <option value="">Derecho Laboral</option>
                            <option value="">Financiero</option>
                            <option value="">Fiscal</option>
                            <option value="">Fiscalidad Contenciosa</option>
                            <option value="">Fiscalidad Financiera</option>
                            <option value="">Fusiones y Adquisiciones</option>
                            <option value="">Litigación</option>
                            <option value="">Mediación</option>
                            <option value="">Mercado de valores</option>
                        </select>
                        <select id="selectbox2" class="custom__select">
                            <option value="hide">Por sector o desk</option>
                            <option value="">Alimentación</option>
                            <option value="">Arte</option>
                            <option value="">Brexit</option>
                            <option value="">Canadian Desk</option>
                            <option value="">Ciberseguridad</option>
                            <option value="">Consumo y Retail</option>
                            <option value="">Deporte</option>
                            <option value="">Empresa Familiar</option>
                            <option value="">Energía y Recursos Naturales</option>
                        </select>
                        <select id="selectbox3" class="custom__select">
                            <option value="hide">Por oficina</option>
                            <option value="">Barcelona</option>
                            <option value="">Madrid</option>
                            <option value="">Lisboa</option>
                            <option value="">Beijing</option>
                            <option value="">Bogotá</option>
                            <option value="">Brussels</option>
                            <option value="">Casablanca</option>
                            <option value="">Lima</option>
                            <option value="">London</option>
                            <option value="">Luanda</option>
                            <option value="">Maputo</option>
                            <option value="">Mexico City</option>
                            <option value="">New York</option>
                            <option value="">Sao Paulo</option>
                            <option value="">Shanghai</option>
                        </select> -->

                    </div>
                    <div class="search_alphabet">
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="{{ relative_path('/es/lawyer/filter?initial=a')}}">a</a></li>
                            <li class="page-item"><a class="page-link" href="{{ relative_path('/es/lawyer/filter?initial=b')}}">b</a></li>
                            <li class="page-item"><a class="page-link" href="{{ relative_path('/es/lawyer/filter?initial=c')}}">c</a></li>
                            <li class="page-item"><a class="page-link" href="{{ relative_path('/es/lawyer/filter?initial=d')}}">d</a></li>
                            <li class="page-item"><a class="page-link" href="{{ relative_path('/es/lawyer/filter?initial=e')}}">e</a></li>
                            <li class="page-item"><a class="page-link" href="{{ relative_path('/es/lawyer/filter?initial=f')}}">f</a></li>
                            <li class="page-item"><a class="page-link" href="{{ relative_path('/es/lawyer/filter?initial=g')}}">g</a></li>
                            <li class="page-item"><a class="page-link" href="{{ relative_path('/es/lawyer/filter?initial=h')}}">h</a></li>
                            <li class="page-item"><a class="page-link" href="{{ relative_path('/es/lawyer/filter?initial=i')}}">i</a></li>
                            <li class="page-item"><a class="page-link" href="{{ relative_path('/es/lawyer/filter?initial=j')}}">j</a></li>
                            <li class="page-item"><a class="page-link" href="{{ relative_path('/es/lawyer/filter?initial=k')}}">k</a></li>
                            <li class="page-item"><a class="page-link" href="{{ relative_path('/es/lawyer/filter?initial=l')}}">l</a></li>
                            <li class="page-item"><a class="page-link" href="{{ relative_path('/es/lawyer/filter?initial=m')}}">m</a></li>
                            <li class="page-item"><a class="page-link" href="{{ relative_path('/es/lawyer/filter?initial=n')}}">n</a></li>
                            <li class="page-item"><a class="page-link" href="{{ relative_path('/es/lawyer/filter?initial=o')}}">o</a></li>
                            <li class="page-item"><a class="page-link" href="{{ relative_path('/es/lawyer/filter?initial=p')}}">p</a></li>
                            <li class="page-item"><a class="page-link" href="{{ relative_path('/es/lawyer/filter?initial=q')}}">q</a></li>
                            <li class="page-item"><a class="page-link" href="{{ relative_path('/es/lawyer/filter?initial=r')}}">r</a></li>
                            <li class="page-item"><a class="page-link" href="{{ relative_path('/es/lawyer/filter?initial=s')}}">s</a></li>
                            <li class="page-item"><a class="page-link" href="{{ relative_path('/es/lawyer/filter?initial=t')}}">t</a></li>
                            <li class="page-item"><a class="page-link" href="{{ relative_path('/es/lawyer/filter?initial=u')}}">u</a></li>
                            <li class="page-item"><a class="page-link" href="{{ relative_path('/es/lawyer/filter?initial=v')}}">v</a></li>
                            <li class="page-item"><a class="page-link" href="{{ relative_path('/es/lawyer/filter?initial=w')}}">w</a></li>
                            <li class="page-item"><a class="page-link" href="{{ relative_path('/es/lawyer/filter?initial=x')}}">x</a></li>
                            <li class="page-item"><a class="page-link" href="{{ relative_path('/es/lawyer/filter?initial=y')}}">y</a></li>
                            <li class="page-item"><a class="page-link" href="{{ relative_path('/es/lawyer/filter?initial=z')}}">z</a></li>
                        </ul>
                    </div>
                </div>
            </section>

            <section class="row search_results">

                <div class="col">

                    <!-- Info -->
                    <div class="search_results__info">
                        <h2 class="search_results__header">Resultados de la búsqueda</h2>
                        <div class="search_results__text">Mostramos {{ countLawyers }} perfiles que encajan con la búsqueda</div>
                    </div>

                    <!-- Lawyers Links -->
                    <div class="card-deck">
                        {% for lawyer in lawyers %}
                        <div class="card">
                            <a href="{{ relative_path('/es/lawyer/detail/')}}{{ lawyer.slug  }}" class="search_results__link">{{ lawyer.name|raw  }} {{ lawyer.surname|raw  }}</a>
                            <figure>
                                <!-- local -->
                                <img src="{{ asset('/web/assets/img/luis-villasmil-WW1PtrGseBc-unsplash.jpg')|imagine_filter('square') }}" class="card-img-top" alt="{{ lawyer.name|raw  }} {{ lawyer.surname|raw  }}">

                                <!-- server -->
                                <!-- <img src="{{ asset('/resources/' ~ (lawyer.photo ? lawyer.photo.fileName : 'test.jpg' ))  | imagine_filter('square')  }}" class="card-img-top" alt="{{ lawyer.name|raw  }} {{ lawyer.surname|raw  }}"> -->

                                <!-- <img src="{{ relative_path('/resources/')}}{{ (lawyer.photo ? lawyer.photo.fileName : '' ) }}" class="card-img-top" alt="{{ lawyer.name|raw  }} {{ lawyer.surname|raw  }}"> -->

                            </figure>
                            <div class="card-body">
                                <h5 class="card-title">{{ lawyer.name|raw  }} {{ lawyer.surname|raw  }}</h5>
                                <div class="card-text">{{ ('sections.lawyers.lawyerCategoryTypes.' ~ lawyer.lawyerType) | trans }}</div>
                            </div>
                            <div class="card-footer">
                                Madrid | España
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                    <div class="viewmore__button">
                        <a href="#" class="btn btn__viewmore btn__viewmore--oneline">Ver más</a>
                    </div>

                </div>

            </section>

        </article>
    </main>

    {% include 'web/shared/events.html.twig' %}
    {% include 'web/shared/call-to-action.html.twig' %}

{% endblock %}

{% block javascripts %}
<script>
    $(function () {

        /*
        Custom Selects
        Reference: http://jsfiddle.net/BB3JK/47/
        */
        $('.custom__select').each(function(){
            var $this = $(this), numberOfOptions = $(this).children('option').length;

            $this.addClass('select-hidden');
            $this.wrap('<div class="select"></div>');
            $this.after('<div class="select-styled"></div>');

            var $styledSelect = $this.next('div.select-styled');
            // $styledSelect.text($this.children('option').eq(0).text());
            $styledSelect.text($this.children('option:selected').text())

            var $list = $('<ul/>', {
                'class': 'select-options'
            }).insertAfter($styledSelect);

            for (var i = 0; i < numberOfOptions; i++) {
                $('<li/>', {
                    text: $this.children('option').eq(i).text(),
                    rel: $this.children('option').eq(i).val()
                }).appendTo($list);
            }

            var $listItems = $list.children('li');

            $styledSelect.click(function(e) {
                e.stopPropagation();
                $('div.select-styled.active').not(this).each(function(){
                    $(this).removeClass('active').next('ul.select-options').hide();
                });
                $(this).toggleClass('active').next('ul.select-options').toggle();
            });

            $listItems.click(function(e) {
                e.stopPropagation();
                $styledSelect.text($(this).text()).removeClass('active');
                $this.val($(this).attr('rel'));
                $list.hide();
                //console.log($this.val());
            });

            $(document).click(function() {
                $styledSelect.removeClass('active');
                $list.hide();
            });
        });


        // View more button
        $('.viewmore__button .btn__viewmore').click(function () {
            $('.card-deck .card:hidden').slice(0, 8).show();
            if ($('.card-deck a').length == $('.card-deck .card:visible').length) {
                $('.viewmore__button .btn__viewmore').hide();
            }
        });
    });
</script>
{% endblock %}
