{% extends 'web/base.html.twig' %}
{% block main %}

    <main role="main" class="lawyer-filter">
        <article>
            <header id="page-header">
                <figure class="full-width">
                    <img class="v-middle" src="{{ asset('web/assets/img/luis-villasmil-WW1PtrGseBc-unsplash.jpg') }}" alt="">
                </figure>
                <div class="container">
                    <div class="row">
                        <div class="col-8">
                            <div class="header-info d-flex flex-column">
                                <h1 class="order-2">
                                    Abogados
                                </h1>
                                <nav class="order-1" aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="#">Inicio</a></a></li>
                                        <li class="breadcrumb-item active" aria-current="page">
                                            Búsqueda Abogados
                                        </a></li>
                                    </ol>
                                </nav>
                                <ul class="action-icons order-3">
                                    <li><a href="#"><i class="material-icons">share</i></a></li>
                                    <li><a href="#"><i class="material-icons">print</i></a></li>
                                    <li><a href="#"><i class="material-icons">picture_as_pdf</i></a></li>
                                    <li><a href="#"><i class="material-icons">bookmark_border</i></a></li>
                                </ul>
                                {# <a href="#" class="back-button">volver</a> #}
                            </div>
                        </div>
                    </div>
                </div>
            </header>

            <section class="search-component">
                <div class="container">
                    <div class="row">
                        <div class="col search-wrapper">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs justify-content-center" id="searchTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="lawler-tab" data-toggle="tab" href="#lawler" role="tab" aria-controls="lawler" aria-selected="true">Encuentra tu abogado</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="sector-tab" data-toggle="tab" href="#sector" role="tab" aria-controls="sector" aria-selected="false">Encuentra tu sector</a>
                                </li>
                            </ul>
                            <!-- Tab panes -->
                            <form action="{{ relative_path('/es/lawyer/filter')}}" method="get">
                                <div class="tab-content">
                                    <div class="tab-pane active" id="lawler" role="tabpanel" aria-labelledby="lawler-tab">
                                        <div class="search-name">
                                            <input type="text" class="form-control" placeholder="Buscar" name="search">
                                            <div class="input-group">
                                                <button class="" type="submit">
                                                    <i class="icon ion-ios-search-strong"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="search-filters">
                                            <select id="area" class="custom-home-select">
                                                <option value="hide">Por área de práctica</option>
                                                <option value="">Competencia y Derecho de la UE</option>
                                                <option value="">Corporate Governance y Compliance</option>
                                                <option value="">Derecho contable</option>
                                                <option value="">Derecho Laboral</option>
                                                <option value="">Financiero</option>
                                                <option value="">Fiscal</option>
                                                <option value="">Fiscalidad Contenciosa</option>
                                                <option value="">Fiscalidad Financiera</option>
                                                <option value="">Fusiones y Adquisiciones</option>
                                                <option value="">Litigación</option>
                                                <option value="">Mediación</option>
                                                <option value="">Mercado de valores</option>
                                            </select>
                                            <select id="desk" class="custom-home-select">
                                                <option value="hide">Por sector o desk</option>
                                                <option value="">Alimentación</option>
                                                <option value="">Arte</option>
                                                <option value="">Brexit</option>
                                                <option value="">Canadian Desk</option>
                                                <option value="">Ciberseguridad</option>
                                                <option value="">Consumo y Retail</option>
                                                <option value="">Deporte</option>
                                                <option value="">Empresa Familiar</option>
                                                <option value="">Energía y Recursos Naturales</option>
                                                <option value="">Farmacia y Sanitario</option>
                                            </select>
                                            <select id="office" class="custom-home-select">
                                                <option value="hide">Por oficina</option>
                                                <option value="">Barcelona</option>
                                                <option value="">Madrid</option>
                                                <option value="">Lisboa</option>
                                                <option value="">Beijing</option>
                                                <option value="">Bogotá</option>
                                                <option value="">Brussels</option>
                                                <option value="">Casablanca</option>
                                                <option value="">Lima</option>
                                                <option value="">London</option>
                                                <option value="">Luanda</option>
                                                <option value="">Maputo</option>
                                                <option value="">Mexico City</option>
                                                <option value="">New York</option>
                                                <option value="">Sao Paulo</option>
                                                <option value="">Shanghai</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="sector" role="tabpanel" aria-labelledby="sector-tab">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, quisquam qui error nesciunt illo in quaerat odit voluptatibus ratione accusantium magni et, saepe magnam provident totam. Atque est cum, laudantium. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe dolores, labore ratione quibusdam aut adipisci totam temporibus minus iusto facere explicabo nemo iste aliquid laboriosam porro maiores magni, odit eos.
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>

            <section class="container search-page">

                <!-- Search Term & Filters -->
                {# <div class="search-filters">
                    <div class="row">
                        <div class="col-12 find-lawyer">
                            <h2>Encuentra tu abogado</h2>
                            <div class="form-group">
                                <label for="" class="sr-only">Nombre abogado</label>
                                <input type="text" class="form-control" id="" placeholder="Buscar por nombre de abogado">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 filter-lawyer">
                            <h5>Filtrar por:</h5>

                            <div class="row">
                                <div class="col-md">
                                    <label for="" class="sr-only">Por servicios</label>
                                    <select class="custom-select" id="">
                                        <option selected disabled>Por servicios</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                                <div class="col-md">
                                    <label for="" class="sr-only">Por oficina</label>
                                    <select class="custom-select" id="">
                                        <option selected disabled>Por oficina</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                                <div class="col-md">
                                    <label for="" class="sr-only">Por categoría</label>
                                    <select class="custom-select" id="">
                                        <option selected disabled>Por categoría</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                                <div class="col-md">
                                    <label for="" class="sr-only">Por servicios</label>
                                    <select class="custom-select" id="">
                                        <option selected disabled>Por servicios</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> #}

                <!-- Results -->
                <div class="search-results-wrapper">

                    <!-- Pagination -->
                    <nav aria-label="page navigation">
                        <ul class="pagination justify-content-center">
                            <li class="page-item"><a class="page-link" href="{{ relative_path('/es/lawyer/filter?initial=a')}}">a</a></li>
                            <li class="page-item"><a class="page-link" href="{{ relative_path('/es/lawyer/filter?initial=b')}}">b</a></li>
                            <li class="page-item"><a class="page-link" href="{{ relative_path('/es/lawyer/filter?initial=c')}}">c</a></li>
                            <li class="page-item"><a class="page-link" href="{{ relative_path('/es/lawyer/filter?initial=d')}}">d</a></li>
                            <li class="page-item"><a class="page-link" href="{{ relative_path('/es/lawyer/filter?initial=e')}}">e</a></li>
                            <li class="page-item"><a class="page-link" href="{{ relative_path('/es/lawyer/filter?initial=f')}}">f</a></li>
                            <li class="page-item"><a class="page-link" href="{{ relative_path('/es/lawyer/filter?initial=g')}}">g</a></li>
                            <li class="page-item"><a class="page-link" href="{{ relative_path('/es/lawyer/filter?initial=h')}}">h</a></li>
                            <li class="page-item"><a class="page-link" href="{{ relative_path('/es/lawyer/filter?initial=i')}}">i</a></li>
                            <li class="page-item"><a class="page-link" href="{{ relative_path('/es/lawyer/filter?initial=j')}}">j</a></li>
                            <li class="page-item"><a class="page-link" href="{{ relative_path('/es/lawyer/filter?initial=k')}}">k</a></li>
                            <li class="page-item"><a class="page-link" href="{{ relative_path('/es/lawyer/filter?initial=l')}}">l</a></li>
                            <li class="page-item"><a class="page-link" href="{{ relative_path('/es/lawyer/filter?initial=m')}}">m</a></li>
                            <li class="page-item"><a class="page-link" href="{{ relative_path('/es/lawyer/filter?initial=n')}}">n</a></li>
                            <li class="page-item"><a class="page-link" href="{{ relative_path('/es/lawyer/filter?initial=o')}}">o</a></li>
                            <li class="page-item"><a class="page-link" href="{{ relative_path('/es/lawyer/filter?initial=p')}}">p</a></li>
                            <li class="page-item"><a class="page-link" href="{{ relative_path('/es/lawyer/filter?initial=q')}}">q</a></li>
                            <li class="page-item"><a class="page-link" href="{{ relative_path('/es/lawyer/filter?initial=r')}}">r</a></li>
                            <li class="page-item"><a class="page-link" href="{{ relative_path('/es/lawyer/filter?initial=s')}}">s</a></li>
                            <li class="page-item"><a class="page-link" href="{{ relative_path('/es/lawyer/filter?initial=t')}}">t</a></li>
                            <li class="page-item"><a class="page-link" href="{{ relative_path('/es/lawyer/filter?initial=u')}}">u</a></li>
                            <li class="page-item"><a class="page-link" href="{{ relative_path('/es/lawyer/filter?initial=v')}}">v</a></li>
                            <li class="page-item"><a class="page-link" href="{{ relative_path('/es/lawyer/filter?initial=w')}}">w</a></li>
                            <li class="page-item"><a class="page-link" href="{{ relative_path('/es/lawyer/filter?initial=x')}}">x</a></li>
                            <li class="page-item"><a class="page-link" href="{{ relative_path('/es/lawyer/filter?initial=y')}}">y</a></li>
                            <li class="page-item"><a class="page-link" href="{{ relative_path('/es/lawyer/filter?initial=z')}}">z</a></li>
                        </ul>
                    </nav>

                    <!-- Info -->
                    <div class="search-results-info">
                        <h2 class="section-header">Resultados de búsqueda</h2>
                        <div class="search-results-text">Mostramos {{ countLawyers }} perfiles que encajan con la búsqueda</div>
                    </div>
                    
                    <!-- Boxes -->
                    <div class="search-results-boxes">
                   {% for lawyer in lawyers %}
                    {% set img = relative_path('/resources/')~(lawyer.photo ? lawyer.photo.fileName : 'test.jpg' ) %}
                        <a href="{{ relative_path('/es/lawyer/detail/')}}{{ lawyer.slug  }}" class="card">
                            <figure style="background-image:url('{{ img   }}');background-size: cover; ">
                                <img src="{{ relative_path('/resources/')}}{{ (lawyer.photo ? lawyer.photo.fileName : '' ) }}" class="card-img-top d-none" alt="">
                            </figure>
                            <div class="card-body">
                                <h3 class="card-title lawyer-name">{{ lawyer.name|raw  }} {{ lawyer.surname|raw  }}</h3>
                                <div class="card-text lawyer-position">{{ ('sections.lawyers.lawyerCategoryTypes.' ~ lawyer.lawyerType) | trans }}</div>
                                <div class="card-text lawyer-location">Madrid | España</div>
                            </div>
                        </a>
                        {% endfor %} {#
                         <a href="#" class="card">
                            <figure>
                                <img src="{{ asset('web/assets/img/ehimetalor-unuabona-OK1hw9YJlt8-unsplash.jpg')|imagine_filter('square') }}" class="card-img-top" alt="">
                            </figure>
                            <div class="card-body">
                                <h3 class="card-title lawyer-name">Ainhoa Urrutikoetxea Olaizola</h3>
                                <div class="card-text lawyer-position">Socio</div>
                                <div class="card-text lawyer-location">Bilbao | España</div>
                            </div>
                        </a>
                        <a href="#" class="card">
                            <figure>
                                <img src="{{ asset('web/assets/img/luis-villasmil-WW1PtrGseBc-unsplash.jpg') }}" class="card-img-top" alt="">
                            </figure>
                            <div class="card-body">
                                <h3 class="card-title lawyer-name">Francisco Javier Gonzalez del Olmo</h3>
                                <div class="card-text lawyer-position">Socio</div>
                                <div class="card-text lawyer-location">Madrid | España</div>
                            </div>
                        </a> #}
                    </div>

                    <div class="button-wrapper">
                        <button class="btn btn-border view-more">Ver más</button>
                    </div>
                </div>

            </section>

        </article>
    </main>

    {% include 'web/shared/related-content.html.twig' %}
    {% include 'web/shared/insights.html.twig' %}

{% endblock %}
