{% extends 'web/base.html.twig' %}

{% block stylesheets %}
<!-- Slider CSS -->
<link href="{{ asset('web/vendor/swiper/css/swiper.min.css') }}" rel="stylesheet">
{% endblock %}

{% block main %}

    <main role="main" class="lawyer">
        <article class="container">

            <header class="row page__header" style="background-image: url('{{ asset('web/assets/img/martin-adams-Y8MQEl3N3Xs-unsplash.jpg') }}')">
                <div class="col">
                    <div class="info__block">
                        <h1 class="page__title">
                            {{ 'sections.lawyers.title' | trans }}
                        </h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="{{ path('home') }}">{{ 'global.home'|trans }}</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="{{ path('lawyers_index') }}">{{ 'sections.lawyers.title'|trans }}</a>
                                </li>
                            </ol>
                        </nav>
                    </div>
                    <ul class="action__links">
                        <li><a href="#"><i class="material-icons">share</i></a></li>
                        <li><a href="#"><i class="material-icons">print</i></a></li>
                        <li><a href="#"><i class="material-icons">bookmark_border</i></a></li>
                    </ul>
                </div>
            </header>

            <section class="row page__section search_box">
                <div class="col search_box__wrapper">
                    <div class="search_box__name search_box__name--full">
                            <input type="text" id="textSearch" class="form-control" placeholder="Buscar abogado" name="initial">
                            <input type="hidden" id="initial">
                            <div class="input-group">
                                <button id="searchButton" class="search_box__button" type="submit">
                                    <i class="icon ion-ios-search-strong"></i>
                                </button>
                            </div>
                    </div>
                </div>
            </section>

            <section class="row search_filters search_filters--lawyers">
                <div class="col">
                    <div class="search_selects">
                        <select id="services" class="custom__select" style="width:25%">
                            <option value="">Por servicios</option>
                            {% for practice in practices %}
                                {% if practice.translate(app.request.getLocale()).title  %}
                                    <option value="{{practice.id}}">{{ practice.translate(app.request.getLocale()).title|raw  }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <select id="sector" class="custom__select" style="width:25%">
                            <option value="">Por sector</option>
                            {% for sector in sectors %}
                                {% if sector.translate(app.request.getLocale()).title  %}
                                    <option value="{{sector.id}}">{{ sector.translate(app.request.getLocale()).title|raw  }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <select id="office" class="custom__select" style="width:25%">
                            <option value="">Por oficina</option>
                            {% for office in offices %}
                                {% if office.city  %}
                                    <option value="{{office.id}}">{{ office.city  }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <select id="category" class="custom__select" style="width:25%">
                            <option value="hide">Por categoria</option>
                            <option value="">Alimentación</option>
                            <option value="">Arte</option>
                            <option value="">Brexit</option>
                            <option value="">Canadian Desk</option>
                            <option value="">Ciberseguridad</option>
                            <option value="">Consumo y Retail</option>
                            <option value="">Deporte</option>
                            <option value="">Empresa Familiar</option>
                            <option value="">Energía y Recursos Naturales</option>
                            <option value="">Farmacia y Sanitario</option>
                        </select>
                    </div>
                    <nav class="search_alphabet" aria-label="Search by letter">
                        <ul class="pagination">
                        {% for letter in range('a','z') %}
                            <li class="page-item"><a class="page-link" href="{{ path('lawyers_index') }}?initial={{ letter }}"  data-inic="{{ letter }}">{{ letter }}</a></li>
                        {% endfor %}
                        </ul>
                    </nav>
                    <!-- <div class="search_tags__wrapper">
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            Competencia y Derecho de la UE
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div> -->
                </div>
            </section>


            <section id="lawyerAjaxResults" class="row lawyer__search">
                {% if countLawyers != ''  %}
                <div class="col">

                    <!-- Info Results -->
                    <h2 class="section__title">Resultados de búsqueda</h2>
                    <div class="lawyer__search__info">
                        <div class="lawyer__search__text">Mostramos {{ countLawyers }} perfiles que encajan con la búsqueda</div>
                        <div class="lawyer__search__chooser">
                            <button type="button" class="icon__button list">
                                <img src="{{ asset('web/assets/icons/Icons_Burgundy/Schemes&Charts/Checklist.png') }}" alt="Results lList">
                            </button>
                            <button type="button" class="icon__button grid active">
                                <img src="{{ asset('web/assets/icons/Icons_Burgundy/People/Who_is_who.png') }}" alt="Results grid">
                            </button>
                        </div>
                    </div>

                    <!-- List Results -->
                    <div class="lawyer__search__wrapper lawyer__search__wrapper--grid">
                        {% for lawyer in lawyers %}
                        <div class="lawyer__search__item" style="background-image: url('{{ asset('web/assets/img/foto-lawyer-full.jpg') }}');">
                            <a href="{{ path('lawyers_detail', {slug:lawyer.slug}) }}" class="lawyer__link">
                                <h3 class="lawyer__name">{{ lawyer.name|raw  }} {{ lawyer.surname|raw  }}</h3>
                                <div class="lawyer__details">
                                    <div class="lawyer__position">{{ ('sections.lawyers.lawyerCategoryTypes.' ~ lawyer.lawyerType) | trans }}</div>
                                    <ul class="lawyer__practice">
                                    {% if lawyer.activities %}
                                        {% for activity in lawyer.activities %}
                                            <li class="lawyer__practice__item">{{ activity.translate(app.request.getLocale()).title}}</li>
                                        {% endfor %}
                                            <li class="lawyer__practice__item">{{ lawyer.office ? lawyer.office.city : '' }}</li>
                                    {% endif %}
                                    </ul>
                                </div>
                                <img class="lawyer__photo" src="{{ asset('/web/assets/img/foto-lawyer-full.jpg')|imagine_filter('square') }}" alt="{{ lawyer.name|raw  }} {{ lawyer.surname|raw  }}">
                            </a>
                        </div>
                        {% endfor %}
                    </div>

                    {% if pagesTotal > 1 %}
                    <!-- Pagination -->
                    <nav class="search_pagination" aria-label="Results pagination">
                        <ul class="pagination" id="lawyerPagination">
                            <li class="page-item">
                                <a class="page-link"  aria-label="Previous" href="abogados{{ url }}&page=1"  data-page="1">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            {% for i in 1..pagesTotal %}
                            <li class="page-item">
                                <a class="page-link {{ i==page ? ' active' : '' }}" href="abogados{{ url }}&page={{ i }}" data-page="{{ i }}">{{ i }}</a>
                            </li>
                            {# href="filter?initial={{ app.request.get('initial') }}&page={{ i }}" data-page="{{ i }}" #}
                            {% endfor %}

                            <li class="page-item">
                                <a class="page-link" href="abogados{{ url }}&page={{ pagesTotal }}" data-page="{{ pagesTotal }}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                    {% endif %}

                </div>
            {% endif %}
            </section>

        </article>
    </main>

    {% if  countLawyers == '' %}
        {% include 'web/shared/related-content-slider.html.twig' %}
        {% include 'web/shared/insight.html.twig' %}
    {% endif %}
    {% include 'web/shared/career.html.twig' %}
    {% include 'web/shared/call-to-action.html.twig' %}

    <!-- Fake Loader -->
    <div class="lawyer__search__wrapper__loader">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
            <path fill="none" stroke="#ff5a60" stroke-width="8" stroke-dasharray="42.76482137044271 42.76482137044271" d="M24.3 30C11.4 30 5 43.3 5 50s6.4 20 19.3 20c19.3 0 32.1-40 51.4-40 C88.6 30 95 43.3 95 50s-6.4 20-19.3 20C56.4 70 43.6 30 24.3 30z" stroke-linecap="round">
                <animate attributeName="stroke-dashoffset" repeatCount="indefinite" dur="1s" keyTimes="0;1" values="0;256.58892822265625"></animate>
            </path>
        </svg>
    </div>

{% endblock %}

{% block javascripts %}
<!-- Slider JS -->
<script type="text/javascript" src="{{ asset('web/vendor/swiper/js/swiper.min.js') }}"></script>
<script>
    $( document ).ready(function() {
        web.global.customSelects();
        //web.global.lawyerResults();
        web.global.sliderGeneral();
        // Toogle Results View
        $(document).on('click', '.list', function(e){
            e.preventDefault();
            $('.icon__button.grid').removeClass('active');
            $(this).addClass('active');
            $('.lawyer__search__wrapper__loader').fadeIn('fast');
            $('.lawyer__search__wrapper').addClass('loading');
            $('.lawyer__search__wrapper').removeClass('lawyer__search__wrapper--grid');
            $('.lawyer__search__wrapper').addClass('lawyer__search__wrapper--list');
            setTimeout(
                function(){
                    $('.lawyer__search__wrapper__loader').fadeOut();
                    $('.lawyer__search__wrapper').removeClass('loading');
                }
            , 600);
        });
        $(document).on('click', '.grid', function(e){
            e.preventDefault();
            $('.icon__button.list').removeClass('active');
            $(this).addClass('active');
            $('.lawyer__search__wrapper__loader').fadeIn('fast');
            $('.lawyer__search__wrapper').addClass('loading');
            $('.lawyer__search__wrapper').removeClass('lawyer__search__wrapper--list');
            $('.lawyer__search__wrapper').addClass('lawyer__search__wrapper--grid');
            setTimeout(
                function(){
                    $('.lawyer__search__wrapper__loader').fadeOut();
                    $('.lawyer__search__wrapper').removeClass('loading');
                }
            , 600);
        });
        $('.lawyer__search__wrapper__loader').css("display", "flex").hide();

        $(document).on("click", "#searchButton", function(){
            ajax();
        });
        $(".select-options li").on("click", function(){
            ajax();
        });
        $(document).on('click', '.page-link', function(event){
            var initial = $(this).data("inic") ? $(this).data("inic") : "{{ app.request.get('initial') }}";
            if(!initial){
                $('#lawyerPagination .page-link').removeClass('active');
                $(this).addClass('active');
                var page = $(this).data("page");
            }else{
                $('.search_alphabet .page-link').removeClass('active');
                $(this).addClass('active');

            }
            if(!page){
                page=1;
            }
           ajax(page,initial);

        });

    });

    function ajax(page,initial) {
            event.preventDefault();
            textSearch = $("#textSearch").val() ? $("#textSearch").val() : "{{ app.request.get('textSearch') }}";
            services = $("#services").val() ? $("#services").val() : "{{ app.request.get('services') }}";
            sector = $("#sector").val() ? $("#sector").val() : "{{ app.request.get('sector') }}";
            office = $("#office").val() ? $("#office").val() : "{{ app.request.get('office') }}";
            initial = initial ? initial : $("#initial").val();
            var page = page ? page : $(this).data("page");
            if(!page){
                page=1;
            }
            $.ajax({
                method: "GET",
                data: { textSearch: textSearch, services: services, sector: sector, office: office,page: page,initial: initial  },
                url: "{{ path('lawyers_index') }}",
                beforeSend: function( xhr ) {
                    $('.lawyer__search__wrapper__loader').fadeIn('fast');
                }
            })
            .done(function( msg ) {
                $('.lawyer__search__wrapper__loader').fadeOut();
                $('#lawyerAjaxResults').empty();
                var url= "";
                if(msg['initial']){
                    if(url == ""){
                        url= "?initial="+msg['initial'];
                    }else{
                        url= url + "&initial="+msg['initial'];
                    }
                }
                if(msg['office']){
                    if(url == ""){
                        url= "?office="+msg['office'];
                    }else{
                        url= url + "&office="+msg['office'];
                    }
                }
                if(msg['textSearch']){
                    if(url == ""){
                        url= "?textSearch="+msg['textSearch'];
                    }else{
                        url= url + "&textSearch="+msg['textSearch'];
                    }
                }
                if(msg['services']){
                    if(url == ""){
                        url= "?services="+msg['services'];
                    }else{
                        url= url + "&services="+msg['services'];
                    }
                }
                if(msg['sector']){
                    if(url == ""){
                        url= "?sector="+msg['sector'];
                    }else{
                        url= url + "&sector="+msg['sector'];
                    }
                }
                if(msg['page']>1){
                    if(url == ""){
                        url= "?page="+msg['page'];
                    }else{
                        url= url + "&page="+msg['page'];
                    }
                }
                var html = '';
                html = `<div class="col">
                                <!-- Info Results -->
                                <h2 class="section__title">Resultados de búsqueda</h2>
                                <div class="lawyer__search__info">
                                    <div class="lawyer__search__text">Mostramos `+msg['countLawyers']+` perfiles que encajan con la búsqueda</div>
                                    <div class="lawyer__search__chooser">
                                        <button type="button" class="icon__button list">
                                            <img src="{{ asset('web/assets/icons/Icons_Burgundy/Schemes&Charts/Checklist.png') }}" alt="Results lList">
                                        </button>
                                        <button type="button" class="icon__button grid active">
                                            <img src="{{ asset('web/assets/icons/Icons_Burgundy/People/Who_is_who.png') }}" alt="Results grid">
                                        </button>
                                    </div>
                                </div>

                                <!-- List Results -->
                                <div class="lawyer__search__wrapper lawyer__search__wrapper--grid">`;
                msg['lawyers'].forEach(function(lawyer){
                    html = html + `
                        <div class="lawyer__search__item" style="background-image: url('{{ asset('web/assets/img/foto-lawyer-full.jpg') }}');">
                            <a href="`+ lawyer['Slug']  + `" class="lawyer__link">
                                <h3 class="lawyer__name">`+ lawyer['FullName']  + `</h3>
                                <div class="lawyer__details">
                                    <div class="lawyer__position">`+ lawyer['LawyerType'] + `</div>
                                    <ul class="lawyer__practice">
                                        <li class="lawyer__practice__item">`+ lawyer['activities'] + `</li>
                                        <li class="lawyer__practice__item">`+ lawyer['office'] + `</li>
                                    </ul>
                                </div>
                                <img class="lawyer__photo" src="{{ asset('/web/assets/img/foto-lawyer-full.jpg')|imagine_filter('square') }}" alt="`+ lawyer['FullName'] + `">
                            </a>
                        </div>
                    `;
                });
                html = html + `</div>`;

                    if(msg['pagesTotal']>1){
                        html = html + `<nav class="search_pagination" aria-label="Results pagination">
                                                <ul class="pagination" id="lawyerPagination">
                                                    <li class="page-item">
                                                        <a class="page-link"  aria-label="Previous" href="abogados`+url+`&page=1"  data-page="1">
                                                            <span aria-hidden="true">&laquo;</span>
                                                            <span class="sr-only">Previous</span>
                                                        </a>
                                                    </li>`;
                                                    for (var i = 1; i <= msg['pagesTotal']; i++) {
                                                    html = html + `<li class="page-item">
                                                        <a class="page-link`;
                                                    if(i==1 && !msg['page']){
                                                        html = html + ` active`;
                                                    }else{
                                                        if(i==msg['page']){
                                                            html = html + ` active`;
                                                        }
                                                    }
                                                    html = html + `" href="abogados`+url+`&page=`+i+`" data-page="`+i+`">`+i+`</a>
                                                    </li>`;
                                                    }

                                                     html = html + `<li class="page-item">
                                                        <a class="page-link" href="abogados`+url+`&page=`+ msg['pagesTotal'] + `" data-page="`+ msg['pagesTotal'] + `" aria-label="Next">
                                                            <span aria-hidden="true">&raquo;</span>
                                                            <span class="sr-only">Next</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </nav>`;
                    }
                html = html + `</div>`;
                $('#lawyerAjaxResults').append( html  );

                window.history.replaceState(null, null, "abogados"+url);
                $("#textSearch").val(textSearch);
                $("#services").val(services);
                $("#sector").val(sector);
                $("#office").val(office);
                $("#initial").val(initial);
            })
            .fail(function() {

            });
    }
</script>
{% endblock %}
