{% extends 'web/base.html.twig' %}

{% block stylesheets %}
<!-- Slider CSS -->
<link href="{{ asset('web/vendor/swiper/css/swiper.min.css') }}" rel="stylesheet">
{% endblock %}

{% block main %}

    <main role="main" class="lawyer">
        <article class="container">

            <header class="row page__header" style="background-image: url('{{ asset('web/assets/img/martin-adams-Y8MQEl3N3Xs-unsplash.jpg') }}')">
                <div class="col">
                    <div class="info__block">
                        <h1 class="page__title">
                            {{ 'sections.lawyers.title' | trans }}
                        </h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="{{ path('home') }}">{{ 'global.home'|trans }}</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="{{ path('lawyers_index') }}">{{ 'sections.lawyers.title'|trans }}</a>
                                </li>
                            </ol>
                        </nav>
                    </div>
                    <ul class="action__links">
                        <li><a href="#"><i class="material-icons">share</i></a></li>
                        <li><a href="#"><i class="material-icons">print</i></a></li>
                        <li><a href="#"><i class="material-icons">bookmark_border</i></a></li>
                    </ul>
                </div>
            </header>

            <section class="row page__section search_box">
                <div class="col search_box__wrapper">
                    <div class="search_box__name search_box__name--full">
                        <form action="{{ relative_path('/es/lawyer/filter')}}" method="get">
                            <input type="text" class="form-control" placeholder="Buscar abogado" name="initial">
                            <div class="input-group">
                                <button class="search_box__button" type="submit">
                                    <i class="icon ion-ios-search-strong"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </section>

            <section class="row search_filters search_filters--lawyers">
                <div class="col">
                    <div class="search_selects">
                        <select id="services" class="custom__select">
                            <option value="hide">Por servicios</option>
                            <option value="">Competencia y Derecho de la UE</option>
                            <option value="">Corporate Governance y Compliance</option>
                            <option value="">Derecho contable</option>
                            <option value="">Derecho Laboral</option>
                            <option value="">Financiero</option>
                            <option value="">Fiscal</option>
                            <option value="">Fiscalidad Contenciosa</option>
                            <option value="">Fiscalidad Financiera</option>
                            <option value="">Fusiones y Adquisiciones</option>
                            <option value="">Litigación</option>
                            <option value="">Mediación</option>
                            <option value="">Mercado de valores</option>
                        </select>
                        <select id="sector" class="custom__select">
                            <option value="hide">Por sector</option>
                            <option value="">Alimentación</option>
                            <option value="">Arte</option>
                            <option value="">Brexit</option>
                            <option value="">Canadian Desk</option>
                            <option value="">Ciberseguridad</option>
                            <option value="">Consumo y Retail</option>
                            <option value="">Deporte</option>
                            <option value="">Empresa Familiar</option>
                            <option value="">Energía y Recursos Naturales</option>
                            <option value="">Farmacia y Sanitario</option>
                        </select>
                        <select id="office" class="custom__select">
                            <option value="hide">Por oficina</option>
                            <option value="">Barcelona</option>
                            <option value="">Madrid</option>
                            <option value="">Lisboa</option>
                            <option value="">Beijing</option>
                            <option value="">Bogotá</option>
                            <option value="">Brussels</option>
                            <option value="">Casablanca</option>
                            <option value="">Lima</option>
                            <option value="">London</option>
                            <option value="">Luanda</option>
                            <option value="">Maputo</option>
                            <option value="">Mexico City</option>
                            <option value="">New York</option>
                            <option value="">Sao Paulo</option>
                            <option value="">Shanghai</option>
                        </select>
                        <select id="category" class="custom__select">
                            <option value="hide">Por categoria</option>
                            <option value="">Alimentación</option>
                            <option value="">Arte</option>
                            <option value="">Brexit</option>
                            <option value="">Canadian Desk</option>
                            <option value="">Ciberseguridad</option>
                            <option value="">Consumo y Retail</option>
                            <option value="">Deporte</option>
                            <option value="">Empresa Familiar</option>
                            <option value="">Energía y Recursos Naturales</option>
                            <option value="">Farmacia y Sanitario</option>
                        </select>
                    </div>
                    <nav class="search_alphabet" aria-label="Search by letter">
                        <ul class="pagination">
                        {% for letter in range('a','z') %}
                            <li class="page-item"><a class="page-link" href="{{ path('lawyers_index') }}?initial={{ letter }}">{{ letter }}</a></li>
                        {% endfor %}
                        </ul>
                    </nav>
                    <!-- <div class="search_tags__wrapper">
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            Competencia y Derecho de la UE
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div> -->
                </div>
            </section>

            {% if countLawyers != ''  %}
            <section id="lawyerAjaxResults" class="row lawyer__search">

                <div class="col">

                    <!-- Info Results -->
                    <h2 class="section__title">Resultados de búsqueda</h2>
                    <div class="lawyer__search__info">
                        <div class="lawyer__search__text">Mostramos {{ countLawyers }} perfiles que encajan con la búsqueda</div>
                        <div class="lawyer__search__chooser">
                            <button type="button" class="icon__button list">
                                <img src="{{ asset('web/assets/icons/Icons_Burgundy/Schemes&Charts/Checklist.png') }}" alt="Results lList">
                            </button>
                            <button type="button" class="icon__button grid active">
                                <img src="{{ asset('web/assets/icons/Icons_Burgundy/People/Who_is_who.png') }}" alt="Results grid">
                            </button>
                        </div>
                    </div>

                    <!-- List Results -->
                    <div class="lawyer__search__wrapper lawyer__search__wrapper--grid">
                        {% for lawyer in lawyers %}
                        <div class="lawyer__search__item" style="background-image: url('{{ asset('web/assets/img/foto-lawyer-full.jpg') }}');">
                            <a href="{{ path('lawyers_detail', {slug:lawyer.slug}) }}" class="lawyer__link">
                                <h3 class="lawyer__name">{{ lawyer.name|raw  }} {{ lawyer.surname|raw  }}</h3>
                                <div class="lawyer__details">
                                    <div class="lawyer__position">{{ ('sections.lawyers.lawyerCategoryTypes.' ~ lawyer.lawyerType) | trans }}</div>
                                    <ul class="lawyer__practice">
                                    {% if lawyer.activities %}
                                        {% for activity in lawyer.activities %}
                                            <li class="lawyer__practice__item">{{ activity.translate(app.request.getLocale()).title}}</li>
                                        {% endfor %}
                                            <li class="lawyer__practice__item">{{ lawyer.office ? lawyer.office.city : '' }}</li>
                                    {% endif %}
                                    </ul>
                                </div>
                                <img class="lawyer__photo" src="{{ asset('/web/assets/img/foto-lawyer-full.jpg')|imagine_filter('square') }}" alt="{{ lawyer.name|raw  }} {{ lawyer.surname|raw  }}">
                            </a>
                        </div>
                        {% endfor %}
                    </div>

                    {% if pagesTotal > 1 %}
                    <!-- Pagination -->
                    <nav class="search_pagination" aria-label="Results pagination">
                        <ul class="pagination" id="lawyerPagination">
                            <li class="page-item">
                                <a class="page-link"  aria-label="Previous" href="filter?initial={{ app.request.get('initial') }}&page=1"  data-page="1">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            {% for i in 1..pagesTotal %}
                            <li class="page-item">
                                <a class="page-link {{ i==page ? ' active' : '' }}" href="filter?initial={{ app.request.get('initial') }}&page={{ i }}" data-page="{{ i }}">{{ i }}</a>
                            </li>
                            {# href="filter?initial={{ app.request.get('initial') }}&page={{ i }}" data-page="{{ i }}" #}
                            {% endfor %}

                            <li class="page-item">
                                <a class="page-link" href="filter?initial={{ app.request.get('initial') }}&page={{ pagesTotal }}" data-page="{{ pagesTotal }}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                    {% endif %}

                </div>

            </section>
            {% endif %}
        </article>
    </main>

    {% if  countLawyers == '' %}
        {% include 'web/shared/related-content-slider.html.twig' %}
        {% include 'web/shared/insight-highlight.html.twig' %}
    {% endif %}
    {% include 'web/shared/career.html.twig' %}
    {% include 'web/shared/call-to-action.html.twig' %}

    <!-- Fake Loader -->
    <div class="lawyer__search__wrapper__loader">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
            <path fill="none" stroke="#ff5a60" stroke-width="8" stroke-dasharray="42.76482137044271 42.76482137044271" d="M24.3 30C11.4 30 5 43.3 5 50s6.4 20 19.3 20c19.3 0 32.1-40 51.4-40 C88.6 30 95 43.3 95 50s-6.4 20-19.3 20C56.4 70 43.6 30 24.3 30z" stroke-linecap="round">
                <animate attributeName="stroke-dashoffset" repeatCount="indefinite" dur="1s" keyTimes="0;1" values="0;256.58892822265625"></animate>
            </path>
        </svg>
    </div>

{% endblock %}

{% block javascripts %}
<!-- Slider JS -->
<script type="text/javascript" src="{{ asset('web/vendor/swiper/js/swiper.min.js') }}"></script>
<script>
    $( document ).ready(function() {
        web.global.customSelects();
        web.global.lawyerResults();
        web.global.sliderNews();

        $('#lawyerPagination').on('click', '.page-link', function(event){
            event.preventDefault();

            var page = $(this).data("page");
            if(!page){
                page=1;
            }
            var initial = "{{ app.request.get('initial') }}";
            $('#lawyerPagination .page-link').removeClass('active');
            $(this).addClass('active');
            $.ajax({
                method: "POST",
                url: "{{ path('lawyers_index') }}",
                data: { page: page, initial: initial },
                beforeSend: function( xhr ) {
                    $('.lawyer__search__wrapper__loader').fadeIn('fast');
                    $('html, body').animate({ scrollTop: $('#lawyerAjaxResults').offset().top }, 1000);
                }
            })
            .done(function( msg ) {


                $('.lawyer__search__wrapper__loader').fadeOut();
                $('.lawyer__search__wrapper').empty();

                $('html, body').animate({ scrollTop: $('#lawyerAjaxResults').offset().top }, 1000);
                var html = '';
                msg['lawyers'].forEach(function(lawyer){
                    html = html + `
                        <div class="lawyer__search__item" style="background-image: url('{{ asset('web/assets/img/foto-lawyer-full.jpg') }}');">
                            <a href="{{ relative_path('/es/lawyer/detail/')}}`+ lawyer['Slug']  + `" class="lawyer__link">
                                <h3 class="lawyer__name">`+ lawyer['FullName']  + `</h3>
                                <div class="lawyer__details">
                                    <div class="lawyer__position">`+ lawyer['LawyerType'] + `</div>
                                    <ul class="lawyer__practice">
                                        <li class="lawyer__practice__item">`+ lawyer['activities'] + `</li>
                                        <li class="lawyer__practice__item">`+ lawyer['office'] + `</li>
                                    </ul>
                                </div>
                                <img class="lawyer__photo" src="{{ asset('/web/assets/img/foto-lawyer-full.jpg')|imagine_filter('square') }}" alt="`+ lawyer['FullName'] + `">
                            </a>
                        </div>
                    `;
                });

                $('.lawyer__search__wrapper').append( html  );
                window.history.replaceState(null, null, "filter?initial="+msg['initial']+"&page="+msg['page']);
            })
            .fail(function() {
                var URLactual = window.location;
                var n = String(URLactual).search('page');
                if(n > -1){
                    URLactual = String(URLactual).slice(0, -1);
                    $(location).attr('href',URLactual+page);
                }else{
                    $(location).attr('href',URLactual+"&page="+page);
                }
            });
        });
    });
</script>
{% endblock %}
