{% extends 'web/base.html.twig' %}
{% block metaRobots %}noindex{% endblock %}
{% block stylesheets %}
<link href="{{ asset('web/vendor/swiper/css/swiper.min.css') }}" rel="stylesheet">
<link href="{{ asset('web/vendor/lity/dist/lity.min.css') }}" rel="stylesheet">
<style>
    #lawyerAjaxResults .lawyer__search__item:first-child{
        display: none;
    }
</style>
{% endblock %}
{% block main %}
<main role="main" class="lawyer">
    <article class="container">
        <header class="row page__header" style="background-image: url('{{ asset('web/assets/img/martin-adams-Y8MQEl3N3Xs-unsplash.jpg') }}')">
            <div class="col">
                <div class="info__block">
                    <h1 class="page__title">
                        {{ 'sections.lawyers.title'|trans }}
                    </h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="{{ path('home') }}">{{ 'global.home'|trans }}</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="{{ path('lawyers_index') }}">{{ 'sections.lawyers.title'|trans }}</a>
                            </li>
                        </ol>
                    </nav>
                </div>
                <ul class="action__links">
                   <li>
                    <!-- Sharingbutton Facebook -->
<a class="resp-sharing-button__link" href="https://facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.cuatrecasas.com%2F" target="_blank" rel="noopener" aria-label="">
  <div class="resp-sharing-button resp-sharing-button--facebook resp-sharing-button--small"><div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solid">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M18.77 7.46H14.5v-1.9c0-.9.6-1.1 1-1.1h3V.5h-4.33C10.24.5 9.5 3.44 9.5 5.32v2.15h-3v4h3v12h5v-12h3.85l.42-4z"/></svg>
    </div>
  </div>
</a>
</li>
<li>
<!-- Sharingbutton Tumblr -->
<a class="resp-sharing-button__link" href="https://www.tumblr.com/widgets/share/tool?posttype=link&amp;title=&amp;caption=&amp;content=https%3A%2F%2Fwww.cuatrecasas.com%2F&amp;canonicalUrl=https%3A%2F%2Fwww.cuatrecasas.com%2F&amp;shareSource=tumblr_share_button" target="_blank" rel="noopener" aria-label="">
  <div class="resp-sharing-button resp-sharing-button--tumblr resp-sharing-button--small"><div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solid">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M13.5.5v5h5v4h-5V15c0 5 3.5 4.4 6 2.8v4.4c-6.7 3.2-12 0-12-4.2V9.5h-3V6.7c1-.3 2.2-.7 3-1.3.5-.5 1-1.2 1.4-2 .3-.7.6-1.7.7-3h3.8z"/></svg>
    </div>
  </div>
</a>
</li>
<li>
<!-- Sharingbutton E-Mail -->
<a class="resp-sharing-button__link" href="mailto:?subject=&amp;body=https%3A%2F%2Fwww.cuatrecasas.com%2F" target="_self" rel="noopener" aria-label="">
  <div class="resp-sharing-button resp-sharing-button--email resp-sharing-button--small"><div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solid">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M22 4H2C.9 4 0 4.9 0 6v12c0 1.1.9 2 2 2h20c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zM7.25 14.43l-3.5 2c-.08.05-.17.07-.25.07-.17 0-.34-.1-.43-.25-.14-.24-.06-.55.18-.68l3.5-2c.24-.14.55-.06.68.18.14.24.06.55-.18.68zm4.75.07c-.1 0-.2-.03-.27-.08l-8.5-5.5c-.23-.15-.3-.46-.15-.7.15-.22.46-.3.7-.14L12 13.4l8.23-5.32c.23-.15.54-.08.7.15.14.23.07.54-.16.7l-8.5 5.5c-.08.04-.17.07-.27.07zm8.93 1.75c-.1.16-.26.25-.43.25-.08 0-.17-.02-.25-.07l-3.5-2c-.24-.13-.32-.44-.18-.68s.44-.32.68-.18l3.5 2c.24.13.32.44.18.68z"/></svg>
    </div>
  </div>
</a>
</li>
<li>
<!-- Sharingbutton LinkedIn -->
<a class="resp-sharing-button__link" href="https://www.linkedin.com/shareArticle?mini=true&amp;url=https%3A%2F%2Fwww.cuatrecasas.com%2F&amp;title=&amp;summary=&amp;source=https%3A%2F%2Fwww.cuatrecasas.com%2F" target="_blank" rel="noopener" aria-label="">
  <div class="resp-sharing-button resp-sharing-button--linkedin resp-sharing-button--small"><div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solid">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M6.5 21.5h-5v-13h5v13zM4 6.5C2.5 6.5 1.5 5.3 1.5 4s1-2.4 2.5-2.4c1.6 0 2.5 1 2.6 2.5 0 1.4-1 2.5-2.6 2.5zm11.5 6c-1 0-2 1-2 2v7h-5v-13h5V10s1.6-1.5 4-1.5c3 0 5 2.2 5 6.3v6.7h-5v-7c0-1-1-2-2-2z"/></svg>
    </div>
  </div>
</a>
</li>
                    <li><a href="#"><i class="material-icons">print</i></a></li>
                    <li><a href="#"><i class="material-icons">bookmark_border</i></a></li>
                </ul>
            </div>
        </header>
        <section class="row page__section search_box">
            <div class="col search_box__wrapper">
                <div class="search_box__name search_box__name--full">
                    <input type="text" id="textSearch" class="form-control" placeholder="{{ 'sections.lawyers.lawyerFilters.placeholder'|trans }}" name="initial">
                    <input type="hidden" id="initial">
                    <div class="input-group">
                        <button id="searchButton" class="search_box__button" type="submit">
                            <span class="icon4-lupa"></span>
                        </button>
                    </div>
                </div>
            </div>
        </section>
        <section class="row search_filters search_filters--lawyers">
            <div class="col">
                <div id="filtersButton">
                    <button type="button" class="doble__arrow__accordion">{{ 'global.messages.show_filters'|trans }}</button>
                </div>
                <div class="filtersToggle">
                    <div class="search_selects">
                        <select id="services" class="custom__select">
                            <option disabled selected>{{ 'sections.lawyers.lawyerFilters.by_services'|trans }}</option>
                            {% for practice in practices %}
                            {% if practice.translate(app.request.getLocale()).title %}
                            <option value="{{practice.id}}">{{ practice.translate(app.request.getLocale()).title|raw }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                        <select id="sector" class="custom__select">
                            <option disabled selected>{{ 'sections.lawyers.lawyerFilters.by_sector'|trans }}</option>
                            {% for sector in sectors %}
                            {% if sector.translate(app.request.getLocale()).title %}
                            <option value="{{sector.id}}">{{ sector.translate(app.request.getLocale()).title|raw }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                        <select id="office" class="custom__select">
                            <option disabled selected>{{ 'sections.lawyers.lawyerFilters.by_office'|trans }}</option>
                            {% for office in offices %}
                            {% if office.translate(app.request.getLocale()).city %}
                            <option value="{{office.id}}">{{ office.translate(app.request.getLocale()).city }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                        <select id="lawyerType" class="custom__select">
                            <option disabled selected>{{ 'sections.lawyers.lawyerFilters.by_lawyerType'|trans }}</option>
                            <option value="counsel">{{ 'sections.lawyers.lawyerCategoryTypes.associate'|trans }}</option>
                            <option value="honorary_partner">{{ 'sections.lawyers.lawyerCategoryTypes.honorary_partner'|trans }}</option>
                            <option value="honorary_president">{{ 'sections.lawyers.lawyerCategoryTypes.honorary_president'|trans }}</option>
                            <option value="managing_partner">{{ 'sections.lawyers.lawyerCategoryTypes.managing_partner'|trans }}</option>
                            <option value="no_position">{{ 'sections.lawyers.lawyerCategoryTypes.no_position'|trans }}</option>
                            <option value="partner">{{ 'sections.lawyers.lawyerCategoryTypes.partner'|trans }}</option>
                            <!--<option value="knowledge">{#{ 'sections.lawyers.lawyerCategoryTypes.knowledge'|trans }#}</option>-->
                            <option value="senior_associate">{{ 'sections.lawyers.lawyerCategoryTypes.senior_associate'|trans }}</option>
                            <option value="senior_partner">{{ 'sections.lawyers.lawyerCategoryTypes.senior_partner'|trans }}</option>
                            <!--<option value="senior_knowledge">{#{ 'sections.lawyers.lawyerCategoryTypes.senior_knowledge'|trans }#}</option>-->
                        </select>
                    </div>
                    <nav class="search_alphabet" aria-label="{{ 'sections.lawyers.lawyerFilters.by_initial'|trans }}">
                        <ul class="pagination">
                            {% for letter in range('a','z') %}
                            <li class="page-item"><a class="page-link" href="{{ path('lawyers_index') }}?initial={{ letter }}" data-inic="{{ letter }}">{{ letter }}</a></li>
                            {% endfor %}
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- Selected tags -->
            <div class="col-12" id="checksOutput" style="display:none">
                <span id="checkbox-tag-practice" class="checkbox-tag" style="display:none">
                    <span class="tag-text"></span><button type="button" class="close-tag" data-value="Practice" aria-label="close"><span aria-hidden="true" class="icon ion-android-close"></span></button>
                </span>
                <span id="checkbox-tag-sector" class="checkbox-tag" style="display:none">
                    <span class="tag-text"></span><button type="button" class="close-tag" data-value="Sector" aria-label="close"><span aria-hidden="true" class="icon ion-android-close"></span></button>
                </span>
                <span id="checkbox-tag-office" class="checkbox-tag" style="display:none">
                    <span class="tag-text"></span><button type="button" class="close-tag" data-value="Office" aria-label="close"><span aria-hidden="true" class="icon ion-android-close"></span></button>
                </span>
                <span id="checkbox-tag-lawyer-type" class="checkbox-tag" style="display:none">
                    <span class="tag-text"></span><button type="button" class="close-tag" data-value="Lawyer Type" aria-label="close"><span aria-hidden="true" class="icon ion-android-close"></span></button>
                </span>
            </div>
        </section>
        <section class="row lawyer__search" style="{{ (countLawyers == '') ?  'display: none;' : '' }} ">
            <div class="col">
                <!-- Info Results -->
                <h2 class="section__title">{{ 'sections.lawyers.lawyerFilters.search_results'|trans }}</h2>
                <div class="lawyer__search__info">
                    <div class="lawyer__search__text">{{ 'sections.lawyers.lawyerFilters.search_results_txt1'|trans }} {{ countLawyers }} {{ 'sections.lawyers.lawyerFilters.search_results_txt2'|trans }}</div>
                    <div class="lawyer__search__chooser">
                        <button type="button" class="icon__button list">
                            <span class="icon4-calendar_list"></span>
                        </button>
                        <button type="button" class="icon__button grid active">
                            <span class="icon4-grid"></span>
                        </button>
                    </div>
                </div>
                <!-- List Results -->
                <div class="lawyer__search__wrapper lawyer__search__wrapper--grid" id="lawyerAjaxResults">
                    {% if lawyers == '' %}
                    {% include '/web/lawyer/lawyerItem.html.twig' with { lawyer: [] } %}
                    {% endif %}
                    {% for lawyer in lawyers %}
                    {% include '/web/lawyer/lawyerItem.html.twig' with { lawyer: lawyer } %}
                    {% endfor %}
                </div>
                {% if pagesTotal > 1 %}
                <!-- Pagination -->
                <nav class="search_pagination" aria-label="Results pagination">
                    <ul class="pagination" id="lawyerPagination">
                        <li class="page-item">
                            <a class="page-link" aria-label="Previous" href="abogados{{ url }}&page=1" data-page="1">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        {% for i in 1..pagesTotal %}
                        <li class="page-item">
                            <a class="page-link {{ i==page ? ' active' : '' }}" href="abogados{{ url }}&page={{ i }}" data-page="{{ i }}">{{ i }}</a>
                        </li>
                        {# href="filter?initial={{ app.request.get('initial') }}&page={{ i }}" data-page="{{ i }}" #}
                        {% endfor %}
                        <li class="page-item">
                            <a class="page-link" href="abogados{{ url }}&page={{ pagesTotal }}" data-page="{{ pagesTotal }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                {% endif %}
            </div>
        </section>
    </article>
</main>
{% if countLawyers == '' %}
{% if relatedPublications|length > 0 %}
{% include 'web/shared/related-content-slider.html.twig' with { tittle: 'global.messages.related_content'|trans, publications: relatedPublications } %}
{% endif %}
{% if insights|length > 0 %}
{% include 'web/shared/insight.html.twig'  with {insight: insights|first}  %}
{% endif %}
{% endif %}
{% include 'web/shared/career.html.twig' with { classTittle: '--main'} %}
{% include 'web/shared/cta-footer.html.twig' %}
<!-- Loader -->
<div class="search__component__loader" style="display:none">
    <img src="{{ asset('web/assets/icons/Infinity-1s-200px.gif') }}" alt="">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
        <path fill="none" stroke="#ff5a60" stroke-width="8" stroke-dasharray="42.76482137044271 42.76482137044271" d="M24.3 30C11.4 30 5 43.3 5 50s6.4 20 19.3 20c19.3 0 32.1-40 51.4-40 C88.6 30 95 43.3 95 50s-6.4 20-19.3 20C56.4 70 43.6 30 24.3 30z" stroke-linecap="round">
            <animate attributeName="stroke-dashoffset" repeatCount="indefinite" dur="1s" keyTimes="0;1" values="0;256.58892822265625"></animate>
        </path>
    </svg>
</div>
{% endblock %}
{% block javascripts %}
<script type="text/javascript" src="{{ asset('web/vendor/swiper/js/swiper.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('web/assets/js/swiperInit.js') }}"></script>
<script type="text/javascript" src="{{ asset('web/vendor/lity/dist/lity.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('web/vendor/lity/dist/plugins/youtube/youtube.min.js') }}"></script>
<script>
$(function() {
    web.global.customSelects();

    // RESULTS VIEWS
    $(document).on('click', '.list', function(e) {
        e.preventDefault();
        $('.icon__button.grid').removeClass('active');
        $(this).addClass('active');
        $('.search__component__loader').fadeIn('fast');
        $('.lawyer__search__wrapper').addClass('loading');
        $('.lawyer__search__wrapper').removeClass('lawyer__search__wrapper--grid');
        $('.lawyer__search__wrapper').addClass('lawyer__search__wrapper--list');
        setTimeout(
            function() {
                $('.search__component__loader').fadeOut();
                $('.lawyer__search__wrapper').removeClass('loading');
            }, 600);
    });
    $(document).on('click', '.grid', function(e) {
        e.preventDefault();
        $('.icon__button.list').removeClass('active');
        $(this).addClass('active');
        $('.search__component__loader').fadeIn('fast');
        $('.lawyer__search__wrapper').addClass('loading');
        $('.lawyer__search__wrapper').removeClass('lawyer__search__wrapper--list');
        $('.lawyer__search__wrapper').addClass('lawyer__search__wrapper--grid');
        setTimeout(
            function() {
                $('.search__component__loader').fadeOut();
                $('.lawyer__search__wrapper').removeClass('loading');
            }, 600);
    });
    $('.search__component__loader').css("display", "flex").hide();

    // SEARCH FUNCTIONS
    $(document).on("click", "#searchButton", function() {
        ajax();
    });
    $(".select-options li").on("click", function() {
        ajax();
    });
    $(document).on('click', '.page-link', function(event) {
        var initial = $(this).data("inic") ? $(this).data("inic") : "{{ app.request.get('initial') }}";
        if (!initial) {
            $('#lawyerPagination .page-link').removeClass('active');
            $(this).addClass('active');
            var page = $(this).data("page");
        } else {
            $('.search_alphabet .page-link').removeClass('active');
            $(this).addClass('active');
            var page = $(this).data("page");

        }
        if (!page) {
            page = 1;
        }
        ajax(page, initial);
    });
});

function ajax(page, initial) {

    event.preventDefault();
    textSearch = $("#textSearch").val() ? $("#textSearch").val() : "{{ app.request.get('textSearch') }}";
    services = $("#services").val() ? $("#services").val() : "{{ app.request.get('services') }}";
    sector = $("#sector").val() ? $("#sector").val() : "{{ app.request.get('sector') }}";
    office = $("#office").val() ? $("#office").val() : "{{ app.request.get('office') }}";
    lawyerType = $("#lawyerType").val() ? $("#lawyerType").val() : "{{ app.request.get('lawyerType') }}";
    initial = initial ? initial : $("#initial").val();
    tags(services, sector, office, lawyerType);
    var page = page ? page : $(this).data("page");
    if (!page) {
        page = 1;
    }
    item = $(".lawyer__search__item").first().clone();
    $(".lawyer__search__item").first().hide();
    $.ajax({
            method: "GET",
            data: { textSearch: textSearch, services: services, sector: sector, office: office, lawyerType: lawyerType, page: page, initial: initial },
            url: "{{ path('lawyers_index') }}",
            beforeSend: function(xhr) {
                $('.search_pagination').remove();
                $('.search__component__loader').fadeIn('fast');
            }
        })
        .done(function(msg) {
            $('.search__component__loader').fadeOut();
            $('#lawyerAjaxResults').empty();
            html = '<div class="lawyer__search__item" style=""><a href="" class="lawyer__link"><h3 class="lawyer__name"> </h3><div class="lawyer__details"><ul class="lawyer__practice"><li class="lawyer__practice__item lawyer__position"></li><li class="lawyer__practice__item lawyer__activities"></li><li class="lawyer__practice__item lawyer__city"></li></ul></div></a></div>';
            $('#lawyerAjaxResults').append(html);
            var url = "";
            if (msg['initial']) {
                if (url == "") {
                    url = "?initial=" + msg['initial'];
                } else {
                    url = url + "&initial=" + msg['initial'];
                }
            }
            if (msg['office']) {
                if (url == "") {
                    url = "?office=" + msg['office'];
                } else {
                    url = url + "&office=" + msg['office'];
                }
            } else {
                $("#checkbox-tag-office").css("display", "none");
            }
            if (msg['textSearch']) {
                if (url == "") {
                    url = "?textSearch=" + msg['textSearch'];
                } else {
                    url = url + "&textSearch=" + msg['textSearch'];
                }
            }
            if (msg['services']) {
                if (url == "") {
                    url = "?services=" + msg['services'];
                } else {
                    url = url + "&services=" + msg['services'];
                }
            } else {
                $("#checkbox-tag-services").css("display", "none");
            }
            if (msg['sector']) {
                if (url == "") {
                    url = "?sector=" + msg['sector'];
                } else {
                    url = url + "&sector=" + msg['sector'];
                }
            } else {
                $("#checkbox-tag-sector").css("display", "none");
            }
            if (msg['lawyerType']) {
                if (url == "") {
                    url = "?lawyerType=" + msg['lawyerType'];
                } else {
                    url = url + "&lawyerType=" + msg['lawyerType'];
                }
            } else {
                $("#checkbox-tag-lawyer-type").css("display", "none");
            }
            if (msg['page'] > 1) {
                if (url == "") {
                    url = "?page=" + msg['page'];
                } else {
                    url = url + "&page=" + msg['page'];
                }
            }
            if(typeof msg['sector'] === 'undefined' && typeof msg['services'] === 'undefined' && typeof msg['office'] === 'undefined' && typeof msg['lawyerType'] === 'undefined') {
                $("#checksOutput").css("display", "none");
            }
            var html = '';
            $('.lawyer__search__text').text('Mostramos ' + msg['countLawyers'] + ' perfiles que encajan con la búsqueda');
            msg['lawyers'].forEach(function(lawyer) {
                item.css('background-image', 'url("' + lawyer['photo'] + '")');
                item.find("a").attr("href", lawyer['Slug']);
                item.find(".lawyer__name").text(lawyer['FullName']);
                item.find(".lawyer__position").text(lawyer['LawyerType']);
                item.find(".lawyer__activities").text(lawyer['activities']);
                item.find(".lawyer__city").text(lawyer['office']);
                $('#lawyerAjaxResults').append(item.prop('outerHTML'));
            });
            if (msg['pagesTotal'] > 1) {
                html = html + `<nav class="search_pagination" aria-label="Results pagination">
                                            <ul class="pagination" id="lawyerPagination">
                                                <li class="page-item">
                                                    <a class="page-link"  aria-label="Previous" href="abogados` + url + `&page=1"  data-page="1">
                                                        <span aria-hidden="true">&laquo;</span>
                                                        <span class="sr-only">Previous</span>
                                                    </a>
                                                </li>`;
                for (var i = 1; i <= msg['pagesTotal']; i++) {
                    html = html + `<li class="page-item">
                                                    <a class="page-link`;
                    if (i == 1 && !msg['page']) {
                        html = html + ` active`;
                    } else {
                        if (i == msg['page']) {
                            html = html + ` active`;
                        }
                    }
                    html = html + `" href="abogados` + url + `&page=` + i + `" data-page="` + i + `">` + i + `</a>
                                                </li>`;
                }

                html = html + `<li class="page-item">
                                                    <a class="page-link" href="abogados` + url + `&page=` + msg['pagesTotal'] + `" data-page="` + msg['pagesTotal'] + `" aria-label="Next">
                                                        <span aria-hidden="true">&raquo;</span>
                                                        <span class="sr-only">Next</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </nav>`;
            }
            html = html;
            $('#lawyerAjaxResults').after(html);
            $('#lawyerAjaxResults').show();
            $('.lawyer__search').show();
            window.history.replaceState(null, null, "abogados" + url);
            $("#textSearch").val(textSearch);
            $("#services").val(services);
            $("#sector").val(sector);
            $("#lawyerType").val(lawyerType);
            $("#office").val(office);
            $("#initial").val(initial);
        })
        .fail(function() {
            $('.search__component__loader').fadeOut();
        });
}

function tags(services, sector, office, lawyerType) {
    $("#checksOutput").css("display", "flex");
    if(services !== '') {
        var servicesText = $("#services option:selected" ).text();
        $("#checkbox-tag-practice span.tag-text").text(servicesText);
        $("#checkbox-tag-practice").css("display", "flex");
    }
    if(sector !== '') {
        var sectorText = $("#sector option:selected" ).text();
        $("#checkbox-tag-sector span.tag-text").text(sectorText);
        $("#checkbox-tag-sector").css("display", "flex");
    }
    if(office !== '') {
        var officeText = $("#office option:selected" ).text();
        $("#checkbox-tag-office span.tag-text").text(officeText);
        $("#checkbox-tag-office").css("display", "flex");
    }
    if(lawyerType !== '') {
        var lawyerTypeText = $("#lawyerType option:selected" ).text();
        $("#checkbox-tag-lawyer-type span.tag-text").text(lawyerTypeText);
        $("#checkbox-tag-lawyer-type").css("display", "flex");
    }

    $("#checkbox-tag-practice .ion-android-close").click(function(){
        $("#checkbox-tag-practice").css("display", "none");
        $("select#services").val($("select#services option:first").val());
        $("select#services").next(".select-styled").text($("#services option:selected" ).text());
        ajax();
        //alert($("#services option:selected" ).val());
    });
    $("#checkbox-tag-sector .ion-android-close").click(function(){
        $("#checkbox-tag-sector").css("display", "none");
        $("select#sector").val($("select#sector option:first").val());
        $("select#sector").next(".select-styled").text($("#sector option:selected" ).text());
        ajax();
    });
    $("#checkbox-tag-office .ion-android-close").click(function(){
        $("#checkbox-tag-office").css("display", "none");
        $("select#office").val($("select#office option:first").val());
        $("select#office").next(".select-styled").text($("#office option:selected" ).text());
        ajax();
    });
    $("#checkbox-tag-lawyer-type .ion-android-close").click(function(){
        $("#checkbox-tag-lawyer-type").css("display", "none");
        $("select#lawyerType").val($("select#lawyerType option:first").val());
        $("select#lawyerType").next(".select-styled").text($("#lawyerType option:selected" ).text());
        ajax();
    });
}
</script>
{% endblock %}
