{% if lawyer %}
    {% if lawyer.photo %}
        {% set photo_path = asset('/resources/' ~ lawyer.photo.fileName) | imagine_filter('lawyers_grid') %}
        {# {% set photo_path = asset('/web/assets/img/FLUF.jpg')|imagine_filter('lawyers_grid') %} #}
    {% else %}
        {% set photo_path = asset('/web/assets/img/FotoCV.jpg') | imagine_filter('lawyers_grid') %}
    {% endif %}
{% endif %}

<div class="lawyer__search__item" style="background-image: url('{{ (photo_path is defined) ? photo_path : ""}}');" itemscope itemtype="https://schema.org/Person">
    <a href="{{ (lawyer.slug is defined) ? path('lawyers_detail', {slug:lawyer.slug}) : "" }}" class="lawyer__link">
    <img src="{{ (photo_path is defined) ? photo_path : ""}}" alt="{{ lawyer.slug }}" class="sr-only">

    <h3 class="lawyer__name" itemprop="name" >{{ (lawyer.name is defined) ? lawyer.name|raw : ''  }} {{ (lawyer.surname is defined) ? lawyer.surname|raw : ''  }}</h3>
    <div class="lawyer__details">
        <ul class="lawyer__practice">
            <li class="lawyer__practice__item lawyer__position" itemprop="jobTitle">{{ (lawyer.lawyerType is defined) ? ('sections.lawyers.lawyerCategoryTypes.' ~ lawyer.lawyerType) | trans : "" }}</li>
            {% if lawyer %}
            {% if lawyer.activities %}
                {% for activity in lawyer.activities %}
                    <li class="lawyer__practice__item lawyer__activities">{{ activity.translate(app.request.getLocale()).title}}</li>
                {% endfor %}
            {% endif %}
            {% else %}
                <li class="lawyer__practice__item lawyer__activities"></li>
            {% endif %}
            {# <li class="lawyer__practice__item lawyer__city">{{ (lawyer.office is defined)  ? lawyer.office.translate(app.request.getLocale()).city : '' }}</li>     #}

            <li class="lawyer__practice__item lawyer__city">
                {% if lawyer.office is defined and lawyer.office != null %}
                    {{ lawyer.office.translate(app.request.getLocale()).city }}
                {%  endif   %}
            </li>
        </ul>
    </div>
    </a>
</div>
