{% extends 'web/base.html.twig' %}

{% block stylesheets %}
<link href="{{ asset('web/vendor/swiper/css/swiper.min.css') }}" rel="stylesheet">
<link href="{{ asset('web/vendor/lity/dist/lity.min.css') }}" rel="stylesheet">
{% endblock %}

{% block main %}

    <main role="main">
        <article class="container">

            <header class="row page__header" style="background-image: url('{{ asset('web/assets/img/andrej-lisakov-7G8ARu_DJTc-unsplash.jpg') }}')">
                <div class="col">
                    <div class="info__block">
                        <h1 class="page__title">
                            {{ publication.translate(app.request.getLocale()).title|raw }}
                            {# La Comisión Europea sanciona a NBC Universal por restringir las ventas a sus licencitarios #}
                        </h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="#">Inicio</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="#">Conocimiento</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    Artículos
                                </li>
                            </ol>
                        </nav>
                    </div>
                    <ul class="action__links">
                        <li><a href="#"><i class="material-icons">share</i></a></li>
                        <li><a href="#"><i class="material-icons">print</i></a></li>
                        <li><a href="#"><i class="material-icons">bookmark_border</i></a></li>
                    </ul>
                </div>
            </header>

            <section class="row page__block noborder">
                <div class="col">
                    <div class="page__block__title page__block__title--article">
                        <p>{{ publication.translate(app.request.getLocale()).title|raw }}</p>
                        <img src="{{ asset('/resources/' ~ publication.photo)| imagine_filter('lawyers_header') }}" alt="{{ publication.translate(app.request.getLocale()).title|raw }}">
                        <div class="article__details desktop">
                            {% for attachment in attachmentPublished %}
                                {% if attachment.type == 'article_dossier'%}
                                <a href="/resources/{{ attachment.fileName }}" class="btn btn__solid btn__solid--icon" target="_blank" alt="{{ attachment.fileName|raw}}">
                                    Descarga el dossier
                                    <span class="icon4-download"></span>
                                </a>
                                {% endif %}
                            {% endfor %}
                            <ul class="related__content related__content--lawyers">
                             {% for person in publication.people %}
                                <li class="related__content__item">
                                     {% if person.lawyer %}
                                        <a href="/abogados/{{ person.lawyer.slug  }}" class="related__content__link">
                                        {{ person.lawyer.name }} {{ person.lawyer.surname }}
                                        </a>
                                    {% else %}
                                        <a href="#" class="related__content__link">
                                        {{ person.name }} {{ person.surname }}
                                        </a>
                                    {% endif %}
                                </li>
                            {% endfor %}
                            </ul>
                            <ul class="related__content related__content--services">
                             {% for activity in publication.activities %}
                                {% set path_string = get_pathda(activity)|trans %}
                                <li class="related__services__item">
                                    <a href="{{ path(path_string, { slug: activity.translate(app.request.getLocale()).slug }) }}" class="related__services__link">
                                        {{ activity.translate(app.request.getLocale()).title|raw}}
                                    </a>
                                </li>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="page__block__content page__block__content--article">
                        {% if publication.urlVideo != ''  %}
                            {% include 'web/shared/video.html.twig' with {article: publication, imgVideo: attachmentPublished ? attachmentPublished[0].fileName : '' } %}
                        {% endif %}
                        <!-- <img src="{{ asset('web/assets/img/la-firma.jpg') }}" alt=""> -->
                        <div class="read__more">
                            {{ publication.translate(app.request.getLocale()).content|raw }}
                        </div>
                        <div class="article__details mobile">
                            {% for attachment in attachmentPublished %}
                                {% if attachment.type == 'article_dossier'%}
                                <a href="/resources/{{ attachment.fileName }}" class="btn btn__solid btn__solid--icon" target="_blank" alt="{{ attachment.fileName|raw}}">
                                    Descarga el dossier
                                    <span class="icon4-download"></span>
                                </a>
                                {% endif %}
                            {% endfor %}
                            <ul class="related__content related__content--lawyers">
                             {% for person in publication.people %}
                                <li class="related__content__item">
                                     {% if person.lawyer %}
                                        <a href="/abogados/{{ person.lawyer.slug  }}" class="related__content__link">
                                        {{ person.lawyer.name }} {{ person.lawyer.surname }}
                                        </a>
                                    {% else %}
                                        <a href="#" class="related__content__link">
                                        {{ person.name }} {{ person.surname }}
                                        </a>
                                    {% endif %}
                                </li>
                            {% endfor %}
                            </ul>
                            <ul class="related__content related__content--services">
                             {% for activity in publication.activities %}
                                {% set path_string = get_pathda(activity)|trans %}
                                <li class="related__services__item">
                                    <a href="{{ path(path_string, { slug: activity.translate(app.request.getLocale()).slug }) }}" class="related__services__link">
                                        {{ activity.translate(app.request.getLocale()).title|raw}}
                                    </a>
                                </li>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </section>

        </article>
    </main>

    {% if relatedPublications|length > 0 %}
        {% include 'web/shared/related-content-slider.html.twig' with {classTittle: '--recomended',publications: relatedPublications } %}
    {% endif %}
    {% include 'web/shared/insight.html.twig' %}
    {% include 'web/shared/cases.html.twig' with { caseStudies: caseStudiesRelated } %}
    {% include 'web/shared/cta-footer.html.twig' %}

{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{{ asset('web/vendor/swiper/js/swiper.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('web/assets/js/swiperInit.js') }}"></script>
<script type="text/javascript" src="{{ asset('web/vendor/readmore.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('web/vendor/lity/dist/lity.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('web/vendor/lity/dist/plugins/youtube/youtube.min.js') }}"></script>
<script>
    $(function () {
        $('.read__more').readmore({
            moreLink: '<button type="button" class="doble__arrow__accordion show__more">{{ 'global.messages.show_more'|trans }}</button>',
            lessLink: '<button type="button" class="doble__arrow__accordion show__less">{{ 'global.messages.show_less'|trans }}</button>',
            embedCSS: true,
            collapsedHeight: 400,
            blockProcessed: function(element, collapsable) {
                if(! collapsable) {
                    element.addClass('mask-off');
                }
            },
            beforeToggle: function(trigger, element, expanded) {
                if(expanded) {
                    element.removeClass('mask-off');
                }
                if(! expanded) {
                    element.addClass('mask-off');
                }
            },
            afterToggle: function(trigger, element, expanded) {
                if(! expanded) {
                    if (window.matchMedia('(max-width: 1199px)').matches) {
                        $('html, body').animate({scrollTop: element.offset().top - 20}, {duration: 'slow'});
                    } else {
                        $('html, body').animate({scrollTop: element.offset().top - 120}, {duration: 'slow'});
                    }
                }
            }
        });
    });
</script>
{% endblock %}
