{% extends 'web/base.html.twig' %}

{% block stylesheets %}
<!-- Slider CSS -->
<link href="{{ asset('web/vendor/swiper/css/swiper.min.css') }}" rel="stylesheet">
<!-- Responsive Table CSS -->
<link href="{{ asset('web/vendor/tablesaw/stackonly/tablesaw.stackonly.css') }}" rel="stylesheet">
{% endblock %}

{% block main %}
{% set fecha = event.startDate |format_datetime('long', 'none',locale='es')|split(' ') %}
{% set customAddress = event.translate(app.request.getLocale()).customAddress| replace({"<BR>":"<br>"}) |split('<br>') %}
    <main role="main">
        <article class="container">

            <header class="row page__header page__header--opacity" style="background-image: url('{{ asset('web/assets/img/eric-rothermel-FoKO4DpXamQ-unsplash.jpg') }}')">
                <div class="col">
                    <div class="info__block">
                        <h1 class="page__title">
                            {{ event.translate(app.request.getLocale()).title|raw }}
                        </h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="#">Inicio</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="#">Conocimiento</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    Eventos
                                </li>
                            </ol>
                        </nav>
                    </div>
                    <ul class="action__links">
                        <li><a href="#"><i class="material-icons">share</i></a></li>
                        <li><a href="#"><i class="material-icons">print</i></a></li>
                        <li><a href="#"><i class="material-icons">bookmark_border</i></a></li>
                    </ul>
                </div>
            </header>

            <!-- Details -->
            <section class="row page__event">
                <div class="col">
                    <div class="page__event__content">
                        <!-- duplicate event info -->
                        <div class="boxnews__content" id="eventMainInfo" style="display:none">
                            <div class="place">
                                <a href="#">{{ customAddress|last }}</a>
                                <br>
                                {{ customAddress[:-1]|join(' ') }}
                            </div>
                            <div class="date">
                                <!-- 26 Febrero 2020 a 8 Marzo 2020 <br> -->
                                {{ fecha[0] }} {{ fecha[1:]|join(' ') }}
                                <br>
                                {{ event.startDate |format_datetime('none', 'short',locale='es') }} — {{ event.endDate |format_datetime('none', 'short',locale='es') }}
                                {#{ event.translate(app.request.getLocale()).schedule|raw }#}
                            </div>
                            <div class="author">
                                <a href="#">{{ event.contact ? event.contact : '' }}</a>
                                <br>
                                {{ (event.phone) ? event.phone : '' }}
                            </div>
                        </div>

                        {{ event.translate(app.request.getLocale()).description|raw }}
                        <button type="button" class="doble__arrow__button">Ver más</button>
                        <div class="page__event__details">
                            {% for attachment in event.attachments %}
                                <a href="/resources/{{ attachment.fileName }}" class="btn btn__solid btn__solid--icon" target="_blank" alt="{{ attachment.fileName|raw}}">
                                    Descarga el dossier
                                    <i class="icon ion-ios-download-outline"></i>
                                </a>
                            {% endfor %}
                            <div class="page__event__info">
                                <div data-author>{{ fecha[0] }} {{ fecha[1:]|join(' ') }}</div>
                                <div data-reading>8' lectura</div>
                            </div>
                            <ul class="related__services">
                                {% for activity in event.activities %}
                                <li class="related__services__item">
                                    <a href="#" class="related__services__link">
                                        {{ activity.translate(app.request.getLocale()).title|raw}}
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="page__event__aside">
                        <article class="boxnews__item boxnews__item--event sticky-top">

                            <div class="boxnews__header">
                                <div class="boxnews__type">Evento</div>
                            </div>

                            <div class="boxnews__content" id="eventBoxInfo">
                                <div class="place">
                                    <a href="#">{{ customAddress|last }}</a>
                                    <br>
                                    {{ customAddress[:-1]|join(' ') }}
                                </div>
                                <div class="date">
                                    <!-- 26 Febrero 2020 a 8 Marzo 2020 <br> -->
                                    {{ fecha[0] }} {{ fecha[1:]|join(' ') }}
                                    <br>
                                    {{ event.startDate |format_datetime('none', 'short',locale='es') }} — {{ event.endDate |format_datetime('none', 'short',locale='es') }}
                                    {#{ event.translate(app.request.getLocale()).schedule|raw }#}
                                </div>
                                <div class="author">
                                    <!-- 10.30 — 14.30 <br> -->
                                    <a href="#">{{ event.contact ? event.contact : '' }}</a>
                                    <br>
                                    {{ (event.phone) ? event.phone : '' }}
                                </div>
                                <button type="button" class="btn btn__arrow" id="botPreReg">Inscribirme</button>
                            </div>

                            <div class="boxnews__content" id="eventBoxForm" style="display:none">
                                <div class="txt__fill__form">Rellenar los datos para lorem ipsum dolor sit amet</div>
                                <div class="txt__required__fields">* Campos requeridos</div>

                                <form action="javascript:void(0);">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="eFirstName" placeholder="Nombre *" required>
                                        {# <div class="valid-feedback">It's ok</div> #}
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="eLastName" placeholder="Apellidos *" required>
                                        {# <div class="invalid-feedback">It's not ok</div> #}
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="eEmail" placeholder="Email *" required>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="ePosition" placeholder="Cargo *" required>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="eCompany" placeholder="Empresa *" required>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="eAddress" placeholder="Dirección *" required>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="ePostalCode" placeholder="CP *" required>
                                    </div>
                                    <div class="form-group">
                                        <select id="eCountry" class="form-control custom-select" required>
                                            <option value="" selected disabled>País *</option>
                                            {% for pais in paises %}
                                                <option value="{{ pais.IdPais }}" id="{{ pais.IdPais }}" >{{ pais.Nombre }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <select id="eRegion" class="form-control custom-select" required>
                                            <option value="" selected disabled>Provincia *</option>
                                            <option value="15">A coru&#241;a</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="eTel" placeholder="Teléfono *" required>
                                    </div>
                                    <button type="submit" class="btn btn__solid__arrow btn__solid__arrow--nohover" >Inscribirme</button>
                                </form>
                            </div>

                        </article>
                    </div>
                </div>
            </section>

            <!-- Speakers -->
            <section class="row page__block">
                <div class="col">
                    <div class="page__block__title">
                        <h2 class="subsection__title">Ponentes</h2>
                    </div>
                    <div class="page__block__content">
                        <div class="lawyer__search__wrapper lawyer__search__wrapper--speakers">
                            {% for speaker in event.people %}
                            <div class="lawyer__search__item">
                                <a href="#" class="lawyer__link">
                                    <h3 class="lawyer__name">{{ speaker.lawyer.name }} {{ speaker.lawyer.surname }}</h3>
                                    <div class="lawyer__details">
                                        <div class="lawyer__company">
                                            Cuatrecasas
                                        </div>
                                        <ul class="lawyer__practice">
                                            <li class="lawyer__practice__item">{{ ('sections.lawyers.lawyerCategoryTypes.' ~ speaker.lawyer.lawyerType) | trans }}</li>
                                            <li class="lawyer__practice__item">{{ speaker.lawyer.office ? speaker.lawyer.office.city : '' }}</li>
                                        </ul>
                                    </div>
                                </a>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </section>

            <!-- Programme -->
            <section class="event__programme">
                <div class="container">
                    <div class="row page__section">
                        <div class="col">
                            <h4 class="section__title section__title--programme">Programa</h4>
                            <table class="table tablesaw tablesaw-stack" data-tablesaw-mode="stack">
                                <thead>
                                    <tr>
                                        <th class="time" scope="col" data-tablesaw-sortable-col data-tablesaw-priority="persist">Hora</th>
                                        <th class="content" scope="col" data-tablesaw-sortable-col data-tablesaw-priority="persist">Título</th>
                                        <th class="speaker" scope="col" data-tablesaw-sortable-col data-tablesaw-priority="persist">Ponente</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="time">10.30 — 12.30</td>
                                        <td class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ligula ullamcorper malesuada proin libero nunc.</td>
                                        <td class="speakers">
                                            <ul class="speakers__list">
                                                <li><a href="#">Pilar Cavero</a></li>
                                                <li><a href="#">Francisco Conde</a></li>
                                                <li>Javier García</li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="time">15.00 — 16.30</td>
                                        <td class="content">Morbi tincidunt ornare massa eget egestas. Vehicula ipsum a arcu cursus. Nec feugiat nisl pretium fusce id velit ut tortor.</td>
                                        <td class="speakers">
                                            <ul class="speakers__list">
                                                <li><a href="#">Juan Antonio Linares</a></li>
                                                <li><a href="#">Fedra Valencia</a></li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="time">17.00 — 18.00</td>
                                        <td class="content">Fermentum iaculis eu non diam phasellus vestibulum lorem. Vel orci porta non pulvinar neque laoreet suspendisse interdum consectetur.</td>
                                        <td class="speakers">
                                            <ul class="speakers__list">
                                                <li><a href="#">Fernando Moreno</a></li>
                                                <li><a href="#">Álvaro Antón</a></li>
                                            </ul>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>

            <!-- <section class="row page__event__full">
                <div class="col">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis asperiores eos totam enim molestias. Magnam minima placeat neque, quaerat esse itaque facilis labore quia, dignissimos debitis, quidem, tempora obcaecati ipsa.</p>
                </div>
            </section> -->

            <!-- <section class="container">
                <div class="row">
                    <div class="col-md-8 article-section detail">
                        {{ event.translate(app.request.getLocale()).description|raw  }}
                    </div>
                    <aside class="col-md-4 article-aside">
                        <section class="practical-information sticky-top">
                            <h3>Información práctica</h3>
                            <div class="information-wrapper">
                                <div class="date">
                                    <strong>{{ fecha[0]  }}</strong>
                                    {{  fecha[1:]|join(' ') }}
                                </div>
                                <time class="time">
                                    {{ event.translate(app.request.getLocale()).schedule|raw  }}
                                </time>
                                <address class="address">
                                    <span class="city">{{  customAddress|last }}</span>
                                    <span class="location"> {{ customAddress[:-1]|join(' ') }}
                                    </span>
                                </address>
                                <div class="contact">
                                    <span class="name">
                                        {{ event.contact ? event.contact : 'Marga Zaragoza' }}
                                    </span>
                                    <span class="tel">
                                        {{ (event.phone) ? event.phone : '684 25 83 57' }}
                                    </span>
                                </div>
                                <button class="btn btn-main hover-white btn-arrow">Inscribirme</button>
                            </div>
                        </section>
                        <section class="documentation">
                            <h3>Documentacion</h3>
                            <ul>
                                {% for attachment in event.attachments %}
                                    <li><a href="#">{{ attachment.fileName|raw}}</a></li>
                                {% endfor %}
                            </ul>
                        </section>
                        <section class="related-services-detail">
                            <h3>Servicios relacionados</h3>
                            <ul class="d-flex flex-wrap">
                            {% for activity in event.activities %}
                                <li><a href="#">{{ activity.translate(app.request.getLocale()).title|raw}}</a></li>
                            {% endfor %}
                            </ul>
                        </section>
                    </aside>
                </div>
            </section> -->

        </article>
    </main>

    {% include 'web/shared/related-events-slider.html.twig' %}
    {% include 'web/shared/related-content-slider.html.twig' %}
    {% include 'web/shared/call-to-action.html.twig' %}

{% endblock %}

{% block javascripts %}
<!-- Slider JS -->
<script type="text/javascript" src="{{ asset('web/vendor/swiper/js/swiper.min.js') }}"></script>
<script>
    $( document ).ready(function() {
        web.global.sliderGeneral();

        // EVENT BOX
        $('#eventMainInfo').hide();
        $('#eventBoxForm').hide();

        $("#botPreReg").click( function() {
            $('.boxnews__header').hide();
            $('#eventBoxInfo').hide();
            $('#eventBoxForm').show();
            $('#eventMainInfo').show();
        });
        $("#eventBoxForm .btn").click( function() {
            $("#eventBoxForm .form-control").removeClass('is-valid');
            $("#eventBoxForm .form-control").removeClass('is-invalid');
            var contacto =  validation();
            if(contacto){
                $.ajax({
                    method: "GET",
                    data: { contacto: JSON.stringify(contacto)  },
                    url: "{{ path('set_event_contact') }}",
                    beforeSend: function( xhr ) {
                    }
                    })
                .done(function( data ) {
                    console.log(data);
                })
                .fail(function() {
                });
            }
            


                 
        });
        $("#eCountry").change( function() {
            var idCountry  =  $('#eCountry').val();
            var idCountry  =  $('#eCountry').val();
             $.ajax({
                    method: "GET",
                    data: { idCountry: idCountry  },
                    url: "{{ path('get_regions') }}",
                    beforeSend: function( xhr ) {
                    }
                    })
                .done(function( data ) {
                    var html = '';
                    JSON.parse(data).forEach(function(region){
                        html = html + `<option value="`+region['IdProvincia']+`">`+region['Nombre']+`</option>`;
                    })
                    $('#eRegion').append( html  );
                })
                .fail(function() {
                });
        });
        
        function validation() {

            var contacto =  {};
            var isvalidate = true;
            if($("#eFirstName").val()){
                $("#eFirstName").addClass('is-valid');
                contacto['Nombre']= $("#eFirstName").val();
            }else{
                isvalidate = false;
                $("#eFirstName").addClass('is-invalid');
            }

            if($("#eLastName").val()){
                $("#eLastName").addClass('is-valid');
                contacto['Apellidos']= $("#eLastName").val();
            }else{
                $("#eLastName").addClass('is-invalid');
                isvalidate = false;
            }

            if($("#eEmail").val()){
                $("#eEmail").addClass('is-valid');
                contacto['Email']= $("#eEmail").val();
            }else{
                $("#eEmail").addClass('is-invalid');
                isvalidate = false;
            }

            if($("#ePosition").val()){
                $("#ePosition").addClass('is-valid');
                contacto['Cargo']= $("#ePosition").val();
            }else{
                $("#ePosition").addClass('is-invalid');
                isvalidate = false;
            }

            if($("#eCompany").val()){
                $("#eCompany").addClass('is-valid');
                contacto['Empresa']= $("#eCompany").val();
            }else{
                $("#eCompany").addClass('is-invalid');
                isvalidate = false;
            }

            if($("#eAddress").val()){
                $("#eAddress").addClass('is-valid');
                contacto['Direccion']= $("#eAddress").val();
            }else{
                $("#eAddress").addClass('is-invalid');
                isvalidate = false;
            }

            if($("#ePostalCode").val()){
                $("#ePostalCode").addClass('is-valid');
                contacto['CodigoPostal']= $("#ePostalCode").val();
            }else{
                $("#ePostalCode").addClass('is-invalid');
                isvalidate = false;
            }
            
            if($("#eCountry").val()){
                $("#eCountry").addClass('is-valid');
                contacto['IdPais']= $("#eCountry").val();
            }else{
                $("#eCountry").addClass('is-invalid');
                isvalidate = false;
            }

            if($("#eRegion").val()){
                $("#eRegion").addClass('is-valid');
                contacto['IdProvincia']= $("#eRegion").val();
            }else{
                $("#eRegion").addClass('is-invalid');
                isvalidate = false;
            }

            if($("#eTel").val()){
                $("#eTel").addClass('is-valid');
                contacto['Telefono']= $("#eTel").val();
            }else{
                $("#eTel").addClass('is-invalid');
                isvalidate = false;
            }

            if(isvalidate){
                return contacto;
            }else{
                return isvalidate;
            }
            
        }
        

    });
</script>
{% endblock %}
