{% extends 'web/baseCalendar.html.twig' %}
{% block main %}
<main role="main" class="">
    <article class="blog-article">
        <header id="page-header">
            <figure class="full-width">
                <img class="vt45" src="{{ asset('web/assets/img/christian-perner-fYO1T495QCM-unsplash.jpg') }}" alt="">
            </figure>
            <div class="container">
                <div class="row">
                    <div class="col-8">
                        <div class="header-info d-flex flex-column">
                            {# <big class="hash-text">SectoresCuatrecasas</big> #}
                            <h1 class="order-2">
                                Próximos Eventos
                            </h1>
                            <nav class="order-1" aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">Inicio</a></a></li>
                                    <li class="breadcrumb-item"><a href="#">Sectores</a></a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Lorem ipsum dolor</li>
                                </ol>
                            </nav>
                            <ul class="action-icons order-3">
                                <li><a href="#"><i class="material-icons">share</i></a></li>
                                <li><a href="#"><i class="material-icons">print</i></a></li>
                                <li><a href="#"><i class="material-icons">picture_as_pdf</i></a></li>
                                <li><a href="#"><i class="material-icons">bookmark_border</i></a></li>
                            </ul>
                            {# <a href="#" class="back-button">volver</a> #}
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <section class="event-info-wrapper">
            <div class="container">
                <div class="row event-search">
                    <div class="col-8 form-group">
                        <div class="search-name">
                            <input type="text" class="form-control" placeholder="Buscar">
                            <div class="input-group">
                                <button class="" type="button">
                                    <i class="icon ion-ios-search-strong"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 form-group">
                        <a href="#" class="toggle-filters" data-text-original="Mostrar filtros" data-text-swap="Ocultar filtros">Mostrar filtros</a>
                    </div>
                </div>
                <div class="row event-filters">
                    <div class="col form-group">
                        <div class="event-filters-selects">
                            <div class="filter-toggler">Ciudad</div>
                            <div class="filter-toggler">Expertise</div>
                            <div class="filter-toggler fecha">Fecha</div>
                            <div id="datePicker" class="input-group date">
                                <input type="text" class="input-date" placeholder="Selecciona una fecha">
                                <span class="input-group-addon"><i class="material-icons">event</i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        {% include 'web/shared/slider-events.html.twig' %}

        <section class="event-results-wrapper">
            <div class="container">
                <div class="row event-toolbar d-flex justify-content-between">
                    <ul class="event-chooser">
                        <li><a href="#" class="no-link"><img src="{{ asset('web/assets/icons/calendar-small.png') }}" alt=""> Ver todos los eventos</a></li>
                        <li><a href="#" class="no-link"><img src="{{ asset('web/assets/icons/favorite.png') }}" alt=""> Ver eventos favoritos</a></li>
                    </ul>
                    <ul class="event-view">
                        <li><a href="#" id="viewEventList"><img src="{{ asset('web/assets/icons/list.png') }}" alt="list view"></a></li>
                        <li><a href="#" id="viewEventCalendar"><img src="{{ asset('web/assets/icons/calendar.png') }}" alt="calendar view"></a></li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div id="eventCalendar" style="display:none"></div>
                        <div id="eventList">
                            <article class="event-box">
                                <div class="event-info">
                                    <div class="event-dates">
                                        <div data-day>24 Feb</div>
                                        <div data-year>2019</div>
                                    </div>
                                    <ul class="event-actions">
                                        <li><a href="#" class="button-favorite" data-text-original="Añadir favorito" data-text-swap="Quitar favorito">Añadir favorito</a></li>
                                        <li><a href="#" class="button-calendar" data-text-original="Añadir calendario" data-text-swap="Quitar calendario">Añadir calendario</a></li>
                                    </ul>
                                </div>
                                <div class="event-details">
                                    <div data-when>De 18.30 a 22 h <span data-duration>(3,5 horas)</span></div>
                                    <div data-where><i class="material-icons">place</i> Barcelona</div>
                                    <h2 data-info>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqu minim veniam quis exercitation ullamco.</h2>
                                </div>
                                <div class="event-button">
                                    <a href="#" class="btn-arrow-new">inscribirme</a>
                                </div>
                            </article>
                            <article class="event-box">
                                <div class="event-info">
                                    <div class="event-dates">
                                        <div data-day>24 Feb</div>
                                        <div data-day>02 Mar</div>
                                        <div data-year>2019</div>
                                    </div>
                                    <ul class="event-actions">
                                        <li><a href="#" class="button-favorite" data-text-original="Añadir favorito" data-text-swap="Quitar favorito">Quitar favorito</a></li>
                                        <li><a href="#" class="button-calendar" data-text-original="Añadir calendario" data-text-swap="Quitar calendario">Quitar calendario</a></li>
                                    </ul>
                                </div>
                                <div class="event-details">
                                    <div data-when>De 10 a 12 h <span data-duration>(2 horas)</span></div>
                                    <div data-where><i class="material-icons">place</i> Lisboa</div>
                                    <h2 data-info>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt tincidunt tortor aliquam nulla. Purus in mollis nunc sed id semper risus libero volutpat sed.</h2>
                                </div>
                                <div class="event-button">
                                    <a href="#" class="btn-arrow-new">inscribirme</a>
                                    {# <a href="#" class="btn-arrow-new"><span>inscribirme</span></a> #}
                                    {# <a href="#" class="mainBttn">
                                        <div class="mainBttn__text">inscribirme</div>
                                        <div class="mainBttn__border"></div>
                                        <div class="mainBttn__bg"></div>
                                    </a> #}
                                </div>
                            </article>
                            <article class="event-box">
                                <div class="event-info">
                                    <div class="event-dates">
                                        <div data-day>24 Feb</div>
                                        <div data-year>2019</div>
                                    </div>
                                    <ul class="event-actions">
                                        <li><a href="#" class="button-favorite" data-text-original="Añadir favorito" data-text-swap="Quitar favorito">Añadir favorito</a></li>
                                        <li><a href="#" class="button-calendar" data-text-original="Añadir calendario" data-text-swap="Quitar calendario">Añadir calendario</a></li>
                                    </ul>
                                </div>
                                <div class="event-details">
                                    <div data-when>De 18.30 a 22 h <span data-duration>(3,5 horas)</span></div>
                                    <div data-where><i class="material-icons">place</i> Barcelona</div>
                                    <h2 data-info>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqu minim veniam quis exercitation ullamco.</h2>
                                    <ul class="speakers-wrapper">
                                        <li data-speakers>
                                            <figure data-speaker-photo>
                                                <img src="{{ asset('web/assets/img/peter-van-eijk-eiDw0oX8YQQ-unsplash.jpg') }}" alt="Nombre Apellido">
                                            </figure>
                                            <div data-speaker-details>
                                                <div data-speaker-name>José Luis Gutierrez García</div>
                                                <div data-speaker-position>Asociado senior</div>
                                            </div>
                                        </li>
                                        <li data-speakers>
                                            <figure data-speaker-photo>
                                                <img src="{{ asset('web/assets/img/yuliya-kosolapova-6agC_7WU5_0-unsplash.jpg') }}" alt="Nombre Apellido">
                                            </figure>
                                            <div data-speaker-details>
                                                <div data-speaker-name>Paloma Gómez Pascual</div>
                                                <div data-speaker-position>Asociada senior</div>
                                            </div>
                                        </li>
                                        <li data-speakers>
                                            <figure data-speaker-photo>
                                                <img src="{{ asset('web/assets/img/anastasia-vityukova-S9gIUu5riYs-unsplash.jpg') }}" alt="Nombre Apellido">
                                            </figure>
                                            <div data-speaker-details>
                                                <div data-speaker-name>María Gomez Urrutia</div>
                                                <div data-speaker-position>Asociada senior</div>
                                            </div>
                                        </li>
                                        <li data-speakers>
                                            <figure data-speaker-photo>
                                                <img src="{{ asset('web/assets/img/reza-biazar-eSjmZW97cH8-unsplash.jpg') }}" alt="Nombre Apellido">
                                            </figure>
                                            <div data-speaker-details>
                                                <div data-speaker-name>Juan José Lopez Fernández</div>
                                                <div data-speaker-position>Asociado senior</div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="event-button">
                                    <a href="#" class="btn-arrow-new">inscribirme</a>
                                </div>
                            </article>
                            <div class="button-wrapper">
                                <button class="btn btn-color ">Cargar más</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </article>
</main>
{% include 'web/shared/insights.html.twig' %}
{% endblock %}

{% block javascripts %}
<script>
    $(document).ready(function () {
        var mySwiper = new Swiper ('#sliderEvents', {
            loop: true,
            // autoplay: {
            //     delay: 5000,
            // },
            // effect: 'fade',
            // fadeEffect: {
            //     crossFade: true
            // },
            // navigation: {
            //     nextEl: '.swiper-button-next',
            //     prevEl: '.swiper-button-prev',
            // },
            pagination: {
                el: '.swiper-pagination',
                clickable: true
                // dynamicBullets: true,
            },
        })

        // Show / hide filters
        $('.toggle-filters').click(function(e){
            e.preventDefault();
            $('.event-filters').slideToggle();

            $('#datePicker').hide();
            $('#datePicker .input-date').val('');
            $('#datePicker ').datepicker('update');
        });

        // Toggle text literal buttons
        $('.toggle-filters, .button-favorite, .button-calendar').click(function(e){
            e.preventDefault();
            $(this).toggleClass('on');

            var el = $(this);
            el.text() == el.data("text-original")
                ? el.text(el.data("text-swap"))
                : el.text(el.data("text-original"));
        });

        $('.no-link').click(function(e){
            e.preventDefault();
        });

        // Load DatePicker
        var bd = $('<div class="modal-backdrop calendar"></div>');

        $('#datePicker').datepicker({
            weekStart: 1,
            // todayHighlight: true,
            autoclose: true,
            // clearBtn: true,
            orientation: "left bottom",
            language: "es"
        })
        .on('show', function(e) {
            bd.appendTo(document.body);
        })
        .on('hide', function(e) {
            bd.remove();
        });

        // Toggle calendar
        $('.filter-toggler.fecha').click(function(e){
            e.preventDefault();
            $('#datePicker').toggle();
            $('#datePicker .input-date').val('');
            $('#datePicker ').datepicker('update');
        });

    });

    // Events list & calendar stuff
    document.addEventListener('DOMContentLoaded', function() {

        var eventList = document.getElementById('eventList');
        var calendarEl = document.getElementById('eventCalendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
            plugins: [ 'dayGrid' ],
            defaultView: 'dayGridMonth',
            locale: 'es',
            weekNumberCalculation: 'ISO',
            columnHeaderFormat: { weekday: 'long' },
            header: {
              left: 'prev',
              center: 'title',
              right: 'next'
            },
            height: 'auto',
            events: [
              {
                "url":"https:\/\/www.cuatrecasas.com\/",
                // "title":"\"Quick fixes\": análisis detallado de las novedades en el régimen...",
                "title":"\"Quick fixes\": análisis detallado de las novedades en el régimen...",
                "start":"2020-02-01",
                place: 'Barcelona'
              },
              {
                "url":"https:\/\/www.cuatrecasas.com\/",
                "title":"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua",
                "start":"2020-02-04",
                "end":"2020-02-06",
                place: 'Lisboa'
              },
              {
                "url":"https:\/\/www.cuatrecasas.com\/",
                // "title":"\"Quick fixes\": análisis detallado de las novedades en el régimen...",
                "title":"\"Quick fixes\": análisis detallado de las novedades en el régimen...",
                "start":"2020-02-07"
              },
              {
                "url":"https:\/\/www.cuatrecasas.com\/",
                "title":"Conference lorem ipsum dolor sit amet, consectetur adipiscing elit",
                "start":"2020-02-12",
                "end":"2020-02-14",
                place: 'Madrid'
              },
              {
                "url":"https:\/\/www.cuatrecasas.com\/",
                "title":"Meeting lorem ipsum dolor sit amet, consectetur adipiscing elit",
                "start":"2020-02-13T10:30:00+00:00",
                "end":"2020-02-13T12:30:00+00:00",
                place: 'Barcelona'
              },
              {
                "url":"https:\/\/www.cuatrecasas.com\/",
                "title":"Meeting",
                "start":"2020-02-17T10:00:00+00:00",
                "end":"2020-02-18T10:00:00+00:00",
                place: 'Barcelona'
              },
              {
                "url":"https:\/\/www.cuatrecasas.com\/",
                "title":"Lunch",
                "start":"2020-02-17T12:00:00+00:00",
                place: 'Barcelona'
              },
              {
                "url":"https:\/\/www.cuatrecasas.com\/",
                "title":"Vestibulum lorem sed risus ultricies tristique nulla aliquet enim pulvinar sapien condimentum lacinia quis",
                "start":"2020-02-26",
                "end":"2020-02-29",
                place: 'Barcelona'
              },
              {
                "url":"https:\/\/www.cuatrecasas.com\/",
                "title":"Meeting lorem ipsum dolor sit amet, consectetur adipiscing elit",
                "start":"2020-03-10T10:30:00+00:00",
                "end":"2020-03-12T12:30:00+00:00",
                place: 'Barcelona'
              },
            ],
            eventRender: function (info) {
                if (info.event.extendedProps.place) {
                    info.el.firstChild.innerHTML = "<div class=\"fc-title\">"+ info.event.title +"</div><div class=\"fc-place\">"+ info.event.extendedProps.place +"</div>";
                }
            }
        });

        $('#viewEventCalendar').click(function(e){
            e.preventDefault();

            // Load Calendar
            calendar.render();

            $('#eventCalendar').show();
            $('#eventList').hide();
        });

        $('#viewEventList').click(function(e){
            e.preventDefault();

            // Remove Calendar
            calendar.destroy();

            $('#eventCalendar').hide();
            $('#eventList').show();
        });
    });
</script>
{% endblock %}

