{% extends 'web/base.html.twig' %}

{% block stylesheets %}
<link href="{{ asset('web/vendor/swiper/css/swiper.min.css') }}" rel="stylesheet">
<link href="{{ asset('web/vendor/lity/dist/lity.min.css') }}" rel="stylesheet">
{% endblock %}

{% block main %}

    <main role="main">

        <div class="container">
            <header class="row page__header" style="background-image: url('{{ asset('web/assets/img/la-firma.jpg') }}')">
                <div class="col">
                    <div class="info__block">
                        <h1 class="page__title">
                            {{ 'menu.career.international'|trans }}
                        </h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="{{ path('home') }}">{{ 'global.home'|trans }}</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    {{ 'menu.career.international'|trans }}
                                </li>
                            </ol>
                        </nav>
                    </div>
                    {% include 'web/base/social-share.html.twig' %}
                </div>
            </header>
        </div>

        <div class="container-fluid">
            <section class="faketabs__component">
                <div class="row">
                    <div class="col faketabs__component__tabs faketabs__component__tabs--career">
                        <ul class="nav">
                            <li class="nav-item">
                                <a href="{{ path('talent',{ slug: 'talent'~slug_ext }) }}" class="nav-link">{{ 'menu.career.career'|trans }}</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('talent',{ slug: 'live'~slug_ext }) }}" class="nav-link">{{ 'menu.career.live'|trans }}</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('talent',{ slug: 'revolution'~slug_ext }) }}" class="nav-link">{{ 'menu.career.revolution'|trans }}</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('talent',{ slug: 'learn'~slug_ext }) }}" class="nav-link">{{ 'menu.career.learn'|trans }}</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('talent',{ slug: 'international'~slug_ext }) }}" class="nav-link active">{{ 'menu.career.international'|trans }}</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('talent',{ slug: 'join'~slug_ext }) }}" class="nav-link">{{ 'menu.career.join'|trans }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>

        <div class="container">
            <section class="row page__block noborder">
                <div class="col">
                    <div class="page__block__title page__block__title--article">
                        <p>{{ 'career.international.intro'|trans }}</p>
                    </div>
                    <div class="page__block__content page__block__content--article">
                        <p>{{ 'career.international.content.txt_1'|trans }}</p>
                        <p>{{ 'career.international.content.txt_2'|trans }}</p>
                    </div>
                </div>
            </section>
        </div>

        {% include 'web/pages/custom/talent/shared/info-international.html.twig' %}
        {% include 'web/pages/custom/talent/shared/cases-international-cuatrecasas.html.twig' %}
        {% include 'web/pages/custom/talent/shared/cta-international.html.twig' %}
        {# {% include 'web/pages/custom/talent/shared/related-content-slider_Career.html.twig' %} #}
        {% if relatedPublications|length > 0 %}
            {% include 'web/shared/related-content-slider.html.twig' with {classTittle: '--recomended',publications: relatedPublications }  %}
        {% endif %}
        {% include 'web/pages/custom/talent/shared/info-career-join.html.twig' %}

    </main>

{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{{ asset('web/vendor/swiper/js/swiper.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('web/assets/js/swiperInit.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('web/vendor/lity/dist/lity.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('web/vendor/lity/dist/plugins/youtube/youtube.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('web/assets/js/responsiveTabs.min.js') }}"></script>
<script>
    $(function () {
        $('.faketabs__component__tabs .nav').responsiveTabs();
    });
</script>
{% endblock %}
