{% trans_default_domain "admin" %}

<div class="row">
    <div class="col-md-4">
        {{ form_row(form.lawyerType) }}
        {{ form_row(form.name) }}
        {{ form_row(form.surname) }}
        {{ form_row(form.email) }}
        {{ form_row(form.phone) }}
        {{ form_row(form.fax) }}

        {{ form_label(form.photo) }}
        <div class="vich-attachment-list">
            <div class="vich-attachment-item col-md-12">
                {{ form_errors(form.photo) }}
                {{ form_widget(form.photo) }}
            </div>
        </div>
        {% do form.photo.setRendered %}

        {{ form_row(form.activities) }}
        {{ form_row(form.mentions) }}
        {{ form_row(form.languages) }}
    </div>
    <div class="col-md-8">
        {{ form_row(form.translations) }}
    </div>
    {{ form_rest(form) }}
</div>
