{% extends 'cms/base.html.twig' %}
{% trans_default_domain "admin" %}

{% import "cms/custom/translatableField.html.twig" as translatableField %}


{% block title %}{{ 'sections.lawyers.index.title'|trans }}{% endblock %}

{% block body %}
<div class="m-grid__item m-grid__item--fluid m-wrapper">
    <!-- BEGIN: Subheader -->
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h3 class="m-subheader__title m-subheader__title--separator">
                    <i class="m-menu__link-icon flaticon-users"></i>
                    {{ 'sections.lawyers.index.title'|trans }}
                </h3>
                <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                    <li class="m-nav__item">
                        <a href="{{ path('cms_lawyers_new') }}" class="btn btn-label-warning btn-bold btn-sm btn-icon-h">
                            <i class="flaticon-plus"></i> {{ 'global.actions.create'|trans }}
                        </a>
                    </li> 
                      
                </ul>
                <div class="m-portlet m--padding-15" >
                {{ form_start(formForFilterView) }} 
                    <div class="row">                 
                        <div class="col-md-3">
                        {{ 'entities.lawyer.fields.name'|trans }}
                        {{ form_row(formForFilterView.name) }}
                            
                        </div>
                            <div class="col-md-3">
                            {{ 'entities.lawyer.fields.surname'|trans }}
                        {{ form_row(formForFilterView.surname) }}
                        </div>
                        <div class="col-md-4">
                        {{ 'entities.lawyer.fields.email'|trans }}
                        {{ form_row(formForFilterView.email) }}
                        </div>
                        <div class="col-md-2">
                        {{'entities.lawyer.fields.lawyerType'|trans}}
                        {{ form_row(formForFilterView.lawyerType) }}
                        </div>
                            
                        <div class="col-md-3">
                            {{'entities.filter.fechaDesde'|trans}}
                            {{ form_row(formForFilterView.fechaDesde) }}
                        </div>
                        <div class="col-md-3">
                            {{'entities.filter.fechaHasta'|trans}}
                            {{ form_row(formForFilterView.fechaHasta) }} 
                        </div>
                        <div class="col-md-2">
                            <p>
                            {{ form_row(formForFilterView.send) }}
                            </p>
                        </div>                                
                    </div>
                {{ form_end(formForFilterView) }}
                </div>
            </div>
        </div>
    </div>
    <!-- END: Subheader -->
    <div class="m-content">

        {% if pagination %}
        <div class="m-section">
            <div class="m-portlet container-fluid">
                <table class="table table-hover">
                    <thead class="thead-light">
                        <tr class="row">
                            <th class="col-sm-1">{{ knp_pagination_sortable(pagination, 'entities.lawyer.fields.name'|trans, 'name') }}</th>
                            <th class="col-sm-2">{{ knp_pagination_sortable(pagination, 'entities.lawyer.fields.surname'|trans, 'surname') }}</th>
                            <th class="col-sm-3">{{ knp_pagination_sortable(pagination, 'entities.lawyer.fields.email'|trans, 'email') }}</th>
                            <th class="col-sm-2">{{ knp_pagination_sortable(pagination, 'entities.lawyer.fields.lawyerType'|trans, 'lawyerType') }}</th>
                            <th class="col-sm-2">{{ knp_pagination_sortable(pagination, 'entities.item.fields.createdAt'|trans, 'createdAt') }}</th>
                            <th class="col-sm-1">{{ 'global.labels.publication'|trans }}</th>
                            <th class="col-sm-1">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for lawyer in pagination %}
                        <tr class="row">
                            <td class="col-sm-1">{{ lawyer.name }}</td>
                            <td class="col-sm-2">{{ lawyer.surname }}</td>
                            <td class="col-sm-3">{{ lawyer.email }}</td>
                            <td class="col-sm-2">{{ ('forms.choices.lawyerCategoryTypes.' ~ lawyer.lawyerType) | trans }}</td>
                            <td class="col-sm-2">{{ lawyer.createdAt|format_datetime('short', 'none',locale='es') }}</td>
                            <td class="col-sm-1 text-nowrap">
                                {% include 'cms/tools/languageStatus.html.twig' with {'values':lawyer.languages} %}
                                /
                                {% include 'cms/tools/regionStatus.html.twig' with {'values':lawyer.regions} %}
                            </td>
                            <td class="col-sm-1 text-nowrap text-right">
                                <a class="btn btn-primary btn-sm m-btn m-btn--icon m-btn--icon-only m-btn--pill" href="{{ path('cms_lawyers_edit', {'id': lawyer.id}) }}">
                                    <i class="fa fa-edit"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="m-section">
            {{ knp_pagination_render(pagination) }}
        </div>

        {% else %}
        <div class="row">
            <div class="col">
                <div class="alert alert-elevate fade show" role="alert">
                    {{ 'global.messages.noRecordsFound'|trans }}
                </div>
            </div>
        </div>
        {% endif %}
    </div>

</div>
{% endblock %}