{% extends 'cms/base.html.twig' %}
{% trans_default_domain "admin" %}

{% block title %}{{ 'sections.lawyers.index.title'|trans }}{% endblock %}

{% block body %}
<div class="m-grid__item m-grid__item--fluid m-wrapper">
    <!-- BEGIN: Subheader -->
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h3 class="m-subheader__title m-subheader__title--separator">
                    <i class="m-menu__link-icon flaticon-users"></i>
                    {{ 'sections.lawyers.index.title'|trans }}
                </h3>
                <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                    <li class="m-nav__item">
                        <a href="{{ path('lawyer_new') }}" class="btn btn-label-warning btn-bold btn-sm btn-icon-h">
                            <i class="flaticon-plus"></i> {{ 'global.actions.create'|trans }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- END: Subheader -->
    <div class="m-content">

        {% if pagination %}
        <div class="m-section">
            <div class="m-portlet">
                <table class="table table-hover">
                    <thead class="thead-light">
                        <tr>
                            <th>{{ knp_pagination_sortable(pagination, 'entities.lawyer.fields.name'|trans, 'name') }}</th>
                            <th>{{ knp_pagination_sortable(pagination, 'entities.lawyer.fields.surname'|trans, 'surname') }}</th>
                            <th>{{ knp_pagination_sortable(pagination, 'entities.lawyer.fields.email'|trans, 'email') }}</th>
                            <th>{{ knp_pagination_sortable(pagination, 'entities.lawyer.fields.lawyerType'|trans, 'lawyerType') }}</th>
                            <th class="text-nowrap">{{ knp_pagination_sortable(pagination, 'entities.item.fields.updatedAt'|trans, 'updatedAt') }}</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for lawyer in pagination %}
                        <tr>
                            <td>{{ lawyer.name }}</td>
                            <td>{{ lawyer.surname }}</td>
                            <td>{{ lawyer.email }}</td>
                            <td>{{ ('forms.choices.lawyerCategoryTypes.' ~ lawyer.lawyerType) | trans }}</td>
                            <td class="text-nowrap">{{ lawyer.updatedAt ? lawyer.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                            <td>
                                <a class="btn btn-metal btn-sm m-btn m-btn--icon m-btn--icon-only m-btn--pill" href="{{ path('lawyer_edit', {'id': lawyer.id}) }}">
                                    <i class="fa fa-edit"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="m-section">
            {{ knp_pagination_render(pagination) }}
        </div>

        {% else %}
        <div class="row">
            <div class="col">
                <div class="alert alert-elevate fade show" role="alert">
                    No records found
                </div>
            </div>
        </div>
        {% endif %}
    </div>

</div>
{% endblock %}