{% extends 'cms/base.html.twig' %}

{% block title %}Lawyer show{% endblock %}

{% block body %}
<div class="m-grid m-grid--hor m-grid--root m-page">
    {% include 'cms/tools/head.html.twig' %}
    <!-- begin::Body -->
    <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
        <!-- BEGIN: Left Aside -->
        <button class="m-aside-left-close  m-aside-left-close--skin-dark " id="m_aside_left_close_btn">
            <i class="la la-close"></i>
        </button>
        {% include 'cms/tools/menu.html.twig' %}
        <!-- END: Left Aside -->
        <div class="m-grid__item m-grid__item--fluid m-wrapper">
            <!-- BEGIN: Subheader -->
            <div class="m-subheader ">
                <div class="d-flex align-items-center">
                    <div class="mr-auto">
                        <h3 class="m-subheader__title ">
                            Lawyer show
                        </h3>
                    </div>
                </div>
            </div>
            <!-- END: Subheader -->
            <div class="m-content">

                <table class="table">
                    <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ lawyer.id }}</td>
                        </tr>
                        <tr>
                            <th>UserId</th>
                            <td>{{ lawyer.userId }}</td>
                        </tr>
                        <tr>
                            <th>Creation_date</th>
                            <td>{{ lawyer.creationDate ? lawyer.creationDate|date('Y-m-d') : '' }}</td>
                        </tr>
                        <tr>
                            <th>Update_date</th>
                            <td>{{ lawyer.updateDate ? lawyer.updateDate|date('Y-m-d') : '' }}</td>
                        </tr>
                        <tr>
                            <th>Role</th>
                            <td>{{ lawyer.role }}</td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td>{{ lawyer.name }}</td>
                        </tr>
                        <tr>
                            <th>Surname</th>
                            <td>{{ lawyer.surname }}</td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td>{{ lawyer.email }}</td>
                        </tr>
                        <tr>
                            <th>Phone</th>
                            <td>{{ lawyer.phone }}</td>
                        </tr>
                        <tr>
                            <th>Fax</th>
                            <td>{{ lawyer.fax }}</td>
                        </tr>
                        <tr>
                            <th>Photo</th>
                            <td>{{ lawyer.photo }}</td>
                        </tr>
                        <tr>
                            <th>Lawyer_type</th>
                            <td>{{ lawyer.lawyerType }}</td>
                        </tr>
                        <tr>
                            <th>Status</th>
                            <td>{{ lawyer.status }}</td>
                        </tr>
                    </tbody>
                </table>

                <a href="{{ path('lawyer_index') }}">back to list</a>

                <a href="{{ path('lawyer_edit', {'id': lawyer.id}) }}">edit</a>

                {{ include('cms/lawyer/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
    <!-- end:: Body -->
    {% include 'cms/tools/footer.html.twig' %}

</div>
{% endblock %}