{% extends 'web/base.html.twig' %}

{% block stylesheets %}
<link href="{{ asset('web/vendor/swiper/css/swiper.min.css') }}" rel="stylesheet">
<link href="{{ asset('web/vendor/lity/dist/lity.min.css') }}" rel="stylesheet">
{% endblock %}

{% block main %}

    <main role="main">
        <article class="container">

            <header class="row page__header" style="background-image: url('{{ asset('web/assets/img/drew-beamer-5DD7-L4A4Uw-unsplash.jpg') }}')">
                <div class="col">
                    <div class="info__block">
                        <h1 class="page__title">
                            {{ 'sections.desks.title'|trans }}
                        </h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="{{ path('home') }}">{{ 'global.home'|trans }}</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    {{ 'sections.desks.title'|trans }}
                                </li>
                            </ol>
                        </nav>
                    </div>
                    {% include 'web/base/social-share.html.twig' %}
                </div>
            </header>

            <section class="tabs__component" id="tabsToAccordion">
                <div class="tabs__component__full">
                    <div class="tabs__component__tabs">
                        <ul id="tabs" class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a href="{{ path('practices_index') }}" class="nav-link">{{ 'sections.practices.title'|trans }}</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('desks_index') }}" id="tab-02" data-toggle="tab" role="tab" class="nav-link active">{{ 'sections.desks.title'|trans }}</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('products_index') }}" class="nav-link">{{ 'sections.products.title'|trans }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="tabs__component__content">
                    <div class="row page__section">
                        <div id="content" class="col tab-content" role="tablist">
                            <div id="panel-01" class="panel tab-pane" role="tabpanel">
                                <div class="panel-header">
                                    <a href="{{ path('practices_index') }}" class="accordion__button accordion__button--fake">{{ 'sections.practices.title'|trans }}</a>
                                </div>
                            </div>
                            <div id="panel-02" class="panel tab-pane fade show active" role="tabpanel" aria-labelledby="tab-02">
                                <div class="panel-header" role="tab" id="heading-02">
                                    <a class="accordion__button collapsed" data-toggle="collapse" href="#collapse-02" aria-expanded="true" aria-controls="collapse-02">{{ 'sections.desks.title'|trans }}</a>
                                </div>
                                <div id="collapse-02" class="collapse show" role="tabpanel" aria-labelledby="heading-02">
                                    <ul class="buttons__list__column">
                                        {% for desk in desks %}
                                            <li class="buttons__list__column__item">
                                                <a class="btn__subcat" href="{{ navigation_service.getPathByPublishable(desk) }}">{{ desk.translate(app.request.getLocale()).title|raw  }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <div id="panel-03" class="panel tab-pane" role="tabpanel">
                                <div class="panel-header">
                                    <a href="{{ path('products_index') }}" class="accordion__button accordion__button--fake">{{ 'sections.products.title'|trans }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </article>
    </main>

    {% include 'web/shared/cta-discover.html.twig' %}
    {% include 'web/shared/career.html.twig' %}
    {% include 'web/shared/cta-footer.html.twig' %}

{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{{ asset('web/vendor/swiper/js/swiper.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('web/assets/js/swiperInit.js') }}"></script>
<script type="text/javascript" src="{{ asset('web/vendor/lity/dist/lity.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('web/vendor/lity/dist/plugins/youtube/youtube.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('web/assets/js/responsiveTabs.js') }}"></script>
<script>
    $(function () {
        $('.faketabs__component__tabs .nav').responsiveTabs();
    });
</script>
{% endblock %}
