{% extends 'web/base.html.twig' %}

{% block stylesheets %}
<link href="{{ asset('web/vendor/swiper/css/swiper.min.css') }}" rel="stylesheet">
<link href="{{ asset('web/vendor/lity/dist/lity.min.css') }}" rel="stylesheet">
{% endblock %}

{% block main %}

    <main role="main">

        <div class="container">
            <header class="row page__header" style="background-image: url('{{ asset('web/assets/img/la-firma.jpg') }}')">
                <div class="col">
                    <div class="info__block">
                        <h1 class="page__title">
                            {{ 'menu.career.join'|trans }}
                        </h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="{{ path('home') }}">{{ 'global.home'|trans }}</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    {{ 'menu.career.join'|trans }}
                                </li>
                            </ol>
                        </nav>
                    </div>
                    <ul class="action__links">
                        <li><a href="#"><i class="material-icons">share</i></a></li>
                        <li><a href="#"><i class="material-icons">print</i></a></li>
                        <li><a href="#"><i class="material-icons">bookmark_border</i></a></li>
                    </ul>
                </div>
            </header>
        </div>

        <div class="container-fluid">
            <section class="faketabs__component">
                <div class="row">
                    <div class="col faketabs__component__tabs faketabs__component__tabs--career">
                        <ul class="nav">
                            <li class="nav-item">
                                <a href="{{ path('career_home') }}" class="nav-link">{{ 'menu.career.career'|trans }}</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('career_live') }}" class="nav-link">{{ 'menu.career.live'|trans }}</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('career_revolution') }}" class="nav-link">{{ 'menu.career.revolution'|trans }}</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('career_learn') }}" class="nav-link">{{ 'menu.career.learn'|trans }}</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('career_international') }}" class="nav-link">{{ 'menu.career.international'|trans }}</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('career_join') }}" class="nav-link active">{{ 'menu.career.join'|trans }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>

        {% include 'web/career/shared/info-career-join-notitle.html.twig' %}
        {% include 'web/career/shared/collections-international.html.twig' %}
        {% include 'web/career/shared/info-join.html.twig' %}
        {% include 'web/career/shared/related-content-slider_Join.html.twig' %}
        {# {% include 'web/career/shared/info-career-join.html.twig' %} #}

    </main>

{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{{ asset('web/vendor/swiper/js/swiper.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('web/assets/js/swiperInit.js') }}"></script>
<script type="text/javascript" src="{{ asset('web/vendor/lity/dist/lity.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('web/vendor/lity/dist/plugins/youtube/youtube.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('web/assets/js/responsiveTabs.js') }}"></script>
<script>
    $(function () {
        $('.faketabs__component__tabs .nav').responsiveTabs();

        $('.show__more').each(function() {
            if ($(this).children('p').length > 0) {
                $(this).children('p:lt(0)').show();
                $(this).children('p:gt(0)').hide();
                $(this).append('<button type="button" class="doble__arrow__accordion show__more">{{ 'global.messages.show_more'|trans }}</button>');
            }
        });
        $('.show__more').on("click", '.show__more', function() {
            $(this).parent('.show__more').children('p').slideDown();
            $(this).removeClass('show__more').addClass('show__less').text('{{ 'global.messages.show_less'|trans }}');
            $('.show__more .doble__arrow__accordion').blur();
        });
        $('.show__more').on("click", '.show__less', function() {
            if (window.matchMedia('(max-width: 1199px)').matches) {
                $('html, body').animate({scrollTop: $(this).parent().offset().top - 50}, {duration: 'fast'});
            } else {
                $('html, body').animate({scrollTop: $(this).parent().offset().top - 120}, {duration: 'fast'});
            }
            $(this).parent('.show__more').children('p:gt(0)').slideUp();
            $(this).removeClass('show__less').addClass('show__more').text('{{ 'global.messages.show_more'|trans }}');
            $('.show__more .doble__arrow__accordion').blur();
        });
    });
</script>
{% endblock %}
