{% extends 'web/base.html.twig' %}

{% block stylesheets %}
<!-- Slider CSS -->
<link href="{{ asset('web/vendor/swiper/css/swiper.min.css') }}" rel="stylesheet">
{% endblock %}

{% block main %}

    <main role="main">
        <article class="container">

            <header class="row page__header" style="background-image: url('{{ asset('web/assets/img/drew-beamer-5DD7-L4A4Uw-unsplash.jpg') }}')">
                <div class="col">
                    <div class="info__block">
                        <h1 class="page__title">
                            {{ 'sections.practices.title'|trans }}
                        </h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="{{ path('home') }}">{{ 'global.home'|trans }}</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    {{ 'sections.practices.title'|trans }}
                                </li>
                            </ol>
                        </nav>
                    </div>
                    <ul class="action__links">
                        <li><a href="#"><i class="material-icons">share</i></a></li>
                        <li><a href="#"><i class="material-icons">print</i></a></li>
                        <li><a href="#"><i class="material-icons">bookmark_border</i></a></li>
                    </ul>
                </div>
            </header>

            <section class="tabs__component">
                <div class="tabs__component__full">
                    <div class="tabs__component__tabs">
                        <ul class="nav">
                            <li class="nav-item">
                                <a href="{{ path('practices_index') }}" class="nav-link active">{{ 'sections.practices.title'|trans }}</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('desks_index') }}" class="nav-link">{{ 'sections.desks.title'|trans }}</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('products_index') }}" class="nav-link">{{ 'sections.products.title'|trans }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="tabs__component__content">
                    <div class="row page__section">
                        <div class="col">
                            <ul class="buttons__list list-2cols">
                                {% for practice in practices %}
                                    <li class="buttons__list__item">
                                        <a class="btn__subcat" href="{{ navigation_service.getPathByPublishable(practice) }}">
                                            {{ practice.translate(app.request.getLocale()).title }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </section>

        </article>
    </main>


    {% include 'web/shared/related-content-slider.html.twig' with {publications: relatedPublications } %}
    {% include 'web/shared/cta-footer.html.twig' %}

{% endblock %}

{% block javascripts %}
<!-- Slider JS -->
<script type="text/javascript" src="{{ asset('web/vendor/swiper/js/swiper.min.js') }}"></script>
<script>
    $(function () {
        web.global.sliderGeneral();
        var swiperCases = new Swiper ('#sliderCases', {
            slidesPerView: 'auto',
            spaceBetween: 20,
            loop: true,
            allowTouchMove: true,
            grabCursor: true
        });
    });
</script>
{% endblock %}
