{% extends 'web/base.html.twig' %}

{% block stylesheets %}
<link href="{{ asset('web/vendor/swiper/css/swiper.min.css') }}" rel="stylesheet">
<link href="{{ asset('web/vendor/lity/dist/lity.min.css') }}" rel="stylesheet">
{% endblock %}

{% block main %}

    <main role="main">
        <article class="container">

            <header class="row page__header" style="background-image: url('{{ asset('web/assets/img/la-firma.jpg') }}')">
                <div class="col">
                    <div class="info__block">
                        <h1 class="page__title">
                            {{ 'menu.firm.environment'|trans }}
                        </h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="{{ path('home') }}">{{ 'global.home'|trans }}</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="#}">{{ 'menu.firm.firm'|trans }}</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    {{ 'menu.firm.environment'|trans }}
                                </li>
                            </ol>
                        </nav>
                    </div>
                    {% include 'web/base/social-share.html.twig' %}
                </div>
            </header>

            <section class="faketabs__component">
                <div class="row">
                    <div class="col faketabs__component__tabs">
                        <ul class="nav">
                            <li class="nav-item">
                                <a href="{{ path('firm',{slug: 'firm-vision'~slug_ext }) }}" class="nav-link">{{ 'menu.firm.vision'|trans }}</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('firm',{slug: 'social'~slug_ext }) }}" class="nav-link">{{ 'menu.firm.social'|trans }}</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('firm',{slug: 'environment'~slug_ext }) }}" class="nav-link active">{{ 'menu.firm.environment'|trans }}</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('firm',{slug: 'governance'~slug_ext }) }}" class="nav-link">{{ 'menu.firm.governance'|trans }}</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('firm',{slug: 'innovation'~slug_ext }) }}" class="nav-link">{{ 'menu.firm.innovation'|trans }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>

            <section class="row page__block--centered">
                <div class="col">
                    <p>{{ 'firm.environment.header_content' |trans}}</p>
                </div>
            </section>

        </article>

        {% include 'web/pages/custom/firm/shared/cta-video-enviroment.html.twig' %}
        {% include 'web/pages/custom/firm/shared/environment-resources.html.twig' %}
        {% include 'web/pages/custom/firm/shared/cta-corporative-environment.html.twig' %}
        {% include 'web/pages/custom/firm/shared/awards-environment.html.twig' %} {# no info #}
        {# {% include 'web/pages/custom/firm/shared/related-content-slider-environment.html.twig' %} no info #}
        {% if relatedPublications|length > 0 %}
            {% include 'web/shared/related-content-slider.html.twig' with {classTittle: '----insight',publications: relatedPublications }  %}
        {% endif %}


    </main>

    {% include 'web/shared/cta-footer.html.twig' %}

{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{{ asset('web/vendor/swiper/js/swiper.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('web/assets/js/swiperInit.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('web/assets/js/responsiveTabs.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('web/vendor/lity/dist/lity.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('web/vendor/lity/dist/plugins/youtube/youtube.min.js') }}"></script>
<script>
    $(function () {
        $('.faketabs__component__tabs .nav').responsiveTabs();
    });
</script>
{% endblock %}
