{% extends 'web/base.html.twig' %}

{% block stylesheets %}
<link href="{{ asset('web/vendor/swiper/css/swiper.min.css') }}" rel="stylesheet">
{% endblock %}

{% block main %}

    <main role="main" class="lawyer__page">
        <article>

            <header class="container">
                <div class="row lawyer__page__header">
                    <div class="col-md-7 lawyer__page__content">
                        <a href="#" class="back__button">{{ 'global.goBack'|trans }}</a>
                        <h1 class="lawyer__page__region">{{ 'menu.media_center'|trans }}</h1>
                    {% include 'web/base/social-share.html.twig' %}
                    </div>
                    <div class="col-md-5">
                        <div class="lawyer__page__office">
                            <figure style="background-image: url('{{ asset('web/assets/img/trabalho-home-office.jpg') }}"></figure>
                        </div>
                    </div>
                </div>
            </header>

            <div class="container">
                <section class="row page__section search_box">
                    <div class="col search_box__wrapper">
                        <div class="search_box__name search_box__name--full">
                            <form action="" method="get">
                                <input type="text" class="form-control" placeholder="{{ 'global.forms.search'|trans }}" name="initial">
                                <div class="input-group">
                                    <button class="search_box__button" type="submit">
                                        <span class="icon4-lupa"></span>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </section>
                <section class="row page__section page__section--fullbg">
                    <div class="col-12">
                        <h4 class="section__title section__title--recomended">{{ 'global.messages.news_content'|trans }}</h4>
                    </div>
                    <div class="col-12">
                        <div class="grid__masonry">
                            <div class="grid__sizer"></div>
                            <div class="grid__gutter"></div>

                            <div class="grid__item grid__item--dobleH">
                                <article class="boxnews__item boxnews__item--article">
                                    <div class="boxnews__header">
                                        <div class="boxnews__type">Artículo</div>
                                        <div class="boxnews__info">17 febrero 2020</div>
                                    </div>
                                    <div class="boxnews__content">
                                        <h5 class="boxnews__copy">
                                            <a href="#" class="boxnews__link">
                                                Cuatrecasas participa en la creación del primer hub global de legaltech en Europa
                                            </a>
                                        </h5>
                                        <div class="boxnews__img" style="background-image: url('{{ asset('/web/assets/img/cabecera_1920x1080_baja.jpg')| imagine_filter('insights_grid') }}')"></div>
                                    </div>
                                </article>
                            </div>
                            <div class="grid__item grid__item--dobleH">
                                <article class="boxnews__item boxnews__item--article">
                                    <div class="boxnews__header">
                                        <div class="boxnews__type">Artículo</div>
                                        <div class="boxnews__info">24 enero 2020</div>
                                    </div>
                                    <div class="boxnews__content">
                                        <h5 class="boxnews__copy">
                                            <a href="#" class="boxnews__link">
                                                Cuatrecasas participa en la creación del primer hub global de legaltech en Europa
                                            </a>
                                        </h5>
                                        <div class="boxnews__img" style="background-image: url('{{ asset('/web/assets/img/cabecera_1920x1080_baja.jpg')| imagine_filter('insights_grid') }}')"></div>
                                    </div>
                                </article>
                            </div>
                            <div class="grid__item grid__item--normal">
                                <article class="boxnews__item boxnews__item--news">
                                    <div class="boxnews__header">
                                        <div class="boxnews__type">Noticia</div>
                                        <div class="boxnews__info">Fiscal</div>
                                    </div>
                                    <div class="boxnews__content">
                                        <h5 class="boxnews__copy">
                                            <a href="#" class="boxnews__link">
                                                Publicado el Proyecto de Real Decreto de Comunicaciones Comerciales de las Actividades de Juego
                                            </a>
                                        </h5>
                                    </div>
                                </article>
                            </div>
                            <div class="grid__item grid__item--normal">
                                <article class="boxnews__item boxnews__item--news">
                                    <div class="boxnews__header">
                                        <div class="boxnews__type">Noticia</div>
                                        <div class="boxnews__info">Educación</div>
                                    </div>
                                    <div class="boxnews__content">
                                        <h5 class="boxnews__copy">
                                            <a href="#" class="boxnews__link">
                                                La Universidad Carlos III de Madrid gana la edición nacional del torneo de Derecho Jessup Moot Competition
                                            </a>
                                        </h5>
                                    </div>
                                </article>
                            </div>
                            <div class="grid__item grid__item--dobleW">
                                <article class="boxnews__item boxnews__item--opinion">
                                    <div class="boxnews__header">
                                        <div class="boxnews__type">Opinion</div>
                                        <div class="boxnews__info">3 Marzo 2020</div>
                                    </div>
                                    <div class="boxnews__content">
                                        <h5 class="boxnews__copy">
                                            <a href="#" class="boxnews__link">
                                                La Comisión Europea sanciona a NBC Universal por restringir las ventas a sus licenciados
                                            </a>
                                        </h5>
                                        <div class="boxnews__img" style="background-image: url('{{ asset('/web/assets/img/cabecera_1920x1080_baja.jpg')| imagine_filter('insights_grid') }}')"></div>
                                    </div>
                                </article>
                            </div>
                            <div class="grid__item grid__item--dobleH">
                                <article class="boxnews__item boxnews__item--article">
                                    <div class="boxnews__header">
                                        <div class="boxnews__type">Artículo</div>
                                        <div class="boxnews__info">12 febrero 2020</div>
                                    </div>
                                    <div class="boxnews__content">
                                        <h5 class="boxnews__copy">
                                            <a href="#" class="boxnews__link">
                                                Cuatrecasas participa en la creación del primer hub global de legaltech en Europa
                                            </a>
                                        </h5>
                                        <div class="boxnews__img" style="background-image: url('{{ asset('/web/assets/img/cabecera_1920x1080_baja.jpg')| imagine_filter('insights_grid') }}')"></div>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="viewmore__button">
                            <button type="button" class="btn btn__viewmore">{{ 'global.messages.load_more'|trans }}</button>
                        </div>
                    </div>
                </section>
            </div>

            {% include 'web/pages/custom/firm/shared/info-mediakit.html.twig' %}
            {% include 'web/pages/custom/firm/shared/info-media-center.html.twig' %}
            {# {% include 'web/pages/custom/firm/shared/related-content-slider-mediakit.html.twig' %} #}
            {% if relatedPublications|length > 0 %}
                {% include 'web/shared/related-content-slider.html.twig' with {classTittle: '--recomended',publications: relatedPublications }  %}
            {% endif %}

        </article>
    </main>

    {% include 'web/shared/cta-footer.html.twig' %}

{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{{ asset('web/vendor/swiper/js/swiper.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('web/assets/js/swiperInit.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('web/vendor/masonry.pkgd.min.js') }}"></script>
<script>
    $(function () {
        $('.grid__masonry').masonry({
            itemSelector: '.grid__item',
            columnWidth: '.grid__sizer',
            gutter: '.grid__gutter',
            percentPosition: true
        });
    });
</script>
{% endblock %}
