{% extends 'web/base.html.twig' %}

{% block stylesheets %}
<link href="{{ asset('web/vendor/swiper/css/swiper.min.css') }}" rel="stylesheet">
{% endblock %}

{% block main %}

    <main role="main">
        <article class="container">

            <header class="row page__header" style="background-image: url('{{ asset('web/assets/img/la-firma.jpg') }}')">
                <div class="col">
                    <div class="info__block">
                        <h1 class="page__title">
                            {{ 'menu.firm.social'|trans }}
                        </h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="{{ path('home') }}">{{ 'global.home'|trans }}</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="#}">{{ 'menu.firm.firm'|trans }}</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    {{ 'menu.firm.social'|trans }}
                                </li>
                            </ol>
                        </nav>
                    </div>
                    <ul class="action__links">
                        <li><a href="#"><i class="material-icons">share</i></a></li>
                        <li><a href="#"><i class="material-icons">print</i></a></li>
                        <li><a href="#"><i class="material-icons">bookmark_border</i></a></li>
                    </ul>
                </div>
            </header>

            <section class="faketabs__component">
                <div class="row">
                    <div class="col faketabs__component__tabs">
                        <ul class="nav">
                            <li class="nav-item">
                                <a href="{{ path('firm',{slug: 'firm-vision'~slug_ext }) }}" class="nav-link">{{ 'menu.firm.vision'|trans }}</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('firm',{slug: 'social'~slug_ext }) }}" class="nav-link active">{{ 'menu.firm.social'|trans }}</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('firm',{slug: 'environment'~slug_ext }) }}" class="nav-link ">{{ 'menu.firm.environment'|trans }}</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('firm',{slug: 'governance'~slug_ext }) }}" class="nav-link">{{ 'menu.firm.governance'|trans }}</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('firm',{slug: 'innovation'~slug_ext }) }}" class="nav-link">{{ 'menu.firm.innovation'|trans }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>

            <section class="row page__block--centered">
                <div class="col">
                    <p>{{ 'firm.social.header_content' |trans}}</p>
                </div>
            </section>

        </article>

        {% include 'web/pages/custom/firm/shared/overview-probono.html.twig' %}
        {% include 'web/pages/custom/firm/shared/info-social.html.twig' %}
        {% include 'web/pages/custom/firm/shared/overview-diversity.html.twig' %}
        {% include 'web/pages/custom/firm/shared/collections-firm.html.twig' %}
        {# {% include 'web/pages/custom/firm/shared/asociaciones-firm.html.twig' %} #}
        {% include 'web/pages/custom/firm/shared/cta-fundation-social.html.twig' %}
        {% include 'web/pages/custom/firm/shared/cta-corporative-social.html.twig' %}
        {% include 'web/pages/custom/firm/shared/awards-social.html.twig' %} {# no info #}
        {% include 'web/pages/custom/firm/shared/related-content-slider-social.html.twig' %} {# no info #}

    </main>

    {% include 'web/shared/cta-footer.html.twig' %}

{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{{ asset('web/vendor/swiper/js/swiper.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('web/assets/js/swiperInit.js') }}"></script>
<script type="text/javascript" src="{{ asset('web/assets/js/responsiveTabs.js') }}"></script>
<script>
    $(function () {
        $('.faketabs__component__tabs .nav').responsiveTabs();

        // Load More Items
        boxNumber = 6;
        boxIncrement = 6;
        boxItems = $("#loadMoreBoxes article").length;

        $('#loadMoreBoxes').each(function() {
            if ($(this).children('article').length >= 6) {
                $(this).children('article:lt(6)').show();
                $(this).children('article:gt(5)').hide();
            }
        });

        $('#loadMore').click(function () {
            boxNumber = (boxNumber+boxIncrement <= boxItems) ? boxNumber+boxIncrement : boxItems; $('#loadMoreBoxes article:lt('+boxNumber+')').show();
            $(this).blur();
            $(this).toggle(boxNumber < boxItems);
        });
    });
</script>
{% endblock %}
