{% extends 'web/base.html.twig' %}

{% block stylesheets %}
<!-- Slider CSS -->
<link href="{{ asset('web/vendor/swiper/css/swiper.min.css') }}" rel="stylesheet">
{% endblock %}

{% block main %}

    <main role="main">
        <article class="container">

            <header class="row page__header" style="background-image: url('{{ asset('web/assets/img/la-firma.jpg') }}')">
                <div class="col">
                    <div class="info__block">
                        <h1 class="page__title">
                            {{ 'menu.firm.social'|trans }}
                        </h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="{{ path('home') }}">{{ 'global.home'|trans }}</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="#}">{{ 'menu.firm.firm'|trans }}</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    {{ 'menu.firm.social'|trans }}
                                </li>
                            </ol>
                        </nav>
                    </div>
                    <ul class="action__links">
                        <li><a href="#"><i class="material-icons">share</i></a></li>
                        <li><a href="#"><i class="material-icons">print</i></a></li>
                        <li><a href="#"><i class="material-icons">bookmark_border</i></a></li>
                    </ul>
                </div>
            </header>

            <section class="faketabs__component">
                <div class="row">
                    <div class="col faketabs__component__tabs">
                        <ul class="nav">
                            <li class="nav-item">
                                <a href="{{ path('firm_vision') }}" class="nav-link">{{ 'menu.firm.vision'|trans }}</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('firm_social') }}" class="nav-link active">{{ 'menu.firm.social'|trans }}</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('firm_environment') }}" class="nav-link ">{{ 'menu.firm.environment'|trans }}</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('firm_governance') }}" class="nav-link">{{ 'menu.firm.governance'|trans }}</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('firm_innovation') }}" class="nav-link">{{ 'menu.firm.innovation'|trans }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>

            <section class="row page__block--regions">
                <div class="col">
                    <p>Propuesta de valor lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Posuere urna nec tincidunt praesent semper feugiat.</p>
                </div>
            </section>

            {% include 'web/shared/overview-probono.html.twig' %}
            {% include 'web/shared/info-6boxes.html.twig' %}
            {% include 'web/shared/overview-diversity.html.twig' %}
            {% include 'web/shared/collections-firm_CMP.html.twig' %}
            {% include 'web/shared/asociaciones-firm.html.twig' %}
            {% include 'web/shared/cta-fundation_CMP.html.twig' %}
            {% include 'web/shared/cta-corporative_CMP.html.twig' %}
            {% include 'web/shared/awards_CMP.html.twig' %}
            {% include 'web/shared/related-content-slider_CMP.html.twig' %}

        </article>
    </main>

    {% include 'web/shared/cta-footer.html.twig' %}

{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{{ asset('web/vendor/swiper/js/swiper.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('web/assets/js/swiperInit.js') }}"></script>
<script type="text/javascript" src="{{ asset('web/assets/js/responsiveTabs.js') }}"></script>
<script>
    $(function () {
        $('.faketabs__component__tabs .nav').responsiveTabs();
    });
</script>
{% endblock %}
