{% extends 'web/base.html.twig' %}

{% block stylesheets %}
<link href="{{ asset('web/vendor/bootstrap-select/dist/css/bootstrap-select.min.css') }}" rel="stylesheet">
{% endblock %}

{% block main %}

    <main role="main">
        <article class="container">

            <header class="row page__header" style="background-image: url('{{ asset('web/assets/img/la-firma.jpg') }}')">
                <div class="col">
                    <div class="info__block">
                        <h1 class="page__title">
                            {{ 'userForm.title'|trans }}
                        </h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="{{ path('home') }}">{{ 'global.home'|trans }}</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    {{ 'userForm.title'|trans }}
                                </li>
                            </ol>
                        </nav>
                    </div>
                    <ul class="action__links">
                       <li>
                    <!-- Sharingbutton Facebook -->
<a class="resp-sharing-button__link" href="https://facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.cuatrecasas.com%2F" target="_blank" rel="noopener" aria-label="">
  <div class="resp-sharing-button resp-sharing-button--facebook resp-sharing-button--small"><div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solid">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M18.77 7.46H14.5v-1.9c0-.9.6-1.1 1-1.1h3V.5h-4.33C10.24.5 9.5 3.44 9.5 5.32v2.15h-3v4h3v12h5v-12h3.85l.42-4z"/></svg>
    </div>
  </div>
</a>
</li>
<li>
<!-- Sharingbutton Tumblr -->
<a class="resp-sharing-button__link" href="https://www.tumblr.com/widgets/share/tool?posttype=link&amp;title=&amp;caption=&amp;content=https%3A%2F%2Fwww.cuatrecasas.com%2F&amp;canonicalUrl=https%3A%2F%2Fwww.cuatrecasas.com%2F&amp;shareSource=tumblr_share_button" target="_blank" rel="noopener" aria-label="">
  <div class="resp-sharing-button resp-sharing-button--tumblr resp-sharing-button--small"><div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solid">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M13.5.5v5h5v4h-5V15c0 5 3.5 4.4 6 2.8v4.4c-6.7 3.2-12 0-12-4.2V9.5h-3V6.7c1-.3 2.2-.7 3-1.3.5-.5 1-1.2 1.4-2 .3-.7.6-1.7.7-3h3.8z"/></svg>
    </div>
  </div>
</a>
</li>
<li>
<!-- Sharingbutton E-Mail -->
<a class="resp-sharing-button__link" href="mailto:?subject=&amp;body=https%3A%2F%2Fwww.cuatrecasas.com%2F" target="_self" rel="noopener" aria-label="">
  <div class="resp-sharing-button resp-sharing-button--email resp-sharing-button--small"><div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solid">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M22 4H2C.9 4 0 4.9 0 6v12c0 1.1.9 2 2 2h20c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zM7.25 14.43l-3.5 2c-.08.05-.17.07-.25.07-.17 0-.34-.1-.43-.25-.14-.24-.06-.55.18-.68l3.5-2c.24-.14.55-.06.68.18.14.24.06.55-.18.68zm4.75.07c-.1 0-.2-.03-.27-.08l-8.5-5.5c-.23-.15-.3-.46-.15-.7.15-.22.46-.3.7-.14L12 13.4l8.23-5.32c.23-.15.54-.08.7.15.14.23.07.54-.16.7l-8.5 5.5c-.08.04-.17.07-.27.07zm8.93 1.75c-.1.16-.26.25-.43.25-.08 0-.17-.02-.25-.07l-3.5-2c-.24-.13-.32-.44-.18-.68s.44-.32.68-.18l3.5 2c.24.13.32.44.18.68z"/></svg>
    </div>
  </div>
</a>
</li>
<li>
<!-- Sharingbutton LinkedIn -->
<a class="resp-sharing-button__link" href="https://www.linkedin.com/shareArticle?mini=true&amp;url=https%3A%2F%2Fwww.cuatrecasas.com%2F&amp;title=&amp;summary=&amp;source=https%3A%2F%2Fwww.cuatrecasas.com%2F" target="_blank" rel="noopener" aria-label="">
  <div class="resp-sharing-button resp-sharing-button--linkedin resp-sharing-button--small"><div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solid">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M6.5 21.5h-5v-13h5v13zM4 6.5C2.5 6.5 1.5 5.3 1.5 4s1-2.4 2.5-2.4c1.6 0 2.5 1 2.6 2.5 0 1.4-1 2.5-2.6 2.5zm11.5 6c-1 0-2 1-2 2v7h-5v-13h5V10s1.6-1.5 4-1.5c3 0 5 2.2 5 6.3v6.7h-5v-7c0-1-1-2-2-2z"/></svg>
    </div>
  </div>
</a>
</li>
                        <li><a href="#"><i class="material-icons">print</i></a></li>
                        <li><a href="#"><i class="material-icons">bookmark_border</i></a></li>
                    </ul>
                </div>
            </header>

            <form action="" class="needs-validation" novalidate>
            {# <form action="" id="userForm" name="userForm" class="needs-validation" novalidate> #}
                <div class="row page__block--full">
                    <div class="col">
                        <h4 class="section__title section__title--main">{{ 'userForm.settings.title'|trans }}</h4>
                        <div class="alert alert-success" style="display:none" role="alert">
                            Formulario enviado
                        </div>
                        <div class="alert alert-danger" style="display:none" role="alert">
                            Error en el envio del formulario, inténtelo más tarde
                        </div>
                        <fieldset>
                            <legend>{{ 'userForm.settings.subTitleInfo'|trans }}</legend>
                            <div class="row">
                                <div class="form-group col-lg-6">
                                    <input type="text" class="form-control" name="eFirstName" id="eFirstName" placeholder="Nombre *" value="{{ contacto.Nombre is defined ? contacto.Nombre : ''}}" required>
                                </div>
                                <div class="form-group col-lg-6">
                                    <input type="text" class="form-control" name="eLastName" id="eLastName" placeholder="Apellidos *" value="{{ contacto.Apellidos is defined ? contacto.Apellidos : ''}}" required>
                                </div>
                                <div class="form-group col-lg-6">
                                    <input type="text" class="form-control" name="ePhone" id="ePhone" placeholder="Telefono *" value="{{ contacto.Telefono is defined ? contacto.Telefono : ''}}" required>
                                </div>
                                <div class="form-group col-lg-6">
                                    <input type="text" class="form-control" name="eEmail" id="eEmail" placeholder="Email *" value="{{ contacto.Email is defined ? contacto.Email : ''}}" required>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend>{{ 'userForm.settings.subTitleCompany'|trans }}</legend>
                            <div class="row">
                                <div class="form-group col-lg-6">
                                    <input type="text" class="form-control" name="ePosition" id="ePosition" placeholder="Cargo *" value="{{ contacto.Cargo is defined ? contacto.Cargo : ''}}" required>
                                </div>
                                <div class="form-group col-lg-6">
                                    <input type="text" class="form-control" name="eCompany" id="eCompany" placeholder="Empresa *" value="{{ contacto.Empresa is defined ? contacto.Empresa : ''}}" required>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend>{{ 'userForm.settings.subTitleContact'|trans }}</legend>
                            <div class="row">
                                <div class="col-lg-6 pr-0 pl-0">
                                    <div class="form-group col-lg-12">
                                        <input type="text" class="form-control" name="eAddress" id="eAddress" placeholder="Direccion *" value="{{ contacto.Direccion is defined ? contacto.Direccion : ''}}" required>
                                    </div>
                                    <div class="form-group col-lg-12">
                                        <select name="eCountry" id="eCountry"  class="custom-select form-control" data-style="btn-custom"   data-width="100%" data-size="5" title="País *">
                                            {% if paises|length > 0 %}
                                                {% for value in paises %}
                                                    {% if value['IdPais'] %}
                                                        <option {{ contacto.PaisId is defined ? contacto.PaisId==value['IdPais'] ? 'selected' : ''}} value="{{ value['IdPais'] }}">{{ value['Nombre'] }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                        </select>
                                    </div>
                                    <div class="form-group col-lg-12">
                                        <input type="text" class="form-control" name="eTown" id="eTown" placeholder="Población *" value="{{ contacto.Poblacion is defined ? contacto.Poblacion : ''}}" required>
                                    </div>
                                    <div class="form-group col-lg-12">
                                        <select id="eRegion" class="form-control custom-select " data-style="btn-custom" data-width="100%" data-size="5" title="Provincia *" required>
                                            <option value="" selected disabled>Provincia *</option>
                                            {% if contacto.ProvinciaId is defined %}
                                            {% if provincias|length > 0 %}
                                                {% for value in provincias %}
                                                    {% if value['IdProvincia'] %}
                                                        <option {{ contacto.ProvinciaId is defined ? contacto.ProvinciaId==value['IdProvincia'] ? 'selected' : ''}} value="{{ value['IdProvincia'] }}">{{ value['Nombre'] }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                            {% endif %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6 ">
                                    <div class=" form-group">
                                        <select name="eLang" id="eLang" class="custom-select  form-control" data-style="btn-custom" data-width="100%" data-size="5" title="Idioma de las publicaciones *" required>
                                            {% if idiomas|length > 0 %}
                                                    {% for value in idiomas %}
                                                        {% if value['IdIdioma'] %}
                                                            <option {{ contacto.IdiomaId is defined ? contacto.IdiomaId==value['IdIdioma'] ? 'selected' : ''}} value="{{ value['IdIdioma'] }}">{{ value['Nombre'] }}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endif %}
                                        </select>
                                    </div>
                                    <div class=" form-group">
                                            <input type="text" class="form-control" name="ePostalCode" id="ePostalCode" placeholder="Código postal *" value="{{ contacto.CodigoPostal is defined ? contacto.CodigoPostal : ''}}" required>
                                    </div>
                                </div>

                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="classictabs__component">
                    <div class="row page__block--full">
                        <div class="col">
                            <h4 class="section__title section__title--main">{{ 'userForm.interests.title'|trans }}</h4>
                            <ul class="nav nav-tabs" id="theFilters" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link active" id="popular-tab" data-toggle="tab" href="#popular" role="tab" aria-controls="popular" aria-selected="true">{{ 'userForm.interests.tabPopular'|trans }}</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="theFiltersContent">
                                <div class="tab-pane fade show active" id="popular" role="tabpanel" aria-labelledby="popular-tab">
                                    <div class="chechbox__wrapper">
                                        {% if areasinteres|length > 0 %}
                                            {% for value in areasinteres %}
                                                {% if value['IdAreaInteres'] %}
                                                    <div class="checkbox">
                                                        <input type="checkbox" class="checkbox-input" data-nombre="{{ value['Nombre'] }}"  id="sector-{{ value['IdAreaInteres'] }}" value="{{ value['IdAreaInteres'] }}">
                                                        <label class="checkbox-label" for="sector-{{ value['IdAreaInteres'] }}"><span>{{ value['Nombre'] }}</span></label>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row page__block--privacy">
                    <div class="col-12 privacy__text">
                        <h4 class="section__title section__title--main">{{ 'userForm.data.title'|trans }}</h4>
                        <p>
                        <b>Información sobre el tratamiento de sus datos personales</b></p>
                        <p>
                        <b>Responsable del tratamiento:</b> Cuatrecasas Gonçalves Pereira, S.L.P. (“Cuatrecasas”).<br>
                        <b>Finalidades:</b> : gestionar su condición de usuario del sitio web, de las aplicaciones, inscripción a los eventos y su relación con Cuatrecasas, incluyendo el envío de información sobre novedades legales y eventos promovidos por Cuatrecasas. <br>
                        <b>Legitimación:</b> el interés legítimo de Cuatrecasas y, cuando corresponda, el propio consentimiento del usuario. <br>
                        <b>Destinatarios:</b> terceros a los que Cuatrecasas haya encomendado servicios de mailing y de soporte técnico e informático, así como empresas de su mismo grupo. En caso de inscripción a eventos de Cuatrecasas organizados con terceros, sus datos podrán ser cedidos a estos para la organización y gestión de los eventos.<br>
                        <b>Derechos:</b> Acceder, rectificar y suprimir los datos, así como otros derechos, como se explica en la información adicional. Puede consultar la información adicional y detallada sobre protección de datos en <a target="_blank" href="https://www.cuatrecasas.com/media_repository/docs/politica_privacidad.pdf">la política de privacidad</a>.
                        </p>
                    </div>
                    <div class="col-12 privacy__confirm">
                        <div class="form-group">
                            <div class="checkbox">
                                <input name="accept" type="checkbox" {{ contacto.GDPR is defined ? contacto.GDPR ? 'checked' : ''}} id="accept" required>
                                <label  class="checkbox-label" for="accept"><span>He leído y acepto las <a href="#">Condiciones de Uso</a> y la <a href="#">Política de Privacidad</a></span></label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <input name="subscribe" {{ contacto.Suscripcion is defined ? contacto.Suscripcion ? 'checked' : ''}}  type="checkbox" id="subscribe">
                                <label class="checkbox-label" for="subscribe"><span>Deseo recibir información sobre novedades legales y eventos promovidos por Cuatrecasas, incluso por medios electrónicos</span></label>
                            </div>
                        </div>
                        <div class="button__wrapper">
                            <button type="submit"  class="btn btn__solid btn__solid--icon" id="formSubmit">Guardar <span class="material-icons">save</span></button>
                        </div>
                    </div>
                </div>
            </form>

        </article>
    </main>
<!-- Loader -->
<div class="search__component__loader" style="display:none">
    <img src="{{ asset('web/assets/icons/Infinity-1s-200px.gif') }}" alt="">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
        <path fill="none" stroke="#ff5a60" stroke-width="8" stroke-dasharray="42.76482137044271 42.76482137044271" d="M24.3 30C11.4 30 5 43.3 5 50s6.4 20 19.3 20c19.3 0 32.1-40 51.4-40 C88.6 30 95 43.3 95 50s-6.4 20-19.3 20C56.4 70 43.6 30 24.3 30z" stroke-linecap="round">
            <animate attributeName="stroke-dashoffset" repeatCount="indefinite" dur="1s" keyTimes="0;1" values="0;256.58892822265625"></animate>
        </path>
    </svg>
</div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{{ asset('web/vendor/bootstrap-select/dist/js/bootstrap-select.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('web/assets/js/responsiveTabs.js') }}"></script>
<script>
    $(function () {
        $('.classictabs__component .nav').responsiveTabs();

        // Bootstrap form validation
        'use strict';
        window.addEventListener('load', function() {
            var forms = document.getElementsByClassName('needs-validation');
            var validation = Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                        var errorElements = document.querySelectorAll(".form-control.is-invalid");
                        $('html, body').animate({
                            scrollTop: $(errorElements[0]).offset().top - 120
                        }, 'slow');
                        $(errorElements[0]).focus();
                    }else{
                        enviar();
                        event.preventDefault();
                        form.classList.add('was-validated');
                    }
                    
                }, false);
            });
        }, false);

      
        function enviar() {
            $("#userForm .form-control").removeClass('is-valid');
            $("#userForm .form-control").removeClass('is-invalid');
             $('.search__component__loader').fadeIn('fast');
            var contacto =  validation();
            if(contacto){
                $.ajax({
                    method: "GET",
                    data: { contacto: JSON.stringify(contacto)  },
                    url: "{{ path('set_contact_user') }}",
                    beforeSend: function( xhr ) {
                      
                    }
                    })
                .done(function( data ) {
                    $('.search__component__loader').fadeOut();
                    $('.alert-success').show();
                    return false;
                })
                .fail(function() {
                    $('.alert-danger').show();
                    $('.search__component__loader').fadeOut();
                });
            }
        }
        $("#eCountry").change( function() {
            var idCountry  =  $('#eCountry').val();
            var idCountry  =  $('#eCountry').val();
             $.ajax({
                    method: "GET",
                    data: { idCountry: idCountry  },
                    url: "{{ path('get_regions') }}",
                    beforeSend: function( xhr ) {
                        $('#eRegion option').remove()
                    }
                    })
                .done(function( data ) {
                    var html = '';
                    data.forEach(function(region){
                        html = html + `<option value="`+region['IdProvincia']+`">`+region['Nombre']+`</option>`;
                    })
                    $('#eRegion').append( html  );
                })
                .fail(function() {
                });
        });

        function validation() {
            var contacto =  {};
            var isvalidate = true;
           contacto['InteresList'] = new Array();
            $('#popular input[type=checkbox]:checked').each(function () { 
                var value = (this.checked ? $(this).val() : ""); 
                var nombre = $(this).data( "nombre" );
                var test =  new Array();
                test[nombre] = value;
                if(test){
                    contacto['InteresList'][nombre] = value;
                }
            });
            if($("#eFirstName").val()){
                $("#eFirstName").addClass('is-valid');
                contacto['Nombre']= $("#eFirstName").val();
            }else{
                isvalidate = false;
                $("#eFirstName").addClass('is-invalid');
            }
            if($("#eLastName").val()){
                $("#eLastName").addClass('is-valid');
                contacto['Apellidos']= $("#eLastName").val();
            }else{
                $("#eLastName").addClass('is-invalid');
                isvalidate = false;
            }
             if($("#ePhone").val()){
                $("#ePhone").addClass('is-valid');
                contacto['Telefono']= $("#ePhone").val();
            }else{
                $("#ePhone").addClass('is-invalid');
                isvalidate = false;
            }
            if($("#eEmail").val()){
                $("#eEmail").addClass('is-valid');
                contacto['Email']= $("#eEmail").val();
            }else{
                $("#eEmail").addClass('is-invalid');
                isvalidate = false;
            }
            if($("#ePosition").val()){
                $("#ePosition").addClass('is-valid');
                contacto['Cargo']= $("#ePosition").val();
            }else{
                $("#ePosition").addClass('is-invalid');
                isvalidate = false;
            }
            if($("#eCompany").val()){
                $("#eCompany").addClass('is-valid');
                contacto['Empresa']= $("#eCompany").val();
            }else{
                $("#eCompany").addClass('is-invalid');
                isvalidate = false;
            }

            if($("#eAddress").val()){
                $("#eAddress").addClass('is-valid');
                contacto['Direccion']= $("#eAddress").val();
            }else{
                $("#eAddress").addClass('is-invalid');
                isvalidate = false;
            }
            if($("#ePostalCode").val()){
                $("#ePostalCode").addClass('is-valid');
                contacto['CodigoPostal']= $("#ePostalCode").val();
            }else{
                $("#ePostalCode").addClass('is-invalid');
                isvalidate = false;
            }

            if($("#eCountry").val()){
                $("#eCountry").addClass('is-valid');
                contacto['PaisId']= $("#eCountry").val();
            }else{
                $("#eCountry").addClass('is-invalid');
                isvalidate = false;
            }
            if($("#eRegion").val()){
                $("#eRegion").addClass('is-valid');
                contacto['ProvinciaId']= $("#eRegion").val();
            }else{
                $("#eRegion").addClass('is-invalid');
                isvalidate = false;
            }
            if($("#eTown").val()){
                $("#eTown").addClass('is-valid');
                contacto['Poblacion']= $("#eTown").val();
            }else{
                $("#eTown").addClass('is-invalid');
                isvalidate = false;
            }
            if($("#eLang").val()){
                $("#eLang").addClass('is-valid');
                contacto['IdiomaId']= $("#eLang").val();
            }else{
                $("#eLang").addClass('is-invalid');
                isvalidate = false;
            }
            
            if($("#accept").is(':checked')){
                contacto['GDPR']= 1;
            }else{
                isvalidate = false;
            }

            if($("#accept").is(':checked')){
                contacto['GDPR']= 1;
            }else{
                isvalidate = false;
            }
            if($("#subscribe").is(':checked')){
                contacto['Suscripcion']= 1;
                contacto['SuscripcionPrensa']= 1;
                
            }else{
                contacto['Suscripcion']= 0;
            }
            if(isvalidate){
                return contacto;
            }else{
                return isvalidate;
            }
        }
    });
</script>
{% endblock %}
