{% trans_default_domain 'admin' %}

{% block collection_row %}

    <div class="form-group">

        {{ block('form_label') }}

        {{ block('form_help') }}

        {{ block('form_errors') }}

        <div id="{{ id }}_wrapper"
            class="ordered-collection-field-list"
            data-child-field-id="{{ id }}"
            data-prototype="{{ form_row(prototype)|e }}"
            data-widget-counter="{{ data|length }}">

            {{ block('form_widget') }}

        </div>

        <button type="button"
            class="add-item btn btn-secondary"
            data-list-selector="#{{ id }}_wrapper">
            <span>
                <i class="fa flaticon-plus"></i>
                <span>
                    {{ 'global.actions.addItem'|trans }}
                </span>
            </span>
        </button>

    </div>

{% endblock %}