{% trans_default_domain 'admin' %}

{% block collection_row %}

    <div class="form-group">

        {{ block('form_label') }}

        {{ block('form_help') }}

        {{ block('form_errors') }}

        <div id="{{ id }}_wrapper"
            class="blocks-collection-field"
            data-items-list-selector="{{ id }}"
            data-prototype="{{ form_row(prototype)|e }}"
            data-widget-counter="{{ data|length }}"
            data-sortable="true">

            {{ block('form_widget') }}

            <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-left m-dropdown--align-push" m-dropdown-toggle="hover" aria-expanded="true">
                <a href="#" class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--outline-2x m-btn--air m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
                    <i class="la la-plus"></i>
                </a>
                <div class="m-dropdown__wrapper">
                    <span class="m-dropdown__arrow m-dropdown__arrow--left m-dropdown__arrow--adjust"></span>
                    <div class="m-dropdown__inner">
                        <div class="m-dropdown__body">
                            <div class="m-dropdown__content">
                                <ul class="m-nav">
                                    {% for blockType in block_types %}
                                    <li class="m-nav__item">
                                        <a href="#" class="m-nav__link" data-item-type="{{ blockType }}">
                                            {{ blockType }}
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

{% endblock %}