{% trans_default_domain 'admin' %}

{% block a2lix_translations_widget %}
    {% import "cms/custom/translatableField.html.twig" as translatableField %}
    {{ form_errors(form) }}
    {{ translatableField.partialTranslations(form, ['description']) }}
{% endblock %}

{% block collection_row %}

    <div class="form-group">

        {{ block('form_label') }}
        {{ block('form_help') }}
        {{ block('form_errors') }}

        <div id="{{ id }}_wrapper"
            class="blocks-collection-field"
            data-items-list-selector="{{ id }}"
            data-prototype="{{ form_row(prototype)|e }}"
            data-widget-counter="{{ data|length }}"
            data-sortable="false">

            {{ block('form_widget') }}

            <a href="#" class="btn btn-lg btn-secondary m-btn m-btn--outline-2x m-btn--air m-btn--icon m-btn--icon-only m-btn--pill m-nav__link" data-item-type="item"><i class="la la-plus"></i></a>

        </div>

    </div>

{% endblock %}