{% block menu %}

    <div id="navDesktop" class="main__nav__wrapper">
        <div class="container" id="primaryNav">
            <div class="row">
                <nav id="mainNav" class="col-xl-7 navbar navbar-expand-xl justify-content-end" aria-label="main-nav">
                    <a href="{{ path('home') }}" class="navbar-brand" id="cuatrecasasLogo">
                        <img src="{{ asset('web/assets/logos/4casas.png') }}" alt="Cuatrecasas">
                    </a>
                    <div class="navbar-collapse">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('knowledge_index') }}">{{ 'menu.knowledge'|trans }}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('lawyers_index') }}">{{ 'menu.lawyers'|trans }}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('services_index') }}">{{ 'menu.services'|trans }}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('sectors_index') }}">{{ 'menu.sectors'|trans }}</a>
                            </li>
                        </ul>
                    </div>
                </nav>
                <nav id="aboutNav" class="col-xl-5 navbar navbar-expand-xl justify-content-start" aria-label="about-nav">
                    <div class="navbar-collapse">
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                {# <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button">{{ 'menu.career.career'|trans }}</a> #}
                                <a class="nav-link dropdown-toggle" href="{{ path('talent',{ slug: 'talent'~slug_ext }) }}" role="button">{{ 'menu.career.career'|trans }}</a>
                                <ul class="dropdown-menu dropdown-menu--inline">
                                    <li><a href="{{ path('talent',{ slug: 'talent'~slug_ext }) }}">{{ 'menu.career.career'|trans }}</a></li>
                                    <li><a href="{{ path('talent',{ slug: 'live'~slug_ext }) }}">{{ 'menu.career.live'|trans }}</a></li>
                                    <li><a href="{{ path('talent',{ slug: 'revolution'~slug_ext }) }}" class="revolution">{{ 'menu.career.revolution'|trans }}</a></li>
                                    <li><a href="{{ path('talent',{ slug: 'learn'~slug_ext }) }}">{{ 'menu.career.learn'|trans }}</a></li>
                                    <li><a href="{{ path('talent',{ slug: 'international'~slug_ext }) }}">{{ 'menu.career.international'|trans }}</a></li>
                                    <li><a href="{{ path('talent',{ slug: 'join'~slug_ext }) }}">{{ 'menu.career.join'|trans }}</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                {# <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button">{{ 'menu.offices.offices'|trans }}</a> #}
                                <a class="nav-link dropdown-toggle" href="{{ path('location') }}" role="button">{{ 'menu.offices.offices'|trans }}</a>
                                <ul class="dropdown-menu dropdown-menu--inline">
                                    <li><a href="{{ path('location') }}">{{ 'menu.offices.vision'|trans }}</a></li>
                                    <li><a href="{{ path('location_detail',{slug: 'espana'~slug_ext }) }}">{{ 'menu.offices.spain'|trans }}</a></li>
                                    <li><a href="{{ path('location_detail',{slug: 'portugal'~slug_ext }) }}">{{ 'menu.offices.portugal'|trans }}</a></li>
                                    <li><a href="{{ path('location_detail',{slug: 'latam'~slug_ext }) }}">{{ 'menu.offices.latam'|trans }}</a></li>
                                    <li><a href="{{ path('location_other') }}">{{ 'menu.offices.other'|trans }}</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                {# <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button">{{ 'menu.firm.firm'|trans }}</a> #}
                                <a class="nav-link dropdown-toggle" href="{{ path('firm',{slug: 'firm-vision'~slug_ext }) }}" role="button">{{ 'menu.firm.firm'|trans }}</a>
                                <ul class="dropdown-menu dropdown-menu--inline">
                                    <li><a href="{{ path('firm',{slug: 'firm-vision'~slug_ext }) }}">{{ 'menu.firm.vision'|trans }}</a></li>
                                    <li><a href="{{ path('firm',{slug: 'social'~slug_ext }) }}">{{ 'menu.firm.social'|trans }}</a></li>
                                    <li><a href="{{ path('firm',{slug: 'environment'~slug_ext }) }}">{{ 'menu.firm.environment'|trans }}</a></li>
                                    <li><a href="{{ path('firm',{slug: 'governance'~slug_ext }) }}">{{ 'menu.firm.governance'|trans }}</a></li>
                                    <li><a href="{{ path('firm',{slug: 'innovation'~slug_ext }) }}">{{ 'menu.firm.innovation'|trans }}</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>
                <nav id="userNav" class="navbar" aria-label="user-nav">
                    <ul class="navbar-nav user-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#" id="hamburgerButton"><i class="icon ion-android-menu"></i></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="container-fluid" id="secondaryNav">
            <div class="row">
                <nav id="contactNav" class="col-xl-12 navbar navbar-expand-xl" aria-label="contact-nav">
                    <a href="{{ path('home') }}" class="navbar-brand">
                        <img src="{{ asset('web/assets/logos/cuatrecasas.png') }}" alt="Cuatrecasas">
                    </a>
                    <div class="navbar-collapse justify-content-end">
                        <ul class="navbar-nav contact-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('contactUs') }}">{{ 'menu.contact'|trans }}</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button">{{ 'menu.webs.webs'|trans }}</a>
                                <ul class="dropdown-menu dropdown-menu--inline">
                                    <li><a href="https://acelera.cuatrecasas.com">{{ 'menu.webs.acelera'|trans }}</a></li>
                                    <li><a href="{{ relative_path('instituto-estrategia-legal-rrhh') }}">{{ 'menu.webs.rrhh'|trans }}</a></li>
                                    <li><a href="http://www.fundacioncuatrecasas.com/">{{ 'menu.webs.fundacion'|trans }}</a></li>
                                    <li><a href="https://apps.apple.com/es/app/cuatrecasas-actualidad-juridica/id654941019?ls=1">{{ 'menu.webs.app'|trans }}</a></li>
                                    <li><button type="button" class="menu-close" aria-label="Close"></button></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link lang-region-toggle" href="#" role="button">
                                    <span class="region">{{ ('global.regions.' ~ navigation_service.getRegion())|trans }}</span>
                                    <span class="lang">{{ language_switcher[navigation_service.getLanguage()] }}</span>
                                </a>
                                <div class="dropdown-menu--inline lang-region-menu">
                                    <div class="langs-nav">
                                        <div class="adapt-txt">{{ 'menu.reg_lang'|trans }}:</div>
                                        <ul class="langs-wrapper">
                                            <li class="nav-item dropdown dropdown--inline">
                                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="careerDropdown" role="button">{{ ('global.regions.' ~ navigation_service.getRegion())|trans }}</a>
                                                <ul class="dropdown-menu">
                                                    {% for region in regions %}
                                                        {% if region != navigation_service.getRegion() %}
                                                            {% set href = navigation_service.getAlternativePath(null, region) %}
                                                            {% if href %}
                                                                <li>
                                                                    <a href="{{ href }}">
                                                                        {{ ('global.regions.' ~ region)|trans }}
                                                                    </a>
                                                                </li>
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endfor %}
                                                </ul>
                                            </li>
                                            <li class="nav-item dropdown dropdown--inline">
                                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="careerDropdown" role="button">{{ language_switcher[navigation_service.getLanguage()] }}</a>
                                                <ul class="dropdown-menu">
                                                    {% for language in languages %}
                                                        {% if language != navigation_service.getLanguage() %}
                                                            {% set href = navigation_service.getAlternativePath(language) %}
                                                            {% if href %}
                                                                <li>
                                                                    <a href="{{ href }}">
                                                                        {{ language_switcher[language] }}
                                                                    </a>
                                                                </li>
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endfor %}
                                                </ul>
                                            </li>
                                        </ul>
                                        <button type="button" class="menu-close langs" aria-label="Close"></button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    {# <!-- Mobile Nav --> #}
    <nav class="navbar" id="navMobileWrapper">
        <a href="{{ path('home') }}" class="navbar-brand" id="cuatrecasasLogo">
            <img src="{{ asset('web/assets/logos/cuatrecasas_mobile.png') }}" alt="Cuatrecasas">
        </a>
        <button class="navbar-toggler navbar-open" type="button" data-toggle="collapse" data-target="#navMobile" aria-controls="navMobile" aria-expanded="false" aria-label="Toggle navigation">
            <i class="icon ion-android-menu"></i>
        </button>
        <div class="navbar-collapse collapse" id="navMobile">
            <ul class="navbar-nav mainNav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('knowledge_index') }}">{{ 'menu.knowledge'|trans }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('lawyers_index') }}">{{ 'menu.lawyers'|trans }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('services_index') }}">{{ 'menu.services'|trans }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('sectors_index') }}">{{ 'menu.sectors'|trans }}</a>
                </li>
            </ul>
            <ul class="navbar-nav aboutNav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownCareer" data-toggle="collapse" data-target="#dropdownCareerId" aria-haspopup="true" aria-expanded="false">{{ 'menu.career.career'|trans }}</a>
                    <ul class="dropdown-menu collapse" aria-labelledby="dropdownCareer" id="dropdownCareerId" data-parent="#navMobile">
                        <li><a class="dropdown-item" href="{{ path('talent',{ slug: 'talent'~slug_ext }) }}">{{ 'menu.career.career'|trans }}</a></li>
                        <li><a class="dropdown-item" href="{{ path('talent',{ slug: 'live'~slug_ext }) }}">{{ 'menu.career.live'|trans }}</a></li>
                        <li><a class="dropdown-item revolution" href="{{ path('talent',{ slug: 'revolution'~slug_ext }) }}">{{ 'menu.career.revolution'|trans }}</a></li>
                        <li><a class="dropdown-item" href="{{ path('talent',{ slug: 'learn'~slug_ext }) }}">{{ 'menu.career.learn'|trans }}</a></li>
                        <li><a class="dropdown-item" href="{{ path('talent',{ slug: 'international'~slug_ext }) }}">{{ 'menu.career.international'|trans }}</a></li>
                        <li><a class="dropdown-item" href="{{ path('talent',{ slug: 'join'~slug_ext }) }}">{{ 'menu.career.join'|trans }}</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownOffices" data-toggle="collapse" data-target="#dropdownOfficesId" aria-haspopup="true" aria-expanded="false">{{ 'menu.offices.offices'|trans }}</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownOffices" id="dropdownOfficesId" data-parent="#navMobile">
                        <li><a class="dropdown-item" href="{{ path('location') }}">{{ 'menu.offices.vision'|trans }}</a></li>
                        <li><a class="dropdown-item" href="{{ path('location_detail',{slug: 'espana'~slug_ext }) }}">{{ 'menu.offices.spain'|trans }}</a></li>
                        <li><a class="dropdown-item" href="{{ path('location_detail',{slug: 'portugal'~slug_ext }) }}">{{ 'menu.offices.portugal'|trans }}</a></li>
                        <li><a class="dropdown-item" href="{{ path('location_detail',{slug: 'latam'~slug_ext }) }}">{{ 'menu.offices.latam'|trans }}</a></li>
                        <li><a class="dropdown-item" href="{{ path('location_other') }}">{{ 'menu.offices.other'|trans }}</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownFirm" data-toggle="collapse" data-target="#dropdownFirmId" aria-haspopup="true" aria-expanded="false">{{ 'menu.firm.firm'|trans }}</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownFirm" id="dropdownFirmId" data-parent="#navMobile">
                        <li><a class="dropdown-item" href="{{ path('firm',{slug: 'firm-vision'~slug_ext }) }}">{{ 'menu.firm.vision'|trans }}</a></li>
                        <li><a class="dropdown-item" href="{{ path('firm',{slug: 'social'~slug_ext }) }}">{{ 'menu.firm.social'|trans }}</a></li>
                        <li><a class="dropdown-item" href="{{ path('firm',{slug: 'environment'~slug_ext }) }}">{{ 'menu.firm.environment'|trans }}</a></li>
                        <li><a class="dropdown-item" href="{{ path('firm',{slug: 'governance'~slug_ext }) }}">{{ 'menu.firm.governance'|trans }}</a></li>
                        <li><a class="dropdown-item" href="{{ path('firm',{slug: 'innovation'~slug_ext }) }}">{{ 'menu.firm.innovation'|trans }}</a></li>
                    </ul>
                </li>
            </ul>
            <a href="{{ path('home') }}" class="navbar-brand-icon">
                <img src="{{ asset('web/assets/logos/4casas_mobile.png') }}" alt="Cuatrecasas">
            </a>
            <ul class="navbar-nav contactNav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownInfo" data-toggle="collapse" data-target="#dropdownInfoId" aria-haspopup="true" aria-expanded="false">Info</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownInfo" id="dropdownInfoId" data-parent="#navMobile">
                        <li><a class="dropdown-item-submenu" href="{{ path('contactUs') }}">{{ 'menu.contact'|trans }}</a></li>
                        <li class="nav-item dropdown submenu">
                            <a class="nav-link-submenu dropdown-toggle" href="#" id="dropdownWebs" data-toggle="collapse" data-target="#dropdownWebsId" aria-haspopup="true" aria-expanded="false">{{ 'menu.webs.webs'|trans }}</a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownWebs" id="dropdownWebsId" data-parent="#dropdownInfoId">
                                <li><a class="dropdown-item" href="https://acelera.cuatrecasas.com">{{ 'menu.webs.acelera'|trans }}</a></li>
                                <li><a class="dropdown-item" href="{{ relative_path('instituto-estrategia-legal-rrhh') }}">{{ 'menu.webs.rrhh'|trans }}</a></li>
                                <li><a class="dropdown-item" href="http://www.fundacioncuatrecasas.com/">{{ 'menu.webs.fundacion'|trans }}</a></li>
                                <li><a class="dropdown-item" href="https://apps.apple.com/es/app/cuatrecasas-actualidad-juridica/id654941019?ls=1">{{ 'menu.webs.app'|trans }}</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown submenu">
                            <a class="nav-link-submenu dropdown-toggle" href="#" id="dropdownRegions" data-toggle="collapse" data-target="#dropdownRegionsId" aria-haspopup="true" aria-expanded="false">{{ ('global.regions.' ~ navigation_service.getRegion())|trans }}</a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownRegions" id="dropdownRegionsId" data-parent="#dropdownInfoId">
                                {% for region in regions %}
                                    {% if region != navigation_service.getRegion() %}
                                        {% set href = navigation_service.getAlternativePath(null, region) %}
                                        {% if href %}
                                            <li><a class="dropdown-item" href="{{ href }}">{{ ('global.regions.' ~ region)|trans }}</a></li>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </li>
                        <li class="nav-item dropdown submenu">
                            <a class="nav-link-submenu dropdown-toggle" href="#" id="dropdownLangs" data-toggle="collapse" data-target="#dropdownLangsId" aria-haspopup="true" aria-expanded="false">{{ language_switcher[navigation_service.getLanguage()] }}</a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownLangs" id="dropdownLangsId" data-parent="#dropdownInfoId">
                                {% for language in languages %}
                                    {% if language != navigation_service.getLanguage() %}
                                        {% set href = navigation_service.getAlternativePath(language) %}
                                        {% if href %}
                                            <li><a class="dropdown-item" href="{{ href }}">{{ language_switcher[language] }}</a></li>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <button class="navbar-toggler navbar-close" type="button" data-toggle="collapse" data-target="#navMobile" aria-controls="navMobile" aria-expanded="false" aria-label="Toggle navigation">
            <i class="icon ion-android-close"></i>
        </button>
    </nav>
{% endblock %}
