<section class="boxnews boxnews--info">
    <div class="container">
        <div class="row page__section">
            <div class="col">
                <div class="boxnews__list">
                    <article class="boxnews__item">
                        <div class="boxnews__header">
                            <div class="boxnews__type">{{ 'firm.asociations_social.title'|trans}}</div>
                        </div>
                        <div class="boxnews__content">
                            <h5 class="boxnews__content__title">{{ 'firm.asociations_social.art_1.title'|trans}}</h5>
                            <p class="boxnews__content__info">{{ 'firm.asociations_social.art_1.content'|trans}}</p>
                            <div class="boxnews__content__button">
                                <a href="#" class="doble__arrow__link">{{ 'global.messages.show_more'|trans}}</a>
                            </div>
                            <div class="boxnews__photo boxnews__photo--logo">
                                <img src="{{ asset('web/assets/logos/logo_REDI.png') }}" alt="">
                            </div>
                        </div>
                    </article>
                    <article class="boxnews__item">
                        <div class="boxnews__header">
                            <div class="boxnews__type">{{ 'firm.asociations_social.title'|trans}}</div>
                        </div>
                        <div class="boxnews__content">
                            <h5 class="boxnews__content__title">{{ 'firm.asociations_social.art_2.title'|trans}}</h5>
                            <p class="boxnews__content__info">{{ 'firm.asociations_social.art_2.content'|trans}}</p>
                            <div class="boxnews__content__button">
                                <a href="#" class="doble__arrow__link">{{ 'global.messages.show_more'|trans}}</a>
                            </div>
                            {# <div class="boxnews__photo boxnews__photo--logo">
                                <img src="{{ asset('web/assets/logos/logo_REDI.png') }}" alt="">
                            </div> #}
                        </div>
                    </article>
                    <article class="boxnews__item">
                        <div class="boxnews__header">
                            <div class="boxnews__type">{{ 'firm.asociations_social.title'|trans}}</div>
                        </div>
                        <div class="boxnews__content">
                            <h5 class="boxnews__content__title">{{ 'firm.asociations_social.art_3.title'|trans}}</h5>
                            <p class="boxnews__content__info">{{ 'firm.asociations_social.art_3.content'|trans}}</p>
                            <div class="boxnews__content__button">
                                <a href="#" class="doble__arrow__link">{{ 'global.messages.show_more'|trans}}</a>
                            </div>
                            {# <div class="boxnews__photo boxnews__photo--logo">
                                <img src="{{ asset('web/assets/logos/logo_REDI.png') }}" alt="">
                            </div> #}
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>
