<section class="awards">
    <div class="container">
        <div class="row page__section">
            <div class="col">
                <h4 class="section__title section__title--main">Premios</h4>
                <div id="sliderAwards" class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <figure class="awards__wrapper">
                                <img src="{{ asset('web/assets/logos/ft-innovative-lawyers_logo.png') | imagine_filter('logo_awards') }}" class="awards__logo" alt="Nombre Empresa">
                                <div class="awards__title">Firma más innovadora en "Collaboration"</div>
                                <div class="awards__date">Financial Times, 2018</div>
                            </figure>
                        </div>
                        <div class="swiper-slide">
                            <figure class="awards__wrapper">
                                <img src="{{ asset('web/assets/logos/forbes_logo.png') | imagine_filter('logo_awards') }}" class="awards__logo" alt="Nombre Empresa">
                                <div class="awards__title">Mejor despacho de abogados en España</div>
                                <div class="awards__date">Forbes abogados, 2019</div>
                            </figure>
                        </div>
                        <div class="swiper-slide">
                            <figure class="awards__wrapper">
                                <img src="{{ asset('web/assets/logos/ft-innovative-lawyers_logo.png') | imagine_filter('logo_awards') }}" class="awards__logo" alt="Nombre Empresa">
                                <div class="awards__title">Mejor despacho en "Strategy &amp; Changing behaviours"</div>
                                <div class="awards__date">Financial Times, 2018</div>
                            </figure>
                        </div>
                        <div class="swiper-slide">
                            <figure class="awards__wrapper">
                                <img src="{{ asset('web/assets/logos/forbes_logo.png') | imagine_filter('logo_awards') }}" class="awards__logo" alt="Nombre Empresa">
                                <div class="awards__title">Mejor despacho de abogados en España</div>
                                <div class="awards__date">Forbes abogados, 2019</div>
                            </figure>
                        </div>
                        <div class="swiper-slide">
                            <figure class="awards__wrapper">
                                <img src="{{ asset('web/assets/logos/ft-innovative-lawyers_logo.png') | imagine_filter('logo_awards')}}" class="awards__logo" alt="Nombre Empresa">
                                <div class="awards__title">Firma más innovadora en "Collaboration"</div>
                                <div class="awards__date">Financial Times, 2018</div>
                            </figure>
                        </div>
                        <div class="swiper-slide">
                            <figure class="awards__wrapper">
                                <img src="{{ asset('web/assets/logos/forbes_logo.png') | imagine_filter('logo_awards') }}" class="awards__logo" alt="Nombre Empresa">
                                <div class="awards__title">Mejor despacho de abogados en España</div>
                                <div class="awards__date">Forbes abogados, 2019</div>
                            </figure>
                        </div>
                        <div class="swiper-slide">
                            <figure class="awards__wrapper">
                                <img src="{{ asset('web/assets/logos/ft-innovative-lawyers_logo.png') | imagine_filter('logo_awards') }}" class="awards__logo" alt="Nombre Empresa">
                                <div class="awards__title">Mejor despacho en "Strategy &amp; Changing behaviours"</div>
                                <div class="awards__date">Financial Times, 2018</div>
                            </figure>
                        </div>
                        <div class="swiper-slide">
                            <figure class="awards__wrapper">
                                <img src="{{ asset('web/assets/logos/forbes_logo.png') | imagine_filter('logo_awards') }}" class="awards__logo" alt="Nombre Empresa">
                                <div class="awards__title">Mejor despacho de abogados en España</div>
                                <div class="awards__date">Forbes abogados, 2019</div>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
