<section class="insight--carousel">
    <div class="container">
        <div class="row page__section">
            <div class="col">
                <h4 class="section__title section__title section__title--cases">
                    {{ 'reusable_blocks.cases.title'|trans }}
                </h4>
                <div id="sliderCases" class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <article class="insight__item">
                                <div class="insight__article">
                                    <div class="insight__content">
                                        <h3 class="insight__title">
                                            Cuatrecasas lorem ipsum dolor sit amet consectetur, adipisicing elit praesentium minima voluptatibus
                                        </h3>
                                    </div>
                                    <div class="insight__viewmore">
                                        <a href="#" class="doble__arrow__link">{{ 'reusable_blocks.cases.link'|trans }}</a>
                                    </div>
                                </div>
                                <div class="insight__img" style="background-image: url('{{ asset('web/assets/vector/Picto_03_1920x1080.png') }}')"></div>
                            </article>
                        </div>
                        <div class="swiper-slide">
                            <article class="insight__item">
                                <div class="insight__article">
                                    <div class="insight__content">
                                        <h3 class="insight__title">
                                            Praesentium minima voluptatibus et, labore quisquam
                                        </h3>
                                    </div>
                                    <div class="insight__viewmore">
                                        <a href="#" class="doble__arrow__link">{{ 'reusable_blocks.cases.link'|trans }}</a>
                                    </div>
                                </div>
                                <div class="insight__img" style="background-image: url('{{ asset('web/assets/vector/Picto_03_1920x1080.png') }}')"></div>
                            </article>
                        </div>
                    </div>
                </div>
                <div class="viewmore__button">
                    <button type="button" class="btn btn__viewmore">{{ 'global.messages.view_more_cases'|trans }}</button>
                </div>
            </div>
        </div>
    </div>
</section>
