<section class="boxnews boxnews--info boxnews--doble">
    <div class="container">
        <div class="row page__section">
            <div class="col">
                <div class="boxnews__list">
                    <article class="boxnews__item">
                        <div class="boxnews__content">
                            <h5 class="boxnews__content__title">{{ 'firm.collections_social.art_1.title'|trans}}</h5>
                            <div class="boxnews__content__info">
                                <p>{{ 'firm.collections_social.art_1.content'|trans}}</p>
                            </div>
                            {# <div class="boxnews__content__button">
                                <a href="#" class="doble__arrow__link">{{ 'global.messages.show_more'|trans}}</a>
                            </div>
                            <div class="boxnews__photo">
                                <img src="{{ asset('web/assets/img/F00_firma-people.jpg') }}" alt="{{ 'firm.collections_social.art_1.title'|trans}}>
                            </div> #}
                        </div>
                    </article>
                    <article class="boxnews__item">
                        <div class="boxnews__content">
                            <h5 class="boxnews__content__title">{{ 'firm.collections_social.art_2.title'|trans}}</h5>
                            <div class="boxnews__content__info">
                                <p>{{ 'firm.collections_social.art_2.content'|trans}}</p>
                            </div>
                            <div class="boxnews__content__button">
                                <a href="#" class="doble__arrow__link">{{ 'firm.collections_social.art_2.link'|trans}}</a>
                            </div>
                            <div class="boxnews__photo">
                                <img src="{{ asset('web/assets/img/F00_firma-people.jpg') }}" alt="{{ 'firm.collections_social.art_2.title'|trans}}">
                            </div>
                        </div>
                    </article>
                    <article class="boxnews__item">
                        <div class="boxnews__content">
                            <h5 class="boxnews__content__title">{{ 'firm.collections_social.art_3.title'|trans}}</h5>
                            <div class="boxnews__content__info">
                                <p>{{ 'firm.collections_social.art_3.content'|trans}}</p>
                            </div>
                            {# <div class="boxnews__content__button">
                                <a href="#" class="doble__arrow__link">{{ 'global.messages.show_more'|trans}}</a>
                            </div>
                            <div class="boxnews__photo">
                                <img src="{{ asset('web/assets/img/F00_firma-people.jpg') }}" alt="{{ 'firm.collections_social.art_3.title'|trans}}">
                            </div> #}
                        </div>
                    </article>
                    <article class="boxnews__item">
                        <div class="boxnews__content">
                            <h5 class="boxnews__content__title">{{ 'firm.collections_social.art_4.title'|trans}}</h5>
                            <div class="boxnews__content__info">
                                <p>{{ 'firm.collections_social.art_4.content'|trans}}</p>
                            </div>
                        </div>
                    </article>
                    <article class="boxnews__item">
                        <div class="boxnews__content">
                            <h5 class="boxnews__content__title">{{ 'firm.collections_social.art_5.title'|trans}}</h5>
                            <div class="boxnews__content__info">
                                <p>{{ 'firm.collections_social.art_5.content'|trans}}</p>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>
