<section class="accordion__double">
    <div class="container">
        <div class="row">
            <div class="col">
                <h4 class="section__title section__title--main">{{ 'firm.governance.ethics.title'| trans }}</h4>
                <div class="accordion__double">
                    <div class="panel-group" role="tablist" aria-multiselectable="true">
                        <div class="panel">
                            <div class="panel-heading" role="tab" id="heading1">
                                <h3 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" href="#collapse1" aria-expanded="false" aria-controls="collapseOne">{{ 'firm.governance.ethics.art_1.title'|trans}}</a>
                                </h3>
                            </div>
                            <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
                                <div class="panel-body">
                                    <p>{{ 'firm.governance.ethics.art_1.content'|trans}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading" role="tab" id="heading2">
                                <h3 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" href="#collapse2" aria-expanded="false" aria-controls="collapseTwo">{{ 'firm.governance.ethics.art_2.title'|trans}}</a>
                                </h3>
                            </div>
                            <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                                <div class="panel-body">
                                    <p>{{ 'firm.governance.ethics.art_2.content'|trans}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading" role="tab" id="heading3">
                                <h3 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" href="#collapse3" aria-expanded="false" aria-controls="collapseThree">{{ 'firm.governance.ethics.art_3.title'|trans}}</a>
                                </h3>
                            </div>
                            <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
                                <div class="panel-body">
                                    <p>{{ 'firm.governance.ethics.art_3.content'|trans}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading" role="tab" id="heading4">
                                <h3 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" href="#collapse4" aria-expanded="false" aria-controls="collapseFour">{{ 'firm.governance.ethics.art_4.title'|trans}}</a>
                                </h3>
                            </div>
                            <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
                                <div class="panel-body">
                                    <p>{{ 'firm.governance.ethics.art_4.content'|trans}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading" role="tab" id="heading5">
                                <h3 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" href="#collapse5" aria-expanded="false" aria-controls="collapseFive">{{ 'firm.governance.ethics.art_5.title'|trans}}</a>
                                </h3>
                            </div>
                            <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5">
                                <div class="panel-body">
                                    <p>{{ 'firm.governance.ethics.art_5.content'|trans}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-group" role="tablist" aria-multiselectable="true">
                        <div class="panel">
                            <div class="panel-heading" role="tab" id="heading6">
                                <h3 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" href="#collapse6" aria-expanded="false" aria-controls="collapseSix">{{ 'firm.governance.ethics.art_6.title'|trans}}</a>
                                </h3>
                            </div>
                            <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading6">
                                <div class="panel-body">
                                    <p>{{ 'firm.governance.ethics.art_6.content'|trans}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading" role="tab" id="heading7">
                                <h3 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" href="#collapse7" aria-expanded="false" aria-controls="collapseSeven">{{ 'firm.governance.ethics.art_7.title'|trans}}</a>
                                </h3>
                            </div>
                            <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading7">
                                <div class="panel-body">
                                    <p>{{ 'firm.governance.ethics.art_7.content'|trans}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading" role="tab" id="heading8">
                                <h3 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" href="#collapse8" aria-expanded="false" aria-controls="collapseEight">{{ 'firm.governance.ethics.art_8.title'|trans}}</a>
                                </h3>
                            </div>
                            <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading8">
                                <div class="panel-body">
                                    <p>{{ 'firm.governance.ethics.art_8.content'|trans}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading" role="tab" id="heading9">
                                <h3 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" href="#collapse9" aria-expanded="false" aria-controls="collapseNine">{{ 'firm.governance.ethics.art_9.title'|trans}}</a>
                                </h3>
                            </div>
                            <div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading9">
                                <div class="panel-body">
                                    <p>{{ 'firm.governance.ethics.art_9.content'|trans}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading" role="tab" id="heading10">
                                <h3 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" href="#collapse10" aria-expanded="false" aria-controls="collapseTen">{{ 'firm.governance.ethics.art_10.title'|trans}}</a>
                                </h3>
                            </div>
                            <div id="collapse10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading10">
                                <div class="panel-body">
                                    <p>{{ 'firm.governance.ethics.art_10.content'|trans}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
