<section class="boxnews boxnews--info boxnews--bgcolor">
    <div class="container">
        <div class="row page__block--component">
            <div class="col">
                <h4 class="section__title section__title--main">{{ 'firm.governance.values.title'| trans }}</h4>
                <p>{{ 'firm.governance.values.intro'| trans }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="boxnews__list">
                    <article class="boxnews__item boxnews__item--bgcolor bgcolor--even">
                        <div class="boxnews__content">
                            <h5 class="boxnews__content__title">{{ 'firm.governance.values.art_1.title'|trans}}</h5>
                            <div class="boxnews__content__info">
                                <p>{{ 'firm.governance.values.art_1.content'|trans}}</p>
                            </div>
                        </div>
                    </article>
                    <article class="boxnews__item boxnews__item--bgcolor bgcolor--odd">
                        <div class="boxnews__content">
                            <h5 class="boxnews__content__title">{{ 'firm.governance.values.art_2.title'|trans}}</h5>
                            <div class="boxnews__content__info">
                                <p>{{ 'firm.governance.values.art_2.content'|trans}}</p>
                            </div>
                        </div>
                    </article>
                    <article class="boxnews__item boxnews__item--bgcolor bgcolor--even">
                        <div class="boxnews__content">
                            <h5 class="boxnews__content__title">{{ 'firm.governance.values.art_3.title'|trans}}</h5>
                            <div class="boxnews__content__info">
                                <p>{{ 'firm.governance.values.art_3.content'|trans}}</p>
                            </div>
                        </div>
                    </article>
                    <article class="boxnews__item boxnews__item--bgcolor bgcolor--odd">
                        <div class="boxnews__content">
                            <h5 class="boxnews__content__title">{{ 'firm.governance.values.art_4.title'|trans}}</h5>
                            <div class="boxnews__content__info">
                                <p>{{ 'firm.governance.values.art_4.content'|trans}}</p>
                            </div>
                        </div>
                    </article>
                    <article class="boxnews__item boxnews__item--bgcolor bgcolor--even">
                        <div class="boxnews__content">
                            <h5 class="boxnews__content__title">{{ 'firm.governance.values.art_5.title'|trans}}</h5>
                            <div class="boxnews__content__info">
                                <p>{{ 'firm.governance.values.art_5.content'|trans}}</p>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>
