<section class="boxnews boxnews--info bg__grey__02">
    <div class="container">
        <div class="row page__section">
            <div class="col">
                <h4 class="section__title section__title--main">{{ 'firm.info_social.title'|trans}}</h4>

                <div id="loadMoreBoxes" class="boxnews__list">
                    <article class="boxnews__item">
                        <div class="boxnews__content">
                            <h5 class="boxnews__content__title">{{ 'firm.info_social.art_1.title'|trans}}</h5>
                            <div class="boxnews__content__info">
                                <p>{{ 'firm.info_social.art_1.content'|trans}}</p>
                            </div>
                            <div class="boxnews__content__button">
                                <a href="https://www.pactomundial.org/" class="doble__arrow__link">{{ 'global.messages.show_more'|trans}}</a>
                            </div>
                        </div>
                    </article>
                    <article class="boxnews__item">
                        <div class="boxnews__content">
                            <h5 class="boxnews__content__title">{{ 'firm.info_social.art_2.title'|trans}}</h5>
                            <div class="boxnews__content__info">
                                <p>{{ 'firm.info_social.art_2.content'|trans}}</p>
                            </div>
                            <!-- <div class="boxnews__content__button">
                                <a href="#" class="doble__arrow__link">{{ 'global.messages.show_more'|trans}}</a>
                            </div> -->
                            <div class="boxnews__photo">
                                <img src="{{ asset('web/assets/img/F00_firma-shadows.jpg') }}" alt="">
                            </div>
                        </div>
                    </article>
                    <article class="boxnews__item">
                        <div class="boxnews__content">
                            <h5 class="boxnews__content__title">{{ 'firm.info_social.art_3.title'|trans}}</h5>
                            <div class="boxnews__content__info">
                                <p>{{ 'firm.info_social.art_3.content'|trans}}</p>
                            </div>
                            <!-- <div class="boxnews__content__button">
                                <a href="#" class="doble__arrow__link">{{ 'global.messages.show_more'|trans}}</a>
                            </div> -->
                            <div class="boxnews__photo">
                                <img src="{{ asset('web/assets/img/F00_firma-shadows.jpg') }}" alt="">
                            </div>
                        </div>
                    </article>
                    <article class="boxnews__item">
                        <div class="boxnews__content">
                            <h5 class="boxnews__content__title">{{ 'firm.info_social.art_4.title'|trans}}</h5>
                            <div class="boxnews__content__info">
                                <p>{{ 'firm.info_social.art_4.content'|trans}}</p>
                            </div>
                            <div class="boxnews__content__button">
                                <a href="https://www.pactomundial.org/" class="doble__arrow__link">{{ 'global.messages.show_more'|trans}}</a>
                            </div>
                        </div>
                    </article>
                    <article class="boxnews__item">
                        <div class="boxnews__content">
                            <h5 class="boxnews__content__title">{{ 'firm.info_social.art_5.title'|trans}}</h5>
                            <div class="boxnews__content__info">
                                <p>{{ 'firm.info_social.art_5.content'|trans}}</p>
                            </div>
                        </div>
                    </article>
                    <article class="boxnews__item">
                        <div class="boxnews__content">
                            <h5 class="boxnews__content__title">{{ 'firm.info_social.art_6.title'|trans}}</h5>
                            <div class="boxnews__content__info">
                                <p>{{ 'firm.info_social.art_6.content'|trans}}</p>
                            </div>
                        </div>
                    </article>
                    <article class="boxnews__item">
                        <div class="boxnews__content">
                            <h5 class="boxnews__content__title">{{ 'firm.info_social.art_7.title'|trans}}</h5>
                            <div class="boxnews__content__info">
                                <p>{{ 'firm.info_social.art_7.content'|trans}}</p>
                            </div>
                        </div>
                    </article>
                    <article class="boxnews__item">
                        <div class="boxnews__content">
                            <h5 class="boxnews__content__title">{{ 'firm.info_social.art_8.title'|trans}}</h5>
                            <div class="boxnews__content__info">
                                <p>{{ 'firm.info_social.art_8.content'|trans}}</p>
                            </div>
                        </div>
                    </article>
                    <article class="boxnews__item">
                        <div class="boxnews__content">
                            <h5 class="boxnews__content__title">{{ 'firm.info_social.art_9.title'|trans}}</h5>
                            <div class="boxnews__content__info">
                                <p>{{ 'firm.info_social.art_9.content'|trans}}</p>
                            </div>
                        </div>
                    </article>
                    <article class="boxnews__item">
                        <div class="boxnews__content">
                            <h5 class="boxnews__content__title">{{ 'firm.info_social.art_10.title'|trans}}</h5>
                            <div class="boxnews__content__info">
                                <p>{{ 'firm.info_social.art_10.content'|trans}}</p>
                            </div>
                        </div>
                    </article>
                    <article class="boxnews__item">
                        <div class="boxnews__content">
                            <h5 class="boxnews__content__title">{{ 'firm.info_social.art_11.title'|trans}}</h5>
                            <div class="boxnews__content__info">
                                <p>{{ 'firm.info_social.art_11.content'|trans}}</p>
                            </div>
                        </div>
                    </article>
                    <article class="boxnews__item">
                        <div class="boxnews__content">
                            <h5 class="boxnews__content__title">{{ 'firm.info_social.art_12.title'|trans}}</h5>
                            <div class="boxnews__content__info">
                                <p>{{ 'firm.info_social.art_12.content'|trans}}</p>
                            </div>
                        </div>
                    </article>
                    <article class="boxnews__item">
                        <div class="boxnews__content">
                            <h5 class="boxnews__content__title">{{ 'firm.info_social.art_13.title'|trans}}</h5>
                            <div class="boxnews__content__info">
                                <p>{{ 'firm.info_social.art_13.content'|trans}}</p>
                            </div>
                        </div>
                    </article>
                    <article class="boxnews__item">
                        <div class="boxnews__content">
                            <h5 class="boxnews__content__title">{{ 'firm.info_social.art_14.title'|trans}}</h5>
                            <div class="boxnews__content__info">
                                <p>{{ 'firm.info_social.art_14.content'|trans}}</p>
                            </div>
                        </div>
                    </article>
                    <article class="boxnews__item">
                        <div class="boxnews__content">
                            <h5 class="boxnews__content__title">{{ 'firm.info_social.art_15.title'|trans}}</h5>
                            <div class="boxnews__content__info">
                                <p>{{ 'firm.info_social.art_15.content'|trans}}</p>
                            </div>
                        </div>
                    </article>
                    <article class="boxnews__item">
                        <div class="boxnews__content">
                            <h5 class="boxnews__content__title">{{ 'firm.info_social.art_16.title'|trans}}</h5>
                            <div class="boxnews__content__info">
                                <p>{{ 'firm.info_social.art_16.content'|trans}}</p>
                            </div>
                        </div>
                    </article>
                    <article class="boxnews__item">
                        <div class="boxnews__content">
                            <h5 class="boxnews__content__title">{{ 'firm.info_social.art_17.title'|trans}}</h5>
                            <div class="boxnews__content__info">
                                <p>{{ 'firm.info_social.art_17.content'|trans}}</p>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="viewmore__button">
                    <button id="loadMore" type="button" class="btn btn__viewmore btn__viewmore--plus">{{ 'global.messages.load_more'|trans}}</button>
                </div>
            </div>
        </div>
    </div>
</section>
