<section class="boxnews boxnews--info bg__grey__03">
    <div class="container">
        <div class="row page__section">
            <div class="col">
                <div class="boxnews__list">
                    <article class="boxnews__item">
                        <div class="boxnews__content">
                            <h5 class="boxnews__content__title">{{ 'firm.info_governance.art_1.title'|trans}}</h5>
                            <div class="boxnews__content__info"></div>
                            <div class="boxnews__content__button">
                                <a href="#" class="doble__arrow__link">{{ 'global.messages.show_more'|trans}}</a>
                            </div>
                            <div class="boxnews__photo">
                                <img src="{{ asset('web/assets/vector/Picto_03_1920x1080.png') }}" alt="{{ 'firm.info_governance.art_1.title'|trans}}">
                            </div>
                        </div>
                    </article>
                    <article class="boxnews__item">
                        <div class="boxnews__content">
                            <h5 class="boxnews__content__title">{{ 'firm.info_governance.art_2.title'|trans}}</h5>
                            <div class="boxnews__content__info"></div>
                            <div class="boxnews__content__button">
                                <a href="#" class="doble__arrow__link">{{ 'global.messages.show_more'|trans}}</a>
                            </div>
                        </div>
                    </article>
                    <article class="boxnews__item boxnews__item--fundation">
                        <div class="boxnews__content">
                            <h5 class="boxnews__content__title">{{ 'firm.info_governance.art_3.title'|trans}}</h5>
                            <div class="boxnews__content__info"></div>
                            <div class="boxnews__content__button">
                                <a href="http://www.fundacioncuatrecasas.com/" class="doble__arrow__link">{{ 'global.messages.show_more'|trans}}</a>
                            </div>
                            <div class="boxnews__photo">
                                <img src="{{ asset('web/assets/img/F00_firma-manos_small.jpg') }}" alt="{{ 'firm.info_governance.art_3.title'|trans}}">
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>
