<section class="boxnews boxnews--info bg__grey__02">
    <div class="container">
        <div class="row page__section">
            <div class="col">
                <div class="boxnews__list">
                    <article class="boxnews__item">
                        <div class="boxnews__content">
                            <h5 class="boxnews__content__title">{{ 'firm.info_firma.art_1.title'|trans}}</h5>
                            <div class="boxnews__content__info">
                                <p>{{ 'firm.info_firma.art_1.content'|trans}}</p>
                            </div>
                            <div class="boxnews__content__button">
                                <a href="{{ path('sectors_index') }}" class="doble__arrow__link">{{ 'global.messages.show_sector'|trans}}</a>
                            </div>
                            <div class="boxnews__content__button">
                                <a href="{{ path('services_index') }}" class="doble__arrow__link">{{ 'global.messages.show_service'|trans}}</a>
                            </div>
                        </div>
                    </article>
                    <article class="boxnews__item">
                        <div class="boxnews__content">
                            <h5 class="boxnews__content__title">{{ 'firm.info_firma.art_2.title'|trans}}</h5>
                            <div class="boxnews__content__info">
                                <p>{{ 'firm.info_firma.art_2.content'|trans}}</p>
                            </div>
                            <div class="boxnews__content__button">
                                <a href="{{ path('lawyers_index') }}" class="doble__arrow__link">{{ 'global.messages.show_more'|trans}}</a>
                            </div>
                        </div>
                    </article>
                    <article class="boxnews__item">
                        <div class="boxnews__content">
                            <h5 class="boxnews__content__title">{{ 'firm.info_firma.art_3.title'|trans}}</h5>
                            <div class="boxnews__content__info">
                                <p>{{ 'firm.info_firma.art_3.content'|trans}}</p>
                            </div>
                            <div class="boxnews__content__button">
                                <a href="{{ path('regions_vision') }}" class="doble__arrow__link">{{ 'global.messages.show_more'|trans}}</a>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>
