<section class="boxnews boxnews--info bg__grey__03">
    <div class="container">
        <div class="row page__section">
            <div class="col">
                <div class="boxnews__list">
                    <article class="boxnews__item">
                        <div class="boxnews__content">
                            <h5 class="boxnews__content__title">{{ 'firm.info_acelera.art_1.title'|trans}}</h5>
                            <div class="boxnews__content__info">
                                <p>{{ 'firm.info_acelera.art_1.content'|trans}}</p>
                            </div>
                            <div class="boxnews__content__button">
                                <a href="{{ path('firm',{ slug: 'media-center'~slug_ext }) }}" class="doble__arrow__link">{{ 'firm.innovation.media_center'|trans}}</a>
                            </div>
                        </div>
                    </article>
                    <article class="boxnews__item">
                        <div class="boxnews__content">
                            <h5 class="boxnews__content__title">{{ 'firm.info_acelera.art_2.title'|trans}}</h5>
                            <div class="boxnews__content__info">
                                <p>{{ 'firm.info_acelera.art_2.content'|trans}}</p>
                            </div>
                            <div class="boxnews__content__button">
                                <a href="{{ path('firm',{ slug: 'media-center'~slug_ext }) }}" class="doble__arrow__link">{{ 'firm.innovation.media_center'|trans}}</a>
                            </div>
                            {# <div class="boxnews__photo">
                                <img src="{{ asset('web/assets/img/F00_firma-shadows.jpg') }}" alt="{{ 'firm.info_acelera.art_2.title'|trans}}">
                            </div> #}
                        </div>
                    </article>
                    <article class="boxnews__item boxnews__item--acelera">
                        <div class="boxnews__content">
                            <h5 class="boxnews__content__title">{{ 'firm.info_acelera.art_3.title'|trans}}</h5>
                            <div class="boxnews__content__info">
                                <p>{{ 'firm.info_acelera.art_3.content'|trans}}</p>
                            </div>
                            <div class="boxnews__content__button">
                                <a href="https://acelera.cuatrecasas.com/" class="doble__arrow__link">{{ 'global.messages.show_more'|trans}}</a>
                            </div>
                            {# <div class="boxnews__photo">
                                <img src="{{ asset('web/assets/img/F00_firma-shadows.jpg') }}" alt="{{ 'firm.info_acelera.art_3.title'|trans}}">
                            </div> #}
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>
