<section class="overview overview--nobg">
    <div class="container">
        <div class="row page__block--component">
            <div class="col">
                <h4 class="section__title section__title--main">{{ 'firm.overview_probono.title'|trans }}</h4>
                <p>{{ 'firm.overview_probono.content'|trans }}</p>
                <div class="viewmore__button">
                    <button type="button" class="btn btn__viewmore">{{ 'global.messages.show_more'|trans }}</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="overview__wrapper overview__wrapper--2cols">
                    <div class="overview__wrapper--2cols--boxes">
                        <div class="overview__item">
                            <div class="overview__number">{{ 'firm.overview_probono.art_1.number'|trans }}</div>
                            <div class="overview__title">{{ 'firm.overview_probono.art_1.title'|trans }}</div>
                            <div class="overview__content">
                                <p>{{ 'firm.overview_probono.art_1.content'|trans }}</p>
                            </div>
                        </div>
                        <div class="overview__item">
                            <div class="overview__number">{{ 'firm.overview_probono.art_2.number'|trans }}</div>
                            <div class="overview__title">{{ 'firm.overview_probono.art_2.title'|trans }}</div>
                            <div class="overview__content">
                                <p>{{ 'firm.overview_probono.art_2.content'|trans }}</p>
                            </div>
                        </div>
                        <div class="overview__item">
                            <div class="overview__number">{{ 'firm.overview_probono.art_3.number'|trans }}</div>
                            <div class="overview__title">{{ 'firm.overview_probono.art_3.title'|trans }}</div>
                            <div class="overview__content">
                                <p>{{ 'firm.overview_probono.art_3.content'|trans }}</p>
                            </div>
                        </div>
                        <div class="overview__item">
                            <div class="overview__number">{{ 'firm.overview_probono.art_4.number'|trans }}</div>
                            <div class="overview__title">{{ 'firm.overview_probono.art_4.title'|trans }}</div>
                            <div class="overview__content">
                                <p>{{ 'firm.overview_probono.art_4.content'|trans }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="overview__wrapper--2cols--img">
                        <div class="overview__img" style="background-image: url('{{ asset('/web/assets/img/F00_firma-manos.jpg') | imagine_filter('doble_header') }}')"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
