<section class="page__component tools">
    <div class="container">
        <div class="row page__block--component">
            <div class="col">
                <h4 class="section__title section__title--main">{{ 'firm.governance.people_management.title'| trans }}</h4>
                <p>{{ 'firm.governance.people_management.content'| trans }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <ul class="buttons__list buttons__list--tools intro">
                    <li class="buttons__list__item">
                        <a href="#" class="btn__arrow">{{ 'firm.governance.people_management.info.pdf1'| trans }}</a>
                    </li>
                    <li class="buttons__list__item">
                        <a href="#" class="btn__arrow">{{ 'firm.governance.people_management.info.pdf2'| trans }}</a>
                    </li>
                    <li class="buttons__list__item">
                        <a href="#" class="btn__arrow">{{ 'firm.governance.people_management.info.pdf3'| trans }}</a>
                    </li>
                    <li class="buttons__list__item">
                        <a href="#" class="btn__arrow">{{ 'firm.governance.people_management.info.pdf4'| trans }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
