{% trans_default_domain "admin" %}

<div class="row">
    <div class="col-md-4">

        {{ form_label(form.img_office) }}
        <div class="vich-attachment-list">
            <div class="vich-attachment-item col-md-12">
                {{ form_errors(form.img_office) }}
                {{ form_widget(form.img_office) }}
            </div>
        </div>
        {% do form.img_office.setRendered %}

        {{ form_row(form.status) }}
        {# {{ form_row(form.languages) }} #}
    </div>
    <div class="col-md-8">
        {{ form_row(form.translations) }}
    </div>
    {# {{ form_rest(form) }} #}
</div>

{# {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }} #}
