{% trans_default_domain "admin" %}
{% import "cms/custom/translatableField.html.twig" as translatableField %}
{% form_theme form 'cms/form/event_customizations.html.twig' %}


<div class="row">
    <div class="col-md-7">
        <div class="row">
            <div class="col-md-6">
                <div class="m-form__section m-form__section--first">
                    {{ form_row(form.eventType) }}
                    {{ form_row(form.customMap) }}
                    {{ form_row(form.customSignup) }}
                    {{ form_row(form.contact) }}
                    {{ form_row(form.phone) }}
                    {{ form_row(form.email) }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="m-form__section m-form__section">
                    {{ form_row(form.capacity) }}
                    {{ form_row(form.startDate) }}
                    {{ form_row(form.endDate) }}   
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="m-form__section m-form__section">
                    {{ translatableField.partialTranslations(form.translations, ['title']) }}
                    {{ translatableField.partialTranslations(form.translations, ['description']) }}
                    {{ translatableField.partialTranslations(form.translations, ['schedule']) }}
                    {{ form_row(form.programs) }}
                    {{ form_row(form.questions) }}
                    {# {{ translatableField.partialTranslations(form.translations, ['program']) }} #}
                    {{ translatableField.partialTranslations(form.translations, ['customCity']) }}
                    {{ translatableField.partialTranslations(form.translations, ['customCountry']) }}
                    {{ translatableField.partialTranslations(form.translations, ['customPostalcode']) }}
                    {{ translatableField.partialTranslations(form.translations, ['customProvince']) }}
                    {{ translatableField.partialTranslations(form.translations, ['customAddress']) }}
                    {{ translatableField.partialTranslations(form.translations, ['locale']) }}                                        

                </div>
            </div>
        </div>

    </div>

    <div class="col-md-4 offset-md-1">

        <div class="m-form__section m-form__section--first">
            <div class="m-form__heading">
                <h3 class="m-form__heading-title">
                    {{ 'forms.fieldsets.relations'|trans }}
                </h3>
            </div>
            {{ form_row(form.activities) }}
            {{ form_row(form.people) }}
            {{ form_row(form.office) }}
            {{ form_row(form.insights) }}

        </div>

        <div class="m-form__section m-form__section">
            <div class="m-form__heading">
                <h3 class="m-form__heading-title">
                    {{ 'entities.event.fields.attachments'|trans }}
                </h3>
            </div>

            <div id="attachments-fields-list"
                class="vich-attachment-list"
                data-prototype="{{ form_widget(form.attachments.vars.prototype)|e }}"
                data-widget-tags="{{ '<div class="vich-attachment-item col-md-12"></div>'|e }}"
                data-widget-counter="{{ form.attachments|length }}">
                {% for attachment in form.attachments %}
                    <div class="vich-attachment-item col-md-12">
                        {{ form_errors(attachment) }}
                        {{ form_widget(attachment) }}
                    </div>
                {% endfor %}
            </div>          
             
            <button type="button"
                class="add-another-collection-widget btn btn-secondary"
                data-list-selector="#attachments-fields-list">
                <span>
                    <i class="fa flaticon-plus"></i>
                    <span>
                        Añadir fichero
                    </span>
                </span>
            </button>

            {% do form.attachments.setRendered %}
        </div>

        <div class="m-form__section m-form__section">
            <div class="m-form__heading">
                <h3 class="m-form__heading-title">
                    {{ 'forms.fieldsets.publication'|trans }}
                </h3>
            </div>

            {{ translatableField.partialTranslations(form.translations, ['slug']) }}
            {{ form_row(form.languages) }}
            {{ form_row(form.regions) }}
        </div>

        <div class="m-form__seperator m-form__seperator--dashed"></div>

        <div class="m-form__section m-form__section--last">
            <div class="m-form__heading">
                <h3 class="m-form__heading-title">
                    {{ 'forms.fieldsets.seo'|trans }}
                </h3>
            </div>
            {{ translatableField.partialTranslations(form.translations, ['metaTitle']) }}
            {{ translatableField.partialTranslations(form.translations, ['metaDescription']) }}
            {{ form_row(form.metaRobots) }}
        </div>
        <div class="m-form__seperator m-form__seperator--dashed"></div>

        <div class="m-form__section m-form__section--last">
            <div class="m-form__heading">
                <h3 class="m-form__heading-title">
                    {{ 'forms.fieldsets.WebService'|trans }}
                </h3>
            </div>
            {{ form_row(form.responsablesmarketing) }}
            {{ form_row(form.secretarias) }}
            {{ form_row(form.sociosresponsables) }}
  
        </div>

    </div>

    {% do form.translations.setRendered %}

    {{ form_rest(form) }}

</div>
