{% extends 'cms/base.html.twig' %}
{% trans_default_domain "admin" %}

{% block title %}{{ 'sections.events.index.title'|trans }}{% endblock %}

{% block body %}
<div class="m-grid__item m-grid__item--fluid m-wrapper">
    <!-- BEGIN: Subheader -->
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h3 class="m-subheader__title m-subheader__title--separator">
                    <i class="m-menu__link-icon flaticon-users"></i>
                    {{ 'sections.events.index.title'|trans }}
                </h3>
                <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                    <li class="m-nav__item">
                        <a href="{{ path('event_new') }}" class="btn btn-label-warning btn-bold btn-sm btn-icon-h">
                            <i class="flaticon-plus"></i> {{ 'global.actions.create'|trans }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- END: Subheader -->
    <div class="m-content">

        {% if pagination %}
        <div class="m-section">
            <div class="m-portlet">
                <table class="table table-hover">
                    <thead class="thead-light">
                        <tr>
                            <th>{{ knp_pagination_sortable(pagination, 'entities.event.fields.title'|trans, 'translate.title') }}</th>
                            <th>{{ knp_pagination_sortable(pagination, 'entities.event.fields.startDate'|trans, 'startDate') }}</th>
                            <th>{{ knp_pagination_sortable(pagination, 'entities.event.fields.endDate'|trans, 'endDate') }}</th>
                            <th>{{ knp_pagination_sortable(pagination, 'entities.event.fields.eventType'|trans, 'eventType') }}</th>
                            <th>{{ knp_pagination_sortable(pagination, 'entities.item.fields.updatedAt'|trans, 'updatedAt') }}</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for event in pagination %}
                        <tr>
                            <td>{{ event.translate.title }}</td>
                            <td>{{ event.startDate ? event.startDate|date('Y-m-d') : '' }}</td>
                            <td>{{ event.endDate ? event.endDate|date('Y-m-d') : '' }}</td>
                            <td>{{ ('forms.choices.eventCategoryTypes.' ~ event.eventType) | trans }}</td>
                            <td>{{ event.updatedAt ? event.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                            <td>
                                <a class="btn btn-metal btn-sm m-btn m-btn--icon m-btn--icon-only m-btn--pill" href="{{ path('event_edit', {'id': event.id}) }}">
                                    <i class="fa fa-edit"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="m-section">
            {{ knp_pagination_render(pagination) }}
        </div>

        {% else %}
        <div class="row">
            <div class="col">
                <div class="alert alert-elevate fade show" role="alert">
                    No records found
                </div>
            </div>
        </div>
        {% endif %}
    </div>

</div>
{% endblock %}