{% extends 'cms/base.html.twig' %}

{% block title %}Event index{% endblock %}

{% block body %}

        <div class="m-grid__item m-grid__item--fluid m-wrapper">
            <!-- BEGIN: Subheader -->
            <div class="m-subheader ">
                <div class="d-flex align-items-center">
                    <div class="mr-auto">
                        <h3 class="m-subheader__title ">
                            Event
                        </h3>
                    </div>
                </div>
            </div>
            <!-- END: Subheader -->
            <div class="m-content">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Creation_date</th>
                            <th>Update_date</th>
                            <th>Url_pdf</th>
                            <th>Email</th>
                            <th>Status</th>
                            <th>Principal</th>
                            <th>Image</th>
                            <th>Url_video</th>
                            <th>Url_inscription</th>
                            <th>Contact</th>
                            <th>Phone</th>
                            <th>Program</th>
                            <th>Date_notification</th>
                            <th>Featured</th>
                            <th>Type</th>
                            <th>Visible</th>
                            <th>actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for event in events %}
                        <tr>
                            <td>{{ event.id }}</td>
                            <td>{{ event.creationDate ? event.creationDate|date('Y-m-d') : '' }}</td>
                            <td>{{ event.updateDate ? event.updateDate|date('Y-m-d') : '' }}</td>
                            <td>{{ event.urlPdf }}</td>
                            <td>{{ event.email }}</td>
                            <td>{{ event.status }}</td>
                            <td>{{ event.principal }}</td>
                            <td>{{ event.image }}</td>
                            <td>{{ event.urlVideo }}</td>
                            <td>{{ event.urlInscription }}</td>
                            <td>{{ event.contact }}</td>
                            <td>{{ event.phone }}</td>
                            <td>{{ event.program }}</td>
                            <td>{{ event.dateNotification ? event.dateNotification|date('Y-m-d') : '' }}</td>
                            <td>{{ event.featured }}</td>
                            <td>{{ event.type }}</td>
                            <td>{{ event.visible }}</td>
                            <td>
                                <a class="btn btn-success m-btn m-btn--icon btn-sm m-btn--icon-only" href="{{ path('event_show', {'id': event.id}) }}"><i class="fa fa-eye"></i></a>
                                <a class="btn btn-info m-btn m-btn--icon btn-sm m-btn--icon-only" href="{{ path('event_edit', {'id': event.id}) }}"><i class="fa fa-edit"></i></a>
                            </td>
                        </tr>
                        {% else %}
                        <tr>
                            <td colspan="18">no records found</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
   
{% endblock %}