{% extends 'cms/base.html.twig' %}
{% trans_default_domain "admin" %}

{% block title %}{{ 'sections.events.index.title'|trans }}{% endblock %}

{% block body %}
<div class="m-grid__item m-grid__item--fluid m-wrapper">
    <!-- BEGIN: Subheader -->
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h3 class="m-subheader__title m-subheader__title--separator">
                    <i class="m-menu__link-icon flaticon-calendar"></i>
                    {{ 'sections.events.index.title'|trans }}
                </h3>
                <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                    <li class="m-nav__item">
                        <a href="{{ path('cms_events_new') }}" class="btn btn-label-warning btn-bold btn-sm btn-icon-h">
                            <i class="flaticon-plus"></i> {{ 'global.actions.create'|trans }}
                        </a>
                    </li>
                    <li class="m-nav__separator">-</li>
                    <li class="m-nav__item">
                        <a href="{{ path('cms_people_new') }}" class="btn btn-label-warning btn-bold btn-sm btn-icon-h">
                            <i class="flaticon-avatar"></i> {{ 'sections.events.actions.addPerson'|trans }}
                        </a>
                    </li>
                </ul>
                <div class="m-portlet m--padding-15" >
                    {{ form_start(formForFilterView) }} 
                        <div class="row">                 
                            <div class="col-md-3">
                                {{ 'entities.event.fields.title'|trans }}
                                {{ form_row(formForFilterView.title) }} 
                            </div>
                            <div class="col-md-3">
                                {{ 'entities.event.fields.eventType'|trans }}
                                {{ form_row(formForFilterView.eventType) }}
                            </div>
                            <div class="col-md-3">
                                {{ 'entities.filter.incioDesde'|trans }}
                                {{ form_row(formForFilterView.inicioDesde) }}
                            </div>
                            <div class="col-md-3">
                                {{'entities.filter.inicioHasta'|trans}}
                                {{ form_row(formForFilterView.inicioHasta) }}
                            </div>
                            <div class="col-md-3">
                                {{'entities.filter.finDesde'|trans}}
                                {{ form_row(formForFilterView.finDesde) }}
                            </div>
                            <div class="col-md-3">
                                {{'entities.filter.finHasta'|trans}}
                                {{ form_row(formForFilterView.finHasta) }} 
                            </div>
                            <div class="col-md-2">
                                <p>
                                {{ form_row(formForFilterView.send) }}
                                </p>
                            </div>                                 
                        </div>
                    {{ form_end(formForFilterView) }}
                </div>
            </div>
        </div>
    </div>
    <!-- END: Subheader -->
    <div class="m-content">

        {% if pagination %}
        <div class="m-section">
            <div class="m-portlet container-fluid">
                <table class="table table-hover">
                    <thead class="thead-light">
                        <tr class="row">
                            <th class="col-sm-5">{{ knp_pagination_sortable(pagination, 'entities.event.fields.title'|trans, 'translate.title') }}</th>
                            <th class="col-sm-2 text-nowrap">{{ knp_pagination_sortable(pagination, 'entities.event.fields.eventType'|trans, 'eventType') }}</th>
                            <th class="col-sm-1 text-nowrap">{{ knp_pagination_sortable(pagination, 'entities.event.fields.startDate'|trans, 'startDate') }}</th>
                            <th class="col-sm-1 text-nowrap">{{ knp_pagination_sortable(pagination, 'entities.event.fields.endDate'|trans, 'endDate') }}</th>
                            <th class="col-sm-2">{{ 'global.labels.publication'|trans }}</th>
                            <th class="col-sm-1"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for event in pagination %}
                        <tr class="row">
                            <td class="col-sm-5">{{ event.translate.title }}</td>
                            <td class="col-sm-2 text-nowrap">{{ ('forms.choices.eventCategoryTypes.' ~ event.eventType) | trans }}</td>
                            <td class="col-sm-1 text-nowrap">{{ event.startDate ? event.startDate|date('Y-m-d') : '' }}</td>
                            <td class="col-sm-1 text-nowrap">{{ event.endDate ? event.endDate|date('Y-m-d') : '' }}</td>
                            <td class="col-sm-2 text-nowrap">
                                {% include 'cms/tools/languageStatus.html.twig' with {'values':event.languages} %}
                                /
                                {% include 'cms/tools/regionStatus.html.twig' with {'values':event.regions} %}
                            </td>
                            <td class="col-sm-1 text-right">
                                <a class="btn btn-primary btn-sm m-btn m-btn--icon m-btn--icon-only m-btn--pill" href="{{ path('cms_events_edit', {'id': event.id}) }}">
                                    <i class="fa fa-edit"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="m-section">
            {{ knp_pagination_render(pagination) }}
        </div>

        {% else %}
        <div class="row">
            <div class="col">
                <div class="alert alert-elevate fade show" role="alert">
                    {{ 'global.messages.noRecordsFound'|trans }}
                </div>
            </div>
        </div>
        {% endif %}
    </div>

</div>
{% endblock %}