{% trans_default_domain "admin" %}
{% import "cms/custom/translatableField.html.twig" as translatableField %}

<div class="row">

    <div class="col-md-3">

        <div class="m-form__section m-form__section--first">
            {{ translatableField.partialTranslations(form.translations, ['title']) }}
        </div>

        <div class="m-form__seperator m-form__seperator--dashed"></div>

        <div class="m-form__section m-form__section">
            <div class="m-form__heading">
                <h3 class="m-form__heading-title">
                    Publicación
                </h3>
            </div>
            {{ form_row(form.languages) }}
            {{ form_row(form.regions) }}
        </div>

        <div class="m-form__seperator m-form__seperator--dashed"></div>

        <div class="m-form__section m-form__section--last">
            <div class="m-form__heading">
                <h3 class="m-form__heading-title">
                    SEO
                </h3>
            </div>
            {{ translatableField.partialTranslations(form.translations, ['slug']) }}
            {{ translatableField.partialTranslations(form.translations, ['metaTitle']) }}
            {{ translatableField.partialTranslations(form.translations, ['metaDescription']) }}
            {{ form_row(form.metaRobots) }}
        </div>

    </div>

    <div class="col-xl-6 offset-xl-1 col-md-9">
        {{ form_row(form.blocks) }}
    </div>

    {% do form.translations.setRendered %}

    {{ form_rest(form) }}
</div>
