{% trans_default_domain "messages" %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('web/assets/favicon/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('web/assets/favicon/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('web/assets/favicon/favicon-16x16.png') }}">
        {# <link rel="manifest" href="{{ asset('web/assets/favicon/site.webmanifest') }}"> #}
        <link rel="mask-icon" href="{{ asset('web/assets/favicon/safari-pinned-tab.svg') }}" color="#46001d">
        <meta name="msapplication-TileColor" content="#46001d">
        <meta name="theme-color" content="#46001d">
        {% set canonical = app.request.attributes.get('_route') ? url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) : '' %}
        {% if canonical %}
            <link rel="canonical" href="{{ canonical }}" />
        {% endif %}
        <title>{% block title %}{{ navigation_service.getPageTitleByPublishable() }}{% endblock %}</title>
        <meta name="robots" content="{% block metaRobots %}{{ navigation_service.getMetaRobotsByPublishable() }}{% endblock %}" />
        <meta name="description" content="{% block metaDescription %}{{ navigation_service.getMetaDescriptionByPublishable() }}{% endblock %}" />
        {% include 'web/base/hreflang.html.twig' %}
        {% include 'web/base/stylesheets.html.twig' %}
        {% block stylesheets %}{% endblock %}
    </head>
        {% set array = { 'es':'','en':'-1','pt':'-2','ge':'-3' } %}
        {% set slug_ext = array[app.request.getLocale()] %} {# Slug temporal para pages diferentes idiomas  borrar al hacer la navegacion administrable #}
        {% include 'web/base/menu.html.twig' %}
        {% block main %}{% endblock %}
        {% include 'web/base/footer.html.twig' %}
        {% include 'web/base/javascripts.html.twig' %}
        {% block javascripts %}
        {% endblock %}
        {% include "@CHCookieConsent/cookie_consent_styling.html.twig" %}
        {{ render_esi(path('ch_cookie_consent.show_if_cookie_consent_not_set', { 'locale' : app.request.locale })) }}
        {% if chcookieconsent_isCategoryAllowedByUser('analytics') == true %}
        {% endif %}
        {% if chcookieconsent_isCookieConsentSavedByUser() == true %}
        {% endif %}
    </body>
</html>
