{% trans_default_domain "messages" %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <link href="https://www.cuatrecasas.com/favicon.ico" rel="shortcut icon" />
        {% set canonical = app.request.attributes.get('_route') ? url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) : '' %}
        {% if canonical %}
            <link rel="canonical" href="{{ canonical }}" />
        {% endif %}
        <title>{% block title %}{{ navigation_service.getPageTitleByPublishable() }}{% endblock %}</title>
        <meta name="robots" content="{% block metaRobots %}{{ navigation_service.getMetaRobotsByPublishable() }}{% endblock %}" />
        <meta name="description" content="{% block metaDescription %}{{ navigation_service.getMetaDescriptionByPublishable() }}{% endblock %}" />
        {% include 'web/base/hreflang.html.twig' %}
        {% include 'web/base/stylesheets.html.twig' %}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% include 'web/base/menu.html.twig' %}
        {% block main %}{% endblock %}
        {% include 'web/base/footer.html.twig' %}
        {% include 'web/base/javascripts.html.twig' %}
        {% block javascripts %}
        {% endblock %}
        {% include "@CHCookieConsent/cookie_consent_styling.html.twig" %}
        {{ render_esi(path('ch_cookie_consent.show_if_cookie_consent_not_set', { 'locale' : app.request.locale })) }}
        {% if chcookieconsent_isCategoryAllowedByUser('analytics') == true %}
        {% endif %}
        {% if chcookieconsent_isCookieConsentSavedByUser() == true %}
        {% endif %}
    </body>
</html>
