<section class="boxnews boxnews--info bg__grey__02">
    <div class="container">
        <div class="row page__section">
            <div class="col">
                <div class="boxnews__list">
                    <article class="boxnews__item">
                        <div class="boxnews__content">
                            <h5 class="boxnews__content__title">Nuestros abogados</h5>
                            <div class="boxnews__content__info">
                                <p>Transferencia de conocimiento entre las personas y la empresa con el fin de extenderlo al resto de profesionales</p>
                            </div>
                            <div class="boxnews__content__button">
                                <a href="{{ path('lawyers_index') }}" class="doble__arrow__link">Ver el equipo</a>
                            </div>
                        </div>
                    </article>
                    <article class="boxnews__item">
                        <div class="boxnews__content">
                            <h5 class="boxnews__content__title">Servicios y sectores de Cuatrecacsas</h5>
                            <div class="boxnews__content__info">
                                <p>Transferencia de conocimiento entre las personas y la empresa con el fin de extenderlo al resto de profesionales</p>
                            </div>
                            <div class="boxnews__content__button">
                                <a href="{{ path('sectors_index') }}" class="doble__arrow__link">{{ 'global.messages.show_sector'|trans }}</a>
                            </div>
                            <div class="boxnews__content__button">
                                <a href="{{ path('services_index') }}" class="doble__arrow__link">{{ 'global.messages.show_service'|trans }}</a>
                            </div>
                        </div>
                    </article>
                    <article class="boxnews__item">
                        <div class="boxnews__content">
                            <h5 class="boxnews__content__title">Únete a nosotros</h5>
                            <div class="boxnews__content__info">
                                <p>Transferencia de conocimiento entre las personas y la empresa con el fin de extenderlo al resto de profesionales</p>
                            </div>
                            <div class="boxnews__content__button">
                                <a href="{{ path('talent',{ slug: 'join'~slug_ext }) }}" class="doble__arrow__link">Join us</a>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>
