{% trans_default_domain "admin" %}

{% block menu %}
<!-- BEGIN: Menu -->
<div id="m_aside_left" class="m-grid__item	m-aside-left  m-aside-left--skin-dark ">
	<!-- BEGIN: Aside Menu -->
	<div id="m_ver_menu" class="m-aside-menu  m-aside-menu--skin-dark m-aside-menu--submenu-skin-dark "
		m-menu-vertical="1" m-menu-scrollable="0" m-menu-dropdown-timeout="500">
		<ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow ">
			<li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" m-menu-submenu-toggle="hover">
				<a href="{{ path('lawyer_index') }}" class="m-menu__link m-menu__toggle">
					<i class="m-menu__link-icon flaticon-users"></i>
					<span class="m-menu__link-text">
						{{ 'menu.lawyers.title'|trans }}
					</span>
				</a>
			</li>
			<li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" m-menu-submenu-toggle="hover">
				<a href="{{ path('event_index') }}" class="m-menu__link m-menu__toggle">
					<i class="m-menu__link-icon flaticon-calendar"></i>
					<span class="m-menu__link-text">
						{{ 'menu.events.title'|trans }}
					</span>
				</a>
			</li>
			<li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" m-menu-submenu-toggle="hover">
				<a href="{{ path('office_index') }}" class="m-menu__link m-menu__toggle">
					<i class="m-menu__link-icon flaticon-placeholder-2"></i>
					<span class="m-menu__link-text">
						{{ 'menu.office.title'|trans }}
					</span>
				</a>
			</li>
			<li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" m-menu-submenu-toggle="hover">
				<a href="{{ path('page_index') }}" class="m-menu__link m-menu__toggle">
					<i class="m-menu__link-icon flaticon-browser"></i>
					<span class="m-menu__link-text">
						{{ 'menu.page.title'|trans }}
					</span>
				</a>
			</li>
			<li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" m-menu-submenu-toggle="hover">
				<a href="{{ path('sectors_index') }}" class="m-menu__link m-menu__toggle">
					<i class="m-menu__link-icon flaticon-share"></i>
					<span class="m-menu__link-text">
						{{ 'menu.sectors.title'|trans }}
					</span>
				</a>
			</li>
			<li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" m-menu-submenu-toggle="hover">
				<a href="{{ path('articles_index') }}" class="m-menu__link m-menu__toggle">
					<i class="m-menu__link-icon flaticon-file"></i>
					<span class="m-menu__link-text">
						{{ 'menu.article.title'|trans }}
					</span>
				</a>
			</li>
			<li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" m-menu-submenu-toggle="hover">
				<a href="{{ path('insight_index') }}" class="m-menu__link m-menu__toggle">
					<i class="m-menu__link-icon flaticon-folder-1"></i>
					<span class="m-menu__link-text">
						{{ 'menu.insight.title'|trans }}
					</span>
				</a>
			</li>

			<li class="m-menu__section ">
				<h4 class="m-menu__section-text">
					{{ 'menu.services.title'|trans }}
				</h4>
				<i class="m-menu__section-icon flaticon-more-v3"></i>
			</li>
			<li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" m-menu-submenu-toggle="hover">
				<a href="{{ path('practice_index') }}" class="m-menu__link m-menu__toggle">
					<i class="m-menu__link-icon flaticon-map"></i>
					<span class="m-menu__link-text">
						{{ 'menu.practices.title'|trans }}
					</span>
				</a>
			</li>
			<li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" m-menu-submenu-toggle="hover">
				<a href="{{ path('desk_index') }}" class="m-menu__link m-menu__toggle">
					<i class="m-menu__link-icon flaticon-pin"></i>
					<span class="m-menu__link-text">
						{{ 'menu.desks.title'|trans }}
					</span>
				</a>
			</li>
			<li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" m-menu-submenu-toggle="hover">
				<a href="{{ path('product_index') }}" class="m-menu__link m-menu__toggle">
					<i class="m-menu__link-icon flaticon-business"></i>
					<span class="m-menu__link-text">
						{{ 'menu.products.title'|trans }}
					</span>
				</a>
			</li>

			<!-- METADATA -->
			<li class="m-menu__section ">
				<h4 class="m-menu__section-text">
					{{ 'menu.metadata.title'|trans }}
				</h4>
				<i class="m-menu__section-icon flaticon-more-v3"></i>
			</li>
			<li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" m-menu-submenu-toggle="hover">
				<a href="{{ path('person_index') }}" class="m-menu__link m-menu__toggle">
					<i class="m-menu__link-icon flaticon-avatar"></i>
					<span class="m-menu__link-text">
						{{ 'menu.people.title'|trans }}
					</span>
				</a>
			</li>
			<li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" m-menu-submenu-toggle="hover">
				<a href="{{ path('quote_index') }}" class="m-menu__link m-menu__toggle">
					<i class="m-menu__link-icon flaticon-comment"></i>
					<span class="m-menu__link-text">
						{{ 'menu.quotes.title'|trans }}
					</span>
				</a>
			</li>
			<li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" m-menu-submenu-toggle="hover">
				<a href="{{ path('awards_index') }}" class="m-menu__link m-menu__toggle">
					<i class="m-menu__link-icon flaticon-gift"></i>
					<span class="m-menu__link-text">
						{{ 'menu.awards.title'|trans }}
					</span>
				</a>
			</li>
		</ul>
	</div>
	<!-- END: Aside Menu -->
</div>
<!-- END: Menu -->
{% endblock %}