{% extends 'web/base.html.twig' %}

{% block stylesheets %}
<link href="{{ asset('web/vendor/swiper/css/swiper.min.css') }}" rel="stylesheet">
<style>
    .insights__header:before {
        background-image: url('{{ asset('/web/assets/vector/Picto_03_1920x1080.png') | imagine_filter('picto_header') }}');
    }
</style>
{% endblock %}

{% block main %}

    <main role="main">
        <article class="container">

        {% if insight.headerType == 'two_columns' %}
            <header class="row insights__header">
                <div class="col-md-7 insights__header__info">
                    <h1 class="page__title">{{ insight.translate(app.request.getLocale()).title|raw }}</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="{{ path('home') }}">{{ 'global.home'|trans }}</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="{{ path('knowledge_index') }}">{{ 'sections.knowledge.title'|trans }}</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                {{ 'sections.insights.title'|trans }}
                            </li>
                        </ol>
                    </nav>
                </div>
                <div class="col-md-5 insights__header__share">
                    {% include 'web/base/social-share.html.twig' %}
                </div>
            </header>
        {% elseif insight.headerType == 'full_width' %}
            <header class="row page__header" style="background-image: url('{{ asset('/web/assets/img/cabecera_1920x1080_baja.jpg') | imagine_filter('full_header') }}')">
                <div class="col">
                    <div class="info__block">
                        <h1 class="page__title">{{ insight.translate(app.request.getLocale()).title|raw }}</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="{{ path('home') }}">{{ 'global.home'|trans }}</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="{{ path('knowledge_index') }}">{{ 'sections.knowledge.title'|trans }}</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    {{ 'sections.insights.title'|trans }}
                                </li>
                            </ol>
                        </nav>
                    </div>
                    {% include 'web/base/social-share.html.twig' %}
                </div>
            </header>
        {% endif %}

        {% if insight.showIntroBlock %}
            <section class="row page__block noborder">
                <div class="col">
                    <div class="page__block__title page__block__title--article">
                        {{ insight.translate(app.request.getLocale()).summary|raw }}
                    </div>
                    <div class="page__block__content page__block__content--article">
                        <div class="read__more">
                            {{ insight.translate(app.request.getLocale()).description|raw }}
                        </div>
                    </div>
                </div>
            </section>
            {# <section class="row page__block">
                <div class="col">
                    <div class="page__block__title">
                        <h3 class="subsection__title">Puntos clave</h3>
                    </div>
                    <div class="page__block__content">
                        <ul class="bullet__list">
                            <li>
                                Time and cost effective solutions for the production of KIIDS.
                            </li>
                            <li>
                                Experienced KIID production teams.
                            </li>
                            <li>
                                Drafting of plain language objectives, policies and risk disclosure.
                            </li>
                            <li>
                                Built in compliance awareness
                            </li>
                            <li>
                                Time and cost effective solutions for the production of KIIDS.
                            </li>
                            <li>
                                Experienced KIID production teams.
                            </li>
                        </ul>
                    </div>
                </div>
            </section> #}
            <section class="row page__block--aside">
                <div class="col">
                    <div class="page__block__content">
                        <p class="contact">
                            {{ 'sections.insights.contact_with_us'|trans }} <br>
                            <strong>{{ insight.translate(app.request.getLocale()).title|raw }}</strong>
                        </p>
                        <form action="" method="" class="email-subscribe">
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Email">
                            </div>
                            <div class="form-group flex-group">
                                <div class="checkbox">
                                    <input id="data-privacy" name="data-privacy" type="checkbox">
                                    <label for="data-privacy" class="checkbox-label"><span>{{ 'footer.privacy.privacy' | trans }}</span></label>
                                </div>
                                {# <button type="submit" class="doble__arrow__link">Enviar</button> #}
                                <button class="btn btn__solid" type="submit">Enviar</button>
                            </div>
                        </form>
                    </div>

                    <div class="page__block__aside">
                        <div class="page__aside page__aside--practices">
                            {% if insight.activities|length > 0 %}
                                <h3 class="page__aside__subtitle">{{ 'sections.insights.relatedActivities'|trans }}</h3>
                                <ul class="related__services">
                                    {% for activity in insight.activities %}
                                        <li class="related__services__item">
                                            <a href="{{ navigation_service.getPathByPublishable(activity) }}" class="related__services__link">{{ activity.translate(app.request.getLocale()).title }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                            {# {% for attachment in insight.attachments %}
                                {% if attachment.type  == 'publication_dossier' %}
                                <a href="/cuatrecasas/resources/{{ attachment.fileName }}" class="btn btn__solid btn__solid--icon" target="_blank" alt="{{ attachment.fileName|raw}}">
                                    {{ 'global.messages.dossier_download'|trans }}
                                    <span class="icon4-download"></span>
                                </a>
                                {% endif %}
                            {% endfor %}                             #}

                            {% for attachment in insight.attachments %}
                                {% if (attachment.getType() == 'publication_dossier') %}
                                    {% include 'web/shared/components/dossier-btn.html.twig' with { href: '/resources/'~attachment.fileName } %}
                                {% endif %}
                            {% endfor %}
                            
                        </div>
                    </div>
                </div>
            </section>
        {% endif %}

        </article>
    </main>

    {% if insight.showEventsBlock %}
        {% include 'web/shared/related-events-slider.html.twig' with {events: relatedEvents } %}
    {% endif %}

    {# {% if insight.showLegalNoveltiesBlock %}
        {% include 'web/shared/related-legal-slider.html.twig' %} #}
        {# include 'web/shared/related-legal-slider.html.twig' with {items: ... } #}
    {# {% endif %} #}

    {% if insight.lawyers|length > 0 %}
        {% include 'web/shared/team.html.twig' with {
            team:insight.translate(app.request.getLocale()).title,
            lawyers:insight.lawyers|slice(0, 5),
            fixed_activity:insight.translate(app.request.getLocale()).title
        } %}
    {% endif %}

    {% if contextualBlocks.insights|length > 0 %}
        {% include 'web/shared/collections.html.twig' with {insights: contextualBlocks.insights} %}
    {% endif %}

    {# {% if insight.showCaseStudiesBlock %}
        {% if relatedCaseStudies|length > 1 %}
            {% include 'web/shared/cases.html.twig' with {caseStudies: contextualBlocks.cases} %}
        {% endif %}
    {% endif %} #}

    {% include 'web/shared/cta-footer.html.twig' %}

{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{{ asset('web/vendor/swiper/js/swiper.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('web/assets/js/swiperInit.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('web/vendor/masonry.pkgd.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('web/vendor/readmore.min.js') }}"></script>
<script>
    $(function () {
        $('.grid__masonry').masonry({
            itemSelector: '.grid__item',
            columnWidth: '.grid__sizer',
            gutter: '.grid__gutter',
            percentPosition: true
        });

        $('.read__more').readmore({
            moreLink: '<button type="button" class="doble__arrow__accordion show__more">{{ 'global.messages.show_more'|trans }}</button>',
            lessLink: '<button type="button" class="doble__arrow__accordion show__less">{{ 'global.messages.show_less'|trans }}</button>',
            embedCSS: true,
            collapsedHeight: 400,
            blockProcessed: function(element, collapsable) {
                if(! collapsable) {
                    element.addClass('mask-off');
                }
            },
            beforeToggle: function(trigger, element, expanded) {
                if(expanded) {
                    element.removeClass('mask-off');
                }
                if(! expanded) {
                    element.addClass('mask-off');
                }
            },
            afterToggle: function(trigger, element, expanded) {
                if(! expanded) {
                    if (window.matchMedia('(max-width: 1199px)').matches) {
                        $('html, body').animate({scrollTop: element.offset().top - 20}, {duration: 'slow'});
                    } else {
                        $('html, body').animate({scrollTop: element.offset().top - 120}, {duration: 'slow'});
                    }
                }
            }
        });
    });
</script>
{% endblock %}
