{% trans_default_domain "admin" %}
{% import "cms/custom/translatableField.html.twig" as translatableField %}

<div class="row">

    <div class="col-md-7">

        <div class="m-form__section m-form__section--first">
            {{ translatableField.partialTranslations(form.translations, ['title']) }}
            {{ translatableField.partialTranslations(form.translations, ['summary']) }}
            {{ translatableField.partialTranslations(form.translations, ['description']) }}
        </div>

    </div>

    <div class="col-md-4 offset-md-1">

        <div class="m-form__section m-form__section--first">
            <div class="m-form__heading">
                <h3 class="m-form__heading-title">
                    {{ 'entities.activity.fields.image'|trans }}
                </h3>
            </div>
            <div class="vich-attachment-list">
                <div class="vich-attachment-item col-md-12">
                    {{ form_errors(form.photo) }}
                    {{ form_row(form.photo.file) }}
                </div>
            </div>
            {% do form.photo.setRendered %}
        </div>

        <div class="m-form__section m-form__section">
            <div class="m-form__heading">
                <h3 class="m-form__heading-title">
                    {{ 'forms.fieldsets.relations'|trans }}
                </h3>
            </div>
            {{ form_row(form.relatedActivities) }}
            {{ form_row(form.children) }}
            {# {{ dump(form.key_contacts.vars.choices[1].data.activities.owner.activities)}} #}
            {{ form_row(form.key_contacts) }}
            {{ form_row(form.quote) }}
        </div>

        <div class="m-form__section m-form__section">
            <div class="m-form__heading">
                <h3 class="m-form__heading-title">
                    {{ 'forms.fieldsets.publication'|trans }}
                </h3>
            </div>
            {{ translatableField.partialTranslations(form.translations, ['slug']) }}
            {{ form_row(form.highlighted) }}
            {{ form_row(form.languages) }}
            {{ form_row(form.regions) }}
        </div>

        <div class="m-form__seperator m-form__seperator--dashed"></div>

        <div class="m-form__section m-form__section--last">
            <div class="m-form__heading">
                <h3 class="m-form__heading-title">
                    {{ 'forms.fieldsets.seo'|trans }}
                </h3>
            </div>
            {{ translatableField.partialTranslations(form.translations, ['metaTitle']) }}
            {{ translatableField.partialTranslations(form.translations, ['metaDescription']) }}
            {{ form_row(form.metaRobots) }}
        </div>

    </div>

    {% do form.translations.setRendered %}

    {{ form_rest(form) }}
</div>
