{% extends 'cms/base.html.twig' %}
{% trans_default_domain "admin" %}

{% block title %}{{ 'sections.practices.index.title'|trans }}{% endblock %}

{% block body %}
<div class="m-grid__item m-grid__item--fluid m-wrapper">
    <!-- BEGIN: Subheader -->
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h3 class="m-subheader__title m-subheader__title--separator">
                    <i class="m-menu__link-icon flaticon-map"></i>
                    {{ 'sections.practices.index.title'|trans }}
                </h3>
                <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                    <li class="m-nav__item">
                        <a href="{{ path('cms_practices_new') }}" class="btn btn-label-warning btn-bold btn-sm btn-icon-h">
                            <i class="flaticon-plus"></i> {{ 'global.actions.create'|trans }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- END: Subheader -->
    <div class="m-content">

        {% if pagination %}
        <div class="m-section">
            <div class="m-portlet">
                <table class="table table-hover">
                    <thead class="thead-light">
                        <tr>
                            <th>{{ knp_pagination_sortable(pagination, 'entities.activity.fields.title'|trans, 'translate.title') }}</th>
                            <th class="text-center" style="width:30px;">{{ knp_pagination_sortable(pagination, 'entities.activity.fields.highlighted'|trans, 'highlighted') }}</th>
                            <th colspan="2" style="width:10%;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for practice in pagination %}
                        <tr>
                            <td>{{ practice.translate(app.request.getLocale()).title }}</td>
                            <td class="text-center">
                            {% if practice.highlighted %}
                                <i class="fa fa-check m--font-success"></i>
                            {% else %}
                                <i class="fa fa-check m--font-metal"></i>
                            {% endif %}
                            </td>
                            <td class="text-nowrap">
                                {% include 'cms/tools/languageStatus.html.twig' with {'values':practice.languages} %}
                            </td>
                            <td>
                                <a class="btn btn-primary btn-sm m-btn m-btn--icon m-btn--icon-only m-btn--pill" href="{{ path('cms_practices_edit', {'id': practice.id}) }}">
                                    <i class="fa fa-edit"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="m-section">
            {{ knp_pagination_render(pagination) }}
        </div>

        {% else %}
        <div class="row">
            <div class="col">
                <div class="alert alert-elevate fade show" role="alert">
                    {{ 'global.messages.noRecordsFound'|trans }}
                </div>
            </div>
        </div>
        {% endif %}
    </div>

</div>
{% endblock %}