<section class="boxnews boxnews--career">
    <div class="container">
        <div class="row page__section">
            <div class="col">
                <h4 class="section__title section__title--career">{{ 'career.international_career.title'|trans}}</h4>
                <div class="boxnews__list">
                    {# <article class="boxnews__item boxnews__item--blockquote">
                        <blockquote class="cite__quote">
                            <p>{{ 'career.international_career.block_1.content'|trans }}</p>
                        </blockquote>
                    </article> #}
                    <article class="boxnews__item boxnews__item--career">
                        <div class="boxnews__header">
                            <div class="boxnews__type">Lorem ipsum</div>
                        </div>
                        <div class="boxnews__content">
                            <h5 class="boxnews__copy">
                                <a href="#" class="boxnews__link">
                                    {{ 'career.international_career.block_1.content'|trans }}
                                </a>
                            </h5>
                        </div>
                    </article>
                    <article class="boxnews__item boxnews__item--career">
                        <div class="boxnews__header">
                            <div class="boxnews__type">Lorem</div>
                            <div class="boxnews__info">17 lorem 2020</div>
                        </div>
                        <div class="boxnews__content">
                            <h5 class="boxnews__copy">
                                <a href="#" class="boxnews__link">
                                    {{ 'career.international_career.block_2.content'|trans }}
                                </a>
                            </h5>
                            <div class="boxnews__photo">
                                <figure class="video__popup" style="background-image: url('{{ asset('web/assets/img/cabecera_1920x1080_baja.jpg') }}')">
                                    <a href="https://www.youtube.com/watch?v=R80x-Xn5tSg" data-lity class="video__popup__link">
                                        <span class='material-icons'>play_circle_outline</span>
                                    </a>
                                </figure>
                            </div>
                        </div>
                    </article>
                    <article class="boxnews__item boxnews__item--blockquote">
                        <blockquote class="cite__quote">
                            <p>{{ 'career.international_career.quote.title'|trans }}</p>
                            <cite>{{ 'career.international_career.quote.author'|trans }}<br>{{ 'career.international_career.quote.position'|trans }}</cite>
                        </blockquote>
                    </article>
                    {# <article class="boxnews__item boxnews__item--event">
                        <div class="boxnews__header">
                            <div class="boxnews__type">Evento</div>
                            <div class="boxnews__button"><a href="#" class="plain__button">Inscribirme</a></div>
                        </div>
                        <div class="boxnews__content">
                            <h5 class="boxnews__copy">
                                <a href="#" class="boxnews__link">
                                    Mesa redonda: información privilegiada y otra información relevante
                                </a>
                            </h5>
                            <div class="boxnews__meta">
                                <div class="boxnews__meta__place"><a href="#">Barcelona</a></div>
                                <div class="boxnews__meta__date">26 Febrero 2020 a 8 Marzo 2020</div>
                                <div class="boxnews__meta__time">10.30 — 14.30</div>
                            </div>
                        </div>
                        <div class="boxnews__footer">
                            <ul class="related__services">
                                <li class="related__services__item">
                                    <a href="#" class="related__services__link">
                                        MERCANTIL Y SOCIETARIO
                                    </a>
                                </li>
                                <li class="related__services__item">
                                    <a href="#" class="related__services__link">
                                        ARBITRAJE
                                    </a>
                                </li>
                                <li class="related__services__item">
                                    <a href="#" class="related__services__link">
                                        PENAL
                                    </a>
                                </li>
                                <li class="related__services__item">
                                    <a href="#" class="related__services__link">
                                        LITIGACIÓN
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </article> #}
                </div>
            </div>
        </div>
    </div>
</section>
