{%- block vich_file_row -%}
    {%- set force_error = true -%}
    {{- block('form_row') -}}
{%- endblock -%}

{%- block vich_file_widget -%}
    <div class="vich-file">

        {{- form_widget(form.file) -}}

        <div class="vich-filename">
            {% set filename = download_filename|length > 50 ? download_filename|slice(0, 50) ~ '...' : download_filename  %}
            {%- if form.delete is defined -%}
                <button title="Eliminar adjunto" type="button" class="delete-attachment-button btn btn-secondary m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill">
                    <i class="fa fa-trash-o"></i>
                </button>
                <button title="Deshacer eliminación" type="button" class="undo-delete-attachment-button btn btn-metal m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill">
                    <i class="fa fa-undo"></i>
                </button>
                {{- form_row(form.delete) -}}
            {%- endif -%}

            {%- if download_uri -%}
                <a class="ml-2" target="_blank" href="{{ asset_helper is same as(true) ? asset(download_uri) : download_uri }}">
                    {{- download_title|length > 0 ? download_title ~ " ("~filename~")" : filename -}}
                </a>
            {%- else -%}
                {{- download_title|length > 0 ? download_title ~ " ("~filename~")" : filename -}}
            {%- endif -%}
        </div>

    </div>
{%- endblock -%}

{%- block vich_image_row -%}
    {%- set force_error = true -%}
    {{- block('form_row') -}}
{%- endblock -%}

{%- block vich_image_widget -%}
    <div class="vich-image">
        {{- form_widget(form.file) -}}
        {%- if form.delete is defined -%}
            {{- form_row(form.delete) -}}
        {%- endif -%}

        {%- if image_uri -%}
            <a href="{{ asset_helper is same as(true) ? asset(image_uri) : image_uri }}"><img width="120" src="{{ asset_helper is same as(true) ? asset(image_uri) : image_uri }}" alt="" /></a>
        {%- endif -%}
        {%- if download_uri -%}
            <a href="{{ asset_helper is same as(true) ? asset(download_uri) : download_uri }}">{{ translation_domain is same as(false) ? download_label : download_label|trans({}, translation_domain) }}</a>
        {%- endif -%}
    </div>
{%- endblock -%}

{%- block vich_file_label -%}
    {%- set label = label|trans|default(label) -%}
    {{- block('form_label') -}}
{%- endblock -%}
