{% trans_default_domain "admin" %}

<div class="row">
    <div class="col-md-4">
        {{ form_row(form.status) }}
        {{ form_row(form.featured) }}
        {{ form_row(form.activities) }}
        {{ form_row(form.lawyers) }}
        {{ form_row(form.office) }}

        {# {{ form_label(form.attachments) }}
        <div class="vich-attachment-list">
            <div class="vich-attachment-item col-md-12">
                {{ form_errors(form.attachments) }}
                {{ form_widget(form.attachments) }}
            </div>
        </div>
        {% do form.attachments.setRendered %} #}

    </div>
    <div class="col-md-8">
        {{ form_row(form.translations) }}
    </div>
    {{ form_rest(form) }}
</div>



{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
