{% extends 'cms/base.html.twig' %}
{% trans_default_domain "admin" %}

{% block title %}{{ 'sections.sliders.index.title'|trans }}{% endblock %}

{% block body %}
<div class="m-grid__item m-grid__item--fluid m-wrapper">
    <!-- BEGIN: Subheader -->
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h3 class="m-subheader__title m-subheader__title--separator">
                    <i class="m-menu__link-icon flaticon-calendar"></i>
                    {{ 'sections.sliders.index.title'|trans }}
                </h3>
                <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                    <li class="m-nav__item">
                        <a href="{{ path('cms_sliders_new') }}" class="btn btn-label-warning btn-bold btn-sm btn-icon-h">
                            <i class="flaticon-plus"></i> {{ 'global.actions.create'|trans }}
                        </a>
                    </li>
                    <li class="m-nav__separator">-</li>
                    <li class="m-nav__item">
                        <a href="{{ path('cms_banners_index') }}" class="btn btn-label-warning btn-bold btn-sm btn-icon-h">
                            <i class="flaticon-reply"></i> {{ 'global.actions.backToList'|trans }} Banners
                        </a>
                    </li>                    
                </ul>
        
            </div>
        </div>
    </div>
    <!-- END: Subheader -->
    <div class="m-content">

        {% if pagination %}
        <div class="m-section">
            <div class="m-portlet container-fluid">
                <table class="table table-hover">
                    <thead class="thead-light">
                        <tr class="row">
                            <th class="col-sm-3">{{ knp_pagination_sortable(pagination, 'entities.slider.fields.title'|trans, 'translate.title') }}</th>
                            <th class="col-sm-3 text-nowrap">{{ knp_pagination_sortable(pagination, 'entities.slider.fields.description'|trans, 'description') }}</th>
                            <th class="col-sm-3 text-nowrap">{{ knp_pagination_sortable(pagination, 'entities.slider.fields.url'|trans, 'description') }}</th>
                            <th class="col-sm-2 text-nowrap">{{ knp_pagination_sortable(pagination, 'entities.slider.fields.priority'|trans, 'description') }}</th>
                            <th class="col-sm-1"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for slider in pagination %}
                        <tr class="row">
                            <td class="col-sm-3">{{ slider.translate.title }}</td>
                            <td class="col-sm-3 ">{{ slider.translate.description }}</td>
                            <td class="col-sm-3 text-nowrap">{{  slider.translate.url  }}</td>
                            <td class="col-sm-2 text-nowrap">{{  slider.priority  }}</td>
                            <td class="col-sm-1 text-right">
                                <a class="btn btn-primary btn-sm m-btn m-btn--icon m-btn--icon-only m-btn--pill" href="{{ path('cms_sliders_edit', {'id': slider.id}) }}">
                                    <i class="fa fa-edit"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="m-section">
            {{ knp_pagination_render(pagination) }}
        </div>

        {% else %}
        <div class="row">
            <div class="col">
                <div class="alert alert-elevate fade show" role="alert">
                    {{ 'global.messages.noRecordsFound'|trans }}
                </div>
            </div>
        </div>
        {% endif %}
    </div>

</div>
{% endblock %}