{% extends 'web/base.html.twig' %}

{% block main %}

    <main role="main">
        <article class="container">
            <header class="row page__header" style="background-image: url('{{ asset('web/assets/img/la-firma.jpg') }}')">
                <div class="col">
                    <div class="info__block">
                        <h1 class="page__title">{{ 'footer.privacy.privacy'|trans }}</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="{{ path('home') }}">{{ 'global.home'|trans }}</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    {{ 'footer.privacy.privacy'|trans }}
                                </li>
                            </ol>
                        </nav>
                    </div>
                    <ul class="action__links">
                        <li><a href="#"><i class="material-icons">share</i></a></li>
                        <li><a href="#"><i class="material-icons">print</i></a></li>
                        <li><a href="#"><i class="material-icons">bookmark_border</i></a></li>
                    </ul>
                </div>
            </header>
            <div class="row page__block--full page__cookies">
                <div class="col">
                    {{ 'privacy.privacy' | trans | raw }}
                </div>
            </div>
        </article>
    </main>
    {% include 'web/shared/cta-footer.html.twig' %}

{% endblock %}
