{% extends 'web/base.html.twig' %}

{% block main %}

    <main role="main">
        <article class="container">

            <header class="row page__header" style="background-image: url('{{ asset('/web/assets/img/cabecera_1920x1080_baja.jpg') | imagine_filter('full_header') }}')">
                <div class="col">
                    <div class="info__block">
                        <h1 class="page__title">
                            {{ 'static.rrhh.title'|trans }}
                        </h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="{{ path('home') }}">{{ 'global.home'|trans }}</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    {{ 'static.rrhh.title'|trans }}
                                </li>
                            </ol>
                        </nav>
                    </div>
                    {% include 'web/base/social-share.html.twig' %}
                </div>
            </header>

            <div class="row page__block--full">
                <div class="col">
                    <p>En la actualidad existe una carencia en España de foros de innovación estratégica en recursos humanos, en especial en aquellas materias sociolaborales que van a marcar el desarrollo futuro de las empresas en un contexto de innovación y globalización constantes.</p>
                    <p>Por esta razón se ha creado el Instituto Cuatrecasas de Estrategia Legal en RRHH.</p>
                    <p>Se constituye, así, un foro de innovación legal que contribuya a la toma de decisiones en el medio y largo plazo por parte de las empresas de mayor importancia a nivel español e internacional, así como por otros operadores del mercado de trabajo, ofreciéndoles la posibilidad de colaborar estrechamente con ellas en la identificación de respuestas estratégicas legales adecuadas, desde una perspectiva práctica de las relaciones laborales y teniendo muy presente el contexto de globalización.</p>
                    <p>El Instituto cuenta con un Consejo Asesor, integrado por un selecto grupo de Senior Managers de recursos humanos y Directores de Departamentos legales, o profesionales de nivel similar, de grandes empresas, de reconocido prestigio y con larga trayectoria en las distintas vertientes de este área, cuyo papel esencial se desarrolla al nivel más elevado de elaboración y operatividad estratégica.</p>
                    <p>El Instituto se caracteriza por facilitar un ámbito proactivo de búsqueda de innovación en la ordenación de lo que se considera que es, y será, un elemento diferencial en la competitividad de las empresas: su capital humano.</p>
                    <p>Es también un punto de encuentro con otros operadores en recursos humanos que, de forma directa e indirecta, condicionan la toma de decisiones en este campo, a saber, y entre otros, con los máximos responsables de las Administraciones Públicas en sus distintos ámbitos (General, Autonómica o Institucional), responsables de Grupos Políticos que deseen desarrollar visiones estratégicas en el área sociolaboral, representantes sindicales de primer nivel y con otras instituciones y creadores de opinión en los medios de comunicación sociales.</p>
                    <p>El Instituto está presidido por Salvador del Rey Guanter, Socio del Área Laboral de Cuatrecasas y Catedrático de Derecho del Trabajo y de la Seguridad Social. Su Director es Guillermo Tena, Consejero de Cuatrecasas.</p>
                </div>
            </div>
        </article>
    </main>
    {% include 'web/shared/cta-footer.html.twig' %}

{% endblock %}
