{% trans_default_domain "admin" %}
{% import "cms/custom/translatableField.html.twig" as translatableField %}

<div class="row">
    <div class="col-md-7">
        <div class="row">
            <div class="col-md-6">
                {#{ form_row(form.city) }#}
                {{ form_row(form.address) }}
                {{ form_row(form.cp) }}
                {#{ form_row(form.country) }#}
                {{ form_row(form.contact) }}
                {{ translatableField.partialTranslations(form.translations, ['city']) }}
                {{ form_row(form.link_external_map) }}
            </div>
            <div class="col-md-6">

                {{ form_row(form.email) }}
                {{ form_row(form.fax) }}
                {{ form_row(form.phone) }}
                {{ translatableField.partialTranslations(form.translations, ['country']) }}
            </div>
            <div class="col-md-12">


                {{ translatableField.partialTranslations(form.translations, ['description']) }}
                {{ translatableField.partialTranslations(form.translations, ['tags']) }}



            </div>
            <div class="col-md-6" >
                <div class="m-form__section m-form__section">
                    <div class="m-form__heading">
                        <h3 class="m-form__heading-title">
                            {{ form_label(form.img_office) }}
                        </h3>
                    </div>

                    <div class="vich-attachment-list">
                        <div class="vich-attachment-item col-md-12">
                            {{ form_errors(form.img_office) }}
                            {{ form_widget(form.img_office) }}
                        </div>
                    </div>
                    {% do form.img_office.setRendered %}
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4  offset-md-1">
        <div class="m-form__section m-form__section--first">
            <div class="m-form__heading">
                <h3 class="m-form__heading-title">
                    {{ 'forms.fieldsets.relations'|trans }} MAPA
                </h3>
            </div>

            {{ form_row(form.status) }}
             <h6 class="">Territorio asociado: </h6>
            {{ form_row(form.place) }}
            <h6 class="">Priorización de contenido: </h6>
            {{ form_row(form.geographical_area) }}
            {{ form_row(form.sap) }}
            {{ form_row(form.lat) }}
            {{ form_row(form.lng) }}


        </div>

        <div class="m-form__seperator m-form__seperator--dashed"></div>

        <div class="m-form__section m-form__section">
            <div class="m-form__heading">
                <h3 class="m-form__heading-title">
                    {{ 'forms.fieldsets.publication'|trans }}
                </h3>
            </div>
            {{ form_row(form.slug) }}
            {{ form_row(form.languages) }}
            {{ form_row(form.regions) }}
            {{ form_row(form.published) }}
        </div>

        <div class="m-form__section m-form__section--last">
            <div class="m-form__heading">
                <h3 class="m-form__heading-title">
                    {{ 'forms.fieldsets.seo'|trans }}
                </h3>
            </div>
            {{ translatableField.partialTranslations(form.translations, ['metaTitle']) }}
            {{ translatableField.partialTranslations(form.translations, ['metaDescription']) }}
            {{ form_row(form.metaRobots) }}


        </div>

    </div>
</div>




