<section class="awards">
    <div class="container">
        <div class="row page__section">
            <div class="col">
                <h4 class="section__title section__title--main">{{ 'firma.award.head_title'|trans }}</h4>
                <div id="sliderAwards" class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <figure class="awards__wrapper">
                                <img src="{{ asset('web/assets/logos/lawyers_2019_logo.jpg') }}" class="awards__logo" alt="Nombre Empresa">
                                <div class="awards__title">{{ 'firma.award.art_1.title'|trans }}</div>
                                <div class="awards__date">{{ 'firma.award.art_1.date'|trans }}</div>
                            </figure>
                        </div>
                        <div class="swiper-slide">
                            <figure class="awards__wrapper">
                                <img src="{{ asset('web/assets/logos/ft-innovative-lawyers_logo.png') }}" class="awards__logo" alt="Nombre Empresa">
                                <div class="awards__title">{{ 'firma.award.art_2.title'|trans }}</div>
                                <div class="awards__date">{{ 'firma.award.art_2.date'|trans }}</div>
                            </figure>
                        </div>
                        <div class="swiper-slide">
                            <figure class="awards__wrapper">
                                <img src="{{ asset('web/assets/logos/lacca.jpg') }}" class="awards__logo" alt="Nombre Empresa">
                                <div class="awards__title">{{ 'firma.award.art_3.title'|trans }}</div>
                                <div class="awards__date">{{ 'firma.award.art_3.date'|trans }}</div>
                            </figure>
                        </div>
                        <div class="swiper-slide">
                            <figure class="awards__wrapper">
                                <img src="{{ asset('web/assets/logos/tercera.png') }}" class="awards__logo" alt="Nombre Empresa">
                                <div class="awards__title">{{ 'firma.award.art_4.title'|trans }}</div>
                                <div class="awards__date">{{ 'firma.award.art_4.date'|trans }}</div>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
