{#% include 'web/shared/slider.html.twig'  with {sliders: sliders } %#}

{% for key in slidesOrdered|keys %}
    {%  set slide = slidesOrdered[key] %}
    {% if  slidesOrdered[key+1] is defined %}
         {%  set nextSlide = slidesOrdered[key+1] %}
         {% else %}
         {%  set nextSlide = slidesOrdered[0] %}
    {% endif %}
    {% if  slide.getImage().getFileName() is defined %}
         {%  set imageFile = slide.getImage().getFileName() %}
         {% else %}
         {%  set imageFile = 'cabecera_1920x1080_baja.jpg' %}
    {% endif %}

    <div class="swiper-slide" style="background-image: url('{{ asset('resources/'~imageFile) | imagine_filter('home_header') }}')">
        <div class="home__wrapper">
            <div class="home__article">
                <div class="home__article__type">{{ slide.translate(app.request.getLocale()).title }}</div>
                <div class="home__article__content">{{ slide.translate(app.request.getLocale()).description }}</div>
                <div class="home__article__link">
                    <a href="{{ slide.translate(app.request.getLocale()).url }}" class="btn btn__solid__arrow">{{ 'global.messages.show_more'|trans }}</a>
                </div>
            </div>
        </div>
        <div class="home__preview">
            <div class="home__preview__content">
                <button type="button" class="preview__button">
                    <span class="icon4-fletxa_cuatrecasas"></span>
                </button>
                <div class="preview__title">{{ 'global.messages.slider_next'|trans }}</div>
                <div class="preview__intro">{{ nextSlide.translate(app.request.getLocale()).description }}</div>
            </div>
        </div>
    </div>

{% endfor %}
