<section class="brands">
    <div class="container">
        <div class="row brands__wrapper">
            {% for brand in  brands %}
            <div class="col brands__item">
                <a href="{{ brand.translate(app.request.getLocale()).url }}" class="brands__link brands__link--{{ brand.translate(app.request.getLocale()).title }}">
                    <img src="{{ asset('web/assets/logos/Cuatrecasas-' ~ brand.translate(app.request.getLocale()).title ~'_arrows.png') }}">
                    <img src="{{ asset('web/assets/logos/Cuatrecasas-' ~ brand.translate(app.request.getLocale()).title ~'_txt.png') }}" alt="Cuatrecasas {{ brand.translate(app.request.getLocale()).title }}">
                </a>
            </div>
            {% endfor %}

        </div>
    </div>
</section>
