<section class="brands">
    <div class="container">
        <div class="row brands__wrapper">
            <div class="col brands__item">
                <a href="https://acelera.cuatrecasas.com" class="brands__link brands__link--acelera">
                    <img src="{{ asset('web/assets/logos/Cuatrecasas-Acelera_arrows.png') }}">
                    <img src="{{ asset('web/assets/logos/Cuatrecasas-Acelera_txt.png') }}" alt="Cuatrecasas Acelera">
                </a>
            </div>
            <div class="col brands__item">
                <a href="https://www.cuatrecasas.com/es/firma/instituto_internacional.html" class="brands__link brands__link--rrhh">
                    <img src="{{ asset('web/assets/logos/Cuatrecasas-RRHH_arrows.png') }}">
                    <img src="{{ asset('web/assets/logos/Cuatrecasas-RRHH_txt.png') }}" alt="Cuatrecasas Instituto de Estrategia Lega de RRHH">
                </a>
            </div>
            <div class="col brands__item">
                <a href="http://www.fundacioncuatrecasas.com/" class="brands__link brands__link--fundation">
                    <img src="{{ asset('web/assets/logos/Cuatrecasas-Fundacion_arrows.png') }}">
                    <img src="{{ asset('web/assets/logos/Cuatrecasas-Fundacion_txt.png') }}" alt="Cuatrecasas Fundación">
                </a>
            </div>
        </div>
    </div>
</section>
