<section class="carousel-awards">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="section-header">Premios</h2>
            </div>
            <div class="col">
                <div id="carouselAwards" class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="{{ asset('web/assets/img/award-innovative-lawyers-2018.png') }}" alt="">
                            <div class="awards-title">Firma más innovadora en "colaboración"</div>
                            <div class="awards-date">Financial Times, 2018</div>
                        </div>
                        <div class="swiper-slide">
                            <img src="{{ asset('web/assets/img/award-innovative-lawyers-2018.png') }}" alt="">
                            <div class="awards-title">Firma más innovadora en "colaboración"</div>
                            <div class="awards-date">Financial Times, 2018</div>
                        </div>
                        <div class="swiper-slide">
                            <img src="{{ asset('web/assets/img/award-innovative-lawyers-2018.png') }}" alt="">
                            <div class="awards-title">Firma más innovadora en "colaboración"</div>
                            <div class="awards-date">Financial Times, 2018</div>
                        </div>
                        <div class="swiper-slide">
                            <img src="{{ asset('web/assets/img/award-innovative-lawyers-2018.png') }}" alt="">
                            <div class="awards-title">Firma más innovadora en "colaboración"</div>
                            <div class="awards-date">Financial Times, 2018</div>
                        </div>
                        <div class="swiper-slide">
                            <img src="{{ asset('web/assets/img/award-innovative-lawyers-2018.png') }}" alt="">
                            <div class="awards-title">Firma más innovadora en "colaboración"</div>
                            <div class="awards-date">Financial Times, 2018</div>
                        </div>
                        <div class="swiper-slide">
                            <img src="{{ asset('web/assets/img/award-innovative-lawyers-2018.png') }}" alt="">
                            <div class="awards-title">Firma más innovadora en "colaboración"</div>
                            <div class="awards-date">Financial Times, 2018</div>
                        </div>
                        <div class="swiper-slide">
                            <img src="{{ asset('web/assets/img/award-innovative-lawyers-2018.png') }}" alt="">
                            <div class="awards-title">Firma más innovadora en "colaboración"</div>
                            <div class="awards-date">Financial Times, 2018</div>
                        </div>
                        <div class="swiper-slide">
                            <img src="{{ asset('web/assets/img/award-innovative-lawyers-2018.png') }}" alt="">
                            <div class="awards-title">Firma más innovadora en "colaboración"</div>
                            <div class="awards-date">Financial Times, 2018</div>
                        </div>
                        <div class="swiper-slide">
                            <img src="{{ asset('web/assets/img/award-innovative-lawyers-2018.png') }}" alt="">
                            <div class="awards-title">Firma más innovadora en "colaboración"</div>
                            <div class="awards-date">Financial Times, 2018</div>
                        </div>
                    </div>

                    <div class="swiper-pagination"></div>

                    {# <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div> #}

                    {# <div class="swiper-scrollbar"></div> #}
                </div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
    </div>
</section>