{% if caseStudies|length > 1 %}

    <section class="insight--carousel">
        <div class="container">
            <div class="row page__section">
                <div class="col">
                    <h4 class="section__title section__title--cases">
                        {{ 'reusable_blocks.cases.title'|trans }}
                    </h4>
                    <div id="sliderCases" class="swiper-container">
                        <div class="swiper-wrapper">
                            {% for caseStudy in caseStudies %}
                            {% if caseStudy %}
                                {% if caseStudy.image %}
                                    {% set photo_path = asset('/resources/' ~ caseStudy.image.getFileName)|imagine_filter('lawyers_grid') %}
                                {% endif %}
                            {% endif %}
                            <div class="swiper-slide">
                                <article class="insight__item">
                                    <div class="insight__article">
                                        <div class="insight__content">
                                            <h3 class="insight__title">
                                                {{ caseStudy.translate(app.request.getLocale()).title }}
                                            </h3>
                                        </div>
                                        <div class="insight__viewmore">
                                            <a href="{{ path('case_studies_detail', {slug: caseStudy.translate(app.request.getLocale()).slug}) }}" class="doble__arrow__link">{{ 'reusable_blocks.cases.link'|trans }}</a>
                                        </div>
                                    </div>
                                    <div class="insight__img" style="background-image: url('{{ (photo_path is defined) ? photo_path : ""}}')"></div>
                                </article>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endif %}
