<section class="boxnews boxnews--collections">
    <div class="container">
        <div class="row page__section">
            <div class="col">
                <h4 class="section__title section__title--insight">Colecciones</h4>
                <div class="boxnews__list">

                    {% for insight in insights %}

                    <article class="boxnews__item">
                        <div class="boxnews__header">
                            <div class="boxnews__type">{{ insight.translate(app.request.getLocale()).title }}</div>
                        </div>
                        <div class="boxnews__content">
                            <div class="boxnews__excerpt">
                                {{ insight.translate(app.request.getLocale()).summary|length > 100 ? insight.translate(app.request.getLocale()).summary|raw|striptags|slice(0, 100) ~ '...' : insight.translate(app.request.getLocale()).summary|raw  }}
                                {# {{ insight.translate(app.request.getLocale()).summary|raw }} #}
                            </div>
                            <div class="boxnews__action">
                                <a href="{{ path('insights_detail', {slug: insight.translate(app.request.getLocale()).slug}) }}" class="doble__arrow__link">Ver más</a>
                            </div>
                            <div class="boxnews__img" style="background-image: url('{{ asset('web/assets/vector/insight-bg-1.png') }}')"></div>
                        </div>
                    </article>

                    {% endfor %}

                </div>
                <div class="viewmore__button">
                    <!-- <button type="button" class="btn btn__viewmore">Ver más colecciones</button> -->
                    <a href="#" class="btn btn__viewmore">Ver más colecciones</a>
                </div>
            </div>
        </div>
    </div>
</section>
