<section class="discover">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <article class="discover__content">
                    <h3 class="discover__title">
                        {{ 'sections.desks.discover_title' | trans }}
                    </h3>
                    <p class="discover__excerpt">
                        {{ 'sections.desks.discover_text' | trans }}
                    </p>
                    <a href="#" class="btn btn__solid__arrow">{{ 'sections.desks.discover_button' | trans }}</a>
                </article>
            </div>
            <div class="col-md-6">
                <a href="#" class="box__link">
                    <figure class="discover__img" style="background-image: url('{{ asset('web/assets/img/benjamin-child-GWe0dlVD9e0-unsplash.jpg') }}')">
                        <img src="{{ asset('web/assets/img/benjamin-child-GWe0dlVD9e0-unsplash.jpg') }}" alt="">
                    </figure>
                </a>
            </div>
        </div>
    </div>
</section>
