<section class="boxnews boxnews--info bg__grey__02">
    <div class="container">
        <div class="row page__section">
            <div class="col">
                <div class="boxnews__list">
                    <article class="boxnews__item boxnews__item--triple">
                        <div class="boxnews__wrapper">
                            <div class="boxnews__content">
                                <h5 class="boxnews__content__title">{{ 'career.info_revolution.art_0.title'|trans}}</h5>
                                <div class="boxnews__content__info">
                                    <p>{{ 'career.info_revolution.art_0.content'|trans}}</p>
                                </div>
                                <div class="boxnews__content__button">
                                    <a href="{{ path('lawyers_index') }}" class="btn btn__solid__arrow">{{ 'global.messages.show_more'|trans}}</a>
                                </div>
                            </div>
                            <div class="boxnews__foto">
                                <figure class="video__popup" style="background-image: url('{{ asset('web/assets/img/cabecera_1920x1080_baja.jpg') }}')">
                                    <img src="{{ asset('web/assets/img/cabecera_1920x1080_baja.jpg') }}" alt="" class="sr-only">
                                    {# <a href="https://www.youtube.com/watch?v=VrSHcpDkPVQ" data-lity class="video__popup__link">
                                        <span class='material-icons'>play_circle_outline</span>
                                    </a> #}
                                </figure>
                            </div>
                        </div>
                    </article>
                    <article class="boxnews__item boxnews__item--doble">
                        <div class="boxnews__wrapper">
                            <div class="boxnews__content">
                                <h5 class="boxnews__content__title">{{ 'career.info_revolution.art_1.title'|trans}}</h5>
                                <div class="boxnews__content__info">
                                    <p>{{ 'career.info_revolution.art_1.content'|trans}}</p>
                                </div>
                                <div class="boxnews__content__button">
                                    <a href="{{ path('lawyers_index') }}" class="btn btn__solid__arrow">{{ 'global.messages.show_more'|trans}}</a>
                                </div>
                            </div>
                            <div class="boxnews__foto">
                                <figure class="video__popup" style="background-image: url('{{ asset('web/assets/img/cabecera_1920x1080_baja.jpg') }}')">
                                    <img src="{{ asset('web/assets/img/cabecera_1920x1080_baja.jpg') }}" alt="" class="sr-only">
                                    {# <a href="https://www.youtube.com/watch?v=VrSHcpDkPVQ" data-lity class="video__popup__link">
                                        <span class='material-icons'>play_circle_outline</span>
                                    </a> #}
                                </figure>
                            </div>
                        </div>
                    </article>
                    <article class="boxnews__item boxnews__item--blockquote">
                        <blockquote class="cite__quote">
                            <p>{{ 'career.quote.title'|trans}}</p>
                            <cite>{{ 'career.quote.author'|trans}}<br>{{ 'career.quote.position'|trans}}</cite>
                        </blockquote>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>
