<section class="boxnews boxnews--info bg__grey__02">
    <div class="container">
        <div class="row page__section">
            <div class="col">
                <h4 class="section__title section__title--main">{{ 'career.info_learn.title'|trans}}</h4>

                <div id="loadMoreBoxes" class="boxnews__list">
                    <article class="boxnews__item">
                        <div class="boxnews__content">
                            <h5 class="boxnews__content__title">{{ 'career.info_learn.art_1.title'|trans}}</h5>
                            <div class="boxnews__content__info">
                                <p>{{ 'career.info_learn.art_1.content'|trans}}</p>
                            </div>
                            <div class="boxnews__content__button">
                                <a href="https://www.pactomundial.org/" class="doble__arrow__link">{{ 'global.messages.show_more'|trans}}</a>
                            </div>
                            <div class="boxnews__photo">
                                <img src="{{ asset('web/assets/img/F00_firma-shadows.jpg') }}" alt="">
                            </div>
                        </div>
                    </article>
                    <article class="boxnews__item">
                        <div class="boxnews__content">
                            <h5 class="boxnews__content__title">{{ 'career.info_learn.art_2.title'|trans}}</h5>
                            <div class="boxnews__content__info">
                                <p>{{ 'career.info_learn.art_2.content'|trans}}</p>
                            </div>
                            <!-- <div class="boxnews__content__button">
                                <a href="#" class="doble__arrow__link">{{ 'global.messages.show_more'|trans}}</a>
                            </div> -->
                            <div class="boxnews__photo">
                                <img src="{{ asset('web/assets/img/F00_firma-shadows.jpg') }}" alt="">
                            </div>
                        </div>
                    </article>
                    <article class="boxnews__item">
                        <div class="boxnews__content">
                            <h5 class="boxnews__content__title">{{ 'career.info_learn.art_3.title'|trans}}</h5>
                            <div class="boxnews__content__info">
                                <p>{{ 'career.info_learn.art_3.content'|trans}}</p>
                            </div>
                            <!-- <div class="boxnews__content__button">
                                <a href="#" class="doble__arrow__link">{{ 'global.messages.show_more'|trans}}</a>
                            </div> -->
                            <div class="boxnews__photo">
                                <img src="{{ asset('web/assets/img/F00_firma-shadows.jpg') }}" alt="">
                            </div>
                        </div>
                    </article>
                    <article class="boxnews__item">
                        <div class="boxnews__content">
                            <h5 class="boxnews__content__title">{{ 'career.info_learn.art_4.title'|trans}}</h5>
                            <div class="boxnews__content__info">
                                <p>{{ 'career.info_learn.art_4.content'|trans}}</p>
                            </div>
                            <div class="boxnews__content__button">
                                <a href="#" class="doble__arrow__link">{{ 'global.messages.show_more'|trans}}</a>
                            </div>
                            {# <div class="boxnews__photo">
                                <img src="{{ asset('web/assets/img/cabecera_1920x1080_baja.jpg') }}" alt="">
                            </div> #}
                        </div>
                    </article>
                    <article class="boxnews__item">
                        <div class="boxnews__content">
                            <h5 class="boxnews__content__title">{{ 'career.info_learn.art_5.title'|trans}}</h5>
                            <div class="boxnews__content__info">
                                <p>{{ 'career.info_learn.art_5.content'|trans}}</p>
                            </div>
                            <div class="boxnews__photo">
                                <div class="boxnews__photo">
                                    <img src="{{ asset('web/assets/img/cabecera_1920x1080_baja.jpg') }}" alt="">
                                </div>
                                {# <figure class="video__popup" style="background-image: url('{{ asset('web/assets/img/cabecera_1920x1080_baja.jpg') }}')">
                                    <a href="https://www.youtube.com/watch?v=R80x-Xn5tSg" data-lity class="video__popup__link">
                                        <span class='material-icons'>play_circle_outline</span>
                                    </a>
                                </figure> #}
                            </div>
                        </div>
                    </article>
                    <article class="boxnews__item boxnews__item--blockquote">
                        <blockquote class="cite__quote">
                            <p>{{ 'career.quote.title'|trans}}</p>
                            <cite>{{ 'career.quote.author'|trans}}<br>{{ 'career.quote.position'|trans}}</cite>
                        </blockquote>
                    </article>
                </div>
                <div class="viewmore__button">
                    <button id="loadMore" type="button" class="btn btn__viewmore btn__viewmore--plus">{{ 'global.messages.load_more'|trans}}</button>
                </div>
            </div>
        </div>
    </div>
</section>
