<section class="boxnews boxnews--info bg__grey__03">
    <div class="container">
        <div class="row page__section">
            <div class="col">
                <div class="boxnews__list">
                    <article class="boxnews__item">
                        <div class="boxnews__content">
                            <h5 class="boxnews__content__title">Tech Channel</h5>
                            <div class="boxnews__content__info">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae nemo tempora, fugit blanditiis sint aut dolorem.</p>
                            </div>
                            <div class="boxnews__content__button">
                                <a href="{{ path('firm_mediaCenter') }}" class="doble__arrow__link">Centro de medios</a>
                            </div>
                            <div class="boxnews__photo">
                                <img src="{{ asset('web/assets/vector/F00_firma.png') }}" alt="">
                            </div>
                        </div>
                    </article>
                    <article class="boxnews__item">
                        <div class="boxnews__content">
                            <h5 class="boxnews__content__title">Tecnología y negocios digitales</h5>
                            <div class="boxnews__content__info">
                                <p>Dolorem omnis distinctio nulla quaerat excepturi deserunt officia nostrum incidunt.</p>
                            </div>
                            <div class="boxnews__content__button">
                                <a href="{{ path('firm_mediaCenter') }}" class="doble__arrow__link">Centro de medios</a>
                            </div>
                            <div class="boxnews__photo">
                                <img src="{{ asset('web/assets/img/F00_firma-shadows.jpg') }}" alt="">
                            </div>
                        </div>
                    </article>
                    <article class="boxnews__item boxnews__item--acelera">
                        <div class="boxnews__content">
                            <h5 class="boxnews__content__title">Acelera Ventures</h5>
                            <div class="boxnews__content__info">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At cum architecto recusandae ratione optio explicabo.</p>
                            </div>
                            <div class="boxnews__content__button">
                                <a href="#" class="doble__arrow__link">Ver más</a>
                            </div>
                            <div class="boxnews__photo">
                                <img src="{{ asset('web/assets/img/F00_firma-shadows.jpg') }}" alt="">
                            </div>
                        </div>
                    </article>
                </div>
                <div class="viewmore__button">
                    <button type="button" class="btn btn__viewmore btn__viewmore--plus">Cargar más</button>
                </div>
            </div>
        </div>
    </div>
</section>
