<section class="boxnews boxnews--info bg__grey__02">
    <div class="container">
        <div class="row page__section">
            <div class="col">
                <div class="boxnews__list">
                    <article class="boxnews__item">
                        <div class="boxnews__content">
                            <h5 class="boxnews__content__title">{{ 'career.info_join_us.art_1.title'|trans}}</h5>
                            <div class="boxnews__content__info">
                                <p>{{ 'career.info_join_us.art_1.content'|trans}}</p>
                            </div>
                            <div class="boxnews__content__button">
                                <a href="#" class="doble__arrow__link">{{ 'career.send_cv'|trans}}</a>
                            </div>
                        </div>
                    </article>
                    <article class="boxnews__item">
                        <div class="boxnews__content">
                            <h5 class="boxnews__content__title">{{ 'career.info_join_us.art_2.title'|trans}}</h5>
                            <div class="boxnews__content__info">
                                <p>{{ 'career.info_join_us.art_2.content'|trans}}</p>
                            </div>
                            <div class="boxnews__content__button">
                                <a href="#" class="doble__arrow__link">{{ 'career.send_cv'|trans}}</a>
                            </div>
                        </div>
                    </article>
                    <article class="boxnews__item">
                        <div class="boxnews__content">
                            <h5 class="boxnews__content__title">{{ 'career.info_join_us.art_3.title'|trans}}</h5>
                            <div class="boxnews__content__info">
                                <p>{{ 'career.info_join_us.art_3.content'|trans}}</p>
                            </div>
                            <div class="boxnews__content__button">
                                <a href="#" class="doble__arrow__link">{{ 'career.send_cv'|trans}}</a>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>
