{% set InsightLanguague = app.request.getLocale() %}

<section class="insight">
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <article class="insight__article">
                    <div class="insight__header">
                        {{ 'sections.insights.title'|trans }}
                    </div>
                    <div class="insight__content">
                        <h3 class="insight__title">
                            {% if insight is defined and insight.translate(InsightLanguague).title != '' %}
                                {{ insight.translate(InsightLanguague).title|raw }}
                            {% else %}
                                Women in Business
                            {% endif %}
                        </h3>
                        <a href="#" class="insight__link">
                            {% if insight is defined and insight.translate(InsightLanguague).summary != '' %}
                                {{ insight.translate(InsightLanguague).summary|raw }}
                            {% else %}
                                Lorem ipsum dolor sit amet, consectejur adipiscing elit, sed do eiusmod labore
                            {% endif %}
                        </a>
                    </div>
                    {% if insight is defined %}
                    <div class="insight__meta">
                        <ul class="related__content related__content--lawyers">
                            {% for lawyer in insight.lawyers %}
                                <li class="related__content__item">
                                    <a href="abogados/{{ lawyer.slug }}" class="related__content__link">
                                        {{ lawyer.name }}
                                        {{ lawyer.surname }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                        <ul class="related__services">
                        {% for activity in insight.activities %}
                            <li class="related__services__item">
                            {% set path_string = get_pathda(activity)|trans %}
                                <a href="{{ path(path_string, { slug: activity.translate(InsightLanguague).slug }) }}" class="related__content__link">
                                    {{ activity.translate(InsightLanguague).title | upper}}
                                </a>
                            </li>
                        {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                </article>
            </div>

            <div class="col-xl-6">
                <a href="#" class="box__link">
                    <figure class="insight__vector" style="background-image: url('{{ asset('web/assets/vector/Picto_03_1920x1080.png') | imagine_filter('picto_header') }}')">
                        <img src="{{ asset('web/assets/vector/Picto_03_1920x1080.png') }}" alt="">
                    </figure>
                </a>
            </div>
        </div>
    </div>
</section>
