<section class="insight">
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <article class="insight__article">
                    <div class="insight__header">
                        Insight
                    </div>
                    <div class="insight__content">
                        <h3 class="insight__title">                            
                            {% if insight is defined and insight.translate(app.request.getLocale()).title != '' %}
                                <p>{{ insight.translate(app.request.getLocale()).title|raw }}</p>
                            {% else %}
                                Women in Business
                            {% endif %}
                        </h3>
                        <a href="#" class="insight__link">
                            {% if insight is defined and insight.translate(app.request.getLocale()).description != '' %}
                                <p>{{ insight.translate(app.request.getLocale()).description|raw }}</p>
                            {% else %}
                                Lorem ipsum dolor sit amet, consectejur adipiscing elit, sed do eiusmod labore
                            {% endif %}                        
                        </a>
                    </div>
                    <div class="insight__meta">
                        <!-- <div class="insight__meta__info">
                            <div data-author>Laura Vivas</div>
                            <div data-reading>8' lectura</div>
         
                        </div> -->
                        <ul class="related__content related__content--lawyers">
                        {% if insight is defined  %}
                            {% for lawyer in insight.lawyers %}
                                <li class="related__content__item">
                                    <a href="abogados/{{ lawyer.slug }}" class="related__content__link">
                                        {{ lawyer.name }}
                                        {{ lawyer.surname }}
                                    </a>
                                </li>
                            {% endfor %}                                
                        {% else %}
                                
                        {% endif %} 

                        </ul>    


                        <ul class="related__services">
                        {% if insight is defined  %}
                            {% for activity in insight.activities %}
                                <li class="related__services__item">
                                    <a href="{{ activity.translate(app.request.getLocale()).slug }}" class="related__content__link">                                    
                                        {{ activity.translate(app.request.getLocale()).title | upper}}
                                    </a>
                                </li>
                            {% endfor %}
                        {% else %}
                                
                        {% endif %}                         
                        </ul>
                    </div>
                </article>
            </div>
            <div class="col-xl-6">
                <a href="#" class="box__link">
                    <figure class="insight__vector" style="background-image: url('{{ asset('web/assets/vector/insight-bg.png') }}')">
                        <img src="{{ asset('web/assets/vector/insight-bg.png') }}" alt="">
                    </figure>
                </a>
            </div>
        </div>
    </div>
</section>
