<section class="overview overview--component">
    <div class="container">
        <div class="row page__block--component">
            <div class="col">
                <h4 class="section__title section__title--main">{{  'firm.overview_diversity.title'|trans  }}</h4>
                <p>{{  'firm.overview_diversity.content'|trans  }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="overview__wrapper">
                    <div class="overview__item">
                        <!-- <div class="overview__number">{{  'firm.overview_diversity.art_1.number'|trans  }}</div> -->
                        <div class="overview__title">{{  'firm.overview_diversity.art_1.title'|trans  }}</div>
                        <!-- <div class="overview__content">
                            <p>{{  'firm.overview_diversity.art_1.content'|trans  }}</p>
                        </div> -->
                    </div>
                    <div class="overview__item">
                        <!-- <div class="overview__number">{{  'firm.overview_diversity.art_2.number'|trans  }}</div> -->
                        <div class="overview__title">{{  'firm.overview_diversity.art_2.title'|trans  }}</div>
                        <!-- <div class="overview__content">
                            <p>{{  'firm.overview_diversity.art_2.content'|trans  }}</p>
                        </div> -->
                    </div>
                    <div class="overview__item">
                        <!-- <div class="overview__number">{{  'firm.overview_diversity.art_3.number'|trans  }}</div> -->
                        <div class="overview__title">{{  'firm.overview_diversity.art_3.title'|trans  }}</div>
                        <!-- <div class="overview__content">
                            <p>{{  'firm.overview_diversity.art_3.content'|trans  }}</p>
                        </div> -->
                    </div>
                    <div class="overview__item">
                        <!-- <div class="overview__number">{{  'firm.overview_diversity.art_4.number'|trans  }}</div> -->
                        <div class="overview__title">{{  'firm.overview_diversity.art_4.title'|trans  }}</div>
                        <!-- <div class="overview__content">
                            <p>{{  'firm.overview_diversity.art_4.content'|trans  }}</p>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
