<section class="boxnews bg__grey__03">
    <div class="container">
        <div class="row page__section">
            <div class="col">
                <h4 class="section__title section__title{% if classTittle is defined %}{{ classTittle }}{% else %}--insight{% endif %}">
                    {% if tittle is defined %}
                        {{ tittle }}
                        {% else %}
                        Contenido relacionado
                    {% endif %}
                </h4>
                <div class="swiper-container slider__general">
                    <div class="swiper-wrapper">
                    {% for key,publication in publications %}
                    {% if publication.translate(app.request.getLocale()).title %}
                        <div class="swiper-slide">
                            <article class="boxnews__item boxnews__item--news">
                                <div class="boxnews__header">
                                    <div class="boxnews__type">{{ publication.type }}</div>
                                    <div class="boxnews__info">Education</div>
                                </div>
                                <div class="boxnews__content">
                                    <h5 class="boxnews__copy">
                                        <a href="{{ path('publications_detail', {slug: publication.translate(app.request.getLocale()).slug}) }}" class="boxnews__link">
                                            {{ publication.translate(app.request.getLocale()).title|raw }}
                                        </a>
                                    </h5>
                                    <div class="boxnews__meta">
                                        <div class="boxnews__meta__date">{{ publication.fechaPubli }}</div>
                                        <div class="boxnews__meta__author">{% for person in publication.people %} {{ person.lawyer.name }} {{ person.lawyer.surname }} {% endfor %}</div>
                                    </div>
                                </div>
                                {% if publication.activities|length > 1 %}
                                <div class="boxnews__footer">
                                    <ul class="related__services">
                                    {% for activity in publication.activities %}
                                        <li class="related__services__item">
                                            <a href="{{ path('practices_detail', {slug: activity.translate(app.request.getLocale()).slug}) }}" class="related__services__link">
                                                 {{ activity.translate(app.request.getLocale()).title|raw}}
                                            </a>
                                        </li>
                                     {% endfor %}
                                    </ul>
                                </div>
                               {% endif %}
                            </article>
                        </div>
                    {% endif %}
                    {% endfor %}
                    </div>
                    <div class="swiper-scrollbar"></div>
                </div>
                <div class="viewmore__button">
                    <button type="button" class="btn btn__viewmore">Ver más</button>
                </div>
            </div>
        </div>
    </div>
</section>
