{#% set lang = app.request.getLocale() %#}
<section class="boxnews bg__grey__03">
    <div class="container">
        <div class="row page__section">
            <div class="col">
                <h4 class="section__title section__title--recomended">
                    {% if title is defined %}
                        {{ title }}
                        {% else %}
                        {{ 'global.messages.related_content'|trans }}
                    {% endif %}
                </h4>
                <div id="sliderArticles" class="swiper-container slider__general">
                    <div class="swiper-wrapper">
                    {% for key,publication in publications %}
                    {% if publication.translate(app.request.getLocale()).title %}
                        {% set fecha = publication.fechaPubli |format_datetime('long', 'none',locale=app.request.getLocale())|split(' ') %}
                        <div class="swiper-slide">
                            <article class="boxnews__item boxnews__item--{{ publication.type }}">
                                <div class="boxnews__header">
                                    <div class="boxnews__type">{{ ('sections.knowledge.knowledgeTypes.'~publication.type) |trans }}</div>
                                </div>
                                <div class="boxnews__content">
                                    <h5 class="boxnews__copy">
                                        <a href="{{ path('publications_detail', {slug: publication.translate(app.request.getLocale()).slug}) }}" class="boxnews__link">
                                            {{ publication.translate(app.request.getLocale()).title|raw }}
                                        </a>
                                    </h5>
                                    <div class="boxnews__meta">
                                        <div class="boxnews__meta__date">{{ fecha[0] }} {{ fecha[1:]|join(' ') }}</div>
                                        <div class="boxnews__meta__author">
                                    {% for person in publication.people %}
                                        {% if person.lawyer %}
                                            <span>{{ person.lawyer.name }} {{ person.lawyer.surname }}</span>
                                        {% else %}
                                            <span>{{ person.name }} {{ person.surname }}</span>
                                        {% endif %}
                                    {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                {% if publication.activities|length > 1 %}
                                <div class="boxnews__footer">
                                    <ul class="related__services">
                                    {% for activity in publication.activities %}
                                        <li class="related__services__item">
                                            <a href="{{ path('practices_detail', {slug: activity.translate(app.request.getLocale()).slug}) }}" class="related__services__link">
                                                 {{ activity.translate(app.request.getLocale()).title|raw}}
                                            </a>
                                        </li>
                                     {% endfor %}
                                    </ul>
                                </div>
                               {% endif %}
                            </article>
                        </div>
                    {% endif %}
                    {% endfor %}
                    </div>
                    <div class="swiper-scrollbar"></div>
                </div>
                <div class="viewmore__button">
                    <button type="button" class="btn btn__viewmore">{{ 'global.messages.show_more'|trans }}</button>
                </div>
            </div>
        </div>
    </div>
</section>
