<section class="slider-cases">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="section-header">Casos</h2>
                <div id="sliderCases" class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <figure class="slider-img">
                                <img src="{{ asset('web/assets/img/sean-pollock-PhYq704ffdA-unsplash.jpg') }}" alt="">
                            </figure>
                            <div class="slider-info">
                                <div class="title">Women in bussiness</div>
                                <div class="content">Blandit cursus risus at ultrices mi tempus imperdiet nulla. Suscipit tellus mauris a maecenas.</div>
                                <a href="#" class="btn btn-border-white">Ver caso de éxito</a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <figure class="slider-img">
                                <img src="{{ asset('web/assets/img/sebastian-pichler-bAQH53VquTc-unsplash.jpg') }}" alt="">
                            </figure>
                            <div class="slider-info">
                                <div class="title">Lorem ipsum dolor</div>
                                <div class="content">Elit at imperdiet dui accumsan sit amet nulla facilisi. Tortor vitae purus faucibus.</div>
                                <a href="#" class="btn btn-border-white">Ver caso de éxito</a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <figure class="slider-img">
                                <img src="{{ asset('web/assets/img/clarisse-meyer-jKU2NneZAbI-unsplash.jpg') }}" alt="">
                            </figure>
                            <div class="slider-info">
                                <div class="title">Lorem ipsum dolor</div>
                                <div class="content">Suscipit tellus mauris a diam maecenas. Velit sed ullamcorper morbi tincidunt ornare massa eget.</div>
                                <a href="#" class="btn btn-border-white">Ver caso de éxito</a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <figure class="slider-img">
                                <img src="{{ asset('web/assets/img/sean-pollock-PhYq704ffdA-unsplash.jpg') }}" alt="">
                            </figure>
                            <div class="slider-info">
                                <div class="title">Women in bussiness</div>
                                <div class="content">Blandit cursus risus at ultrices mi tempus imperdiet nulla. Suscipit tellus mauris a maecenas.</div>
                                <a href="#" class="btn btn-border-white">Ver caso de éxito</a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <figure class="slider-img">
                                <img src="{{ asset('web/assets/img/sebastian-pichler-bAQH53VquTc-unsplash.jpg') }}" alt="">
                            </figure>
                            <div class="slider-info">
                                <div class="title">Lorem ipsum dolor</div>
                                <div class="content">Elit at imperdiet dui accumsan sit amet nulla facilisi. Tortor vitae purus faucibus.</div>
                                <a href="#" class="btn btn-border-white">Ver caso de éxito</a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <figure class="slider-img">
                                <img src="{{ asset('web/assets/img/clarisse-meyer-jKU2NneZAbI-unsplash.jpg') }}" alt="">
                            </figure>
                            <div class="slider-info">
                                <div class="title">Lorem ipsum dolor</div>
                                <div class="content">Suscipit tellus mauris a diam maecenas. Velit sed ullamcorper morbi tincidunt ornare massa eget.</div>
                                <a href="#" class="btn btn-border-white">Ver caso de éxito</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
    </div>
</section>
