<section class="team">
    <div class="container">
        <div class="row page__section">
            <div class="col">
                <div class="team__wrapper">
                    <div class="team__info">
                        <div class="team__info__title">Equipo<br>Cuatrecasas</div>
                        <div class="team__info__intro">Cuatrecasas cuenta con un equipo {{ activityTeam.translate(app.request.getLocale()).title|raw }}</div>
                        {% if activityTeam.lawyers|length > 1 %}
                            <a href="#" class="double__arrow__link">Conoce al equipo</a>
                        {% endif %}
                    </div>
                    <div class="team__list">
                        {% for lawyer in activityTeam.lawyers|slice(0, 5) %}
                            <article class="team__member" style="background-image: url('{{ asset('web/assets/img/foto-lawyer-full.jpg') }}');">
                                <a href="{{ relative_path('/es/lawyer/detail/')}}{{ lawyer.slug  }}" class="team__member__link">{{ lawyer.name|raw  }} {{ lawyer.surname|raw }}</a>
                                <h3 class="team__member__name">{{ lawyer.name|raw  }} {{ lawyer.surname|raw }}</h3>
                                <div class="team__member__details">
                                    <div class="team__member__position">{{ ('sections.lawyers.lawyerCategoryTypes.' ~ lawyer.lawyerType) | trans }}</div>
                                    <ul class="team__member__practice">
                                    {% if lawyer.activities %}
                                        {% for activity in lawyer.activities %}
                                            <li class="team__member__practice__item">{{ activity.translate(app.request.getLocale()).title}}</li>
                                        {% endfor %}
                                            <li class="team__member__practice__item">{{ lawyer.office ? lawyer.office.city : '' }}</li>
                                    {% endif %}
                                    </ul>
                                </div>
                            </article>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
