<section class="team">
    <div class="container-fluid">
        <div class="row page__section">
            <div class="col">
                <div class="team__wrapper">
                    <div class="team__info">
                        <h3>Equipo<br>Cuatrecasas</h3>
                        <h4>Cuatrecasas cuante con un equipo lorem ipsum dolor sit amet</h4>
                        <a href="#" class="">Conoce al equipo</a>
                    </div>
                    <div class="team__list">
                        <article class="team__member" style="background-image: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 100%),url('{{ asset('web/assets/img/ben-parker-OhKElOkQ3RE-unsplash.jpg') }}');">
                            <div class="team__member__position">
                                <h3>Consejera<br>Cuatrecasas</h3>
                            </div>
                            <div class="team__member__name">
                                <h4>Irene Moreno</h4>
                            </div>
                            <div class="team__member__resume">
                                <p>Irene Moreno es experta en lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                        </article>
                        <article class="team__member" style="background-image: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 100%), url('{{ asset('web/assets/img/ben-parker-OhKElOkQ3RE-unsplash.jpg') }}');">
                            <div class="team__member__position">
                                <h3>Consejero<br>Cuatrecasas</h3>
                            </div>
                            <div class="team__member__name">
                                <h4>Ricardo Mínguez</h4>
                            </div>
                            <div class="team__member__resume">
                                <p>Ricardo Mínguez es experto en occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            </div>
                        </article>
                        <article class="team__member" style="background-image: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 100%), url('{{ asset('web/assets/img/ben-parker-OhKElOkQ3RE-unsplash.jpg') }}');">
                            <div class="team__member__position">
                                <h3>Socio<br>Cuatrecasas</h3>
                            </div>
                            <div class="team__member__name">
                                <h4>Rubén Agote</h4>
                            </div>
                            <div class="team__member__resume">
                                <p>Rubén Agote es experto en pretium aenean pharetra. Interdum consectetur libero id faucibus nisl tincidunt eget nullam non. Nunc sed id semper risus in.</p>
                            </div>
                        </article>
                        <article class="team__member" style="background-image: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 100%), url('{{ asset('web/assets/img/ben-parker-OhKElOkQ3RE-unsplash.jpg') }}');">
                            <div class="team__member__position">
                                <h3>Asociado<br>Cuatrecasas</h3>
                            </div>
                            <div class="team__member__name">
                                <h4>Carlos Posadas</h4>
                            </div>
                            <div class="team__member__resume">
                                <p>Carlos Posadas dictum non consectetur a erat nam at lectus urna. Odio eu feugiat pretium nibh ipsum consequat. Eget gravida cum sociis natoque penatibus et magnis.</p>
                            </div>
                        </article>
                        <article class="team__member" style="background-image: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 100%), url('{{ asset('web/assets/img/ben-parker-OhKElOkQ3RE-unsplash.jpg') }}');">
                            <div class="team__member__position">
                                <h3>Asociado<br>Cuatrecasas</h3>
                            </div>
                            <div class="team__member__name">
                                <h4>Jean-Yves Teindas</h4>
                            </div>
                            <div class="team__member__resume">
                                <p>Jean-Yves Teindas es experto en maecenas accumsan lacus vel facilisis volutpat. In cursus turpis massa tincidunt dui ut ornare lectus.</p>
                            </div>
                        </article>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
