<section class="team">
    <div class="container">
        <div class="row page__section">
            <div class="col">
                <div class="team__wrapper">
                    <div class="team__info">
                        <h3>Equipo<br>Cuatrecasas</h3>
                        <h4>Cuatrecasas cuenta con un equipo {{ sector.translate(app.request.getLocale()).title|raw }}</h4>
                        <a href="#" class="double__arrow__link">Conoce al equipo</a>
                    </div>
                    <div class="team__list">
                        {% for lawyer in sector.lawyers|slice(0, 5) %}
                            <article class="team__member" style="background-image: url('{{ asset('web/assets/img/foto-lawyer-full.jpg') }}');">
                                <a href="#" class="team__member__link">{{ lawyer.name|raw  }} {{ lawyer.surname|raw  }}</a>
                                <div class="team__member__position">
                                    <h3>{{ ('sections.lawyers.lawyerCategoryTypes.' ~ lawyer.lawyerType) | trans }}<br>
                                    {% if lawyer.activities %}
                                        {% for activity in lawyer.activities %}
                                            {{ activity.translate(app.request.getLocale()).title}}
                                        {% endfor %}
                                    {% endif %}
                                     | {{ lawyer.office ? lawyer.office.city : '' }}</h3>
                                </div>
                                <div class="team__member__name">
                                    <h4>{{ lawyer.name|raw  }} {{ lawyer.surname|raw  }}</h4>
                                </div>
                                <div class="team__member__resume">
                                    <p>Irene Moreno es experta en lorem ipsum sit amet cursus, consectetur adipiscing.</p>
                                </div>
                            </article>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
