<section class="team">
    <div class="container">
        <div class="row page__section">
            <div class="col">
                <div class="team__wrapper">
                    <div class="team__info">
                        <div class="team__info__title">
                            {{ 'reusable_blocks.team.title'|trans }}
                        </div>
                        {% if team is defined %}
                            <div class="team__info__intro">
                                {{ 'reusable_blocks.team.intro'|trans({'team': team}) }}
                            </div>
                        {% endif %}
                        {% if lawyers|length > 1 %}
                            <a href="#" class="doble__arrow__link">{{ 'reusable_blocks.team.link'|trans }}</a>
                        {% endif %}
                    </div>
                    <div class="team__list">
                        {% for lawyer in lawyers|slice(0, 5) %}
                            <article class="team__member" 
                                {# style="background-image: url('{{ asset('web/assets/img/FLUF.jpg') }}');"  #}
                                style="background-image: url('{{ asset('resources/'~ (lawyer.photo.fileName is defined ? lawyer.photo.fileName : '') ) }}');
                                        background-size: 500%;
                                ">

                                <a href="{{ path('lawyers_detail', {slug: lawyer.slug}) }}" class="team__member__link">{{ lawyer.name|raw  }} {{ lawyer.surname|raw }}</a>
                                <div class="team__member__name">{{ lawyer.name|raw  }} {{ lawyer.surname|raw }}</div>

                                <div class="team__member__details">
                                    <div class="team__member__position">{{ ('sections.lawyers.lawyerCategoryTypes.' ~ lawyer.lawyerType) | trans }}</div>
                                    <ul class="team__member__practice">
                                        {% if fixed_activity is not defined %}
                                            {% for activity in lawyer.activities %}
                                                <li class="team__member__practice__item">{{ activity.translate(app.request.getLocale()).title}}</li>
                                            {% endfor %}
                                        {% else %}
                                            <li class="team__member__practice__item">{{ fixed_activity }}</li>
                                        {% endif %}
                                        <li class="team__member__practice__item">{{ lawyer.office ? lawyer.office.city : '' }}</li>
                                    </ul>
                                    <!-- <div class="team__member__place">{#{ lawyer.office ? lawyer.office.city : '' }#}</div> -->
                                </div>

                                <!-- *** more than one item = NO VALE
                                    *** cambiar por esto:

                                    <div class="team__member__position">{#{ ('sections.lawyers.lawyerCategoryTypes.' ~ lawyer.lawyerType) | trans }#}</div>
                                    <div class="team__member__sector">{#{ activity.translate(app.request.getLocale()).title}#}</div>
                                    <div class="team__member__place">{#{ lawyer.office ? lawyer.office.city : '' }#}</div>
                                -->

                            </article>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
