{% extends 'web/base.html.twig' %}

{% block stylesheets %}
<!-- Slider CSS -->
<link href="{{ asset('web/vendor/swiper/css/swiper.min.css') }}" rel="stylesheet">
{% endblock %}

{% block main %}

    <main role="main" class="lawyer">
        <article class="container">

            <header class="row page__header page__header--opacity" style="background-image: url('{{ asset('web/assets/img/drew-beamer-5DD7-L4A4Uw-unsplash.jpg') }}')">
                <div class="col">
                    <div class="info__block">
                        <h1 class="page__title">
                            {{ practice.translate(app.request.getLocale()).title|raw }}
                        </h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="#">Inicio</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="#">Áreas de práctica</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    {{ practice.translate(app.request.getLocale()).title|raw }}
                                </li>
                            </ol>
                        </nav>
                    </div>
                    <ul class="action__links">
                        <li><a href="#"><i class="material-icons">share</i></a></li>
                        <li><a href="#"><i class="material-icons">print</i></a></li>
                        <li><a href="#"><i class="material-icons">bookmark_border</i></a></li>
                    </ul>
                </div>
            </header>

            <section class="row page__block--full">
                <div class="col">
                    <p class="h3">{{ practice.translate(app.request.getLocale()).summary|raw }}</p>
                </div>
            </section>

            <section class="row page__block--aside">
                <div class="col">
                    <div class="page__block__content">
                        <p>{{ practice.translate(app.request.getLocale()).description|raw }}</p>

                        {% if sector.lawyers|length > 0 %}
                        <h5>Expertos en el área</h5>
                        <div class="lawyer__search__wrapper lawyer__search__wrapper--team">
                            {% for lawyer in sector.lawyers|slice(0, 5) %}
                                <div class="lawyer__search__item" style="background-image: url('{{ asset('web/assets/img/foto-lawyer-full.jpg') }}');">
                                    <a href="../../lawyer/detail/carlos-posadas" class="lawyer__link">
                                        <h3 class="lawyer__name">Carlos Posadas</h3>
                                        <div class="lawyer__details">
                                            <div class="lawyer__position">Asociado</div>
                                            <ul class="lawyer__practice">
                                                <li class="lawyer__practice__item">Fiscal</li>
                                                <li class="lawyer__practice__item">Empresa Familiar</li>
                                                <li class="lawyer__practice__item">MADRID</li>
                                            </ul>
                                        </div>
                                        <img class="lawyer__photo" src="{{ asset('web/assets/img/foto-lawyer-full.jpg') }}" alt="Carlos Posadas">
                                    </a>
                                </div>
                            {% endfor %}
                        </div>

                    </div>
                    {% endif %}
                    <div class="page__block__aside">
                        {% if practice.children|length > 0 %}
                            <div class="page__aside">
                                <h3 class="page__aside__title">Especialidades</h3>
                                <ul class="page__aside__list--specialties">
                                    {% for activity in practice.children %}
                                        <li><a href="#">{{ activity.translate(app.request.getLocale()).title }}</a></li>
                                    {% endfor %}
                                    {# <li><a href="#">Fiscalidad corporativa</a></li>
                                    <li><a href="#">Private client &amp; wealth management</a></li>
                                    <li><a href="#">Fiscalidad contenciosa</a></li> #}
                                </ul>
                            </div>
                        {% endif %}
                        <div class="page__aside page__aside--nobg">
                            <blockquote class="cite__quote">
                                <p>The help us to understand the practical risks based on what they have seen in other deals.</p>
                                <cite>Chambers, 2019</cite>
                            </blockquote>
                        </div>
                        {% if practice.relatedActivities|length > 0 %}
                            <div class="page__aside page__aside--practices">
                                <h3 class="page__aside__subtitle">Prácticas relacionadas</h3>
                                <ul class="related__services">
                                    {% for activity in practice.relatedActivities %}
                                        {% if activity.highlighted == 1  %}
                                            <li class="related__services__item">
                                                <a href="#" class="related__services__link">{{ activity.translate(app.request.getLocale()).title }}</a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                    {# <li class="related__services__item">
                                        <a href="#" class="related__services__link">Fusiones y adquisiciones</a>
                                    </li> #}
                                </ul>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </section>

        </article>
    </main>

    {% include 'web/shared/related-content-slider.html.twig' %}
    {% include 'web/shared/cases.html.twig' %}
    {% include 'web/shared/awards.html.twig' %}
    {% include 'web/shared/call-to-action.html.twig' %}

{% endblock %}

{% block javascripts %}
<!-- Slider JS -->
<script type="text/javascript" src="{{ asset('web/vendor/swiper/js/swiper.min.js') }}"></script>
<script>
    $(function () {
        web.global.sliderNews();
        web.global.sliderCases();
        web.global.sliderAwards();
    });
</script>
{% endblock %}
