{% extends 'web/base.html.twig' %}

{% block stylesheets %}
<!-- Slider CSS -->
<link href="{{ asset('web/vendor/swiper/css/swiper.min.css') }}" rel="stylesheet">
{% endblock %}

{% block main %}
    <main role="main">
        <article class="container">
            <header class="row page__header page__header--opacity" style="background-image: url('{{ asset('web/assets/img/drew-beamer-5DD7-L4A4Uw-unsplash.jpg') }}')">
                <div class="col">
                    <div class="info__block">
                        <h1 class="page__title">
                           {{ service.translate(app.request.getLocale()).title|raw }}
                        </h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="#">Inicio</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="#">Áreas de práctica</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                   {{ service.translate(app.request.getLocale()).title|raw }}
                                </li>
                            </ol>
                        </nav>
                    </div>
                    <ul class="action__links">
                        <li><a href="#"><i class="material-icons">share</i></a></li>
                        <li><a href="#"><i class="material-icons">print</i></a></li>
                        <li><a href="#"><i class="material-icons">bookmark_border</i></a></li>
                    </ul>
                </div>
            </header>

            <section class="row page__block--full">
                <div class="col">
                    {{ service.translate(app.request.getLocale()).summary|raw }}
                </div>
            </section>

            <section class="row page__block--aside">
                <div class="col">
                    <div class="page__block__content">
                        <p>{{ service.translate(app.request.getLocale()).description|raw }}</p>
                    </div>
                    <div class="page__block__aside">
                        {% if service.children|length > 0 %}
                            <div class="page__aside">
                                <h3 class="page__aside__title">Especialidades</h3>
                                <ul class="page__aside__list--specialties">
                                    {% for activity in service.children %}
                                        <li><a href="#">{{ activity.translate(app.request.getLocale()).title }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                        {% if service.quote|length > 0 %}
                        <div class="page__aside page__aside--nobg">
                            {% for quote in service.quote %}
                            <blockquote class="cite__quote">
                                <p>{{ quote.translate(app.request.getLocale()).body }}</p>
                                <cite>{{ quote.author}}, {{ quote.year}}</cite>
                            </blockquote>
                            {% endfor %}
                        </div>
                        {% endif %}
                        {% if service.relatedActivities|length > 0 %}
                            <div class="page__aside page__aside--practices">
                                <h3 class="page__aside__subtitle">Prácticas relacionadas</h3>
                                <ul class="related__services">
                                    {% for activity in service.relatedActivities %}
                                        {% if activity.highlighted == 1  %}
                                            <li class="related__services__item">
                                                <a href="#" class="related__services__link">{{ activity.translate(app.request.getLocale()).title }}</a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </section>


        </article>
    </main>
    {% if service.lawyers|length > 0 %}
        {% set activityTeam = service %}
        {% include 'web/shared/team.html.twig'  %}
    {% endif %}
    {# <section class="team">
        <div class="container">
            <div class="row page__section">
                <div class="col">
                    <div class="team__wrapper">
                        <div class="team__info">
                            <div class="team__info__title">Equipo<br>Cuatrecasas</div>
                            <div class="team__info__intro">Cuatrecasas cuenta con un equipo Energía y Recursos Naturales</div>
                            <a href="#" class="doble__arrow__link">Conoce al equipo</a>
                        </div>
                        <div class="team__list">
                            <article class="team__member" style="background-image: url('/cuatrecasas/web/assets/img/foto-lawyer-full.jpg?v1.0');">
                                <a href="../../lawyer/detail/berta-de-march" class="team__member__link">Berta de March</a>
                                <h3 class="team__member__name">Berta de March</h3>
                                <div class="team__member__details">
                                    <div class="team__member__position">Asociado</div>
                                    <ul class="team__member__practice">
                                        <li class="team__member__practice__item">Energía y Recursos Naturales</li>
                                        <li class="team__member__practice__item">Lisboa</li>
                                    </ul>
                                </div>
                            </article>
                            <article class="team__member" style="background-image: url('/cuatrecasas/web/assets/img/foto-lawyer-full.jpg?v1.0');">
                                <a href="../../lawyer/detail/marco-antonio-de-la-pena" class="team__member__link">Marco Antonio de la Peña</a>
                                <h3 class="team__member__name">Marco Antonio de la Peña</h3>
                                <div class="team__member__details">
                                    <div class="team__member__position">Socio</div>
                                    <ul class="team__member__practice">
                                        <li class="team__member__practice__item">Energía y Recursos Naturales</li>
                                        <li class="team__member__practice__item">Ciudad de México</li>
                                    </ul>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> #}

    {% include 'web/shared/related-content-slider.html.twig' %}
    {% include 'web/shared/cases.html.twig' %}
    {% include 'web/shared/awards.html.twig' %}
    {% include 'web/shared/insight.html.twig' %}
    {% include 'web/shared/call-to-action.html.twig' %}

{% endblock %}

{% block javascripts %}
<!-- Slider JS -->
<script type="text/javascript" src="{{ asset('web/vendor/swiper/js/swiper.min.js') }}"></script>
<script>
    $(function () {
        web.global.sliderNews();
        web.global.sliderCases();
        web.global.sliderAwards();
    });
</script>
{% endblock %}
