{% extends 'web/base.html.twig' %}
{% block main %}

    <main role="main" class="product-detail">

        <article class="blog-article">
            <header id="page-header" class="container">
                <figure class="full-width">
                    <img class="vt20" src="{{ asset('web/assets/img/frederick-tubiermont-N99V5GjTi-g-unsplash.jpg') }}" alt="Juan García Hernández">
                </figure>
                <div class="row">
                    <div class="col-8">
                        <div class="header-info">
                            <big class="hash-text">ProductosCuatrecasas</big>
                            <h1>Brexit</h1>
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">Inicio</a></a></li>
                                    <li class="breadcrumb-item"><a href="#">Servicios</a></a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Productos</a></li>
                                </ol>
                            </nav>
                            <ul class="action-icons">
                                <li><a href="#"><i class="material-icons">share</i></a></li>
                                <li><a href="#"><i class="material-icons">print</i></a></li>
                                <li><a href="#"><i class="material-icons">picture_as_pdf</i></a></li>
                                <li><a href="#"><i class="material-icons">bookmark_border</i></a></li>
                            </ul>
                            <a href="#" class="back-button">volver</a>
                        </div>
                    </div>
                </div>
            </header>

            <div class="container">
                <div class="row">
                    <div class="col-md-8 article-section">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                        <p>Erat velit scelerisque in dictum non consectetur a erat nam. Nibh cras pulvinar mattis nunc sed blandit libero volutpat sed. Egestas pretium aenean pharetra magna ac placerat vestibulum lectus.</p>
                        <h2>Key Benefits</h2>
                        <ul class="bullet-list">
                            <li>Blandit cursus risus at ultrices mi tempus imperdiet nulla</li>
                            <li>Venenatis cras sed felis eget velit aliquet sagittis id</li>
                            <li>In nisl nisi scelerisque eu ultrices</li>
                            <li>Ipsum a arcu cursus vitae congue mauris rhoncus</li>
                            <li>Malesuada bibendum arcu vitae elementum curabitur vitae nunc sed</li>
                            <li>Tristique nulla aliquet enim tortor at auctor urna nunc sit amet dictum sit amet justo donec enim</li>
                            <li>Non pulvinar neque laoreet suspendisse interdum</li>
                            <li>Sapien nec sagittis aliquam malesuada eget egestas purus viverra</li>
                            <li>In arcu cursus euismod quis viverra nibh</li>
                        </ul>
                        <div class="contact-box">
                            <p class="emphasis">
                                Contacta con nuestros expertos en<br>
                                <strong>Brexit</strong>
                            </p>
                            <form action="" method="" class="email-subscribe">
                                <div class="input-group">
                                    <input type="email" class="form-control" placeholder="Email">
                                    <span class="input-group-btn">
                                        <button class="btn btn-solid btn-main btn-arrow" type="submit">Enviar</button>
                                    </span>
                                </div>
                                <div class="form-group">
                                    <div class="checkbox">
                                        <input id="data-privacy" name="data-privacy" type="checkbox">
                                        <label for="data-privacy" class="checkbox-label"><span>Política de privacidad</span></label>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <aside class="col-md-4 article-aside">
                        <section class="key-contacts">
                            <h3>Key Contacts</h3>
                            <div class="contact-item-wrapper">
                                <a href="#" class="contact-item">
                                    <figure class="contact-photo">
                                        <img src="{{ asset('web/assets/img/zulmaury-saavedra-Z9GKfYmWOAM-unsplash.jpg') }}" alt="">
                                    </figure>
                                    <div class="contact-info">
                                        <div class="contact-name">James Smith</div>
                                        <div class="contact-position">Asociado Senior</div>
                                        <div class="contact-email">juan@cuatrecasas.com</div>
                                    </div>
                                </a>
                                <a href="#" class="contact-item">
                                    <figure class="contact-photo">
                                        <img src="{{ asset('web/assets/img/ashkan-forouzani-RbqZucCIHNw-unsplash.jpg') }}" alt="">
                                    </figure>
                                    <div class="contact-info">
                                        <div class="contact-name">Jose Luis Fernández Gómez</div>
                                        <div class="contact-position">CEO</div>
                                        <div class="contact-email">juan@cuatrecasas.com</div>
                                    </div>
                                </a>
                                <a href="#" class="contact-item">
                                    <figure class="contact-photo">
                                        <img src="{{ asset('web/assets/img/yuliya-kosolapova-6agC_7WU5_0-unsplash.jpg') }}" alt="">
                                    </figure>
                                    <div class="contact-info">
                                        <div class="contact-name">Marta Scciama López</div>
                                        <div class="contact-position">Asociado Senior</div>
                                        <div class="contact-email">juan@cuatrecasas.com</div>
                                    </div>
                                </a>
                                <a href="#" class="contact-item">
                                    <figure class="contact-photo">
                                        <img src="{{ asset('web/assets/img/reza-biazar-eSjmZW97cH8-unsplash.jpg') }}" alt="">
                                    </figure>
                                    <div class="contact-info">
                                        <div class="contact-name">Fernando Rodriguez de la Serna</div>
                                        <div class="contact-position">Director General</div>
                                        <div class="contact-email">juan@cuatrecasas.com</div>
                                    </div>
                                </a>
                                <a href="#" class="contact-item">
                                    <figure class="contact-photo">
                                        <img src="{{ asset('web/assets/img/anastasia-vityukova-S9gIUu5riYs-unsplash.jpg') }}" alt="">
                                    </figure>
                                    <div class="contact-info">
                                        <div class="contact-name">Helena Rodriguez Blanco</div>
                                        <div class="contact-position">Asociado Senior</div>
                                        <div class="contact-email">juan@cuatrecasas.com</div>
                                    </div>
                                </a>
                            </div>
                            <a href="#" class="btn btn-solid btn-main btn-arrow">Conoce al equipo</a>
                        </section>
                        <section class="related-services">
                            <h3>Servicios relacionados</h3>
                            <ul class="d-flex flex-wrap">
                                <li><a href="#">Corporate Governance y Compliance</a></li>
                                <li><a href="#">Fiscal</a></li>
                                <li><a href="#">Alimentación</a></li>
                                <li><a href="#">Energía y Recursos Naturales</a></li>
                                <li><a href="#">Retail</a></li>
                                <li><a href="#">Infraestructuras</a></li>
                            </ul>
                        </section>
                    </aside>
                </div>
            </div>

        </article>

    </main>

    {% include 'web/shared/highlightContentMix.html.twig' %}
    {% include 'web/shared/innovation.html.twig' %}
    {% include 'web/shared/insights.html.twig' %}

{% endblock %}