{% extends 'web/base.html.twig' %}

{% block stylesheets %}
<link href="{{ asset('web/vendor/swiper/css/swiper.min.css') }}" rel="stylesheet">
{% endblock %}

{% block main %}

    <main role="main">
        <article class="container">

            <header class="row page__header" style="background-image: url('{{ asset('web/assets/img/1920x1080.jpg') }}')">
                <div class="col">
                    <div class="info__block">
                        <h1 class="page__title">
                            {{ 'sections.products.title' | trans }}
                        </h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="{{ path('home') }}">{{ 'global.home'|trans }}</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    {{ 'sections.products.title' | trans }}
                                </li>
                            </ol>
                        </nav>
                    </div>
                    <ul class="action__links">
                        <li><a href="#"><i class="material-icons">share</i></a></li>
                        <li><a href="#"><i class="material-icons">print</i></a></li>
                        <li><a href="#"><i class="material-icons">bookmark_border</i></a></li>
                    </ul>
                </div>
            </header>

            <section class="tabs__component" id="tabsToAccordion">
                <div class="tabs__component__full">
                    <div class="tabs__component__tabs">
                        <ul id="tabs" class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a href="{{ path('practices_index') }}" class="nav-link">{{ 'sections.practices.title'|trans }}</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('desks_index') }}" class="nav-link">{{ 'sections.desks.title'|trans }}</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('products_index') }}" id="tab-03" data-toggle="tab" role="tab" class="nav-link active">{{ 'sections.products.title'|trans }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="tabs__component__content">
                    <div class="row page__section">
                        <div id="content" class="col tab-content" role="tablist">
                            <div id="panel-01" class="panel tab-pane" role="tabpanel">
                                <div class="panel-header">
                                    <a href="{{ path('practices_index') }}" class="accordion__button accordion__button--fake">{{ 'sections.practices.title'|trans }}</a>
                                </div>
                            </div>
                            <div id="panel-02" class="panel tab-pane" role="tabpanel">
                                <div class="panel-header">
                                    <a href="{{ path('desks_index') }}" class="accordion__button accordion__button--fake">{{ 'sections.desks.title'|trans }}</a>
                                </div>
                            </div>
                            <div id="panel-03" class="panel tab-pane fade show active" role="tabpanel" aria-labelledby="tab-03">
                                <div class="panel-header" role="tab" id="heading-03">
                                    <a class="accordion__button collapsed" data-toggle="collapse" href="#collapse-03" aria-expanded="true" aria-controls="collapse-03">{{ 'sections.products.title'|trans }}</a>
                                </div>
                                <div id="collapse-03" class="collapse show" role="tabpanel" aria-labelledby="heading-03">
                                    {% include 'web/services/shared/products-grid.html.twig'  %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            {% include 'web/services/shared/products-tools.html.twig' %}
            {% if relatedPublications|length > 0 %}
                {% include 'web/shared/related-content-slider.html.twig' with {tittle: 'global.messages.related_content'|trans, publications: relatedPublications } %}
            {% endif %}

        </article>
    </main>
    {% include 'web/shared/collections.html.twig' with {insights: insights} %}
    {#% include 'web/shared/insight.html.twig' %#}
    {% include 'web/shared/cta-footer.html.twig' %}

{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{{ asset('web/vendor/swiper/js/swiper.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('web/assets/js/swiperInit.js') }}"></script>
<script type="text/javascript" src="{{ asset('web/assets/js/responsiveTabs.js') }}"></script>
<script>
    $(function () {
        $('.faketabs__component__tabs .nav').responsiveTabs();
    });
</script>
{% endblock %}

