{% extends 'web/baseCalendar.html.twig' %}

{% block main %}

    <main role="main" class="">

        <article class="blog-article">
            <header id="page-header">
                <figure class="full-width">
                    <img class="vt45" src="{{ asset('web/assets/img/christian-perner-fYO1T495QCM-unsplash.jpg') }}" alt="">
                </figure>
                <div class="container">
                    <div class="row">
                        <div class="col-8">
                            <div class="header-info d-flex flex-column">
                                {# <big class="hash-text">SectoresCuatrecasas</big> #}
                                <h1 class="order-2">
                                Lorem ipsum dolor
                                </h1>
                                <nav class="order-1" aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="#">Inicio</a></a></li>
                                        <li class="breadcrumb-item"><a href="#">Sectores</a></a></li>
                                        <li class="breadcrumb-item active" aria-current="page">
                                        Lorem ipsum dolor
                                        </a></li>
                                    </ol>
                                </nav>
                                <ul class="action-icons order-3">
                                    <li><a href="#"><i class="material-icons">share</i></a></li>
                                    <li><a href="#"><i class="material-icons">print</i></a></li>
                                    <li><a href="#"><i class="material-icons">picture_as_pdf</i></a></li>
                                    <li><a href="#"><i class="material-icons">bookmark_border</i></a></li>
                                </ul>
                                {# <a href="#" class="back-button">volver</a> #}
                            </div>
                        </div>
                    </div>
                </div>
            </header>

            <section class="event-info-wrapper">
              <div class="container">
                <div class="row event-search">
                    <div class="col">
                      <div class="search-name">
                          <input type="text" class="form-control" placeholder="Buscar">
                          <div class="input-group">
                              <button class="" type="button">
                                  <i class="icon ion-ios-search-strong"></i>
                              </button>
                          </div>
                      </div>
                    </div>
                </div>
                <div class="row event-filters">
                    <div class="col">
                      <div class="event-filters-selects">
                          <select class="custom-select">
                              <option value="hide">Ciudad</option>
                              <option value="">Competencia y Derecho de la UE</option>
                              <option value="">Corporate Governance y Compliance</option>
                              <option value="">Derecho contable</option>
                              <option value="">Derecho Laboral</option>
                              <option value="">Financiero</option>
                              <option value="">Fiscal</option>
                              <option value="">Fiscalidad Contenciosa</option>
                              <option value="">Fiscalidad Financiera</option>
                              <option value="">Fusiones y Adquisiciones</option>
                              <option value="">Litigación</option>
                              <option value="">Mediación</option>
                              <option value="">Mercado de valores</option>
                          </select>
                          <select class="custom-select">
                              <option value="hide">Expertise</option>
                              <option value="">Alimentación</option>
                              <option value="">Arte</option>
                              <option value="">Brexit</option>
                              <option value="">Canadian Desk</option>
                              <option value="">Ciberseguridad</option>
                              <option value="">Consumo y Retail</option>
                              <option value="">Deporte</option>
                              <option value="">Empresa Familiar</option>
                              <option value="">Energía y Recursos Naturales</option>
                              <option value="">Farmacia y Sanitario</option>
                          </select>
                          <select class="custom-select">
                              <option value="hide">Fecha</option>
                              <option value="">Barcelona</option>
                              <option value="">Madrid</option>
                              <option value="">Lisboa</option>
                              <option value="">Beijing</option>
                              <option value="">Bogotá</option>
                              <option value="">Brussels</option>
                              <option value="">Casablanca</option>
                              <option value="">Lima</option>
                              <option value="">London</option>
                              <option value="">Luanda</option>
                              <option value="">Maputo</option>
                              <option value="">Mexico City</option>
                              <option value="">New York</option>
                              <option value="">Sao Paulo</option>
                              <option value="">Shanghai</option>
                          </select>
                      </div>
                    </div>
                </div>
              </div>
            </section>

            <section class="event-results-wrapper">
              <div class="container">
                <div class="row event-toolbar d-flex justify-content-between">
                    <ul class="event-chooser">
                      <li><a href="#"><img src="{{ asset('web/assets/icons/calendar-small.png') }}" alt=""> Ver todos los eventos</a></li>
                      <li><a href="#"><img src="{{ asset('web/assets/icons/favorite.png') }}" alt=""> Ver eventos favoritos</a></li>
                    </ul>
                    <ul class="event-view">
                      <li><a href="#"><img src="{{ asset('web/assets/icons/list.png') }}" alt=""></a></li>
                      <li><a href="#"><img src="{{ asset('web/assets/icons/calendar.png') }}" alt=""></a></li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="event-calendar"></div>
                        <div id="event-list">
                          <article>
                            <div class="event-info">
                                <div class="dates">
                                  <div>24 Feb</div>
                                  <div>2019</div>
                                </div>
                                <div class="actions">
                                  <ul>
                                    <li>fav</li>
                                    <li>calendar</li>
                                  </ul>
                                </div>
                            </div>
                            <div class="event-details">
                                <div>De 18.30 a 22 h (3,5 horas)</div>
                                <div>Barcelona</div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                            </div>
                            <div class="event-button">
                              <a href="#">inscribirme</a>
                            </div>
                          </article>
                        </div>
                    </div>
                </div>
              </div>
            </section>

        </article>

    </main>

    {% include 'web/shared/insights.html.twig' %}

{% endblock %}

{% block javascripts %}

<script>
  // web.global.loadCalendar();
</script>


{% endblock %}
