{% trans_default_domain "admin" %}
{#% import "cms/custom/translatableField.html.twig" as translatableField %#}


<div class="row">
    <div class="col-md-8">                    
        <div class="m-form__section m-form__section">
            {{ form_row(form.location) }}                                          
            {{ form_row(form.speed) }} 
            {{ form_row(form.delay) }}          

            {{ form_row(form.sliders) }}    
        </div>
    </div>
</div>
    
{{ form_rest(form) }}


