<div class="boxnews boxnews--products">
    <div class="row page__section">
        <div class="col">
            <div class="boxnews__list">
                <article class="boxnews__item">
                    <div class="boxnews__header">
                        <div class="boxnews__type">Emergencia climática</div>
                    </div>
                    <div class="boxnews__content">
                        <h5 class="boxnews__excerpt">
                            <a href="#" class="boxnews__link">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquat praesent semper feugiat.</a>
                        </h5>
                        <div class="boxnews__img" style="background-image: url('{{ asset('web/assets/vector/insight-bg-1.png') }}')"></div>
                    </div>
                </article>
                <article class="boxnews__item">
                    <div class="boxnews__header">
                        <div class="boxnews__type">Brexit</div>
                    </div>
                    <div class="boxnews__content">
                        <div class="boxnews__excerpt">
                            <a href="#" class="boxnews__link">Velit egestas dui id ornare. Enim ut tellus elementum sagittis vitae et leo duis. Fermentum leo vel orci porta non pulvinar neque laoreet suspendisse.</a>
                        </div>
                        <div class="boxnews__img" style="background-image: url('{{ asset('web/assets/vector/insight-bg-2.png') }}')"></div>
                    </div>
                </article>
                <article class="boxnews__item">
                    <div class="boxnews__header">
                        <div class="boxnews__type">Data Protection</div>
                    </div>
                    <div class="boxnews__content">
                        <div class="boxnews__excerpt">
                            <a href="#" class="boxnews__link">Velit egestas dui id ornare. Enim ut tellus elementum sagittis vitae et leo duis. Fermentum leo vel orci porta non pulvinar neque laoreet suspendisse.</a>
                        </div>
                        <div class="boxnews__img" style="background-image: url('{{ asset('web/assets/vector/insight-bg-2.png') }}')"></div>
                    </div>
                </article>
                <article class="boxnews__item">
                    <div class="boxnews__header">
                        <div class="boxnews__type">Executive compensation</div>
                    </div>
                    <div class="boxnews__content">
                        <h5 class="boxnews__excerpt">
                            <a href="#" class="boxnews__link">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquat praesent semper feugiat.</a>
                        </h5>
                        <div class="boxnews__img" style="background-image: url('{{ asset('web/assets/vector/insight-bg-1.png') }}')"></div>
                    </div>
                </article>
                <article class="boxnews__item">
                    <div class="boxnews__header">
                        <div class="boxnews__type">Family Business</div>
                    </div>
                    <div class="boxnews__content">
                        <h5 class="boxnews__excerpt">
                            <a href="#" class="boxnews__link">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquat praesent semper feugiat.</a>
                        </h5>
                        <div class="boxnews__img" style="background-image: url('{{ asset('web/assets/vector/insight-bg-1.png') }}')"></div>
                    </div>
                </article>
                <article class="boxnews__item">
                    <div class="boxnews__header">
                        <div class="boxnews__type">Philantropy</div>
                    </div>
                    <div class="boxnews__content">
                        <div class="boxnews__excerpt">
                            <a href="#" class="boxnews__link">Velit egestas dui id ornare. Enim ut tellus elementum sagittis vitae et leo duis. Fermentum leo vel orci porta non pulvinar neque laoreet suspendisse.</a>
                        </div>
                        <div class="boxnews__img" style="background-image: url('{{ asset('web/assets/vector/insight-bg-2.png') }}')"></div>
                    </div>
                </article>
            </div>
            <div class="viewmore__button">
                <button type="button" class="btn btn__viewmore">Cargar más</button>
            </div>
        </div>
    </div>
</div>
