{% trans_default_domain "admin" %}
{% import "cms/custom/translatableField.html.twig" as translatableField %}


<div class="row">
    <div class="col-md-7">
        <div class="row">
            <div class="col-md-12">
                <div class="m-form__section m-form__section">
                    {{ translatableField.partialTranslations(form.translations, ['title']) }}
                    {{ translatableField.partialTranslations(form.translations, ['description']) }}
                </div>
            </div>
        </div>

    </div>

    <div class="col-md-4 offset-md-1">

        <div class="m-form__section m-form__section--first">
            <div class="m-form__heading">
                <h3 class="m-form__heading-title">
                    {{ 'forms.fieldsets.relations'|trans }}
                </h3>
            </div>

            {{ form_row(form.people) }}

        </div>



    </div>

    {% do form.translations.setRendered %}

    {{ form_rest(form) }}

</div>
