<!DOCTYPE html>

<title>Person</title>

{% block body %}
    <h1>Person</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>CreatedAt</th>
                <td>{{ person.createdAt ? person.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ person.updatedAt ? person.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Languages</th>
                <td>{{ person.languages ? person.languages|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Locations</th>
                <td>{{ person.locations ? person.locations|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ person.name }}</td>
            </tr>
            <tr>
                <th>Surname</th>
                <td>{{ person.surname }}</td>
            </tr>
            <tr>
                <th>Position</th>
                <td>{{ person.position }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ person.id }}</td>
            </tr>
            <tr>
                <th>OldId</th>
                <td>{{ person.oldId }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('person_index') }}">back to list</a>

    <a href="{{ path('person_edit', {'id': person.id}) }}">edit</a>

    {{ include('person/_delete_form.html.twig') }}
{% endblock %}
