{% block menu %}
    <div id="navDesktop" class="main-nav-wrapper">
        <div class="container-fluid" id="primaryNav">
            <div class="row">
                <nav id="main-nav" class="col-md-7 navbar navbar-expand-md justify-content-end" aria-label="main-nav">
                    <a href="{{ path('home') }}" class="navbar-brand" id="cuatrecasasLogo">
                        <img src="{{ asset('web/assets/logos/4casas.png') }}" alt="Cuatrecasas">
                    </a>
                    <div class="navbar-collapse">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('knowledge_index') }}">{{ 'menu.knowledge' | trans }}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('lawyers_index') }}">{{ 'menu.lawyers' | trans }}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('services_index') }}">{{ 'menu.services' | trans }}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('sectors_index') }}">{{ 'menu.sectors' | trans }}</a>
                            </li>
                        </ul>
                    </div>
                </nav>
                <nav id="about-nav" class="col-md-5 navbar navbar-expand-md justify-content-start" aria-label="about-nav">
                    <div class="navbar-collapse">
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button">Career</a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Career</a></li>
                                    <li><a href="#">Vive Cuatrecasas</a></li>
                                    <li><a href="#">Revolution</a></li>
                                    <li><a href="#">Aprende con los mejores</a></li>
                                    <li><a href="#">International Career</a></li>
                                    <li><a href="#">Join Us</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button">Estamos en</a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Visión general</a></li>
                                    <li><a href="#">España</a></li>
                                    <li><a href="#">Portugal</a></li>
                                    <li><a href="#">Latinoamérica</a></li>
                                    <li><a href="#">Otras regiones</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button">La Firma</a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Contribution to Society</a></li>
                                    <li><a href="#">Diversity</a></li>
                                    <li><a href="#">Responsability and Compliance</a></li>
                                    <li><a href="#">Innovation</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <div class="container-fluid" id="secondaryNav">
            <div class="row">
                <nav id="contact-nav" class="col-md-12 navbar navbar-expand-md" aria-label="contact-nav">
                    <a href="{{ path('home') }}" class="navbar-brand">
                        <img src="{{ asset('web/assets/logos/cuatrecasas.png') }}" alt="Cuatrecasas">
                    </a>
                    <div class="navbar-collapse justify-content-end">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="#">Contacto</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button">Webs</a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Cuatrecasas Acelera</a></li>
                                    <li><a href="#">Instituto RRHH</a></li>
                                    <li><a href="#">La Fundación</a></li>
                                    <li><a href="#">App Corporativa</a></li>
                                    <li><button type="button" class="menu-close" aria-label="Close"></button></li>
                                </ul>
                            </li>

                            <!-- selects -->
                            <!-- <li class="nav-item">
                                <a class="nav-link lang-region-toggle" href="#" role="button">{{ ('global.regions.' ~ navigation_service.getRegion())|trans }} *</a>
                                <div class="dropdown-menu lang-region-menu">
                                    <div>Adapta el site para tener una experiencia personalizada:</div>
                                    <select name="" id="">
                                        <option value="">{{ ('global.regions.' ~ navigation_service.getRegion())|trans }}</option>
                                        <option value="">123</option>
                                        <option value="">456</option>
                                        <option value="">789</option>
                                    </select>
                                    <select name="" id="">
                                        <option value="">{{ language_switcher[navigation_service.getLanguage()] }}</option>
                                        <option value="">123</option>
                                        <option value="">456</option>
                                        <option value="">789</option>
                                    </select>
                                    <button type="button" class="lang-region-close" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            </li> -->

                            <!-- dropdown -->
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="careerDropdown" role="button">{{ ('global.regions.' ~ navigation_service.getRegion())|trans }}</a>
                                <ul class="dropdown-menu">
                                    {% for region in regions %}
                                        {% if region != navigation_service.getRegion() %}
                                            {% set href = navigation_service.getAlternativePath(null, region) %}
                                            {% if href %}
                                                <li>
                                                    <a href="{{ href }}">
                                                        {{ ('global.regions.' ~ region)|trans }}
                                                    </a>
                                                </li>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                    <li><button type="button" class="menu-close" aria-label="Close"></button></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="careerDropdown" role="button">{{ language_switcher[navigation_service.getLanguage()] }}</a>
                                <ul class="dropdown-menu">
                                    {% for language in languages %}
                                        {% if language != navigation_service.getLanguage() %}
                                            {% set href = navigation_service.getAlternativePath(language) %}
                                            {% if href %}
                                                <li>
                                                    <a href="{{ href }}">
                                                        {{ language_switcher[language] }}
                                                    </a>
                                                </li>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                    <li><button type="button" class="menu-close" aria-label="Close"></button></li>
                                </ul>
                            </li>

                        </ul>

                        <!-- <div class="region-switcher">
                            <a class="module__trigger" role="button" data-toggle="collapse" data-target="#menuRegion" aria-controls="menuRegion" aria-expanded="false">
                                <span class="module__trigger__txt">{{ ('global.regions.' ~ navigation_service.getRegion())|trans }}</span>
                            </a>
                            <div class="module__dropdown collapse" id="menuRegion" aria-labelledby="heading01" data-parent="#RegionLang">
                                <div class="dropdown__menu__content">
                                    <ul>
                                        {% for region in regions %}
                                            {% if region != navigation_service.getRegion() %}
                                                {% set href = navigation_service.getAlternativePath(null, region) %}
                                                {% if href %}
                                                    <li>
                                                        <a href="{{ href }}" class="dropdown__item">
                                                            {{ ('global.regions.' ~ region)|trans }}
                                                        </a>
                                                    </li>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div> -->

                        <!-- <div class="language-switcher">
                            <a class="module__trigger" role="button" data-toggle="collapse" data-target="#menuLang" aria-controls="menuLang" aria-expanded="true">
                                <span class="module__trigger__txt">{{ language_switcher[navigation_service.getLanguage()] }}</span>
                            </a>
                            <div class="module__dropdown collapse" id="menuLang" aria-labelledby="heading02" data-parent="#RegionLang">
                                <div class="dropdown__menu__content">
                                    <ul>
                                        {% for language in languages %}
                                            {% if language != navigation_service.getLanguage() %}
                                                {% set href = navigation_service.getAlternativePath(language) %}
                                                {% if href %}
                                                    <li>
                                                        <a href="{{ href }}" class="dropdown__item">
                                                            {{ language_switcher[language] }}
                                                        </a>
                                                    </li>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div> -->

                    </div>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}
