<section class="boxnews boxnews--info boxnews--doble bg__grey__03">
    <div class="container">
        <div class="row page__component">
            <div class="col">
                <div class="boxnews__list">
                    <article class="boxnews__item">
                        <div class="boxnews__content">
                            <h5 class="boxnews__content__title">{{ 'career.collections_career_home.art_1.title'|trans}}</h5>
                            <div class="boxnews__content__info">
                                <p>{{ 'career.collections_career_home.art_1.content'|trans}}</p>
                            </div>
                            <div class="boxnews__content__button">
                                <a href="{{ path('talent', {slug : 'live' }) }}" class="doble__arrow__link">{{ 'global.messages.show_more'|trans}}</a>
                            </div>
                            {# <div class="boxnews__photo">
                                <img src="{{ asset('web/assets/img/cabecera_1920x1080_baja.jpg') }}" alt="">
                                <figure class="video__popup" style="background-image: url('{{ asset('web/assets/img/cabecera_1920x1080_baja.jpg') }}')">
                                    <a href="https://www.youtube.com/watch?v=VOWXSY3sB8c" data-lity class="video__popup__link">
                                        <span class='material-icons'>play_circle_outline</span>
                                    </a>
                                </figure>
                            </div> #}
                        </div>
                    </article>
                    <article class="boxnews__item">
                        <div class="boxnews__content">
                            <h5 class="boxnews__content__title">{{ 'career.collections_career_home.art_2.title'|trans}}</h5>
                            <div class="boxnews__content__info">
                                <p>{{ 'career.collections_career_home.art_2.content'|trans}}</p>
                            </div>
                            <div class="boxnews__content__button">
                                <a href="{{ path('talent', {slug : 'revolution'}) }}" class="doble__arrow__link">{{ 'global.messages.show_more'|trans}}</a>
                            </div>
                            {# <div class="boxnews__photo">
                                <img src="{{ asset('web/assets/img/cabecera_1920x1080_baja.jpg') }}" alt="">
                                <figure class="video__popup" style="background-image: url('{{ asset('web/assets/img/cabecera_1920x1080_baja.jpg') }}')">
                                    <a href="https://www.youtube.com/watch?v=VOWXSY3sB8c" data-lity class="video__popup__link">
                                        <span class='material-icons'>play_circle_outline</span>
                                    </a>
                                </figure>
                            </div> #}
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>
