<section class="boxnews boxnews--info bg__grey__02">
    <div class="container">
        <div class="row page__section">
            <div class="col">
                <div class="boxnews__list">
                    <article class="boxnews__item boxnews__item--triple">
                        <div class="boxnews__wrapper">
                            <div class="boxnews__content">
                                <h5 class="boxnews__content__title">{{ 'career.info_revolution2.art_0.title'|trans}}</h5>
                                <div class="boxnews__content__info">
                                    <div class="show__more">
                                        <p>{{ 'career.info_revolution2.art_0.content'|trans}}</p>
                                        <p>{{ 'career.info_revolution2.art_0.content'|trans}}</p>
                                        <p>{{ 'career.info_revolution2.art_0.content'|trans}}</p>
                                    </div>
                                </div>
                                {# <div class="boxnews__content__button">
                                    <a href="{{ path('lawyers_index') }}" class="btn btn__solid__arrow">{{ 'global.messages.show_more'|trans}}</a>
                                </div> #}
                            </div>
                            <div class="boxnews__foto">
                                <figure class="video__popup" style="background-image: url('{{ asset('web/assets/img/cabecera_1920x1080_baja.jpg') }}')">
                                    <a href="https://www.youtube.com/watch?v=VrSHcpDkPVQ" data-lity class="video__popup__link">
                                        <span class='material-icons'>play_circle_outline</span>
                                    </a>
                                </figure>
                            </div>
                        </div>
                    </article>
                    <article class="boxnews__item">
                        <div class="boxnews__content">
                            <h5 class="boxnews__content__title">{{ 'career.info_revolution2.art_1.title'|trans}}</h5>
                            <div class="boxnews__content__info">
                                <p>{{ 'career.info_revolution2.art_1.content'|trans}}</p>
                            </div>
                            <div class="boxnews__content__button">
                                <a href="{{ path('lawyers_index') }}" class="doble__arrow__link">{{ 'global.messages.show_more'|trans}}</a>
                            </div>
                            {# <div class="boxnews__photo">
                                <img src="{{ asset('web/assets/img/cabecera_1920x1080_baja.jpg') }}" alt="">
                            </div> #}
                        </div>
                    </article>
                    <article class="boxnews__item">
                        <div class="boxnews__content">
                            <h5 class="boxnews__content__title">{{ 'career.info_revolution2.art_2.title'|trans}}</h5>
                            <div class="boxnews__content__info">
                                <p>{{ 'career.info_revolution2.art_2.content'|trans}}</p>
                            </div>
                            <div class="boxnews__content__button">
                                <a href="{{ path('lawyers_index') }}" class="doble__arrow__link">{{ 'global.messages.show_more'|trans}}</a>
                            </div>
                            {# <div class="boxnews__photo">
                                <img src="{{ asset('web/assets/img/cabecera_1920x1080_baja.jpg') }}" alt="">
                            </div> #}
                        </div>
                    </article>
                    <article class="boxnews__item boxnews__item--acelera">
                        <div class="boxnews__content">
                            <h5 class="boxnews__content__title">{{ 'career.info_revolution2.art_3.title'|trans}}</h5>
                            <div class="boxnews__content__info">
                                <p>{{ 'career.info_revolution2.art_3.content'|trans}}</p>
                            </div>
                            <div class="boxnews__content__button">
                                <a href="{{ path('location',{slug: 'vision-general'~slug_ext }) }}" class="doble__arrow__link">{{ 'global.messages.show_more'|trans}}</a>
                            </div>
                            {# <div class="boxnews__photo">
                                <img src="{{ asset('web/assets/img/cabecera_1920x1080_baja.jpg') }}" alt="">
                            </div> #}
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>
