{% extends 'web/base.html.twig' %}

{% block stylesheets %}
<link href="{{ asset('web/vendor/swiper/css/swiper.min.css') }}" rel="stylesheet">
<link href="{{ asset('web/vendor/lity/dist/lity.min.css') }}" rel="stylesheet">
<style>
    .team {
        padding: 4rem 0 2rem;
    }
    .insights__header:before {
        background-image: url('{{ asset('web/assets/vector/Picto_03_1920x1080.png') }}');
    }
</style>
{% endblock %}

{% block main %}
<main role="main">
    <article class="container">

        <!-- <header class="row insights__header">
            <div class="col-md-7 insights__header__info">
                <h1 class="page__title">Componentes</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{{ path('home') }}">{{ 'global.home'|trans }}</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{{ path('knowledge_index') }}">{{ 'sections.knowledge.title'|trans }}</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            {{ 'sections.insights.title'|trans }}
                        </li>
                    </ol>
                </nav>
            </div>
            <div class="col-md-5 insights__header__share">
                <ul class="action__links">
                    <li><a href="#"><i class="material-icons">share</i></a></li>
                    <li><a href="#"><i class="material-icons">print</i></a></li>
                    <li><a href="#"><i class="material-icons">bookmark_border</i></a></li>
                </ul>
            </div>
        </header> -->

        <header class="row page__header" style="background-image: url('{{ asset('/web/assets/img/cabecera_1920x1080_04_baja.jpg')| imagine_filter('full_header') }}')">
            <div class="col">
                <div class="info__block">
                    <h1 class="page__title">
                        Componentes
                    </h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="#">Inicio</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                Componentes compartidos
                            </li>
                        </ol>
                    </nav>
                </div>
                <ul class="action__links">
                    <li><a href="#"><i class="material-icons">share</i></a></li>
                    <li><a href="#"><i class="material-icons">print</i></a></li>
                    <li><a href="#"><i class="material-icons">bookmark_border</i></a></li>
                </ul>
            </div>
        </header>
    </article>
</main>
<div class="container cmp-wrapper">
    <div class="row">
        <div class="col">
            <div class="cmp">[cmp21] Módulo Career</div>
        </div>
    </div>
</div>
{% include 'web/shared/career_CMP.html.twig' %}
<!-- <div class="container cmp-wrapper">
    <div class="row">
        <div class="col">
            <div class="cmp">[cmp02] Contenido destacado</div>
        </div>
    </div>
</div> -->
{#% include 'web/shared/related-content.html.twig' %#}
<div class="container cmp-wrapper">
    <div class="row">
        <div class="col">
            <div class="cmp">[cmp02] Contenido destacado - Slider</div>
        </div>
    </div>
</div>
{% include 'web/shared/related-content-slider_CMP.html.twig' %}
<!-- <div class="container cmp-wrapper">
    <div class="row">
        <div class="col">
            <div class="cmp">[cmp26] Próximos Eventos</div>
        </div>
    </div>
</div> -->
{#% include 'web/shared/events.html.twig' %#}
<div class="container cmp-wrapper">
    <div class="row">
        <div class="col">
            <div class="cmp">[cmp26] Próximos Eventos - Slider</div>
        </div>
    </div>
</div>
{% include 'web/shared/related-events-slider_CMP.html.twig' %}
<div class="container cmp-wrapper">
    <div class="row">
        <div class="col">
            <div class="cmp">[cmp24] Grid conocimiento</div>
        </div>
    </div>
</div>
<section class="container">
    <div class="row page__section page__section--fullbg">
        <div class="col-12">
            <h4 class="section__title section__title--recomended">Te recomendamos</h4>
        </div>
        <div class="col-12">
            <div class="grid__masonry">
                <div class="grid__sizer"></div>
                <div class="grid__gutter"></div>
                <div class="grid__item grid__item--dobleW">
                    <article class="boxnews__item boxnews__item--opinion">
                        <div class="boxnews__header">
                            <div class="boxnews__type">Opinion</div>
                            <div class="boxnews__info">3 Marzo 2020</div>
                            <!-- <div class="boxnews__button">
                                <button type="button" class="button__bookmark"></button>
                            </div> -->
                        </div>
                        <div class="boxnews__content">
                            <h5 class="boxnews__copy">
                                <a href="#" class="boxnews__link">
                                    La Comisión Europea sanciona a NBC Universal por restringir las ventas a sus licenciados
                                </a>
                            </h5>
                            <div class="boxnews__img" style="background-image: url('{{ asset('/web/assets/img/cabecera_1920x1080_baja.jpg')| imagine_filter('insights_grid') }}')"></div>
                        </div>
                    </article>
                </div>
                <div class="grid__item grid__item--normal">
                    <article class="boxnews__item boxnews__item--event">
                        <div class="boxnews__header">
                            <div class="boxnews__type">Evento</div>
                            <div class="boxnews__info">24 Febrero 2020</div>
                            <!-- <div class="boxnews__button">
                                <button type="button" class="button__bookmark button__bookmark--on"></button>
                            </div> -->
                        </div>
                        <div class="boxnews__content">
                            <h5 class="boxnews__copy">
                                <a href="#" class="boxnews__link">
                                    Publicado el Proyecto de Real Decreto de Comunicaciones Comerciales de las Actividades de Juego
                                </a>
                            </h5>
                        </div>
                    </article>
                </div>
                <!-- <div class="grid__item grid__item--normal">
                        <article class="boxnews__item boxnews__item--news">
                            <div class="boxnews__header">
                                <div class="boxnews__type">Noticia</div>
                                <div class="boxnews__info">Becas y ayudas</div>
                                <div class="boxnews__button">
                                    <button type="button" class="button__bookmark"></button>
                                </div>
                            </div>
                            <div class="boxnews__content">
                                <h5 class="boxnews__copy">
                                    <a href="#" class="boxnews__link">
                                        La Fundación Cuatrecasas convoca la II edición de la Beca Manuel Olivencia para estudiantes de Derecho
                                    </a>
                                </h5>
                            </div>
                        </article>
                    </div> -->
                <div class="grid__item grid__item--dobleH">
                    <article class="boxnews__item boxnews__item--news">
                        <div class="boxnews__header">
                            <div class="boxnews__type">Noticia</div>
                            <div class="boxnews__info">Innovación</div>
                            <!-- <div class="boxnews__button">
                                <button type="button" class="button__bookmark"></button>
                            </div> -->
                        </div>
                        <div class="boxnews__content">
                            <h5 class="boxnews__copy">
                                <a href="#" class="boxnews__link">
                                    Cuatrecasas participa en la creación del primer hub global de legaltech en Europa
                                </a>
                            </h5>
                            <div class="boxnews__img" style="background-image: url('{{ asset('/web/assets/img/cabecera_1920x1080_baja.jpg')| imagine_filter('insights_grid') }}')"></div>
                        </div>
                    </article>
                </div>
                <div class="grid__item grid__item--normal">
                    <article class="boxnews__item boxnews__item--news">
                        <div class="boxnews__header">
                            <div class="boxnews__type">Noticia</div>
                            <div class="boxnews__info">Educación</div>
                            <!-- <div class="boxnews__button">
                                <button type="button" class="button__bookmark button__bookmark--on"></button>
                            </div> -->
                        </div>
                        <div class="boxnews__content">
                            <h5 class="boxnews__copy">
                                <a href="#" class="boxnews__link">
                                    La Universidad Carlos III de Madrid gana la edición nacional del torneo de Derecho Jessup Moot Competition
                                </a>
                            </h5>
                        </div>
                    </article>
                </div>
                <div class="grid__item grid__item--normal">
                    <article class="boxnews__item boxnews__item--article">
                        <div class="boxnews__header">
                            <div class="boxnews__type">Artículo</div>
                            <div class="boxnews__info">New business</div>
                            <!-- <div class="boxnews__button">
                                <button type="button" class="button__bookmark"></button>
                            </div> -->
                        </div>
                        <div class="boxnews__content">
                            <h5 class="boxnews__copy">
                                <a href="#" class="boxnews__link">
                                    El outlet de lujo McArthurGlen Designer abre sus puertas en Málaga con el asesoramiento de Cuatrecasas
                                </a>
                            </h5>
                        </div>
                    </article>
                </div>
                <div class="grid__item grid__item--dobleH">
                    <article class="boxnews__item boxnews__item--article">
                        <div class="boxnews__header">
                            <div class="boxnews__type">Artículo</div>
                            <div class="boxnews__info">Innovación</div>
                            <!-- <div class="boxnews__button">
                                <button type="button" class="button__bookmark"></button>
                            </div> -->
                        </div>
                        <div class="boxnews__content">
                            <h5 class="boxnews__copy">
                                <a href="#" class="boxnews__link">
                                    Cuatrecasas participa en la creación del primer hub global de legaltech en Europa
                                </a>
                            </h5>
                            <div class="boxnews__img" style="background-image: url('{{ asset('/web/assets/img/cabecera_1920x1080_baja.jpg')| imagine_filter('insights_grid') }}')"></div>
                        </div>
                    </article>
                </div>
                <div class="grid__item grid__item--dobleW">
                    <article class="boxnews__item boxnews__item--opinion">
                        <div class="boxnews__header">
                            <div class="boxnews__type">Opinion</div>
                            <div class="boxnews__info">3 Marzo 2020</div>
                            <!-- <div class="boxnews__button">
                                <button type="button" class="button__bookmark button__bookmark--on"></button>
                            </div> -->
                        </div>
                        <div class="boxnews__content">
                            <h5 class="boxnews__copy">
                                <a href="#" class="boxnews__link">
                                    Próxima entrada en vigor del Tratado de Beijing sobre interpretaciones y ejecuciones audiovisuales
                                </a>
                            </h5>
                            <div class="boxnews__img" style="background-image: url('{{ asset('/web/assets/img/cabecera_1920x1080_baja.jpg')| imagine_filter('insights_grid') }}')"></div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="viewmore__button">
                <button type="button" class="btn btn__viewmore">Cargar más</button>
            </div>
        </div>
    </div>
</section>
<div class="container cmp-wrapper">
    <div class="row">
        <div class="col">
            <div class="cmp">[cmp08] Destacado Picto</div>
        </div>
    </div>
</div>
{% include 'web/shared/insight_CMP.html.twig' %}
<div class="container cmp-wrapper">
    <div class="row">
        <div class="col">
            <div class="cmp">[cmp08b] Destacado Burdeos / Foto</div>
        </div>
    </div>
</div>
{% include 'web/shared/cta-discover.html.twig' %}
<div class="container cmp-wrapper">
    <div class="row">
        <div class="col">
            <div class="cmp">[cmp11] Casos</div>
        </div>
    </div>
</div>
{% include 'web/shared/cases_CMP.html.twig' %}
<div class="container cmp-wrapper">
    <div class="row">
        <div class="col">
            <div class="cmp">[cmp25] Insights destacados</div>
        </div>
    </div>
</div>
{% include 'web/shared/collections_CMP.html.twig' %}
<div class="container cmp-wrapper">
    <div class="row">
        <div class="col">
            <div class="cmp">[¿?] Grid collections</div>
        </div>
    </div>
</div>
{% include 'web/shared/collections-grid_CMP.html.twig' %}
<div class="container cmp-wrapper">
    <div class="row">
        <div class="col">
            <div class="cmp">[cmp12] Premios</div>
        </div>
    </div>
</div>
{% include 'web/shared/awards_CMP.html.twig' %}
<div class="container cmp-wrapper">
    <div class="row">
        <div class="col">
            <div class="cmp">[cmp38] Buscador y filtros Eventos</div>
        </div>
    </div>
</div>

<div class="container" style="padding:3rem 0 6rem">
    <section class="row page__section search_box">
        <div class="col-12 search_box__wrapper">
            <div class="search_box__name search_box__name--full">
                <form action="" method="get">
                    <input type="text" class="form-control" placeholder="Buscar" name="initial">
                    <div class="input-group">
                        <button class="search_box__button" type="submit">
                            <span class="icon4-lupa"></span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <section class="row" style="margin-top:1.4rem">
        <div class="col-12">
            <div id="filtersButton">
                <button type="button" class="doble__arrow__accordion">{{ 'global.messages.show_filters'|trans }}</button>
            </div>
            <div class="search_selects filtersToggle">
                <select id="place" class="custom__select">
                    <option disabled selected>Lugar</option>
                    <option value="">Barcelona</option>
                    <option value="">Madrid</option>
                    <option value="">Lisboa</option>
                    <option value="">Beijing</option>
                    <option value="">Bogotá</option>
                    <option value="">Brussels</option>
                    <option value="">Casablanca</option>
                    <option value="">Lima</option>
                    <option value="">London</option>
                    <option value="">Luanda</option>
                    <option value="">Maputo</option>
                    <option value="">Mexico City</option>
                    <option value="">New York</option>
                    <option value="">Sao Paulo</option>
                    <option value="">Shanghai</option>
                </select>
                <select id="expertise" class="custom__select">
                    <option disabled selected>Expertise</option>
                    <option value="">Competencia y Derecho de la UE</option>
                    <option value="">Corporate Governance y Compliance</option>
                    <option value="">Derecho contable</option>
                    <option value="">Derecho Laboral</option>
                    <option value="">Financiero</option>
                    <option value="">Fiscal</option>
                    <option value="">Fiscalidad Contenciosa</option>
                    <option value="">Fiscalidad Financiera</option>
                    <option value="">Fusiones y Adquisiciones</option>
                    <option value="">Litigación</option>
                    <option value="">Mediación</option>
                    <option value="">Mercado de valores</option>
                </select>
                <select id="month" class="custom__select">
                    <option disabled selected>Mes</option>
                    <option value="1">Enero</option>
                    <option value="2">Febrero</option>
                    <option value="3">Marzo</option>
                    <option value="4">Abril</option>
                    <option value="5">Mayo</option>
                    <option value="6">Junio</option>
                    <option value="7">Julio</option>
                    <option value="8">Agosto</option>
                    <option value="9">Septiembre</option>
                    <option value="10">Octubre</option>
                    <option value="11">Noviembre</option>
                    <option value="12">Diciembre</option>
                </select>
                <select id="year" class="custom__select">
                    <option disabled selected>Año</option>
                    <option value="2020">2020</option>
                    <option value="2019">2019</option>
                    <option value="2018">2018</option>
                    <option value="2017">2017</option>
                    <option value="2016">2016</option>
                    <option value="2015">2015</option>
                    <option value="2014">2014</option>
                    <option value="2013">2013</option>
                    <option value="2012">2012</option>
                    <option value="2011">2011</option>
                    <option value="2010">2010</option>
                </select>
            </div>
        </div>
    </section>
</div>
<div class="container cmp-wrapper">
    <div class="row">
        <div class="col">
            <div class="cmp">[cmp23] Buscador y filtros Conocimiento</div>
        </div>
    </div>
</div>

<div class="container" style="padding:3rem 0 6rem">
    <section id="filterWrapper" class="row">
        <div class="col-12">
            <div id="accordionFilters">
                <!-- Group selector -->
                <ul id="filterTabs" role="tablist">
                    <li class="nav-item">
                        <a class="collapsed nav-link" role="button" data-toggle="collapse" data-target="#collapse01" aria-expanded="false" aria-controls="collapse01">Sector</a>
                    </li>
                    <li class="nav-item">
                        <a class="collapsed nav-link" role="button" data-toggle="collapse" data-target="#collapse02" aria-expanded="false" aria-controls="collapse02">Servicios</a>
                    </li>
                    <li class="nav-item">
                        <a class="collapsed nav-link" role="button" data-toggle="collapse" data-target="#collapse03" aria-expanded="false" aria-controls="collapse03">Tipo</a>
                    </li>
                    <li class="nav-item">
                        <a class="collapsed nav-link" role="button" data-toggle="collapse" data-target="#collapse04" aria-expanded="false" aria-controls="collapse04">Región</a>
                    </li>
                    <li class="nav-item">
                        <a class="collapsed nav-link" role="button" data-toggle="collapse" data-target="#collapse05" aria-expanded="false" aria-controls="collapse05">Fecha</a>
                    </li>
                    <li class="nav-item">
                        <a class="collapsed nav-link" role="button" data-toggle="collapse" data-target="#collapse06" aria-expanded="false" aria-controls="collapse06">Colección</a>
                    </li>
                    <li class="nav-item">
                        <a class="collapsed nav-link" role="button" data-toggle="collapse" data-target="#collapse07" aria-expanded="false" aria-controls="collapse07">Formato</a>
                    </li>
                </ul>
                <!-- Checkboxes list -->
                <div id="filterTabsContent">
                    <a class="collapsed nav-link" role="button" data-toggle="collapse" data-target="#collapse01" aria-expanded="false" aria-controls="collapse01">Sector</a>
                    <div id="collapse01" class="collapse" aria-labelledby="heading01" data-parent="#accordionFilters">
                        <div class="filters__order">
                            <span>Ordenar por: </span>
                            <ul>
                                <li><a class="order_abc" href="#">orden alfabético</a></li>
                                <li><a class="order_pop" href="#">popular</a></li>
                            </ul>
                        </div>
                        <div class="chechbox__wrapper">
                            <div class="checkbox">
                                <input type="checkbox" id="sector-01" value=".sector-01">
                                <label class="checkbox-label" for="sector-01"><span>Alimentación</span></label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="sector-02" value=".sector-02">
                                <label class="checkbox-label" for="sector-02"><span>Brexit</span></label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="sector-03" value=".sector-03">
                                <label class="checkbox-label" for="sector-03"><span>Canadian Desk</span></label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="sector-04" value=".sector-04">
                                <label class="checkbox-label" for="sector-04"><span>Ciberseguridad</span></label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="sector-05" value=".sector-05">
                                <label class="checkbox-label" for="sector-05"><span>Consumo y Retail</span></label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="sector-06" value=".sector-06">
                                <label class="checkbox-label" for="sector-06"><span>Deporte</span></label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="sector-07" value=".sector-07">
                                <label class="checkbox-label" for="sector-07"><span>Empresa Familiar</span></label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="sector-08" value=".sector-08">
                                <label class="checkbox-label" for="sector-08"><span>Energía y Recursos Naturales</span></label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="sector-09" value=".sector-09">
                                <label class="checkbox-label" for="sector-09"><span>Farmacia y Sanitario</span></label>
                            </div>
                        </div>
                        <div class="filters__apply">
                            <button type="button" class="btn btn__naked apply_button">Aplicar</button>
                        </div>
                    </div>

                    <a class="collapsed nav-link" role="button" data-toggle="collapse" data-target="#collapse02" aria-expanded="false" aria-controls="collapse02">Servicios</a>
                    <div id="collapse02" class="collapse" aria-labelledby="heading02" data-parent="#accordionFilters">
                        <div class="filters__order">
                            <span>Ordenar por: </span>
                            <ul>
                                <li><a class="order_abc" href="#">orden alfabético</a></li>
                                <li><a class="order_pop" href="#">popular</a></li>
                            </ul>
                        </div>
                        <div class="chechbox__wrapper">
                            <div class="checkbox">
                                <input type="checkbox" id="services-01" value=".services-01">
                                <label class="checkbox-label" for="services-01"><span>Corporate Governance y Compliance</span></label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="services-02" value=".services-02">
                                <label class="checkbox-label" for="services-02"><span>Derecho contable</span></label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="services-03" value=".services-03">
                                <label class="checkbox-label" for="services-03"><span>Derecho Laboral</span></label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="services-04" value=".services-04">
                                <label class="checkbox-label" for="services-04"><span>Financiero</span></label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="services-05" value=".services-05">
                                <label class="checkbox-label" for="services-05"><span>Fiscal</span></label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="services-06" value=".services-06">
                                <label class="checkbox-label" for="services-06"><span>Fiscalidad Contenciosa</span></label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="services-07" value=".services-07">
                                <label class="checkbox-label" for="services-07"><span>Fiscalidad Financiera</span></label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="services-08" value=".services-08">
                                <label class="checkbox-label" for="services-08"><span>Fusiones y Adquisiciones</span></label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="services-09" value=".services-09">
                                <label class="checkbox-label" for="services-09"><span>Litigación</span></label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="services-10" value=".services-10">
                                <label class="checkbox-label" for="services-10"><span>Mediación</span></label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="services-11" value=".services-11">
                                <label class="checkbox-label" for="services-11"><span>Mercado de valores</span></label>
                            </div>
                        </div>
                        <div class="filters__apply">
                            <button type="button" class="btn btn__naked apply_button">Aplicar</button>
                        </div>
                    </div>

                    <a class="collapsed nav-link" role="button" data-toggle="collapse" data-target="#collapse03" aria-expanded="false" aria-controls="collapse03">Tipo</a>
                    <div id="collapse03" class="collapse" aria-labelledby="heading03" data-parent="#accordionFilters">
                        <div class="filters__order">
                            <span>Ordenar por: </span>
                            <ul>
                                <li><a class="order_abc" href="#">orden alfabético</a></li>
                                <li><a class="order_pop" href="#">popular</a></li>
                            </ul>
                        </div>
                        <div class="chechbox__wrapper">
                            <div class="checkbox">
                                <input type="checkbox" id="type-01" value=".type-01">
                                <label class="checkbox-label" for="type-01"><span>Noticias</span></label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="type-02" value=".type-02">
                                <label class="checkbox-label" for="type-02"><span>Eventos</span></label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="type-03" value=".type-03">
                                <label class="checkbox-label" for="type-03"><span>Opinión</span></label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="type-04" value=".type-04">
                                <label class="checkbox-label" for="type-04"><span>Estudios Jurídicos</span></label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="type-05" value=".type-05">
                                <label class="checkbox-label" for="type-05"><span>Novedades Jurídicas</span></label>
                            </div>
                        </div>
                        <div class="filters__apply">
                            <button type="button" class="btn btn__naked apply_button">Aplicar</button>
                        </div>
                    </div>

                    <a class="collapsed nav-link" role="button" data-toggle="collapse" data-target="#collapse04" aria-expanded="false" aria-controls="collapse04">Región</a>
                    <div id="collapse04" class="collapse" aria-labelledby="heading04" data-parent="#accordionFilters">
                        <div class="filters__order">
                            <span>Ordenar por: </span>
                            <ul>
                                <li><a class="order_abc" href="#">orden alfabético</a></li>
                                <li><a class="order_pop" href="#">popular</a></li>
                            </ul>
                        </div>
                        <div class="chechbox__wrapper">
                            <div class="checkbox">
                                <input type="checkbox" id="region-01" value=".region-01">
                                <label class="checkbox-label" for="region-01"><span>Barcelona</span></label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="region-02" value=".region-02">
                                <label class="checkbox-label" for="region-02"><span>Madrid</span></label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="region-03" value=".region-03">
                                <label class="checkbox-label" for="region-03"><span>Lisboa</span></label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="region-04" value=".region-04">
                                <label class="checkbox-label" for="region-04"><span>Beijing</span></label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="region-05" value=".region-05">
                                <label class="checkbox-label" for="region-05"><span>Bogotá</span></label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="region-06" value=".region-06">
                                <label class="checkbox-label" for="region-06"><span>Brussels</span></label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="region-07" value=".region-07">
                                <label class="checkbox-label" for="region-07"><span>Casablanca</span></label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="region-08" value=".region-08">
                                <label class="checkbox-label" for="region-08"><span>London</span></label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="region-09" value=".region-09">
                                <label class="checkbox-label" for="region-09"><span>Luanda</span></label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="region-10" value=".region-10">
                                <label class="checkbox-label" for="region-10"><span>Maputo</span></label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="region-11" value=".region-11">
                                <label class="checkbox-label" for="region-011"><span>Mexico City</span></label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="region-12" value=".region-12">
                                <label class="checkbox-label" for="region-12"><span>New York</span></label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="region-13" value=".region-13">
                                <label class="checkbox-label" for="region-13"><span>Sao Paulo</span></label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="region-14" value=".region-14">
                                <label class="checkbox-label" for="region-14"><span>Shanghai</span></label>
                            </div>
                        </div>
                        <div class="filters__apply">
                            <button type="button" class="btn btn__naked apply_button">Aplicar</button>
                        </div>
                    </div>

                    <a class="collapsed nav-link" role="button" data-toggle="collapse" data-target="#collapse05" aria-expanded="false" aria-controls="collapse05">Fecha</a>
                    <div id="collapse05" class="collapse" aria-labelledby="heading05" data-parent="#accordionFilters">
                        <div class="filters__order">
                            <span>Ordenar por: </span>
                            <ul>
                                <li><a class="order_abc" href="#">orden alfabético</a></li>
                                <li><a class="order_pop" href="#">popular</a></li>
                            </ul>
                        </div>
                        <div class="chechbox__wrapper">
                            <div class="checkbox">
                                <input type="checkbox" id="date-01" value=".date-01">
                                <label class="checkbox-label" for="date-01"><span>2020</span></label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="date-02" value=".date-02">
                                <label class="checkbox-label" for="date-02"><span>2019</span></label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="date-03" value=".date-03">
                                <label class="checkbox-label" for="date-03"><span>2018</span></label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="date-04" value=".date-04">
                                <label class="checkbox-label" for="date-04"><span>2017</span></label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="date-05" value=".date-05">
                                <label class="checkbox-label" for="date-05"><span>2016</span></label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="date-06" value=".date-06">
                                <label class="checkbox-label" for="date-06"><span>2015</span></label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="date-07" value=".date-07">
                                <label class="checkbox-label" for="date-07"><span>2014</span></label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="date-08" value=".date-08">
                                <label class="checkbox-label" for="date-08"><span>2013</span></label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="date-09" value=".date-09">
                                <label class="checkbox-label" for="date-09"><span>2012</span></label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="date-10" value=".date-10">
                                <label class="checkbox-label" for="date-10"><span>2011</span></label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="date-11" value=".date-11">
                                <label class="checkbox-label" for="date-11"><span>2010</span></label>
                            </div>
                        </div>
                        <div class="filters__apply">
                            <button type="button" class="btn btn__naked apply_button">Aplicar</button>
                        </div>
                    </div>

                    <a class="collapsed nav-link" role="button" data-toggle="collapse" data-target="#collapse06" aria-expanded="false" aria-controls="collapse06">Colección</a>
                    <div id="collapse06" class="collapse" aria-labelledby="heading06" data-parent="#accordionFilters">
                        <div class="filters__order">
                            <span>Ordenar por: </span>
                            <ul>
                                <li><a class="order_abc" href="#">orden alfabético</a></li>
                                <li><a class="order_pop" href="#">popular</a></li>
                            </ul>
                        </div>
                        <div class="chechbox__wrapper">
                            <div class="checkbox">
                                <input type="checkbox" id="collection-01" value=".collection-01">
                                <label class="checkbox-label" for="collection-01"><span>Collection 01</span></label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="collection-02" value=".collection-02">
                                <label class="checkbox-label" for="collection-02"><span>Collection 02</span></label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="collection-03" value=".collection-03">
                                <label class="checkbox-label" for="collection-03"><span>Collection 03</span></label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="collection-04" value=".collection-04">
                                <label class="checkbox-label" for="collection-04"><span>Collection 04</span></label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="collection-05" value=".collection-05">
                                <label class="checkbox-label" for="collection-05"><span>Collection 05</span></label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="collection-06" value=".collection-06">
                                <label class="checkbox-label" for="collection-06"><span>Collection 06</span></label>
                            </div>
                        </div>
                        <div class="filters__apply">
                            <button type="button" class="btn btn__naked apply_button">Aplicar</button>
                        </div>
                    </div>

                    <a class="collapsed nav-link" role="button" data-toggle="collapse" data-target="#collapse07" aria-expanded="false" aria-controls="collapse07">Formato</a>
                    <div id="collapse07" class="collapse" aria-labelledby="heading07" data-parent="#accordionFilters">
                        <div class="filters__order">
                            <span>Ordenar por: </span>
                            <ul>
                                <li><a class="order_abc" href="#">orden alfabético</a></li>
                                <li><a class="order_pop" href="#">popular</a></li>
                            </ul>
                        </div>
                        <div class="chechbox__wrapper">
                            <div class="checkbox">
                                <input type="checkbox" id="format-01" value=".format-01">
                                <label class="checkbox-label" for="format-01"><span>Format 01</span></label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="format-02" value=".format-02">
                                <label class="checkbox-label" for="format-02"><span>Format 02</span></label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="format-03" value=".format-03">
                                <label class="checkbox-label" for="format-03"><span>Format 03</span></label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="format-04" value=".format-04">
                                <label class="checkbox-label" for="format-04"><span>Format 04</span></label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="format-05" value=".format-05">
                                <label class="checkbox-label" for="format-05"><span>Format 05</span></label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="format-06" value=".format-06">
                                <label class="checkbox-label" for="format-06"><span>Format 06</span></label>
                            </div>
                        </div>
                        <div class="filters__apply">
                            <button type="button" class="btn btn__naked apply_button">Aplicar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12" id="checksOutput" style="display:none">
        </div>
    </section>
</div>

<div class="container cmp-wrapper">
    <div class="row">
        <div class="col">
            <div class="cmp">[cmp07] Equipo 1</div>
        </div>
    </div>
</div>
{% include 'web/shared/team-one.html.twig' %}
<div class="container cmp-wrapper">
    <div class="row">
        <div class="col">
            <div class="cmp">[cmp07] Equipo 2</div>
        </div>
    </div>
</div>
{% include 'web/shared/team-two.html.twig' %}
<div class="container cmp-wrapper">
    <div class="row">
        <div class="col">
            <div class="cmp">[cmp07] Equipo 3</div>
        </div>
    </div>
</div>
{% include 'web/shared/team-three.html.twig' %}
<div class="container cmp-wrapper">
    <div class="row">
        <div class="col">
            <div class="cmp">[cmp07] Equipo 4</div>
        </div>
    </div>
</div>
{% include 'web/shared/team-four.html.twig' %}
<div class="container cmp-wrapper">
    <div class="row">
        <div class="col">
            <div class="cmp">[cmp07] Equipo 5</div>
        </div>
    </div>
</div>
{% include 'web/shared/team-five.html.twig' %}
<div class="container cmp-wrapper">
    <div class="row">
        <div class="col">
            <div class="cmp">[...] Testimonios</div>
        </div>
    </div>
</div>
{% include 'web/shared/testimonials_CMP.html.twig' %}
<div class="container cmp-wrapper">
    <div class="row">
        <div class="col">
            <div class="cmp">[cmp50] Módulo Burdeos Servicios</div>
        </div>
    </div>
</div>
{% include 'web/shared/related-services.html.twig' %}
<div class="container cmp-wrapper">
    <div class="row">
        <div class="col">
            <div class="cmp">[cmp22] Webs corporativas</div>
        </div>
    </div>
</div>
{% include 'web/shared/brands_CMP.html.twig' %}
<div class="container cmp-wrapper">
    <div class="row">
        <div class="col">
            <div class="cmp">[cmp27] CTA formulario</div>
        </div>
    </div>
</div>
{% include 'web/shared/cta-footer.html.twig' %}
{% endblock %}

{% block javascripts %}
<!-- Slider JS -->
<script type="text/javascript" src="{{ asset('web/vendor/swiper/js/swiper.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('web/assets/js/swiperInit.js') }}"></script>
<!-- Video Popup -->
<script type="text/javascript" src="{{ asset('web/vendor/lity/dist/lity.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('web/vendor/lity/dist/plugins/youtube/youtube.min.js') }}"></script>
<!-- Masonry JS -->
<script type="text/javascript" src="{{ asset('web/vendor/masonry.pkgd.min.js') }}"></script>
<!-- Checkbox Filters -->
<script type="text/javascript" src="{{ asset('web/assets/js/checkboxFilters.js') }}"></script>
<script>
    $(function() {
        web.global.testimonials();
        web.global.customSelects();

        $('#tabsToAccordion a').click(function (e) {
            var tab = $(this);
            if(tab.parent('li').hasClass('active')){
                window.setTimeout(function(){
                    $(".tab-pane").removeClass('active');
                    tab.parent('li').removeClass('active');
                },1);
            }
        });

        // GRID
        $('.grid__masonry').masonry({
            itemSelector: '.grid__item',
            columnWidth: '.grid__sizer',
            gutter: '.grid__gutter',
            percentPosition: true
        });
    });
</script>
{% endblock %}
