{% extends 'web/base.html.twig' %}

{% block stylesheets %}
<link href="{{ asset('web/vendor/swiper/css/swiper.min.css') }}" rel="stylesheet">
<link href="{{ asset('web/vendor/lity/dist/lity.min.css') }}" rel="stylesheet">
{% endblock %}

{% block main %}

    <main role="main" class="home container-fluid">
        <header class="row home__header">
            <div class="col">
                <div id="sliderHome" class="swiper-container">
                    <div class="swiper-wrapper">
                        {% include 'web/shared/banner-home.html.twig'  with {banner: banner, slidesOrdered:slidesOrdered } %}
                    </div>
                </div>
            </div>
        </header>
    </main>

    {% if home.showSearchBlock %}
        {% include 'web/shared/search-home.html.twig' %}
    {% endif %}

    {% if home.showRelatedPublicationAndEvents   %}
        {% if relatedPublications|length > 0 %}
            {% include 'web/shared/related-content-slider.html.twig' with {tittle: 'global.messages.outstanding_content'|trans, publications: relatedPublications } %}
        {% endif %}
    {% endif %}

    {% if home.showInsight and home.insights[0] is defined %}
        {% if home.insights|length > 1 %}
            {# Template de dos columnas #}
            {% include 'web/shared/collections.html.twig'  with {insights: home.insights } %}
        {% elseif  home.insights|length > 0 %}
            {% include '/web/shared/insight.html.twig'  with {insight: home.insights|first } %}
        {% endif %}
    {% endif %}

    {% if home.showQuoteBlock and home.quotes[0] is defined %}
        {% include 'web/shared/testimonials.html.twig'  with {quotes: home.quotes } %}
    {% endif %}

    {% if home.showCarrerBlock %}
        {% include 'web/shared/career.html.twig' with { career: careerBlock} %}
    {% endif %}

    {% if home.brand[0] is defined %}
        {% include 'web/shared/brands.html.twig' with { brands: home.brand } %}
    {% endif %}

    {% include 'web/shared/cta-footer.html.twig' with { url: home.urlUserSetting } %} {#   Es el template de acceso al los intercambios de datos #}

    <!-- Loader -->
    <div class="search__component__loader" style="display:none">
        <img src="{{ asset('web/assets/icons/Infinity-1s-200px.gif') }}" alt="">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
            <path fill="none" stroke="#ff5a60" stroke-width="8" stroke-dasharray="42.76482137044271 42.76482137044271" d="M24.3 30C11.4 30 5 43.3 5 50s6.4 20 19.3 20c19.3 0 32.1-40 51.4-40 C88.6 30 95 43.3 95 50s-6.4 20-19.3 20C56.4 70 43.6 30 24.3 30z" stroke-linecap="round">
                <animate attributeName="stroke-dashoffset" repeatCount="indefinite" dur="1s" keyTimes="0;1" values="0;256.58892822265625"></animate>
            </path>
        </svg>
    </div>

{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{{ asset('web/vendor/swiper/js/swiper.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('web/assets/js/swiperInit.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('web/vendor/lity/dist/lity.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('web/vendor/lity/dist/plugins/youtube/youtube.min.js') }}"></script>
<script>
    web.global.customSelects();
    web.global.testimonials();

    var swiperHome = new Swiper ('#sliderHome', {
        slidesPerView: 1,
        spaceBetween: 0,
        loop: true,
        speed: {{ banner.speed }},
        allowSlidePrev: false,
        allowTouchMove: false,
        autoplay: {
            delay: {{ banner.delay }},
        },
        navigation: {
            nextEl: '.preview__button'
        }
    });
</script>
{% endblock %}
