{% extends 'web/base.html.twig' %}

{% block stylesheets %}
<!-- Slider CSS -->
<link href="{{ asset('web/vendor/swiper/css/swiper.min.css') }}" rel="stylesheet">
{% endblock %}

{% block main %}

    <main role="main" class="home">

        <header class="row home__header">
            <div class="col">
                <div id="sliderHome" class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide opacity2" style="background-image: url('{{ asset('web/assets/img/martin-adams-Y8MQEl3N3Xs-unsplash.jpg') }}')">
                            <div class="home__wrapper">
                                <div class="home__article">
                                    <div class="home__article__type">Publicación</div>
                                    <div class="home__article__content">Responsabilidad de los médicos en prevención: últimas tendencias jurisprudenciales</div>
                                    <div class="home__article__link">
                                        <a href="#" class="btn btn__solid">Ver más</a>
                                    </div>
                                </div>
                            </div>
                            <div class="home__preview">
                                <div class="home__preview__content">
                                    <span>Siguiente:</span>
                                    Nos sumamos al compromiso Lisboa Capital Verde Europea 2020
                                </div>
                                <button type="button" class="home__preview__button">
                                    <i class="icon ion-ios-arrow-forward"></i>
                                </button>
                            </div>
                        </div>
                        <div class="swiper-slide opacity4" style="background-image: url('{{ asset('web/assets/img/andrew-buchanan-7IcnYYVgdn8-unsplash.jpg') }}')">
                            <div class="home__wrapper">
                                <div class="home__article">
                                    <div class="home__article__type">Noticia</div>
                                    <div class="home__article__content">Nos sumamos al compromiso Lisboa Capital Verde Europea 2020</div>
                                    <div class="home__article__link">
                                        <a href="#" class="btn btn__solid">Ver más</a>
                                    </div>
                                </div>
                            </div>
                            <div class="home__preview">
                                <div class="home__preview__content">
                                    <span>Siguiente:</span>
                                    Mejoramos nuestra clasificación en los rankings de M&amp;A
                                </div>
                                <button type="button" class="home__preview__button">
                                    <i class="icon ion-ios-arrow-forward"></i>
                                </button>
                            </div>
                        </div>
                        <div class="swiper-slide opacity4" style="background-image: url('{{ asset('web/assets/img/andrej-lisakov-7G8ARu_DJTc-unsplash.jpg') }}')">
                            <div class="home__wrapper">
                                <div class="home__article">
                                    <div class="home__article__type">Publicación</div>
                                    <div class="home__article__content">Mejoramos nuestra clasificación en los rankings de M&amp;A</div>
                                    <div class="home__article__link">
                                        <a href="#" class="btn btn__solid">Ver más</a>
                                    </div>
                                </div>
                            </div>
                            <div class="home__preview">
                                <div class="home__preview__content">
                                    <span>Siguiente:</span>
                                    Responsabilidad de los médicos en prevención: últimas tendencias jurisprudenciales
                                </div>
                                <button type="button" class="home__preview__button">
                                    <i class="icon ion-ios-arrow-forward"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <section class="search__component--home">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <form action="{{ relative_path('/es/lawyer/filter')}}" method="get">
                            <div class="search_box__wrapper">
                                <div class="search_box__name search_box__name--full">
                                    <form action="{{ relative_path('/es/lawyer/filter')}}" method="get">
                                        <input type="text" class="form-control" placeholder="Buscar" name="search">
                                        <div class="input-group">
                                            <button class="search_box__button" type="submit">
                                                <i class="icon ion-ios-search-strong"></i>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="search_selects">
                                <select id="area" class="custom__select">
                                    <option value="hide">Por área</option>
                                    <option value="">Competencia y Derecho de la UE</option>
                                    <option value="">Corporate Governance y Compliance</option>
                                    <option value="">Derecho contable</option>
                                    <option value="">Derecho Laboral</option>
                                    <option value="">Financiero</option>
                                    <option value="">Fiscal</option>
                                    <option value="">Fiscalidad Contenciosa</option>
                                    <option value="">Fiscalidad Financiera</option>
                                    <option value="">Fusiones y Adquisiciones</option>
                                    <option value="">Litigación</option>
                                    <option value="">Mediación</option>
                                    <option value="">Mercado de valores</option>
                                </select>
                                <select id="desk" class="custom__select">
                                    <option value="hide">Por sector o desk</option>
                                    <option value="">Alimentación</option>
                                    <option value="">Arte</option>
                                    <option value="">Brexit</option>
                                    <option value="">Canadian Desk</option>
                                    <option value="">Ciberseguridad</option>
                                    <option value="">Consumo y Retail</option>
                                    <option value="">Deporte</option>
                                    <option value="">Empresa Familiar</option>
                                    <option value="">Energía y Recursos Naturales</option>
                                    <option value="">Farmacia y Sanitario</option>
                                </select>
                                <select id="office" class="custom__select">
                                    <option value="hide">Por oficina</option>
                                    <option value="">Barcelona</option>
                                    <option value="">Madrid</option>
                                    <option value="">Lisboa</option>
                                    <option value="">Beijing</option>
                                    <option value="">Bogotá</option>
                                    <option value="">Brussels</option>
                                    <option value="">Casablanca</option>
                                    <option value="">Lima</option>
                                    <option value="">London</option>
                                    <option value="">Luanda</option>
                                    <option value="">Maputo</option>
                                    <option value="">Mexico City</option>
                                    <option value="">New York</option>
                                    <option value="">Sao Paulo</option>
                                    <option value="">Shanghai</option>
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

    </main>

    {% include 'web/shared/related-content-slider.html.twig' %}
    {% include 'web/shared/insight-highlight.html.twig' %}
    {% include 'web/shared/testimonials.html.twig' %}
    {% include 'web/shared/brands.html.twig' %}
    {% include 'web/shared/call-to-action.html.twig' %}

{% endblock %}

{% block javascripts %}
<!-- Slider JavaScript-->
<script type="text/javascript" src="{{ asset('web/vendor/swiper/js/swiper.min.js') }}"></script>

<script>
    $(function () {
        web.global.customSelects();
        web.global.sliderHome();
        web.global.sliderNews();
        // web.global.lawyerResults();
    });
</script>
{% endblock %}
