{% extends 'web/baseNew.html.twig' %}

{% block stylesheets %}
    <!-- Owl Carousel CSS -->
    <link href="{{ asset('web/vendor/owlcarousel/css/owl.carousel.min.css') }}" rel="stylesheet">
    {# <link href="{{ asset('web/vendor/owlcarousel/css/owl.theme.default.css') }}" rel="stylesheet"> #}
{% endblock %}

{% block main %}

    <main role="main" class="home">

        <header id="page-header-new">
            <div class="container header-info-home">
                <div class="row">
                    <div class="col-md-7 header-wrapper">
                        <div class="header-info">
                            <div class="category">Nota de prensa</div>
                            <h1>Best lawyers reconoce a tres abogados de Cuatrecasas en Zaragoza como los mejores de España</h1>
                            <a href="#" class="btn btn-main trans btn-arrow">Saber más</a>
                        </div>
                        {# <a href="#" class="header-button">
                            <div class="category">Logística y transporte</div>
                            <div class="intro">Cuatrecasas asesora a DP World en la adquisición y OPA de la compañía chilena Puertos y Logística</div>
                            <div class="icon ion-ios-arrow-forward"></div>
                        </a> #}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7 header-button-wrapper">
                        <a href="#" class="header-button">
                            <div class="category">Logística y transporte</div>
                            <div class="intro">Cuatrecasas asesora a DP World en la adquisición y OPA de la compañía chilena Puertos y Logística</div>
                            <div class="icon ion-ios-arrow-forward"></div>
                        </a>
                    </div>
                </div>
            </div>
        </header>

        {# <header id="home-header">
            <figure class="full-width">
                <img src="{{ asset('web/assets/vector/christian-perner-UKLIuV8rAks-unsplash.jpg') }}" alt="">
            </figure>
            <div class="container">
                <div class="row">
                    <div class="header-wrapper">
                        <div class="header-info">
                            <div class="category">Nota de prensa</div>
                            <h1>Best lawyers reconoce a tres abogados de Cuatrecasas en Zaragoza como los mejores de España</h1>
                            <a href="#" class="btn btn-main trans btn-arrow">Saber más</a>
                        </div>
                        <a href="#" class="header-button">
                            <div class="category">Logística y transporte</div>
                            <div class="intro">Cuatrecasas asesora a DP World en la adquisición y OPA de la compañía chilena Puertos y Logística</div>
                            <div class="icon ion-ios-arrow-forward"></div>
                        </a>
                    </div>
                </div>
            </div>
        </header> #}

        <article class="search-component">
            <div class="container">
                <div class="row">
                    <div class="col search-wrapper">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs justify-content-center" id="searchTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="lawler-tab" data-toggle="tab" href="#lawler" role="tab" aria-controls="lawler" aria-selected="true">Encuentra tu abogado</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="sector-tab" data-toggle="tab" href="#sector" role="tab" aria-controls="sector" aria-selected="false">Encuentra tu sector</a>
                            </li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane active" id="lawler" role="tabpanel" aria-labelledby="lawler-tab">
                                <div class="search-name">
                                    <input type="text" class="form-control" placeholder="Buscar">
                                    <div class="input-group">
                                        <button class="" type="button">
                                            <i class="icon ion-ios-search-strong"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="search-filters">
                                    <select id="area" class="custom-select">
                                        <option value="hide">Por área de práctica</option>
                                        <option value="">Competencia y Derecho de la UE</option>
                                        <option value="">Corporate Governance y Compliance</option>
                                        <option value="">Derecho contable</option>
                                        <option value="">Derecho Laboral</option>
                                        <option value="">Financiero</option>
                                        <option value="">Fiscal</option>
                                        <option value="">Fiscalidad Contenciosa</option>
                                        <option value="">Fiscalidad Financiera</option>
                                        <option value="">Fusiones y Adquisiciones</option>
                                        <option value="">Litigación</option>
                                        <option value="">Mediación</option>
                                        <option value="">Mercado de valores</option>
                                    </select>
                                    <select id="desk" class="custom-select">
                                        <option value="hide">Por sector o desk</option>
                                        <option value="">Alimentación</option>
                                        <option value="">Arte</option>
                                        <option value="">Brexit</option>
                                        <option value="">Canadian Desk</option>
                                        <option value="">Ciberseguridad</option>
                                        <option value="">Consumo y Retail</option>
                                        <option value="">Deporte</option>
                                        <option value="">Empresa Familiar</option>
                                        <option value="">Energía y Recursos Naturales</option>
                                        <option value="">Farmacia y Sanitario</option>
                                    </select>
                                    <select id="office" class="custom-select">
                                        <option value="hide">Por oficina</option>
                                        <option value="">Barcelona</option>
                                        <option value="">Madrid</option>
                                        <option value="">Lisboa</option>
                                        <option value="">Beijing</option>
                                        <option value="">Bogotá</option>
                                        <option value="">Brussels</option>
                                        <option value="">Casablanca</option>
                                        <option value="">Lima</option>
                                        <option value="">London</option>
                                        <option value="">Luanda</option>
                                        <option value="">Maputo</option>
                                        <option value="">Mexico City</option>
                                        <option value="">New York</option>
                                        <option value="">Sao Paulo</option>
                                        <option value="">Shanghai</option>
                                    </select>
                                </div>
                            </div>
                            <div class="tab-pane" id="sector" role="tabpanel" aria-labelledby="sector-tab">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, quisquam qui error nesciunt illo in quaerat odit voluptatibus ratione accusantium magni et, saepe magnam provident totam. Atque est cum, laudantium. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe dolores, labore ratione quibusdam aut adipisci totam temporibus minus iusto facere explicabo nemo iste aliquid laboriosam porro maiores magni, odit eos.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>

        <section class="article-slider">
            <div class="container">
                <div class="row">

                    <div id="carouselHome" class="owl-carousel">
                        {% for event in events %}
                        {% set fecha = event.startDate |format_datetime('long', 'none',locale='es')|split(' ') %}
                        {% set customAddress =event.translate(app.request.getLocale()).customAddress|split('<br>') %}
                        {% set schedule =event.translate(app.request.getLocale()).schedule|split(',') %}

                            <article class="item box box-event">
                                <div class="box-header">
                                    <div class="info-date">
                                        {{  fecha[0:]|join(' ') }}
                                        {# Del 24 Febrero al 2 Marzo 2019 #}
                                    </div>
                                    <div class="info-type">Evento</div>
                                    {# <div class="info-type">Artículo</div> #}
                                    <button type="button" class="button-bookmark"></button>
                                </div>
                                <div class="box-body">
                                    <h3>
                                        <a href="{{ relative_path('/es/knowledge/eventDetail/')}}{{ event.translate(app.request.getLocale()).slug  }}">
                                            {{ event.translate(app.request.getLocale()).title|raw  }}
                                            {# "Quick fixes": análisis detallado de las novedades del régimen intracomunitario para 2020 #}
                                        </a>
                                    </h3>
                                    <div class="info-time">
                                        {{ schedule[1]|raw  }}
                                        {# De 10.30 a 18.30 h #}
                                    </div>
                                </div>
                                <div class="box-footer">
                                    {# Event #}
                                    <div class="map-pin">
                                        <a href="#" class="map-pin-link">
                                            {{ customAddress|last|raw }}
                                            {# Barcelona #}
                                        </a>
                                    </div>

                                    {# Article #}
                                    {# <ul class="list-inline-dots">
                                        <li><a href="#" class="tag-link">Empresas</a></li>
                                        <li><a href="#" class="tag-link">Negocios</a></li>
                                    </ul> #}
                                </div>
                            </article>
                        {% endfor %}
                        {# <article class="item box box-article">
                            <div class="box-header">
                                <div class="info-date">15 Enero 2020</div>
                                <div class="info-type">Artículo</div>
                                <button type="button" class="button-bookmark"></button>
                            </div>
                            <div class="box-body">
                                <h3><a href="#">La Audiencia Provincial de Barcelona interpreta la cesión de derechos sobre la obra futura</a></h3>
                            </div>
                            <div class="box-footer">
                                <ul class="list-inline-dots">
                                    <li><a href="#" class="tag-link">Alimentación</a></li>
                                    <li><a href="#" class="tag-link">Retail</a></li>
                                    <li><a href="#" class="tag-link">Infraestructuras</a></li>
                                </ul>
                            </div>
                        </article>

                        <article class="item box box-article">
                            <div class="box-header">
                                <div class="info-date">24 Febrero 2019</div>
                                <div class="info-type">Artículo</div>
                                <button type="button" class="button-bookmark bookmark-on"></button>
                            </div>
                            <div class="box-body">
                                <h3><a href="#">Quince altos directivos españoles explican cómo liderar en un libro de la AED</a></h3>
                            </div>
                            <div class="box-footer">
                                <ul class="list-inline-dots">
                                    <li><a href="#" class="tag-link">Empresas</a></li>
                                    <li><a href="#" class="tag-link">Negocios</a></li>
                                </ul>
                            </div>
                        </article>

                        <article class="item box box-event">
                            <div class="box-header">
                                <div class="info-date">Del 24 Febrero al 2 Marzo 2019</div>
                                <div class="info-type">Evento</div>
                                <button type="button" class="button-bookmark"></button>
                            </div>
                            <div class="box-body">
                                <h3><a href="#">"Quick fixes": análisis detallado de las novedades del régimen intracomunitario para 2020</a></h3>
                                <div class="info-time">De 10.30 a 18.30 h</div>
                            </div>
                            <div class="box-footer">
                                <div class="map-pin"><a href="#" class="map-pin-link">Barcelona</a></div>
                            </div>
                        </article>

                        <article class="item box box-article">
                            <div class="box-header">
                                <div class="info-date">15 Enero 2020</div>
                                <div class="info-type">Artículo</div>
                                <button type="button" class="button-bookmark"></button>
                            </div>
                            <div class="box-body">
                                <h3><a href="#">La Audiencia Provincial de Barcelona interpreta la cesión de derechos sobre la obra futura</a></h3>
                            </div>
                            <div class="box-footer">
                                <ul class="list-inline-dots">
                                    <li><a href="#" class="tag-link">Alimentación</a></li>
                                    <li><a href="#" class="tag-link">Retail</a></li>
                                    <li><a href="#" class="tag-link">Infraestructuras</a></li>
                                </ul>
                            </div>
                        </article>

                        <article class="item box box-article">
                            <div class="box-header">
                                <div class="info-date">24 Febrero 2019</div>
                                <div class="info-type">Artículo</div>
                                <button type="button" class="button-bookmark bookmark-on"></button>
                            </div>
                            <div class="box-body">
                                <h3><a href="#">Quince altos directivos españoles explican cómo liderar en un libro de la AED</a></h3>
                            </div>
                            <div class="box-footer">
                                <ul class="list-inline-dots">
                                    <li><a href="#" class="tag-link">Empresas</a></li>
                                    <li><a href="#" class="tag-link">Negocios</a></li>
                                </ul>
                            </div>
                        </article>

                        <article class="item box box-event">
                            <div class="box-header">
                                <div class="info-date">Del 24 Febrero al 2 Marzo 2019</div>
                                <div class="info-type">Evento</div>
                                <button type="button" class="button-bookmark"></button>
                            </div>
                            <div class="box-body">
                                <h3><a href="#">"Quick fixes": análisis detallado de las novedades del régimen intracomunitario para 2020</a></h3>
                                <div class="info-time">De 10.30 a 18.30 h</div>
                            </div>
                            <div class="box-footer">
                                <div class="map-pin"><a href="#" class="map-pin-link">Barcelona</a></div>
                            </div>
                        </article> #}

                    </div>

                </div>
            </div>
        </section>

        <section class="article-highlight">
            <div class="container">
                <div class="row">
                    <article class="box-news-wrapper">

                        <div class="box-full box-news">
                            <div class="box-header">
                                <h2>Brexit</h2>
                                <div class="info-date">19 de febrero de 2019</div>
                                <div class="info-type">8 min. de lectura</div>
                                <div class="info-author"><a href="#">Juan José Ruiz</a></div>
                            </div>
                            <div class="box-body">
                                <h3><a href="#">El Brexit: una oportunidad para revisar los términos contractuales de nuestras exportaciones</a></h3>
                            </div>
                            <div class="box-footer">
                                <ul class="list-inline-dots">
                                    <li><a href="#" class="tag-link">Práctica</a></li>
                                    <li><a href="#" class="tag-link">Abogados</a></li>
                                    <li><a href="#" class="tag-link">Publicaciones</a></li>
                                </ul>
                            </div>
                        </div>

                        <figure class="box-img">
                            <img src="{{ asset('web/assets/vector/111865324-dollar-and-euro-money-pattern.jpg') }}" alt="Brexit">
                        </figure>

                    </article>
                </div>
            </div>
        </section>

        <section class="testimonials">
            <div class="container">
                <div class="row">
                    <div class="col testimonial-box">
                        <blockquote class="testimonial-quote">
                            {# <p>Tenemos una permanente vocación por aprender, renovarnos y adaptarnos para ofrecer el más alto estándar de calidad jurídica y generar la mejor experiencia con el cliente y con nuestros equipos.</p> #}
                            <p>Somos un equipo diverso que aúna el mejor talento para trabajar en torno a un proyecto común en interés del cliente; trabajamos en colaboración con generosidad y respeto.</p>
                            <div class="quote-info">
                                <div class="author">José Luis Ballester</div>
                                <div class="position">Socio</div>
                            </div>
                        </blockquote>
                    </div>
                    <div class="col testimonial-box">
                        <blockquote class="testimonial-quote">
                            {# <p>Reconocemos el valor del esfuerzo individual y premiamos su contribución al conjunto.</p> #}
                            <p>Trabajamos de forma flexible e innovadora aprovechando todos nuestros recursos, y asegurando que todas nuestras tareas aportan valor directo al cliente y a nuestros equipos.</p>
                            <div class="quote-info">
                                <div class="author">Javier Barnes</div>
                                <div class="position">Consejero</div>
                            </div>
                        </blockquote>
                    </div>
                    <div class="col testimonial-box">
                        <blockquote class="testimonial-quote">
                            {# <p>Trabajamos de forma flexible e innovadora aprovechando todos nuestros recursos, y asegurando que todas nuestras tareas aportan valor directo al cliente y a nuestros equipos.</p> #}
                            <p>Entregamos lo mejor de lo que somos capaces, resultado del conocimiento, de la labor de escuchar, la responsabilidad y la transparencia; rendimos cuentas de nuestra actividad.</p>
                            <div class="quote-info">
                                <div class="author">Almudena Batista Jiménez</div>
                                <div class="position">Asociada sénior</div>
                            </div>
                        </blockquote>
                    </div>
                </div>
            </div>
        </section>

        <section class="brand-logos">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <a href="#">
                            <img src="{{ asset('web/assets/img/logos/Cuatrecasas-Acelera.png') }}" alt="Cuatrecasas Acelera">
                        </a>
                    </div>
                    <div class="col">
                        <a href="#">
                            <img src="{{ asset('web/assets/img/logos/Cuatrecasas-Ins-Est-Legal-RRHH.png') }}" alt="Cuatrecasas Instituto de Estrategia Lega de RRHH">
                        </a>
                    </div>
                    <div class="col">
                        <a href="#">
                            <img src="{{ asset('web/assets/img/logos/Cuatrecasas-Fundacion.png') }}" alt="Cuatrecasas Fundación">
                        </a>
                    </div>
                </div>
            </div>
        </section>

    </main>

    {% include 'web/shared/insights.html.twig' %}

{% endblock %}

{% block javascripts %}
    <!-- Owl Carousel JavaScript-->
    <script type="text/javascript" src="{{ asset('web/vendor/owlcarousel/js/owl.carousel.min.js') }}"></script>
    <script>
        $(document).ready(function() {
            $('#carouselHome').owlCarousel({
                loop: true,
                margin: 30,
                nav: true,
                navText:["<div class='nav-btn prev-slide'><i class='icon ion-ios-arrow-left'></i></div>","<div class='nav-btn next-slide'><i class='icon ion-ios-arrow-right'></i></div>"],
                dots: false
            })
        });
    </script>
{% endblock %}
