{% extends 'web/base.html.twig' %}

{% block stylesheets %}
<!-- Slider CSS -->
<link href="{{ asset('web/vendor/swiper/css/swiper.min.css') }}" rel="stylesheet">
{% endblock %}

{% block main %}

    <main role="main" class="home">

        <header class="row home__header">
            <div class="col">
                <div id="sliderHome" class="swiper-container">
                    <div class="swiper-wrapper">
                        {% include 'web/shared/banner.html.twig'  with {banner: banner, slidesOrdered:slidesOrdered } %}

                    </div>
                </div>
            </div>
        </header>

        <section class="search__component--home">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <form action="{{ relative_path('/es/lawyer/filter')}}" method="get">
                            <div class="search_box__wrapper">
                                <div class="search_box__name search_box__name--full">
                                    <form action="{{ relative_path('/es/lawyer/filter')}}" method="get">
                                        <input type="text" class="form-control" placeholder="Buscar" name="search">
                                        <div class="input-group">
                                            <button class="search_box__button" type="submit">
                                                <span class="icon4-lupa"></span>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="search_selects">
                                <select id="area" class="custom__select">
                                    <option selected disabled>Por área</option>
                                    <option value="">Competencia y Derecho de la UE</option>
                                    <option value="">Corporate Governance y Compliance</option>
                                    <option value="">Derecho contable</option>
                                    <option value="">Derecho Laboral</option>
                                    <option value="">Financiero</option>
                                    <option value="">Fiscal</option>
                                    <option value="">Fiscalidad Contenciosa</option>
                                    <option value="">Fiscalidad Financiera</option>
                                    <option value="">Fusiones y Adquisiciones</option>
                                    <option value="">Litigación</option>
                                    <option value="">Mediación</option>
                                    <option value="">Mercado de valores</option>
                                </select>
                                <select id="desk" class="custom__select">
                                    <option selected disabled>Por sector o desk</option>
                                    <option value="">Alimentación</option>
                                    <option value="">Arte</option>
                                    <option value="">Brexit</option>
                                    <option value="">Canadian Desk</option>
                                    <option value="">Ciberseguridad</option>
                                    <option value="">Consumo y Retail</option>
                                    <option value="">Deporte</option>
                                    <option value="">Empresa Familiar</option>
                                    <option value="">Energía y Recursos Naturales</option>
                                    <option value="">Farmacia y Sanitario</option>
                                </select>
                                <select id="office" class="custom__select">
                                    <option selected disabled>Por oficina</option>
                                    <option value="">Barcelona</option>
                                    <option value="">Madrid</option>
                                    <option value="">Lisboa</option>
                                    <option value="">Beijing</option>
                                    <option value="">Bogotá</option>
                                    <option value="">Brussels</option>
                                    <option value="">Casablanca</option>
                                    <option value="">Lima</option>
                                    <option value="">London</option>
                                    <option value="">Luanda</option>
                                    <option value="">Maputo</option>
                                    <option value="">Mexico City</option>
                                    <option value="">New York</option>
                                    <option value="">Sao Paulo</option>
                                    <option value="">Shanghai</option>
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

    </main>

    {% include 'web/shared/related-content-slider.html.twig' with {publications: relatedPublications } %}
    {% include 'web/shared/insight.html.twig' %}
    {% include 'web/shared/testimonials.html.twig' %}
    {% include 'web/shared/brands.html.twig' %}
    {% include 'web/shared/cta-footer.html.twig' %} {#   Es el template de acceso al los intercambios de datos   #}

{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{{ asset('web/vendor/swiper/js/swiper.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('web/assets/js/swiperInit.js') }}"></script>
<script>
    web.global.customSelects();
    web.global.testimonials();

    var swiperHome = new Swiper ('#sliderHome', {
        slidesPerView: 1,
        spaceBetween: 0,
        loop: true,
        // grabCursor: true,
        speed: {{ banner.speed }},
        allowSlidePrev: false,
        allowTouchMove: false,
        autoplay: {
            delay: {{ banner.delay }},
        },
        navigation: {
            nextEl: '.home__preview__button'
        }
    });
</script>
{% endblock %}
