{% extends 'web/base.html.twig' %}

{% block stylesheets %}
<!-- Slider CSS -->
<link href="{{ asset('web/vendor/swiper/css/swiper.min.css') }}" rel="stylesheet">
{% endblock %}

{% block main %}

    <main role="main" class="home">

        <header class="row home__header">
            <div class="col">
                <div id="sliderHome" class="swiper-container">
                    <div class="swiper-wrapper">
                        {% include 'web/shared/banner-home.html.twig'  with {banner: banner, slidesOrdered:slidesOrdered } %}
                    </div>
                </div>
            </div>
        </header>

        {% if home.showSearchBlock %}
            {% include 'web/shared/searcherHome.html.twig' %}
        {% endif %}
    </main>

    {% if home.showRelatedPublicationAndEvents   %}
        {% if relatedPublications|length > 0 %}
            {% include 'web/shared/related-content-slider.html.twig' with {tittle: 'global.messages.related_content'|trans, publications: relatedPublications } %}
        {% endif %}
    {% endif %}
    
    {% if home.showInsight and home.insights[0] is defined %}
        {% if home.insights|length > 1 %}
            {% include 'web/shared/collections.html.twig'  with {insights: home.insights } %}
        {% elseif  home.insights|length > 0 %}
            {% include '/web/insight.html.twig'  with {insight: home.insights[0] } %}
        {% endif %}            
    {% endif %}

    {% if home.showQuoteBlock and home.quotes[0] is defined %}
        {% include 'web/shared/testimonials.html.twig'  with {quotes: home.quotes } %}
    {% endif %}

    {% if home.showCarrerBlock %}
        {% include 'web/shared/career.html.twig' %}
    {% endif %}

    {% if home.brand[0] is defined %}
        {% include 'web/shared/brands.html.twig' with { brands: home.brand } %}
    {% endif %}

    {% include 'web/shared/cta-footer.html.twig' with { url: home.urlUserSetting } %} {#   Es el template de acceso al los intercambios de datos #}

{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{{ asset('web/vendor/swiper/js/swiper.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('web/assets/js/swiperInit.js') }}"></script>
<script>
    web.global.customSelects();
    web.global.testimonials();

    var swiperHome = new Swiper ('#sliderHome', {
        slidesPerView: 1,
        spaceBetween: 0,
        loop: true,
        speed: {{ banner.speed }},
        allowSlidePrev: false,
        allowTouchMove: false,
        autoplay: {
            delay: {{ banner.delay }},
        },
        navigation: {
            nextEl: '.preview__button'
        }
    });
</script>
{% endblock %}
