{% extends 'web/base.html.twig' %}

{% block stylesheets %}
<!-- Slider CSS -->
<link href="{{ asset('web/vendor/swiper/css/swiper.min.css') }}" rel="stylesheet">
{% endblock %}

{% block main %}

    <main role="main">
        <article class="container">

            <header class="row page__header" style="background-image: url('{{ asset('web/assets/img/martin-adams-Y8MQEl3N3Xs-unsplash.jpg') }}')">
                <div class="col">
                    <div class="info__block">
                        <h1 class="page__title">
                            {{ sector.translate(app.request.getLocale()).title|raw }}
                        </h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="#">Inicio</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="{{ relative_path('/es/activity/sectorsHome')}}">Sectores</a></a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    {{ sector.translate(app.request.getLocale()).title|raw }}
                                </li>
                            </ol>
                        </nav>
                    </div>
                    <ul class="action__links">
                        <li><a href="#"><i class="material-icons">share</i></a></li>
                        <li><a href="#"><i class="material-icons">print</i></a></li>
                        <li><a href="#"><i class="material-icons">bookmark_border</i></a></li>
                    </ul>
                </div>
            </header>
            <section class="row page__block--full">
                <div class="col">
                    {{ sector.translate(app.request.getLocale()).summary|raw }}
                </div>
            </section>

            <section class="row page__block--aside">
                <div class="col">
                    <div class="page__block__content">
                        {{ sector.translate(app.request.getLocale()).description|raw }}
                    </div>
                    <div class="page__block__aside">
                        {% if sector.children|length > 0 %}
                        <div class="page__aside">
                            <h3 class="page__aside__title">Especialidades</h3>
                            <ul class="page__aside__list--specialties">
                                {% for activity in sector.children %}
                                    <li><a href="#">{{ activity.translate(app.request.getLocale()).title }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}
                        <div class="page__aside page__aside--nobg">
                            <blockquote class="cite__quote">
                                <p>The help us to understand the practical risks based on what they have seen in other deals.</p>
                                <cite>Chambers, 2019</cite>
                            </blockquote>
                        </div>
                        {% if sector.relatedActivities|length > 0 %}
                        <div class="page__aside page__aside--practices">
                            <h3 class="page__aside__subtitle">Prácticas relacionadas</h3>
                            <ul class="related__services">
                            {% for activity in sector.relatedActivities %}
                                {% if activity.highlighted == 1  %}
                                    <li class="related__services__item">
                                        <a href="#" class="related__services__link">{{ activity.translate(app.request.getLocale()).title }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                            </ul>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </section>

        </article>
    </main>
    {% if sector.lawyers|length > 0 %}
        {% set activityTeam = sector %}
        {% include 'web/shared/team.html.twig'  %}
    {% endif %}

    {# {% include 'web/shared/related-services.html.twig' %} #}
    {% include 'web/shared/related-content-slider.html.twig' %}
    {% include 'web/shared/cases.html.twig' %}
    {% include 'web/shared/awards.html.twig' %}
    {% include 'web/shared/insight.html.twig' %}
    {% include 'web/shared/cta-footer.html.twig' %}

{% endblock %}

{% block javascripts %}
<!-- Slider JS -->
<script type="text/javascript" src="{{ asset('web/vendor/swiper/js/swiper.min.js') }}"></script>
<script>
    $(function () {
        web.global.sliderNews();
        web.global.sliderCases();
        web.global.sliderAwards();
    });
</script>
{% endblock %}
